@import '~base-scss/base';

.row {
    padding: $spacing-small 0;

    &:not(:last-child) {
        border-bottom: $width-separator-thin solid $color-separator-alt;
    }

    .row-title {
        padding: $spacing-extra-small $spacing-small;
        color: $color-accent;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
    }

    .cols-container {
        .col {
            display: flex;
            justify-content: space-between;
            padding: $spacing-extra-small $spacing-small;
        }
    }
}
