
.file-preview {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;

    .simplified-text {
        margin: 0;
        padding: var(--spacing-small) var(--spacing-medium);
        width: 100%;
        height: 100%;
        text-align: justify;
        white-space: pre-wrap;
        color: var(--color-text);
        font-family: inherit;
    }
}
