.users {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: auto;

        .table {
            flex-grow: 1;
            overflow-y: auto;

            .action-cell {
                display: flex;
                align-items: center;

                .button {
                    margin: 0 var(--dui-spacing-small);
                }
            }
        }

        .pager {
            align-self: flex-end;
            flex-shrink: 0;
        }
    }

    .heading {
        text-transform: uppercase;
        color: var(--dui-color-brand);
        font-size: var(--dui-font-size-heading-medium);
    }

    .empty-table {
        min-height: 30vh;
    }
}


