.users {
    position: relative;

    .content {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .table {
            flex-grow: 1;
            overflow-y: auto;

            :global {
                .header {
                    z-index: 1;
                }

                .actions {
                    width: 200px;
                }
            }

            .row-actions {
                display: flex;

                .button {
                    margin: 0 calc(var(--spacing-small) / 2)
                }
            }
        }
    }

    .heading {
        text-transform: uppercase;
        color: var(--dui-color-brand);
        font-size: var(--dui-font-size-heading-medium);
    }

    .empty-table {
        min-height: 30vh;
    }
}


