@import '~base-scss/base';

.add-lead-form {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 $spacing-large;

    .header {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        justify-content: space-between;
        padding: $spacing-small 0;
    }

    .title,
    .source {
        flex-basis: calc(100% / 2 - var(--spacing-medium));
        padding: $spacing-medium 0;
    }

    .lead-group-container {
        display: flex;
        align-items: center;

        .lead-group {
            flex-grow: 1;
        }

        button {
            flex-shrink: 0;
        }
    }

    .confidentiality,
    .user,
    .date {
        flex-basis: calc(100% / 3 - var(--spacing-medium));
        padding: $spacing-medium 0;
    }

    .url,
    .website {
        flex-basis: calc(50% - var(--spacing-medium));
    }

    .project,
    .lead-group-container {
        flex-basis: calc(100% / 2 - var(--spacing-medium));
        padding: $spacing-medium 0;
    }

    .text {
        flex-basis: 100%;
    }

    .file-title {
        flex-grow: 1;
        margin: $spacing-small 0;
        color: $color-text;
    }

    .tabular-button {
        margin-right: $spacing-medium;
    }
}
