@import '~base-scss/base';

.visualization {
    display: flex;
    flex-direction: column;

    .header{
        background-color: $color-background-header;
color: $color-text-on-background-header
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator-alt;
        padding: $spacing-small;
    }

    .content {
        display: flex;
        flex: 1;

        $width-tabs: 240px;

        .tabs {
            background-color: $color-foreground;
color: $color-text-on-foreground;
            flex-basis: $width-tabs;
            flex-grow: 0;
            flex-shrink: 0;
            border-right: $width-separator-thin solid $color-separator;
        }

        .visualizations {
            display: flex;
            flex-direction: column;

            %viz {
                background-color: $color-foreground-alt;
color: $color-text-on-foreground-alt
                flex-grow: 1;
                margin-bottom: $spacing-small;
            }
            .chord-diagram {
                @extend %viz;
            }
            .collapsible-tree-view {
                @extend %viz;
            }
            .correlation-matrix {
                @extend %viz;
            }
            .dendrogram {
                @extend %viz;
            }
            .donut-chart {
                @extend %viz;
            }
            .forced-directed-graph {
                @extend %viz;
            }
            .forced-directed-graph-voronoi {
                @extend %viz;
            }
            .cluster-force-layout {
                @extend %viz;
            }
            .horizontal-bar {
                @extend %viz;
            }
            .org-chart {
                @extend %viz;
            }
            .organigram {
                @extend %viz;
            }
            .parallel-coordinates {
                @extend %viz;
            }
            .pie-chart {
                @extend %viz;
            }
            .radial-dendrogram {
                @extend %viz;
            }
            .sankey {
                @extend %viz;
            }
            .sparklines {
                @extend %viz;
            }
            .stacked-bar-chart {
                @extend %viz;
            }
            .stream-graph {
                @extend %viz;
            }
            .sunburst {
                @extend %viz;
            }
            .treemap {
                @extend %viz;
            }
        }
    }
}
