:root {
    --width-tabs: 240px;
}

%viz {
    flex-grow: 1;
    margin-bottom: var(--spacing-small);
    background-color: var(--color-foreground-alt);
    color: var(--color-text-on-foreground-alt);
}

.visualization {
    display: flex;
    flex-direction: column;

    .header{
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: var(--width-separator-thin) solid var(--color-separator-alt);
        background-color: var(--color-background-header);
        padding: var(--spacing-small);
        color: var(--color-text-on-background-header);
    }

    .content {
        display: flex;
        flex: 1;


        .tabs {
            flex-basis: var(--width-tabs);
            flex-grow: 0;
            flex-shrink: 0;
            border-right: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground);
            color: var(--color-text-on-foreground);
        }

        .visualizations {
            display: flex;
            flex-direction: column;

            .chord-diagram {
                @extend %viz;
            }
            .collapsible-tree-view {
                @extend %viz;
            }
            .correlation-matrix {
                @extend %viz;
            }
            .dendrogram {
                @extend %viz;
            }
            .donut-chart {
                @extend %viz;
            }
            .forced-directed-graph {
                @extend %viz;
            }
            .forced-directed-graph-voronoi {
                @extend %viz;
            }
            .cluster-force-layout {
                @extend %viz;
            }
            .horizontal-bar {
                @extend %viz;
            }
            .org-chart {
                @extend %viz;
            }
            .organigram {
                @extend %viz;
            }
            .parallel-coordinates {
                @extend %viz;
            }
            .pie-chart {
                @extend %viz;
            }
            .radial-dendrogram {
                @extend %viz;
            }
            .sankey {
                @extend %viz;
            }
            .sparklines {
                @extend %viz;
            }
            .stacked-bar-chart {
                @extend %viz;
            }
            .stream-graph {
                @extend %viz;
            }
            .sunburst {
                @extend %viz;
            }
            .treemap {
                @extend %viz;
            }
        }
    }
}
