@import '~base-scss/base';

.visualization {
    @extend %main-content;
    display: flex;
    flex-direction: column;
    height: 100%;

    .header{
        @include background-color($color-background-header);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator-alt;
        padding: $spacing-small;
    }

    .content {
        display: flex;
        flex: 1;

        $width-tabs: 240px;

        .tabs {
            @include background-color($color-foreground);
            flex-basis: $width-tabs;
            flex-grow: 0;
            flex-shrink: 0;
            border-right: $width-separator-thin solid $color-separator;
        }

        .visualizations {
            display: flex;
            flex-direction: column;

            %viz {
                @include background-color($color-foreground-alt);
                flex-grow: 1;
                margin-bottom: $spacing-small;
            }
            .chord-diagram {
                @extend %viz;
            },
            .collapsible-tree-view {
                @extend %viz;
            },
            .correlation-matrix {
                @extend %viz;
            },
            .dendrogram {
                @extend %viz;
            },
            .donut-chart {
                @extend %viz;
            }
            .forced-directed-graph {
                @extend %viz;
            }
            .forced-directed-graph-voronoi {
                @extend %viz;
            },
            .horizontal-bar {
                @extend %viz;
            },
            .org-chart {
                @extend %viz;
            },
            .organigram {
                @extend %viz;
            },
            .parallel-coordinates {
                @extend %viz;
            },
            .pie-chart {
                @extend %viz;
            },
            .radial-dendrogram {
                @extend %viz;
            },
            .sankey {
                @extend %viz;
            },
            .sparklines {
                @extend %viz;
            },
            .stacked-bar-chart {
                @extend %viz;
            },
            .stream-graph {
                @extend %viz;
            },
            .sunburst {
                @extend %viz;
            },
            .treemap {
                @extend %viz;
            }
        }
    }
}
