@import '~base-scss/base';

.row {
    display: flex;
    padding: $spacing-small;

    &:not(:last-child) {
        border-bottom: $width-separator-thin solid $color-separator;
    }

    .tag-dimension {
        align-self: center;
        flex-basis: 50%;
        flex-shrink: 0;

        .dimension-title {
            color: $color-accent;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
        }

        .subdimension-title {
            font-size: $font-size-medium;
        }
    }

    .tag-sector {
        flex-basis: 50%;
        flex-shrink: 0;
        padding-left: $spacing-small;

        .title {
            margin-bottom: $spacing-extra-small-alt;
            font-weight: $font-weight-bold;
        }
    }
}
