.source-detail {
    display: flex;
    margin: var(--spacing-medium);
    border: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-large);

    .details-container {
        display: flex;
        flex-direction: column;

        .image-container {
            overflow: hidden;

            .image {
                width: 56px;
                height: 56px;
                object-fit: contain;
                object-position: center center;
            }
        }

        .heading {
            margin: var(--spacing-extra-small) 0;
        }

        .stat-block {
            margin: var(--spacing-extra-small) 0;
        }

        .date {
            color: var(--color-text);
            font-size: var(--font-size-normal);
            font-weight: var(--font-weight-normal);
        }
    }

    .chart-container {
        width: 240px;
        height: 160px;
    }
}
