.question-form {
    padding: var(--spacing-medium) 0;

    %section {
        padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

        .header {
            padding: var(--spacing-small) var(--spacing-medium);
        }

        .content {
            .input {
                margin: var(--spacing-small) var(--spacing-medium);
            }
        }
    }

    .basic {
        @extend %section;
    }

    .framework-details {
        @extend %section;
    }

    .metadata {
        @extend %section;
    }
}
