.row {
    display: table-row;

    .action-buttons {
        display: table-cell;
        padding: var(--spacing-small-alt);
        width: var(--width-action-buttons);
        vertical-align: top;
    }

    :global {
        .widget {
            margin: var(--spacing-small-alt) 0;
        }
    }
}
