%cell {
    display: table-cell;
    padding: var(--spacing-small-alt);

}

%action-buttons {
    @extend %cell;
    width: var(--width-action-buttons);
}

.row {
    display: table-row;

    .action-buttons {
        @extend %action-buttons;
    }

    :global {
        .widget {
            margin: var(--spacing-small-alt) 0;
        }
    }
}
