.list-widget-wrapper {
    display: flex;
    margin: var(--dui-spacing-small);

    .header {
        display: flex;
        align-items: flex-end;
        text-transform: capitalize;
    }

    .children {
        margin-left: var(--dui-spacing-medium);

        >* {
            color: var(--dui-color-accent);
            font-weight: var(--dui-font-weight-bold);
        }
    }
}
