:root {
    --width-category-select-input: 240px;
    --width-title-input: 240px;
    --height-header: 42px;
}

.category-editor {
    .main-content {
        display: flex;
        margin: var(--spacing-small);
        height: calc(100% - var(--height-header));

        .left {
            display: flex;
            flex-basis: 24%;
            flex-direction: column;
            background-color: var(--color-foreground);
            width: 24%;

            .document-panel {
                flex-grow: 1;
            }
        }

        .right {
            display: flex;
            flex-basis: 76%;
            flex-direction: column;
            width: 76%;

            >.header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: var(--width-separator-thin) solid var(--color-separator-alt);
                background-color: var(--color-foreground);
                padding: var(--spacing-large) var(--spacing-medium) var(--spacing-small) var(--spacing-medium);

                .title-input {
                    flex-basis: 30%;
                }

                .category-select-container {
                    display: flex;
                    flex-basis: 40%;

                    .category-select-input {
                        flex-grow: 1
                    }

                    .action-buttons {
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;

                        button {
                            margin-left: var(--spacing-small);
                        }
                    }
                }
            }

            .content {
                display: flex;
                flex-grow: 1;

                .sub-categories {
                    display: flex;
                    flex-basis: 70%;
                    background-color: var(--color-foreground-alt);
                    overflow-x: auto;

                    .column {
                        flex-shrink: 0;
                    }
                }
            }

            .empty {
                display: flex;
                align-items: center;
                flex-grow: 1;
                justify-content: center;
                color: var(--color-text-disabled);
            }
        }
    }
}
