@import '~base-scss/utils';

:root {
    --width-assignee-column: 96px;
    --mime-column-width: 48px;
    --width-page-count-leads-page: 98px;
}

.table-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-foreground);
    padding-bottom: var(--spacing-extra-small);
    overflow: auto;
    color: var(--color-text-on-foreground-alt);

    .scroll-wrapper {
        flex-grow: 1;
        height: 100%;
        overflow: auto;

        .leads-table {
            .header {
                position: sticky;
                top: 0;
            }

            :global {
                .header {
                    &.created_by,
                    &.assignee {
                        width: var(--width-assignee-column);
                    }

                    >div {
                        border-top: 0;
                    }
                }

                .row {
                    &:hover {
                        background-color: var(--color-background-accent-hint);
                    }
                }

                .cell {
                    padding: var(--spacing-small) var(--spacing-medium);

                    &.created_by,
                    &.assignee {
                        color: var(--color-text-label);
                    }

                    &.actions {
                        padding: 0;
                    }
                }

                .attachmentMimeType {
                    width: var(--mime-column-width);
                }

                .title {
                    width: auto;
                }

                .actions {
                    white-space: nowrap;
                }

                .created_at {
                    time {
                        white-space: nowrap;
                    }
                }

                .published_on {
                    white-space: nowrap;
                }

                .no_of_entries {
                    width: auto;
                }

                .page_count {
                    align-items: right;
                    justify-content: right;
                    width: var(--width-page-count-leads-page);
                    text-align: right;
                }

                .created_at,
                .published_on,
                .no_of_entries {
                    align-items: right;
                    justify-content: right;
                    text-align: right;
                }

                .created-by-link,
                .assignee-link {
                    @extend %accent-color-link;
                    margin-right: var(--spacing-small);
                }

                .icon-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: var(--font-size-large);

                    button {
                        color: var(--color-accent);
                    }
                }
            }
        }
    }
}

