@import '~base-scss/base';

$width-assignee-column: 96px;

.table-container {
    @extend %main-content;
    @include background-color($color-foreground-alt);
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    margin: $spacing-small-alt;
    padding-bottom: $spacing-extra-small;
    overflow: auto;

    .scroll-wrapper {
        flex-grow: 1;
        height: 100%;
        overflow: auto;

        .leads-table {
            .header {
                position: sticky;
                top: 0;
            }


            $mime-column-width: 48px;

            :global {
                .header {
                    &.created_by,
                    &.assignee {
                        width: $width-assignee-column;
                    }

                    >div {
                        border-top: 0;
                    }
                }

                .cell {
                    padding: $spacing-small;

                    &.created_by,
                    &.assignee {
                        color: $color-text-label;
                    }

                    &.actions {
                        padding: 0;
                    }
                }

                .attachmentMimeType {
                    width: $mime-column-width;
                }

                .title {
                    width: auto;
                }

                .actions {
                    white-space: nowrap;
                }

                .created_at {
                    time {
                        white-space: nowrap;
                    }
                }

                .published_on {
                    white-space: nowrap;
                }

                .no_of_entries {
                    width: auto;
                }

                .created_at,
                .published_on,
                .no_of_entries {
                    align-items: right;
                    justify-content: right;
                    text-align: right;
                }

                .status,
                .confidentiality {
                    text-transform: capitalize;
                }

                .created-by-link,
                .assignee-link {
                    @extend %accent-color-link;
                    margin-right: $spacing-small;
                }

                .icon-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: $font-size-large;

                    button {
                        color: $color-accent;
                    }
                }
            }
        }
    }
}

