@import '~base-scss/utils';

.framework-details {
    display: flex;
    flex-direction: column;

    // required to fix overflow of preview
    // No idea why this works though
    width: 1px;

    .header {
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-background-header);

        .top {
            display: flex;
            align-items: center;

            .left-container {
                display: flex;
                align-items: center;
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                .heading {
                    padding: var(--spacing-small) var(--spacing-medium);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .badge {
                    display: inline-flex;
                    flex-shrink: 0;
                }
            }

            .right-container {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .tabs {
                    flex-shrink: 0;
                }

                .action-buttons {
                    flex-shrink: 0;
                    padding: var(--spacing-small) var(--spacing-medium);

                    button {
                        margin-left: var(--spacing-small);
                    }

                    .edit-framework-link {
                        @include button-like-link(var(--color-warning));
                        margin-left: var(--spacing-small);
                    }
                }
            }
        }

        .description {
            flex-basis: 100%;
            padding: 0 var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: var(--color-text-label);
            font-size: var(--font-size-large);
        }
    }

    .preview {
        flex-grow: 1;
    }
}
