.framework-details {
    display: flex;
    flex-direction: column;

    // required to fix overflow of preview
    // No idea why this works though
    // TODO: Inspect and remove this
    width: 1px;

    .header {
        flex-shrink: 0;
        background-color: var(--color-background-header);

        .top {
            display: flex;
            align-items: center;

            .left-container {
                display: flex;
                align-items: center;
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                .heading {
                    padding: var(--spacing-small) var(--spacing-medium);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .badge {
                    display: inline-flex;
                    flex-shrink: 0;
                }
            }

            .right-container {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .action-buttons {
                    flex-shrink: 0;
                    padding: var(--spacing-small) var(--spacing-medium);

                    .button {
                        margin-left: var(--spacing-small);
                    }

                    .edit-questions-link {
                        margin-left: var(--spacing-small);
                    }
                }
            }
        }

        .description-container {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            padding: 0 var(--spacing-medium);

            .description {
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: var(--color-text-label);
                font-size: var(--font-size-large);
            }
        }

        .button-container {
            padding: var(--spacing-small) var(--spacing-medium) 0;

            .edit-details-button {
                margin-right: var(--spacing-small);
            }
        }

        .label-values-pair {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            padding:  0 var(--spacing-medium);

            .label {
                flex-shrink: 0;
                color: var(--color-text-label);
            }

            .values {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                margin-left: var(--spacing-extra-small);
            }

            .user-values {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                margin-left: var(--spacing-extra-small);

                .link {
                    &:not(:last-child) {
                        &:after {
                            content: ',';
                        }
                    }
                }
            }

            .badge {
                margin: var(--spacing-extra-small);
            }
        }

        .widget-preview-bar {
            display: flex;
            align-items: center;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: 0 var(--spacing-medium);

            .widget-preview-heading {
                flex-grow: 1;
                color: var(--color-text);
            }

            .widget-right-container {
                display: flex;
                align-items: center;
                align-self: stretch;
                flex-shrink: 0;

                .tabs {
                    align-self: stretch;
                    flex-shrink: 0;
                    margin-right: var(--spacing-medium);
                    background-color: transparent;
                }

                .edit-framework-link {
                    margin: var(--spacing-small) 0;
                }
            }
        }
    }

    .preview {
        flex-grow: 1;
        overflow: auto;
    }
}

.export-modal {
    display: flex;
    flex-direction: column;
    width: 96vw;
    height: 96vw;
    overflow: auto;

    .modal-body {
        flex-grow: 1;
        padding: 0;
        overflow-y: auto;

        .tab-heading {
            border-top: var(--width-separator-thin) solid var(--color-separator);
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-small) var(--spacing-medium);
        }
    }
}
