.assist-popup {
    background-color: var(--dui-color-foreground);
    height: 100%;
    overflow-y: auto;

    .body {
        display: flex;
        flex-direction: column;
        width: var(--dui-width-modal-small);
        min-height: var(--dui-height-modal-small);
        overflow-y: auto;

        .message {
            flex-grow: 1;
            justify-content: center;
        }
    }
}
