.assist-popup {
    .body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .message {
            flex-grow: 1;
            justify-content: center;
        }
    }
}
