.add-organization-modal {
    .modal-body {
        display: flex;
        flex-direction: column;
        padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));

        .input {
            margin: var(--dui-spacing-medium);
        }
    }
}
