:root {
    --table-width: 400px;
    --width-cluster-details: 420px;
    --height-cluster-header: 36px;
}

.cluster-visualization {
    >.header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .error-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--color-foreground);
            overflow-y: auto;

            .message {
                display: inline-block;
                flex-shrink: 0;
                padding: var(--spacing-extra-large) var(--spacing-large);
                text-align: center;

                .link {
                    margin: 0 var(--spacing-extra-small-alt);
                    padding: 0;
                    text-transform: lowercase;
                }
            }

            .forced-directed-graph {
                flex-grow: 1;
                filter: grayscale(100%);
                pointer-events: none;
            }
        }

        .cluster-container {
            display: flex;
            flex-grow: 1;
            background-color: var(--color-foreground);
            overflow-y: auto;

            .forced-directed-graph {
                flex-grow: 1;
                color: var(--color-text-on-foreground-alt);
            }

            .cluster-details {
                position: relative;
                flex-basis: var(--width-cluster-details);
                flex-shrink: 0;
                border-left: var(--width-separator-thin) solid var(--color-separator);
                overflow-y: auto;

                .cluster-detail {
                    transition: var(--duration-transition-medium) border-color ease-in-out;
                    margin: var(--spacing-medium);
                    border: var(--width-separator-thin) solid var(--color-separator);
                    background-color: var(--color-foreground);

                    .header {
                        display: flex;
                        z-index: 1;
                        border-bottom: var(--width-separator-thin) solid var(--color-separator);
                        background-color: var(--color-background-header);
                        padding: var(--spacing-small-alt) 0;
                        height: var(--height-cluster-header);

                        >.heading {
                            flex-grow: 1;
                            padding: 0 var(--spacing-small);
                            color: var(--color-primary);
                            font-weight: var(--font-weight-medium);
                        }

                        .leads-count {
                            display: flex;
                            flex-shrink: 0;
                            padding: 0 var(--spacing-small);

                            .number {
                                flex-shrink: 0;
                                padding-right: var(--spacing-small);
                            }
                        }
                    }

                    .keyword-list {
                        >.heading {
                            padding: var(--spacing-small);
                            color: var(--color-accent);
                            font-weight: var(--font-weight-bold);
                        }

                        .keywords {
                            display: flex;
                            flex-wrap: wrap;
                            padding: var(--spacing-extra-small) var(--spacing-small);

                            .keyword {
                                margin: var(--spacing-extra-small);
                            }
                        }
                    }

                    .leads-table {
                        border-top: var(--width-separator-thin) solid var(--color-separator);

                        :global {
                            .header {
                                background-color: var(--color-foreground);
                            }
                            .body {
                                .row {
                                    cursor: pointer;

                                    &.highlighted {
                                        background-color: var(--color-background-accent-hint);
                                        color: var(--color-text);
                                    }

                                    .cell {
                                        &.createdAt {
                                            white-space: nowrap;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .lead-list {
                        >.heading {
                            padding: var(--spacing-small);
                            color: var(--color-accent);
                            font-weight: var(--font-weight-bold);
                        }

                        .leads-empty {
                            padding: 0 var(--spacing-small);
                        }
                    }

                    &.active-cluster {
                        border-color: var(--color-accent);
                    }
                }
            }
        }
    }
}
