@import '~base-scss/base';
$table-width: 400px;
$width-cluster-details: 420px;

.cluster {
    @extend %main-content;
    display: flex;
    flex-direction: column;
    height: 100%;

    >.header {
        @include background-color($color-background-header);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: $spacing-small $spacing-medium;
    }

    .container {
        display: flex;
        position: relative;
        flex-grow: 1;

        .forced-directed-graph {
            flex-grow: 1;
            background-color: $color-foreground-alt;
            height: auto;
            overflow: auto;
        }

        .cluster-details {
            flex-basis: $width-cluster-details;
            flex-shrink: 0;
            border-left: $width-separator-thin solid $color-separator;
            overflow-y: auto;

            .cluster-detail {
                transition: $duration-transition-medium border-color ease-in-out;
                // border: $width-separator-thin solid transparent;
                border-bottom-color: $color-separator;
                background-color: $color-foreground;

                .header {
                    display: flex;
                    position: sticky;
                    top: 0;
                    border-bottom: $width-separator-thin solid $color-separator;
                    background-color: $color-background-header;
                    padding: $spacing-small-alt 0;

                    >.heading {
                        flex-grow: 1;
                        padding: 0 $spacing-small;
                        color: $color-primary;
                        font-weight: $font-weight-medium;
                    }

                    .leads-count {
                        display: flex;
                        flex-shrink: 0;
                        padding: 0 $spacing-small;

                        .number {
                            flex-shrink: 0;
                            padding-right: $spacing-small;
                            font-family: $font-family-monospace;
                        }
                    }
                }

                .keyword-list {
                    >.heading {
                        padding: $spacing-small;
                        color: $color-accent;
                        font-weight: $font-weight-bold;
                    }

                    .keywords {
                        display: flex;
                        flex-wrap: wrap;
                        padding-bottom: $spacing-medium;

                        .keyword {
                            transition: $duration-transition-medium border-color, $duration-transition-medium color;
                            border: $width-separator-thin solid transparent;
                            cursor: pointer;
                            padding: $spacing-extra-small $spacing-small;
                            font-family: $font-family-monospace;

                            &:not(:last-child):after {
                                content: ',';
                            }

                            &.active,
                            &:hover {
                                border-color: $color-accent;
                                color: $color-accent;
                            }
                        }
                    }
                }

                .lead-list {
                    >.heading {
                        padding: $spacing-small;
                        color: $color-accent;
                        font-weight: $font-weight-bold;
                    }

                    .leads-empty {
                        padding: 0 $spacing-small;
                    }
                }

                &.active-cluster {
                    border-color: $color-accent;
                }
            }
        }
    }

    .footer {
        @include background-color($color-foreground);
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        border-top: $width-separator-thin solid $color-separator;
        padding: $spacing-small $spacing-medium-alt;

        .link {
            @include button-like-link($color-accent);
        }
    }
}
