@import '~base-scss/widget';

.widget-editor-faram {
    width: 100%;
    height: 100%;

    .grid-layout-editor {
        width: 100%;
        height: 100%;

        .widget {
            @extend %widget;
            padding: var(--spacing-extra-small);

            .header {
                display: flex;
                align-items: center;

                .heading {
                    flex-grow: 1;
                    padding: 0 0 0 var(--spacing-small);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &.disabled {
                        color: var(--color-text-label);
                    }
                }

                .action-buttons {
                    flex-shrink: 0;
                    transition: var(--duration-transition-medium) opacity ease-in-out;
                    opacity: 0;
                    padding-left: var(--spacing-small);

                    >* {
                        padding: var(--spacing-extra-small) var(--spacing-extra-small-alt);
                    }

                    .info-icon {
                        color: var(--color-info);
                    }
                }
            }

            .content {
                position: relative;
                // transition: 0.2s all ease-in-out;

                .disabler-mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: 0.2s all ease-in-out;
                    opacity: 0;
                    background-color: var(--color-background-header);
                    width: 100%;
                    height: 100%;
                    color: var(--color-text-disabled);
                    pointer-events: none;
                }

                &:hover {
                    .disabler-mask {
                        opacity: 1;
                    }
                }
            }

            &:hover {
                .header {
                    .action-buttons {
                        opacity: 1;
                    }
                }
                .content {
                    .disabler-mask {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
