@import '~base-scss/base';
@import '~base-scss/widget';

.widget-editor-faram {
    width: 100%;
    height: 100%;

    .grid-layout-editor {
        width: 100%;
        height: 100%;

        .widget {
            @extend %widget;
            padding: $spacing-extra-small;

            .header {
                display: flex;
                align-items: center;

                .heading {
                    flex-grow: 1;
                    padding: 0 0 0 $spacing-small;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &.disabled {
                        color: $color-text-label;
                    }
                }

                .action-buttons {
                    flex-shrink: 0;
                    transition: $duration-transition-medium opacity ease-in-out;
                    opacity: 0;
                    padding-left: $spacing-small;

                    >* {
                        padding: $spacing-extra-small $spacing-extra-small-alt;
                    }

                    .info-icon {
                        color: $color-info;
                    }
                }
            }

            .content {
                &.disabled {
                    background-color: $color-background-alt;
                }
            }

            &:hover {
                .header {
                    .action-buttons {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
