.cna-form {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-extra-large);

    .sector-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);

        .sector-heading {
            font-size: var(--dui-font-size-extra-large);
        }

        .sub-sector-wrapper {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-large);
            padding: 0 var(--dui-spacing-medium);

            .sub-sector-heading {
                color: var(--dui-color-accent);
                font-size: var(--dui-font-size-extra-large);
            }
        }
    }
}