:root {
    --color-text-on-primary: get-text-color(var(--color-primary));
}

main {
    margin: 0 !important;
    border: none !important;
    overflow: hidden !important;
}

.four-hundred-four {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none !important;
    background-image: url('../../resources/404/background.jpg');
    background-position: bottom;
    background-size: cover;
    line-height: 2;

    .content {
        div{
            display: flex;
            position: absolute;

            &.fishes {
                top: 60vh;
                right: 30vw;
                width: 10vw;
                height: auto;
            }

            &.fishes-dory {
                top: 20vh;
                left: 28vw;
                width: 8vw;
                height: auto;
            }

            &.fishes-dory-right {
                top: 45vh;
                right: 10vw;
                width: 5vw;
                height: auto;
            }
            &.sharks {
                bottom: 25vh;
                left: 17vw;
                width: 10vw;
                height: auto;
            }
            &.fishes-large {
                bottom: 40vh;
                left: 8vw;
                width: 12vw;
                height: auto;
            }
            &.octopus-small {
                top: 35vh;
                right: 24vw;
                width: 5vw;
                height: auto;
            }
            &.diver {
                top: 15vh;
                right: 15vw;
                width: 7vw;
                height: auto;
            }
        }

        .sea-life {
            position: absolute;
            overflow: hidden;

            &.position-bottom {
                right: 10vw;
                bottom: 20vh;
                width: 7vw;
                height: 7vw;
                animation: wiggle-slow 5s infinite ease-in-out;
            }

            &.position-top {
                top: 10vh;
                left: 15vw;
                width: 12vw;
                height: 12vw;
                animation: wiggle-slow 4s infinite ease-in-out;
            }

            .octopus {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .hidden-image {
                display: block;
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            &:hover {
                .hidden-image {
                    transition: 0.2s opacity ease-in-out;
                    opacity: 1;
                    animation: wiggle 0.3s infinite ease-in-out;
                }

                .octopus {
                    transition: 0.2s opacity ease-in-out;
                    opacity: 0;
                }
            }
        }

        img {
            width: 100% !important;
        }
    }
    .message-content {
        z-index: 999;
        margin-top: 20vh;
        text-align: center;

        .deep-logo {
            margin-bottom: var(--spacing-large);
            width: 125px;
            height: 125px;
            color: var(--color-text-disabled);
        }

        .heading {
            color: #c22020;
            font-size: var(--font-size-super-large-alt);
            font-weight: var(--font-weight-bold);
        }

        .message {
            margin: var(--spacing-large) 0;
            text-align: center;
            font-size: var(--font-size-large-alt);
        }
    }
}

@keyframes wiggle-slow {
    0% { transform: rotate(0deg); }
    82% { transform: rotate(0deg); }
    85% { transform: rotate(5deg); }
    88% { transform: rotate(-5deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
