.edit-framework-modal {
    width: var(--width-edit-framework-modal);

    .modal-body {
        position: relative;
        padding: 0;

        .edit-details-section {
            display: flex;
            flex-direction: column;
            margin-bottom: var(--spacing-super-large);
            overflow-y: auto;

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: space-between;
                // border-bottom: var(--width-separator-thin) solid var(--color-separator);
                padding: var(--spacing-medium);

                .heading {
                    flex-grow: 1;
                }
            }

            .edit-analysis-framework-form {
                padding: 0 var(--spacing-medium) var(--spacing-large) var(--spacing-medium);

                .action-buttons {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }

        .edit-users-section {
            border-top: var(--width-separator-thin) solid var(--color-separator);
        }
    }
}
