@import '~base-scss/base';

.project-usergroup-list {
    display: flex;
    position: relative;
    flex-direction: column;

    .header {
        flex-shrink: 0;

        .heading {
            padding: $spacing-medium;
        }
    }

    .table {
        flex-grow: 1;
        overflow-y: auto;

        :global {
            .header {
                background-color: $color-foreground-alt;
            }

            .row {
                border-bottom: $width-separator-thin solid $color-separator;
                background-color: transparent;
            }
        }
    }

    .no-search {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        border-top: $width-separator-thin solid $color-separator;
        color: $color-text-disabled;

        .image {
            opacity: 0.3;
            width: $width-icon-super-large;
            height: $width-icon-super-large;
        }
    }
}
