.project-usergroup-list {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-y: auto;

    .header {
        flex-shrink: 0;

        .heading {
            padding: var(--spacing-medium);
        }
    }

    .table {
        flex-grow: 1;
        border-top: var(--width-separator-thin) solid var(--color-separator);
        overflow-y: auto;

        :global {
            .header {
                z-index: 1;
            }
        }
    }
}
