
.key-figures {
    position: relative;
    height: 100%;
    overflow-y: auto;

    .sections {
        display: flex;

        .section {
            flex-basis: calc(100% / 4);
            flex-shrink: 0;

            .heading {
                flex-basis: 100%;
                padding: var(--spacing-medium);
            }

            .inputs {
                padding: var(--spacing-medium);
            }

            &:not(:last-child) {
                border-right: var(--width-separator-thin) solid var(--color-separator);
            }
        }
    }

    .icon {
        margin-left: var(--spacing-small);
        font-size: var(--font-size-extra-large);
    }
}
