.bulk-upload-modal {
    width: 90vw;
    height: 90vh;

    .modal-header {
        border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    }

    .modal-body {
        display: flex;
        padding: 0;

        .upload {
            display: flex;
            flex-shrink: 0;
            border-right: var(--dui-width-separator-thick) solid var(--dui-color-surface-information);
            background-color: var(--dui-color-white);
        }

        .details {
            flex-grow: 1;
        }
    }
}
