.bulk-upload-modal {
    .modal-body {
        display: flex;

        .upload {
            display: flex;
            flex-shrink: 0;
            border-right: var(--dui-width-separator-thick) solid var(--dui-color-surface-information);
            background-color: var(--dui-color-white);
            padding: var(--dui-spacing-medium) 0;
        }

        .details {
            flex-grow: 1;
        }
    }
}
