@import '~base-scss/base';

.select {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-extra-small $spacing-small;
    width: 100%;
    height: 100%;
}
