.region {
    background-color: var(--dui-color-background);

    .add-admin-level {
        display: flex;
        flex-grow: 1;
        background-color: var(--dui-color-background);

        .content {
            display: flex;
            flex-direction: column;

            .submit {
                align-self: flex-end;
            }

            .tabs {
                display: flex;
                flex-grow: 1;
            }
        }
    }
}
