@import '~base-scss/widget';

.overview {
    display: inline-block;

    .widget {
        @extend %widget;
        padding: var(--spacing-extra-small);

        .header {
            display: flex;
            align-items: center;

            .heading {
                flex-grow: 1;
                padding: 0 var(--spacing-small);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
