:root {
    --width-region-list: 240px;
}

.project-regions {
    display: flex;
    flex-grow: 1;
    overflow: auto;

    .region-list {
        display: flex;
        flex-basis: var(--width-region-list);
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        border-right: var(--width-separator-thin) solid var(--color-separator-alt);

        >.header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-wrap: wrap;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-background-header);
            padding: var(--spacing-medium);
            color: var(--color-text-on-background-header);

            .heading {
                flex-grow: 1;
            }

            .add-region-button {
                flex-shrink: 0;
            }

            .region-search-input {
                flex-basis: 100%;
                margin-top: var(--spacing-small);
            }
        }

        .content {
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    .region-details-container {
        flex-basis: calc(100% - var(--width-region-list));
        flex-grow: 0;
        flex-shrink: 0;
        overflow: auto;
    }

    .no-regions {
        display: flex;
        align-items: center;
        flex-basis: calc(100% - var(--width-region-list));
        justify-content: center;
        color: var(--color-text-disabled);
        font-size: var(--font-size-large);
    }
}

.add-region-modal {
    .body {
        display: flex;
        flex-direction: column;

        .region-type-input {
            flex-shrink: 0;
        }

        .add-region {
            flex-grow: 1;
        }

        .add-existing-region {
            flex-grow: 1;
        }
    }


    &.existing-region {
        height: 60vh;
    }
}

