@import '~base-scss/base';

.header {
    flex-shrink: 0;
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-background-header;
    padding: $spacing-small;
    color: $color-text-on-background-header;
}

.links {
    flex-grow: 1;
    overflow: auto;

    .item {
        display: flex;
        align-items: center;
        font-family: $font-family-monospace;

        .title {
            flex-grow: 1;
            margin: 0;
            font-family: inherit;
        }

        .badge {
            flex-shrink: 0;
            padding: 0 $spacing-extra-small-alt;
            font-size: $font-size-small;

            &.error {
                background-color: $color-danger;
                color: $color-text-on-danger;
            }

            &.warning {
                background-color: $color-warning;
                color: $color-text-on-warning;
            }

            &.info {
                background-color: $color-info;
                color: $color-text-on-info;
            }
        }
    }
}
