
.header {
    flex-shrink: 0;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-background-header);
    padding: var(--spacing-small);
    color: var(--color-text-on-background-header);
}

.links {
    flex-grow: 1;
    overflow: auto;

    .item {
        display: flex;
        align-items: center;

        .title {
            flex-grow: 1;
            margin: 0;
            font-family: inherit;
        }

        .badge {
            flex-shrink: 0;
            padding: 0 var(--spacing-extra-small-alt);
            font-size: var(--font-size-small);

            &.error {
                background-color: var(--color-danger);
                color: var(--color-text-on-danger);
            }

            &.warning {
                background-color: var(--color-warning);
                color: var(--color-text-on-warning);
            }

            &.info {
                background-color: var(--color-info);
                color: var(--color-text-on-info);
            }
        }
    }
}
