.naive-search-list {
    .search-input {
        width: 214px;
    }
}

.loading-animation-container {
    position: relative;
    min-height: 88px;
}

.list {
    max-height: 280px;
    overflow-y: auto;
}
