.naive-search-list {
    .search-input {
        width: var(--width-search-input);
    }
}

.list {
    min-height: var(--min-height-search-input);
    max-height: var(--max-height-search-input);
    overflow-y: auto;
}
