.pagination {
    display: flex;

    .page-button {
        margin: var(--dui-spacing-extra-small);
    }

    .dots {
        margin: var(--dui-spacing-extra-small);
        border-radius: calc(var(--dui-font-size-medium) / 2);
        padding: 0;
        width: var(--dui-font-size-medium);
        height: var(--dui-font-size-medium);
    }
}

