.toggle-entry-control {
    display: flex;
    align-items: center;
    padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));

    .icon {
        font-size: var(--dui-font-size-medium);
    }

    &.controlled {
        .icon {
            color: var(--color-success);
        }
    }
}

.comment-modal {
    width: 400px;
}
