.project-filters {
    display: flex;
    align-items: center;

    .project-filter {
        margin: var(--spacing-small) var(--spacing-medium);
    }

    .button {
        align-self: flex-end;
        flex-shrink: 0;
        margin: var(--spacing-small);
    }
}
