:root {
    --height-nagbar: 32px;
}

:global {
    .nagbar-shown {
        .deep-main-content {
            height: calc(100vh - var(--height-navbar) - var(--height-nagbar));
        }

        .no-nav + .deep-main-content {
            padding: 0;
            height: calc(100vh - var(--height-nagbar));
        }
    }
}

.nagbar {
    display: flex;
    align-items: center;
    background-color: var(--color-danger);
    padding: 0 var(--spacing-medium);
    height: var(--height-nagbar);
    color: var(--color-text-on-danger);
    font-weight: var(--font-weight-bold);

    .message {
        flex-grow: 1;
        text-align: center;
    }

    .nagbar-dismiss-button {
        cursor: pointer;
        font-size: var(--font-size-large);

        * {
            color: var(--color-text-on-danger);
        }
    }
}
