@import '~base-scss/base';
@import '~base-scss/widget';

.entry {
    padding: $spacing-small;
    min-width: 100%;
    overflow: hidden;

    &:not(:last-child) {
        border-bottom: $width-separator-thin solid $color-separator;
    }

    .widget {
        @extend %widget;
        // border: $width-separator-thin solid $color-separator;
        padding: $spacing-extra-small;

        .header {
            display: flex;
            align-items: center;

            .heading {
                flex-basis: 100%;
                padding: 0 $spacing-small;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .content {
            background-color: $color-foreground;
        }
    }
}
