
.entry {
    padding: var(--spacing-small);
    min-width: 100%;
    overflow: hidden;

    &:not(:last-child) {
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
    }

    .widget {
        @extend %widget;
        // border: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-extra-small);

        .header {
            display: flex;
            align-items: center;

            .heading {
                flex-basis: 100%;
                padding: 0 var(--spacing-small);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .content {
            background-color: var(--color-foreground);
        }
    }
}
