@import '~base-scss/widget';

.entry-container {
    position: relative;

    .entry-header {
        display: flex;
        justify-content: flex-end;
        padding: var(--spacing-small) 0 0 0;
        width: 100%;

        .right-container {
            display: flex;
            position: sticky;
            top: var(--spacing-small);
            right: var(--spacing-medium);
            align-items: center;

            .entry-labels {
                display: inline-flex;
                align-items: center;

                .entry-label {
                    margin-right: var(--spacing-small);

                    .title {
                        text-transform: none;
                    }
                }
            }

            .entry-verify {
                padding: 0 var(--spacing-small);
            }

            .button {
                display: flex;
                align-items: center;
                align-self: stretch;
                margin-right: var(--spacing-small);
                padding: var(--spacing-extra-small) var(--spacing-small);

                .comment-count {
                    padding-left: var(--spacing-small);
                }

                &.accented {
                    border-color: var(--color-danger)!important;
                    color: var(--color-danger);
                }
            }

            .delete-button {
                padding: var(--spacing-extra-small) var(--spacing-small);
            }
        }
    }
    .entry {
        padding: var(--spacing-small);
        min-width: 100%;
        overflow: hidden;

        &:not(:last-child) {
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
        }

        .widget {
            @extend %widget;
            padding: var(--spacing-extra-small);

            .header {
                display: flex;
                align-items: center;

                .heading {
                    flex-basis: 100%;
                    padding: 0 var(--spacing-small);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &.excerpt-widget-heading {
                        color: var(--color-text-on-primary);
                    }
                }

                &.excerpt-widget-header {
                    background-color: var(--color-primary);
                }
            }

            .content {
                background-color: var(--color-foreground);
            }
        }
    }
}
