@import '../../stylesheets/base';

.edit-entry {
    @extend %main-content;

    display: flex;
    position: relative;
    flex-direction: row;

    .sidebar {
        display: flex;
        flex-direction: column;
        border-right: $width-separator-thin solid $color-separator;
    }
}
