.badge {
    display: flex;
    align-items: center;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-border-medium);
    cursor: default;
    padding: var(--spacing-extra-small) var(--spacing-small);
    color: var(--color-text-label);
    font-size: var(--font-size-small);

    &.no-border {
        border: none;
    }

    .title {
        padding-left: var(--spacing-extra-small-alt);
        text-transform: capitalize;
    }

    &.no-icon {
        .title {
            padding-left: 0;
        }
    }
}
