:root {
    --height-geo-modal: 86vh;
    --width-geo-modal: 80%;
    --width-left-container-min: 240px;
    --width-right-container-min: 240px;
    --width-right-container-max: 320px;
}

.geo-modal {
    width: var(--width-geo-modal);
    height: var(--height-geo-modal);

    .select-inputs {
        display: flex;
    }

    .body {
        display: flex;
        padding: 0;
        width: 100%;
        height: 60vh;

        .left {
            display: flex;
            flex-basis: 24%;
            flex-direction: column;
            flex-shrink: 0;
            border-right: var(--width-separator-thin) solid var(--color-separator);
            min-width: var(--width-left-container-min);
            overflow-y: auto;
        }

        .map-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border-right: var(--width-separator-thin) solid var(--color-separator);
            border-left: var(--width-separator-thin) solid var(--color-separator);
            overflow-y: auto;

            .select-inputs {
                display: flex;
                flex-shrink: 0;
                justify-content: space-between;
                border-bottom: var(--width-separator-thin) solid var(--color-separator);
                padding: var(--spacing-small) var(--spacing-medium);

                .left-inputs {
                    display: flex;

                    .select-input {
                        padding-left: var(--spacing-small);
                    }
                }
            }

            .map {
                flex-grow: 1;
                overflow-y: auto;
            }
        }

        .right {
            flex-basis: 20%;
            flex-shrink: 0;
            min-width: var(--width-right-container-min);
            max-width: var(--width-right-container-max);
            overflow-y: auto;
        }
    }
}
