@import '../../../stylesheets/base';

.main {
    padding: $spacing-medium;
    width: 100%;
    height: 100%;
    overflow: auto;

    .widget {
        border: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;

        .header {
            background-color: $color-foreground-alt;
        }
        .content {
            padding: 0;
        }
    }
}
