@import '~base-scss/base';

$width-search-input: 240px;
$height-modal-body: 60vh;

.modal-header {
    border-bottom: none;
}

.search-input {
    width: $width-search-input;
}

.modal-body {
    position: relative;
    background-color: $color-background-row;
    padding: 0;
    height: $height-modal-body;
}

.file-input {
    width: auto;

    :global .label {
        @include button-like-link($color-foreground);
    }
}

