
.organigram-input {
    height: 100%;
    overflow: auto;
}

.excerpt-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .title {
        flex-shrink: 0;
        padding: var(--spacing-small) var(--spacing-medium);
        text-transform: uppercase;
        color: var(--color-accent);
        font-weight: var(--font-weight-bold);
    }

    .excerpt {
        flex-grow: 1;
        overflow: auto;
    }
}

