
.organigram-input {
    height: 100%;
    overflow: auto;
}

.excerpt-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .title {
        flex-shrink: 0;
        padding: var(--spacing-small);
        padding-bottom: 0;
        text-transform: uppercase;
        text-transform: initial;
    }

    .excerpt {
        flex-grow: 1;
        overflow: auto;
    }
}

