@import '~base-scss/base';

$width-excerpt-container-min: 180px;

.organigram-input {
    height: 100%;
    overflow: auto;
}

.excerpt-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: $width-excerpt-container-min;

    .title {
        flex-shrink: 0;
        padding: $spacing-small $spacing-medium;
        text-transform: uppercase;
        color: $color-accent;
        font-weight: $font-weight-bold;
    }

    .excerpt {
        flex-grow: 1;
        padding: $spacing-small $spacing-medium;
        overflow: auto;
    }
}
