@import '~base-scss/base';

.header {
    padding: $spacing-small;
    width: 100%;
    user-select: none;

    .top {
        display: flex;
        align-items: center;

        .icon {
            flex-shrink: 0;
            margin: 0 $spacing-extra-small;
            color: $color-text-label;
        }

        .sort-button {
            padding: $spacing-small;
            // word-break: break-all;
        }

        .title {
            flex-shrink: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .edit-button {
            opacity: 0;
        }

        &:hover {
            .edit-button {
                opacity: 1;
            }
        }
    }

    .search-input {
        margin: $spacing-small;
        margin-top: 0;
    }

    .health-bar {
        height: 6px;
    }
}
