@import '~base-scss/base';

.header {
    position: relative;
    user-select: none;

    .title {
        padding: $spacing-small;
        word-break: break-all;
    }

    .icon {
        margin: 0 $spacing-extra-small;
        color: $color-text-label;
    }

    .search-box {
        margin: $spacing-small;
        margin-top: 0;
    }

    .health-bar {
        height: 6px;
    }
}
