.matrix {
    .open-popup-button {
        font-size: var(--dui-font-size-extra-small);
    }

    .row-list {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);

        .row {
            display: flex;
            flex-direction: column;

            .title {
                text-transform: capitalize;
                color: var(--dui-color-text-label);
                font-size: var(--dui-font-size-small);
            }

            .selected-values {
                color: var(--dui-color-accent);
                font-weight: var(--dui-font-weight-bold);
            }
        }
    }
}

.modal {
    min-width: 720px;
}
