@import '~base-scss/base';

$height-orgchart-modal: 86vh;
$width-orgchart-modal: 80%;
$width-left-container-min: 180px;

.organigram-input {
    display: flex;
    flex-direction: column;
    height: 100%;

    .action {
        padding: $spacing-extra-small $spacing-small;
    }

    .select-input {
        flex-grow: 1;
    }

    .no-list-selection {
        display: flex;
    }
}

.orgchart-modal {
    width: $width-orgchart-modal;
    height: $height-orgchart-modal;

    .body {
        display: flex;
        padding: 0;
        overflow: auto;

        .left {
            display: flex;
            flex-basis: 24%;
            flex-direction: column;
            border-right: $width-separator-thin solid $color-separator;
            min-width: $width-left-container-min;
        }

        .orgchart {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
