.entry-group-edit-form {
    width: var(--width-modal-extra-small);

    .modal-header {
        .heading {
            text-transform: none;
        }
    }

    .modal-body {
        .color-input {
            display: inline-block;
        }
    }
}
