@import '../../stylesheets/base';

.overview {
    width: 100%;
    height: 100%;
    overflow: auto;

    .table-header {
        @include background-color($color-foreground);
        padding: $spacing-small;
    }

    .table-header-row {
        @include background-color($color-foreground);
        padding: $spacing-small;

        &.not-similar {
            @include background-color($color-danger);
        }

        &.similar {
            @include background-color($color-success);
        }

        &.partial-similar {
            @include background-color($color-background);
        }
    }

    .table-cell {
        @include background-color($color-foreground);
        padding: $spacing-extra-small $spacing-small;
    }
}
