:root {
    --height-edit-modal: 60vh;
}

.modal {
    width: var(--width-modal-large);
    height: var(--height-edit-modal);

    .modal-body {
        display: flex;
        padding: 0;

        .left-container {
            border-right: var(--width-separator-thin) solid var(--color-separator);
            width: 30%;

            .widget-list {
                overflow-y: auto;

                .group {
                    background-color: var(--color-background-row-alt);
                    padding: var(--spacing-small) var(--spacing-medium);
                    font-size: var(--font-size-medium-alt);

                    &:not(:first-child) {
                        margin-top: var(--spacing-medium);
                    }
                }

                .item {
                    border-top: var(--width-separator-thin) solid var(--color-separator);
                }

                .group + .item {
                    border-top: 0;
                }
            }
        }

        .right-container {
            display: flex;
            flex-direction: column;
            width: 70%;

            .selection-bar {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: space-between;
                border-bottom: var(--width-separator-thin) solid var(--color-separator);
                padding: 0 var(--spacing-small);
                height: 48px;

                .select-input {
                    padding: var(--spacing-medium) var(--spacing-small);
                }
            }

            .selection-box {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .header {
                    flex-shrink: 0;
                    padding: var(--spacing-medium) var(--spacing-small);
                    text-transform: uppercase;
                    font-size: var(--font-size-medium);
                    font-weight: var(--font-weight-light);
                }

                .tree {
                    flex-grow: 1;
                    overflow-y: auto;

                    :global {
                        .parent-node {
                            padding: var(--spacing-extra-small) var(--spacing-small);

                            .button {
                                &.node-title {
                                    color: var(--color-text-disabled);
                                    font-weight: var(--font-weight-bold);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
