@import '~base-scss/base';

$height-edit-modal: 60vh;

.modal {
    width: $width-modal-large;
    height: $height-edit-modal;

    .modal-body {
        display: flex;
        padding: 0;

        .left-container {
            border-right: $width-separator-thin solid $color-separator;
            width: 30%;

            .widget-list {
                overflow-y: auto;

                .group {
                    background-color: $color-background-row-alt;
                    padding: $spacing-small $spacing-medium;
                    font-size: $font-size-medium-alt;

                    &:not(:first-child) {
                        margin-top: $spacing-medium;
                    }
                }

                .item {
                    border-top: $width-separator-thin solid $color-separator;
                }

                .group + .item {
                    border-top: 0;
                }
            }
        }

        .right-container {
            display: flex;
            flex-direction: column;
            width: 70%;

            .selection-bar {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: space-between;
                border-bottom: $width-separator-thin solid $color-separator;
                padding: 0 $spacing-small;
                height: 48px;

                .select-input {
                    padding: $spacing-medium $spacing-small;
                }
            }

            .selection-box {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .header {
                    flex-shrink: 0;
                    padding: $spacing-medium $spacing-small;
                    text-transform: uppercase;
                    font-size: $font-size-medium;
                    font-weight: $font-weight-light;
                }

                .tree {
                    flex-grow: 1;
                    overflow-y: auto;

                    :global {
                        .parent-node {
                            padding: $spacing-extra-small $spacing-small;

                            .button {
                                &.node-title {
                                    color: $color-text-disabled;
                                    font-weight: $font-weight-bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
