
--height-expanded-view-chart: 80vh;
--width-expanded-view: 90vw;

.data-series {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-small);
            overflow: hidden;
            text-transform: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: var(--color-text);
        }

        .actions {
            display: flex;
            flex-shrink: 0;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .vertical-bar-chart,
        .horizontal-bar-chart,
        .geo-visualization,
        .word-cloud {
            flex-grow: 1;
            overflow: auto;
        }
    }
}

.expanded-view {
    width: var(--width-expanded-view);

    .action-buttons {
        display: flex;
    }

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-medium) var(--spacing-medium-alt);

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-small);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: var(--color-text);
            font-size: var(--font-size-large);
            font-weight: var(--font-weight-medium);
        }

        .action-buttons {
            display: flex;
            flex-shrink: 0;
        }
    }

    .body {
        padding: 0;

        .health-stats {
            display: flex;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-small) var(--spacing-medium);

            .text {
                margin-right: var(--spacing-medium);
            }
        }

        .horizontal-bar-chart,
        .vertical-bar-chart,
        .word-cloud,
        .geo-visualization {
            padding: var(--spacing-large);
            height: var(--height-expanded-view-chart);
        }

        .geo-visualization {
            padding: 0;
        }
    }
}

.fixed-tabs {
    flex-shrink: 0;
    margin-right: var(--spacing-small);
    background-color: transparent;

    .tab {
        flex-shrink: 0;
        margin: var(--spacing-extra-small) 0;
        outline: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding: var(--spacing-extra-small) var(--spacing-small);
        color: var(--color-text-label);
        font-family: inherit;
        font-size: inherit;
        user-select: none;

        .icon {
            height: var(--font-size-extra-small);
        }

        &.active-tab {
            // background-color: fade-out(var(--color-accent), .92);
            // TODO: use hint of accent color
            background-color: var(--color-background-hover);
            color: var(--color-accent);
        }

        &:hover {
            background-color: var(--color-foreground-alt);
        }
    }
}
