@import '~base-scss/base';

$height-expanded-view-chart: 80vh;
$width-expanded-view: 90vw;

.data-series {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .heading {
            flex-grow: 1;
            padding: 0 $spacing-small;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $color-text;
        }

        .actions {
            display: flex;
            flex-shrink: 0;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .vertical-bar-chart,
        .horizontal-bar-chart,
        .geo-visualization,
        .word-cloud {
            flex-grow: 1;
            overflow: auto;
        }
    }
}

.expanded-view {
    width: $width-expanded-view;

    .action-buttons {
        display: flex;
    }

    .body {
        padding: 0;

        .horizontal-bar-chart,
        .vertical-bar-chart,
        .word-cloud,
        .geo-visualization {
            padding: $spacing-large;
            height: $height-expanded-view-chart;
        }

        .geo-visualization {
            padding: 0;
        }
    }
}

.fixed-tabs {
    .tab {
        flex-shrink: 0;
        outline: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding: $spacing-extra-small $spacing-small;
        color: $color-text-label;
        font-family: inherit;
        font-size: inherit;
        user-select: none;

        &.active-tab {
            background-color: fade-out($color-accent, .92);
            color: $color-accent;
        }
    }
}
