@import '~base-scss/base';

.data-series {
    display: flex;
    flex-direction: column;
    padding: $spacing-small $spacing-medium;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 24px;

        h5 {
            color: $color-text;
            font-weight: $font-weight-bold;
        }
    }

    .preview {
        height: calc(100% - 32px);
    }

    .chart {
        :global {
            .fill {
                opacity: 0.3;
                fill: $color-accent;
                stroke: $color-accent;
            }
            .line {
                stroke: $color-accent;
            }
        }
    }

    .table {
        display: grid;
        border: $width-separator-thin solid $color-separator;
        overflow: auto;
        grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
        grid-auto-rows: max-content;

        .table-item {
            border: $width-separator-thin solid $color-separator;
            padding: $spacing-extra-small $spacing-small;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
