.full-page-header {
    display: flex;
    align-items: center;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--dui-color-foreground);
    padding: 0 calc(var(--dui-spacing-super-large) - var(--dui-spacing-medium));
    overflow: auto;

    .heading-section {
        flex-grow: 1;

        .heading {
            flex-grow: 1;
        }

        .heading-container {
            align-self: stretch;
            flex-grow: 1;

            .content {
                align-self: stretch;
                flex-grow: 1;
                padding: 0!important;
            }
        }


        .icon-wrapper {
            display: flex;
            align-items: center;
            padding: var(--dui-spacing-small) var(--dui-spacing-medium);

            .icon {
                height: 2rem;
                color: var(--dui-color-brand);
            }
        }
    }
}
