.map {
    width: auto;
    height: 50em;
}

.controls {
    position: absolute;
    right: 0;
    bottom: var(--dui-spacing-large);
    background-color: var(--color-background-mapbox-controls);
    padding: var(--dui-spacing-small);
    width: 12rem;

    .slider-input {
        width: 10rem;
    }
}
