@import '~base-scss/base';

.modal {
    width: 480px;
    height: 70vh;

    .add-org-modal {
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100%;

        .modal-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: $spacing-large;
            overflow-y: auto;

            .image-input {
                width: 128px;
            }

            .logo-title {
                margin-top: $spacing-small;
                margin-bottom: $spacing-extra-small;
            }
        }
    }

    :global {
        .image-input-preview {
            border: $width-separator-thin solid $color-separator;
            width: 128px;
            height: 128px;

            img {
                width: 100%;
                height: 100%;
            }

        }
        .file-input {
            label {
                margin-top: $spacing-small;
                @include button-like-link($color-accent);
            }
        }
    }
}


