.project-connector-detail {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: calc(var(--spacing-large) - var(--spacing-medium)) 0;
    overflow-y: auto;

    --inactive-opacity: 0.5;
    --active-opacity: 1;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: var(--spacing-medium) calc(var(--spacing-large) - var(--spacing-small));

        .heading {
            flex-grow: 1;
            opacity: var(--inactive-opacity);
            padding: 0 var(--spacing-small);
            color: var(--color-text-label);
            font-size: var(--font-size-extra-large);
            font-weight: var(--font-weight-bold);
        }

        .status {
            flex-shrink: 0;
            opacity: var(--inactive-opacity);
            padding: 0 var(--spacing-small);

            .updated-on {
                display: flex;
                padding: 0 calc(var(--spacing-small) - var(--spacing-extra-small));

                .label {
                    padding: 0 var(--spacing-extra-small);
                    color: var(--color-text-label);
                }

                .date {
                    padding: 0 var(--spacing-extra-small);
                }
            }
        }

        .actions {
            display: flex;
            flex-shrink: 0;
            padding: 0 var(--spacing-small);

            .button {
                opacity: var(--inactive-opacity);
                font-size: var(--font-size-large);

                &:not(:first-child) {
                    margin-left: var(--spacing-small);
                }
            }
        }
    }

    .content {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: calc(var(--spacing-medium) - var(--spacing-extra-small-alt)) calc(var(--spacing-large) - var(--spacing-extra-small-alt));
        overflow: auto;

        .connector-source-details {
            flex-basis: calc(100% / 3 - var(--spacing-extra-small-alt) * 2);
            flex-grow: 0;
            opacity: var(--inactive-opacity);
            margin: var(--spacing-extra-small-alt);
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: 5px;
            background-color: var(--color-background);
            max-width: calc(100% / 3 - var(--spacing-extra-small-alt) * 2);
        }
    }

    &.active {
        .content {
            .connector-source-details {
                opacity: var(--active-opacity);
            }
        }

        .header {
            .heading {
                opacity: var(--active-opacity);
                color: var(--color-accent);
            }

            .status {
                opacity: var(--active-opacity);
            }

            .actions {
                .button {
                    opacity: var(--active-opacity);
                }
            }
        }
    }
}
