.project-connector-detail {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: calc(var(--spacing-large) - var(--spacing-medium)) 0;
    overflow-y: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: var(--spacing-medium) calc(var(--spacing-large) - var(--spacing-small));

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-small);
            color: var(--color-text);
            color: var(--color-accent);
            font-size: var(--font-size-extra-large);
            font-weight: var(--font-weight-bold);
        }

        .status {
            flex-shrink: 0;
            padding: 0 var(--spacing-small);

            .updated-on {
                display: flex;
                padding: 0 calc(var(--spacing-small) - var(--spacing-extra-small));

                .label {
                    padding: 0 var(--spacing-extra-small);
                    color: var(--color-text-label);
                }

                .date {
                    padding: 0 var(--spacing-extra-small);
                }
            }
        }

        .actions {
            display: flex;
            flex-shrink: 0;
            padding: 0 var(--spacing-small);

            .button {
                font-size: var(--font-size-large);

                &:not(:first-child) {
                    margin-left: var(--spacing-small);
                }
            }
        }
    }

    .content {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: calc(var(--spacing-medium) - var(--spacing-extra-small-alt)) calc(var(--spacing-large) - var(--spacing-extra-small-alt));
        overflow: auto;

        .connector-source-details {
            flex-basis: calc(100% / 3 - var(--spacing-extra-small-alt) * 2);
            margin: var(--spacing-extra-small-alt);
            background-color: var(--color-background);
        }
    }
}
