.list-item {
    display: block;
    // border-bottom: var(--width-separator-thin) solid var(--color-separator);
    border-left: var(--width-separator-thick) solid transparent;
    padding: var(--spacing-small-alt) var(--spacing-medium);
    width: 100%;
    text-transform: none;

    &:hover {
        background-color: var(--color-background-hover);
    }

    &.active {
        border-left-color: var(--color-accent);
        background-color: var(--color-background-accent-hint);
        color: var(--color-text-on-accent-hint);
    }
}
