@import '~base-scss/utils';

.gallery-viewer {
    width: 100%;
    height: 100%;

    .urlbar {
        display: flex;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-background-header);
        padding: var(--spacing-small);

        .url {
            display: flex;
            align-items: center;
            flex-grow: 1;

            :global .input {
                border: var(--width-separator-thin) solid var(--color-separator);
                border-radius: 3px;
                background-color: var(--color-foreground);
                padding: var(--spacing-small) var(--spacing-small);
            }
        }

        .action-buttons {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: var(--spacing-small);

            .open-link {
                @extend %transparent-button-like-link;
                color: var(--color-accent);
                font-size: var(--font-size-large);
            }

            button {
                font-size: var(--font-size-large);
            }

            .paint-brush-button {
                color: var(--color-primary);
            }
        }
    }

    .doc-container {
        position: relative;
        width: 100%;
        height: 100%;

        .doc {
            border: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.urlbar-shown {
        .doc-container {
            height: calc(100% - 48px);
        }
    }
}

.error-url {
    flex-grow: 1;
    height: auto;
    color: var(--color-danger);
}
