.gallery-viewer {
    width: 100%;
    height: 100%;

    .doc-container {
        position: relative;
        width: 100%;
        height: 100%;

        .doc {
            border: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.urlbar-shown {
        .doc-container {
            height: calc(100% - 48px);
        }
    }
}
