.matrix-2d-widget-form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: var(--dui-spacing-medium);

    .container {
        background-color: var(--dui-color-foreground);
    }

    .container-content {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);
    }

    .editor-content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: var(--dui-spacing-medium);
    }

    .sortable-list {
        display: flex;
        flex-direction: column;
        border-left: var(--dui-width-separator-medium) dotted var(--dui-color-separator);
        padding-left: var(--dui-spacing-medium);
        gap: var(--dui-spacing-medium);
    }

    .tab-list {
        flex-shrink: 0;
        .tab {
            &.errored {
                color: var(--dui-color-danger);
            }
        }

        >* {
            flex-grow: 1;
        }
    }
}
