.entry-item {
    &.is-flipped {
        --max-height-entry: 360px;
    }

    &.is-being-dragged {
        --max-height-entry: 120px;
    }

    margin: var(--dui-spacing-medium);
    border-radius: var(--dui-border-radius-card);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--dui-color-white);
    max-height: var(--max-height-entry);

    .heading-section {
        align-items: center;

        .preview-button {
            opacity: 0;
        }

        .heading-item {
            color: var(--dui-color-text-label);
        }

        .authors {
            display: inline-block;
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .heading-container {
            align-items: center;

            .heading {
                font-size: var(--dui-font-size-medium);
            }
        }
        .header-actions {
            transition: all var(--dui-duration-transition-medium) ease-in-out;
            opacity: 0;
            color: var(--dui-color-accent);
        }
    }

    &:hover {
        .preview-button {
            opacity: 1;
        }
        .header-actions {
            opacity: 1;
        }
    }

    .children {
        display: flex;
        flex-direction: column;
        overflow: auto;
        &:not(&.image) {
            max-height: var(--max-height-entry);
        }
        &.image {
            height: 120px;
        }

        .entry-detail {
            background-color: unset;
            padding: unset;
            overflow: auto;
        }
    }

    &.disabled {
        opacity: var(--dui-opacity-disabled-element);
        /* FIXME: this is a hack */
        pointer-events: none;
    }

    &.new-entry {
        border-left: var(--dui-width-separator-thick) solid var(--dui-color-complement1);
    }
}
