.entry-item {
    &.is-flipped {
        --max-height-entry: 360px;
    }

    &.is-being-dragged {
        --max-height-entry: 120px;
    }
    margin: var(--dui-spacing-medium);
    background-color: var(--dui-color-white);
    max-height: var(--max-height-entry);

    .heading-section {
        align-items: center;

        .heading-container {
            align-items: center;

            .heading {
                font-size: var(--dui-font-size-medium);
            }
        }
        .header-actions {
            color: var(--dui-color-accent);
        }
    }

    .children {
        display: flex;
        flex-direction: column;
        overflow: auto;
        &:not(&.image) {
            max-height: var(--max-height-entry);
        }
        &.image {
            height: 120px;
        }

        .entry-detail {
            background-color: unset;
            padding: unset;
            overflow: auto;
        }
    }

    &.disabled {
        opacity: var(--dui-opacity-disabled-element);
        /* FIXME: this is a hack */
        pointer-events: none;
    }

    &.new-entry {
        border-left: var(--dui-width-separator-thick) solid var(--dui-color-complement1);
    }
}
