.map-tooltip {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-foreground);
    max-width: 450px;

    .list {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);

        .tooltip-container {
            .project-title {
                color: var(--dui-color-brand);
                font-size: var(--dui-font-size-large);
                font-weight: var(--dui-font-weight-bold);
            }

            .description {
                line-height: 2;
            }

            &:not(:last-child) {
                border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: unset;

        .pager {
            display: flex;
            justify-content: center;
            overflow: auto;
        }
    }

    .inline {
        display: flex;
        justify-content: space-between;
        margin: var(--dui-spacing-small) 0;
    }
}
