.map-tooltip {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-foreground);
    max-width: 450px;

    .tooltip-container {
        border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        padding: var(--dui-spacing-medium) 0;
    }

    .list {
        display: flex;
        flex-direction: column;

        .project-title {
            color: var(--dui-color-brand);
            font-size: var(--dui-font-size-large);
            font-weight: var(--dui-font-weight-bold);
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: unset;
    }
    .pager {
        display: flex;
        justify-content: center;
        overflow: auto;
    }
}
