.add-stakeholder-modal {
    display: flex;

    .heading {
        color: var(--dui-color-brand);
    }

    .modal-body {
        display: flex;

        .left {
            display: flex;
            flex-basis: 35%;
            flex-grow: 1;
        }

        .right {
            display: flex;
            flex-basis: 65%;
            flex-grow: 1;
            flex-wrap: wrap;
            overflow: auto;
        }
    }

    .footer {
        display: flex;
    }
}
