.assignment-item {
    display: flex;
    border-bottom: var(--width-separator-thin) solid var(--dui-border-color-card);
    padding: calc(var(--dui-spacing-extra-large) - var(--dui-spacing-small));

    .content {
        display: block;
        flex-grow: 1;

        .assignment-title {
            display: inline-block;

            .link {
                display: inline-flex;
                flex-shrink: 0;
                padding: 0;
                color: var(--dui-color-accent);
                font-weight: var(--font-weight-bold);
            }

            .text {
                display: inline;
            }
        }

        .date-container {
            display: flex;

            .date {
                display: block;
                flex-grow: 1;
                padding: var(--dui-spacing-small);
            }

            .button {
                flex-shrink: 0;
                padding: var(--dui-spacing-small);
                color: var(--dui-color-accent);
                font-size: var(--dui-font-size-large);
            }
        }
    }
}
