.new-assessment-export {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .header {
        flex-shrink: 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--dui-color-background);
        padding: var(--dui-spacing-extra-large) var(--dui-spacing-super-large);
        overflow-y: auto;
        gap: var(--dui-spacing-large);

        .top-bar {
            flex-shrink: 0;
            background-color: var(--dui-color-foreground);

            .top-bar-content {
                display: flex;
                align-items: center;

                .title-input {
                    padding: var(--dui-spacing-medium);
                    width: 24rem;
                }
            }
        }

        .leads-table-container {
            display: flex;
        }
    }
}
