@import '~base-scss/widget';

.widget-form {
    position: relative;

    .widget {
        @extend %widget;
        padding: var(--spacing-extra-small);

        .header {
            display: flex;
            align-items: center;

            .heading {
                flex-grow: 1;
                padding: 0 var(--spacing-small);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.excerpt-widget-heading {
                    color: var(--color-text-on-primary);
                }
            }

            &.excerpt-widget-header {
                background-color: var(--color-primary);
            }

            &.error {
                .heading {
                    color: var(--color-danger);
                    >span {
                        display: inline-block;
                        margin-right: var(--spacing-small);
                    }
                }
            }
        }
    }
}
