@import '~base-scss/base';

.message-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $color-danger;
    font-size: $font-size-extra-large;

    .button {
        margin-top: $spacing-medium;
    }
}
