@import '~base-scss/utils';

.button {
    @extend %button-base;
    padding: var(--spacing-small-alt) var(--spacing-medium);
    text-transform: uppercase;

    &.error {
        color: var(--color-danger);
    }
}
