@import '~base-scss/base';
@import '~rs-scss/button-base';

.button {
    @extend %button-base;
    padding: $spacing-small-alt $spacing-medium;
    text-transform: uppercase;

    &.error {
        color: $color-danger;
    }
}
