
.selection-item {
    .top {
        display: flex;
        align-items: center;

        .document-link {
            flex-grow: 1;
            padding: 0 var(--spacing-small);
            overflow: hidden;
            text-transform: none;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                color: var(--color-accent);
            }
        }

        .remove-button {
            flex-shrink: 0;
            margin-left: var(--spacing-small);
        }
    }

    .page-range {
        display: flex;
        padding: var(--spacing-small);

        .start-page-input {
            margin-right: var(--spacing-small);
        }
    }
}
