.column-title-th {
    overflow: hidden;
    font-weight: var(--font-weight-bold);

    .column-title {
        vertical-align: middle;
        text-align: center;
        overflow-wrap: break-word;
    }

    &.rotated {
        .column-title {
            transform: rotate(180deg);
            writing-mode: vertical-rl;
            overflow-wrap: anywhere;
        }
    }
}
