@import '~base-scss/base';

$width-sidebar: 240px;
$page-margin: $spacing-small-alt;

.loading {
    height: 100%;
}

.country-panel {
    .sidebar {
        display: flex;
        position: relative;
        flex-direction: column;

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            background-color: $color-background-header;
            padding: $spacing-small;
            color: $color-text-on-background-header;

            .heading {
                flex-grow: 1;
            }

            .search-input {
                flex-basis: 100%;
                padding: 0;
            }
        }

        .country-list {
            flex-grow: 1;
            overflow-y: auto;

            .country-list-item {
                border-bottom: 0;
                border-left: 0;
                padding: 0;
            }

            :hover {
                background-color: $color-background-hover;
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;

        .country-detail {
            flex-grow: 1;
            background-color: $color-background-alt;
            color: $color-text-on-background-alt;
        }

        .country-detail-alt {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            background-color: $color-foreground;
            padding: $spacing-medium-alt;
            color: $color-text-on-foreground;
            font-size: $font-size-extra-large;
        }
    }
}
