:root {
    --width-sidebar: 240px;
    --page-margin: var(--spacing-small-alt);
}

.loading {
    height: 100%;
}

.country-panel {
    .sidebar {
        display: flex;
        position: relative;
        flex-direction: column;

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-background-header);
            padding: var(--spacing-small);
            color: var(--color-text-on-background-header);

            .heading {
                flex-grow: 1;
            }

            .search-input {
                flex-basis: 100%;
                padding: 0;
            }
        }

        .country-list {
            flex-grow: 1;
            overflow-y: auto;

            .country-list-item {
                border-bottom: 0;
                border-left: 0;
                padding: 0;
            }

            :hover {
                background-color: var(--color-background-hover);
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;

        .country-detail {
            flex-grow: 1;
            background-color: var(--color-background-alt);
            color: var(--color-text-on-background-alt);
        }

        .country-detail-alt {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            background-color: var(--color-foreground);
            padding: var(--spacing-medium-alt);
            color: var(--color-text-on-foreground);
            font-size: var(--font-size-extra-large);
        }
    }
}
