.recent-activity {
    display: flex;
    flex-direction: column;
    padding: var(--dui-spacing-large);

    .header {
        padding: var(--dui-spacing-small) 0;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        background-color: var(--dui-color-negative);
        padding: 0;
        height: 420px;
        overflow-y: auto;

        .activity-list {
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}
