.recent-activity {
    display: flex;
    flex-direction: column;

    .header {
        padding: var(--dui-spacing-small) 0;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: var(--dui-color-negative);
        height: 420px;
        overflow-y: auto;

        .activity-list {
            flex-grow: 1;
            overflow-y: auto;

            .activity-item {
                display: flex;
                align-items: center;
                border-bottom: var(--width-separator-thin) solid var(--dui-border-color-card);
                padding: calc(var(--dui-spacing-extra-large) - var(--dui-spacing-small));

                .display-picture {
                    margin-right: var(--spacing-medium);
                    border-radius: 50%;
                    background: var(--color-foreground);
                    padding: var(--spacing-medium);
                }

                .link {
                    text-decoration: underline;
                    color: var(--dui-color-accent);
                    font-weight: var(--font-weight-bold);
                }

                .date-container {
                    display: flex;

                    .date {
                        display: block;
                        flex-grow: 1;
                        padding: var(--dui-spacing-small);
                    }
                }
            }
        }
    }
}
