
--width-input-max: 240px;

.sheet-list {
    flex-grow: 1;

    .sheet-setting {
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding-bottom: var(--spacing-small);

        .header {
            display: flex;
            padding: var(--spacing-medium) 0;

            .sheet-title {
                flex-grow: 1;
                padding: 0 var(--spacing-medium);
                text-transform: none;
            }

        }

        .content {
            display: flex;

            .input {
                margin: 0 var(--spacing-medium);
                width: 100%;
                max-width: var(--width-input-max);
            }

            .left-content {
                flex-basis: 50%;
            }
        }
    }
}
