@import '~base-scss/base';

$width-input-max: 240px;

.sheet-list {
    flex-grow: 1;

    .sheet-setting {
        border-bottom: $width-separator-thin solid $color-separator;
        padding-bottom: $spacing-small;

        .header {
            display: flex;
            padding: $spacing-medium 0;

            .sheet-title {
                flex-grow: 1;
                padding: 0 $spacing-medium;
                text-transform: none;
            }

        }

        .content {
            display: flex;

            .input {
                margin: 0 $spacing-medium;
                width: 100%;
                max-width: $width-input-max;
            }

            .left-content {
                flex-basis: 50%;
            }
        }
    }
}
