@import '~base-scss/utils';

:root {
    --width-table: 320px;
}

%cell {
    padding: var(--spacing-small);
}

.score {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);

    .summary {
        display: flex;
        flex-shrink: 0;
        justify-content: space-around;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-medium);

        .left {
            display: flex;
            flex-grow: 1;
        }

        .right {
            flex-shrink: 0;
        }

        .scale-item {
            margin-right: var(--spacing-extra-small);
        }

        .final-score-item {
            border: var(--width-separator-thin) solid var(--color-foreground);
            box-shadow: 0 0 var(--radius-blur-small) var(--color-shadow-medium);
        }
    }

    >.content {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        .right {
            overflow-y: auto;

            .matrix-pillar {
                flex-wrap: wrap;

                >.title {
                    padding: var(--spacing-small);
                    text-transform: capitalize;
                    color: var(--color-accent);
                    font-weight: var(--font-weight-bold);
                }

                .content {
                    display: flex;
                    flex-wrap: wrap;

                    .matrix-question {
                        padding: var(--spacing-small);

                        .title {
                            color: var(--color-text);
                        }
                    }
                }

            }
        }

        .left {
            flex-basis: var(--width-table);
            flex-shrink: 0;
            border-right: var(--width-separator-thin) solid var(--color-separator);
            overflow-y: auto;

            .table {
                width: 100%;
                border-collapse: collapse;

                .body {
                    .header-row {
                        &:not(:first-child) {
                            border-top: var(--width-separator-thin) solid var(--color-separator);
                        }

                        .pillar-title {
                            @extend %cell;
                            position: sticky;
                            top: 0;
                            left: 0;
                            background-color: var(--color-foreground);
                            text-transform: capitalize;
                            color: var(--color-accent);
                            font-weight: var(--font-weight-bold);
                        }
                    }
                    .row {
                        @include transition-medium();

                        .cell {
                            @extend %cell;

                            .content {
                                display: flex;
                                align-items: flex-start;
                                justify-content: space-between;

                                .title {
                                    align-self: center;
                                }

                                .info-icon {
                                    transition: var(--duration-medium) opacity ease-in-out;
                                    opacity: 0;
                                    color: var(--color-text-label);
                                    font-size: var(--font-size-extra-large);
                                }
                            }
                        }

                        &:hover {
                            background-color: var(--color-background-hover);

                            .cell {
                                .content {
                                    .info-icon {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
