@import '~base-scss/base';

$width-table: 320px;

%cell {
    padding: $spacing-small;
}

.score {
    display: flex;
    flex-direction: column;
    background-color: $color-foreground;

    .summary {
        display: flex;
        flex-shrink: 0;
        justify-content: space-around;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        padding: $spacing-medium;

        .left {
            display: flex;
            flex-grow: 1;
        }

        .right {
            flex-shrink: 0;
        }

        .scale-item {
            margin-right: $spacing-extra-small;
        }

        .final-score-item {
            border: $width-separator-thin solid $color-foreground;
            box-shadow: 0 0 $radius-blur-small $color-shadow-medium;
        }
    }

    >.content {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        .right {
            overflow-y: auto;

            .matrix-pillar {
                flex-wrap: wrap;

                >.title {
                    padding: $spacing-small;
                    text-transform: capitalize;
                    color: $color-accent;
                    font-weight: $font-weight-bold;
                }

                .content {
                    display: flex;
                    flex-wrap: wrap;

                    .matrix-question {
                        padding: $spacing-small;

                        .title {
                            color: $color-text;
                        }
                    }
                }

            }
        }

        .left {
            flex-basis: $width-table;
            flex-shrink: 0;
            border-right: $width-separator-thin solid $color-separator;
            overflow-y: auto;

            .table {
                width: 100%;
                border-collapse: collapse;

                .body {
                    .header-row {
                        &:not(:first-child) {
                            border-top: $width-separator-thin solid $color-separator;
                        }

                        .pillar-title {
                            @extend %cell;
                            position: sticky;
                            top: 0;
                            left: 0;
                            background-color: $color-foreground;
                            text-transform: capitalize;
                            color: $color-accent;
                            font-weight: $font-weight-bold;
                        }
                    }
                    .row {
                        @include transition-medium();

                        .cell {
                            @extend %cell;

                            .content {
                                display: flex;
                                align-items: flex-start;
                                justify-content: space-between;

                                .title {
                                    align-self: center;
                                }

                                .info-icon {
                                    transition: $duration-medium opacity ease-in-out;
                                    opacity: 0;
                                    color: $color-text-label;
                                    font-size: $font-size-extra-large;
                                }
                            }
                        }

                        &:hover {
                            background-color: $color-background-hover;

                            .cell {
                                .content {
                                    .info-icon {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
