.report-builder {
    padding: var(--dui-spacing-small);
    height: auto;
    overflow-y: auto;

    .containers {
        display: grid;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: var(--dui-spacing-small);
        grid-template-columns: repeat(12, 1fr);
        width: 210mm;
        grid-gap: var(--dui-spacing-small);
    }
}
