.comment-form {
    display: flex;
    gap: var(--dui-spacing-medium);

    .container {
        display: flex;
        flex-grow: 1;
        background-color: var(--dui-color-white);

        .comment-area {
            background-color: var(--dui-color-background-information);
        }
    }
}
