
.table-header-row {
    background-color: var(--color-foreground);
    padding: var(--spacing-small);
    color: var(--color-text-on-foreground);

    &.not-similar {
        background-color: var(--color-danger);
        color: var(--color-text-on-danger);
    }

    &.similar {
        background-color: var(--color-success);
        color: var(--color-text-on-success);
    }

    &.partial-similar {
        background-color: var(--color-background);
        color: var(--color-text-on-background);
    }
}
