@import '~base-scss/base';

.organization-item {
    display: flex;
    align-items: center;
    border-bottom: $width-separator-thin solid $color-separator;
    cursor: grab;

    .logo {
        flex-shrink: 0;
        margin: 0 $spacing-medium;
        width: $font-size-super-large;
        height: $font-size-super-large;

        .image {
            width: 100%;
            height: 100%;
        }

        .icon {
            font-size: $font-size-super-large;
        }
    }

    .text {
        flex-grow: 1;
        padding: $spacing-medium 0;

        .top {
            .name {
                padding: 0 $spacing-medium;
                font-size: $font-size-large;
            }
        }

        .bottom {
            display: flex;
            align-items: flex-start;

            .abbr {
                flex-grow: 1;
                padding: 0 $spacing-medium;
                color: $color-text-label;
            }
        }
    }


    &:hover {
        background-color: $color-background-hover;
    }
}
