.pillar-analysis {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-white);
    height: 100vh;
    overflow-y: auto;

    .header {
        flex-shrink: 0;

        .breadcrumb {
            font-size: var(--dui-font-size-large);
            font-weight: var(--dui-font-weight-bold);
        }

        .actions {
            display: flex;
            align-items: center;
            padding: 0 calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

            .button {
                margin: var(--dui-spacing-small);
            }
        }
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .inputs-container {
            display: flex;
            flex-shrink: 0;
            padding: var(--dui-spacing-medium) calc(var(--dui-spacing-super-large) - var(--dui-spacing-large));

            .input-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: var(--dui-spacing-large);

                .input-header {
                    padding: var(--dui-spacing-medium) 0;
                }
            }
        }

        .entries-filter {
            flex-shrink: 0;
            padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
        }

        .workspace {
            display: flex;
            flex-grow: 1;
            background-color: var(--dui-color-background);
            overflow: auto;

            --width-left-container: 420px;

            .left-container {
                display: flex;
                flex-basis: var(--width-left-container);
                flex-direction: column;
                flex-shrink: 0;
                background-color: var(--dui-color-surface-informational);
                overflow: auto;

                .header {
                    flex-shrink: 0;
                    padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
                }

                .entries {
                    flex-grow: 1;
                    padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
                    overflow-y: auto;
                }

                .pager {
                    padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
                }
            }

            .right-container {
                display: flex;
                flex-basis: calc(100% - var(--width-left-container));
                padding: calc(var(--dui-spacing-extra-large) - var(--dui-spacing-medium));
                overflow: auto;

                .analytical-statement {
                    flex-shrink: 0;
                }

                .add-statement-button {
                    align-self: flex-start;
                    flex-shrink: 0;
                    margin: var(--dui-spacing-medium);
                }
            }
        }
    }
}
