.modal-body {
    display: flex;

    .form {
        display: flex;
        flex-direction: column;

        .usergroup-list {
            display: flex;
            margin: 0 var(--spacing-small);
        }

        .role-list {
            display: flex;
            margin: 0 var(--spacing-small);
        }

        .inline {
            display: flex;
        }
    }
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin: var(--spacing-medium) 0;
}

.options-popup {
    z-index: 1;
}
