
.icons {
    display: flex;
    align-items: center;
    padding: 0 calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small));

    >* {
        margin: 0 var(--dui-spacing-extra-small);
    }
}

.children {
    display: flex;
    align-items: center;
    padding: 0 var(--dui-spacing-small);
}

.actions {
    display: flex;
    align-items: center;
    padding: 0 calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small));

    >* {
        margin: 0 var(--dui-spacing-extra-small);
    }
}
