{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        [
            "@babel/preset-stage-2",
            { "decoratorsLegacy": true }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ],
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "#rsca": "./src/vendor/react-store/components/Action",
                    "#rscg": "./src/vendor/react-store/components/General",
                    "#rsci": "./src/vendor/react-store/components/Input",
                    "#rscv": "./src/vendor/react-store/components/View",
                    "#rscz": "./src/vendor/react-store/components/Visualization",
                    "#rsu": "./src/vendor/react-store/utils",
                    "#rs": "./src/vendor/react-store",
                    "#ravl": "./src/vendor/ravl",

                    "#components": "./src/components",
                    "#widgetComponents": "./src/widgetComponents",
                    "#config": "./src/config",
                    "#entities": "./src/entities",
                    "#constants": "./src/constants",
                    "#redux": "./src/redux",
                    "#resources": "./src/resources",
                    "#rest": "./src/rest",
                    "#schema": "./src/schema",
                    "#utils": "./src/utils",

                    "#notify": "./src/notify",
                    "#store": "./src/store",
                    "#ts": "./src/ts"
                }
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [
                "babel-plugin-dynamic-import-node"
            ]
        }
    }
}
