.matrix {
    .row-list {
        display: flex;
        flex-direction: column;

        .matrix-row {
            .column {
                display: flex;
                gap: var(--dui-spacing-small);

                .sub-row-label {
                    flex-basis: 50%;
                }

                .column-details {
                    display: flex;
                    flex-basis: 50%;
                    flex-direction: column;
                    justify-content: flex-end;

                    .sub-row-label {
                        font-weight: var(--dui-font-weight-bold);
                    }

                    .column-label {
                        font-weight: var(--dui-font-weight-bold);
                    }

                    .selected-values {
                        color: var(--dui-color-accent);
                        font-weight: var(--dui-font-weight-bold);
                    }
                }
            }
        }
    }
}
