.matrix {
    .open-popup-button {
        font-size: var(--dui-font-size-extra-small);
    }

    .row-list {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);

        .matrix-row {
            display: flex;
            flex-direction:column;
            gap: var(--dui-spacing-medium);

            .row-title {
                font-weight: var(--dui-font-weight-bold);
            }

            .column {
                .column-details {
                    display: flex;
                    flex-direction: column;
                    gap: var(--dui-spacing-extra-small);

                    .separator-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--dui-color-text-label);
                    }

                    .column-title {
                        display: inline-flex;
                        align-items: center;
                        gap: var(--dui-spacing-small);

                        .subrow-label {
                            color: var(--dui-color-text-label);
                        }

                        .column-label {
                            color: var(--dui-color-text-label);

                            .small-button {
                                text-transform: unset;
                                font-size: var(--dui-font-size-small);
                            }
                        }
                    }

                    .sub-column-suggestions {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: var(--dui-spacing-small);

                        .separator-icon,
                        .badges-container {
                            display: inline-block;

                            .badges-list {
                                display: inline-flex;
                                flex-wrap: wrap;
                            }
                        }
                    }

                    .selected-values {
                        color: var(--dui-color-accent);
                    }

                    &.suggestion-mode {
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: var(--dui-spacing-extra-small);
                    }
                }
            }
        }
    }
}

.modal {
    min-width: 720px;
}
