.processing-lead {
    display: flex;
    flex-direction: column;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-small);

    .details-container {
        display: flex;
        align-items: center;

        .icon {
            flex-shrink: 0;
        }

        .title {
            padding: 0 var(--spacing-small);
        }
    }

    .progress-bar {
        display: block;
        flex-basis: 100%;
        transition: 1s opacity ease-in-out;
        opacity: 1;
        background-color: var(--color-background);
        width: 100%;
        height: var(--height-progress-bar);

        .progress {
            display: block;
            transition: .6s width ease-in-out;
            background-color: var(--color-accent);
            height: 100%;
        }

        &.completed {
            opacity: 0;
        }

        &.hide {
            opacity: 0;
        }
    }
}
