.processing-lead {
    display: flex;
    position: relative;
    flex-direction: column;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-small);

    .details-container {
        display: flex;
        align-items: center;

        .icon {
            flex-shrink: 0;
            margin: 0 var(--spacing-small);
            padding: 0;
            width: var(--width-icon-large);
            font-size: var(--font-size-large);
        }

        .title {
            flex-basis: calc(100% - (var(--width-icon-large) + var(--spacing-small) * 2 ) * 2);
            margin: 0;
            padding: var(--spacing-small) 0;
            text-align: left;
            word-break: break-all;
        }
    }

    .progress-bar {
        display: block;
        flex-basis: 100%;
        transition: 1s opacity ease-in-out;
        opacity: 1;
        background-color: var(--color-background);
        width: 100%;
        height: var(--height-progress-bar);

        .progress {
            display: block;
            transition: .6s width ease-in-out;
            background-color: var(--color-accent);
            height: 100%;
        }

        &.completed {
            opacity: 0;
        }

        &.hide {
            display: none;
        }
    }

    .button-container {
        display: none;
        position: absolute;
        top: 50%;
        right: var(--spacing-medium);
        transform: translateY(-50%);
    }

    &:hover {
        .button-container {
            display: initial;
            opacity: 1;

            .button {
                margin-left: var(--spacing-small);
            }
        }
    }
}
