.input-row {
    display: flex;
    align-items: center;
    padding: var(--spacing-small);
    width: 100%;

    .title {
        flex-shrink: 0;
        margin-right: var(--spacing-small);
    }

    .tooltip {
        flex-grow: 1;
    }

    .delete-button {
        flex-shrink: 0;
    }
}
