.progress-bar {
    display: flex;
    align-items: center;
    padding: var(--dui-spacing-small) calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

    .number-circle {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        margin: 0 var(--dui-spacing-small);
        border-radius: 50%;
        width: 2.6rem;
        height: 2.6rem;
        font-size: var(--dui-font-size-large);
        font-weight: var(--dui-font-weight-bold);

        &.complement1 {
            background-color: var(--dui-color-complement1);
            color: var(--dui-color-text-on-accent);
        }

        &.complement2 {
            background-color: var(--dui-color-complement2);
            color: var(--dui-color-text-on-accent);
        }

        &.complement3 {
            background-color: var(--dui-color-complement3);
            color: var(--dui-color-text-on-accent);
        }
    }

    .right {
        flex-grow: 1;
        padding: 0 var(--dui-spacing-small);

        .title {
            padding: var(--dui-spacing-extra-small) 0;
            font-size: var(--dui-font-size-small);
        }

        .line {
            background-color: var(--dui-color-grey6);
            height: var(--height-bar);

            .progress {
                transition: var(--dui-duration-transition-slow) width ease-in-out;
                background-color: var(--dui-color-accent);
                height: 100%;

                &.complement1 {
                    background-color: var(--dui-color-complement1);
                }

                &.complement2 {
                    background-color: var(--dui-color-complement2);
                }

                &.complement3 {
                    background-color: var(--dui-color-complement3);
                }
            }

            &.small {
                --height-bar: 0.5em;
                border-radius: calc(var(--height-bar) / 2);

                .progress {
                    border-radius: var(--dui-border-radius-progress-bar);
                }
            }

            &.large {
                --height-bar: 0.8em;
            }
        }
    }
}
