@import '~base-scss/utils';

.project-list {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-background-header);
        padding: var(--spacing-medium);
        color: var(--color-text-on-background-header);

        .heading {
            flex-grow: 1;
            text-transform: capitalize;
        }

        .search-input {
            flex-basis: 100%;
            margin-top: var(--spacing-medium);
        }

        .link {
            @include button-like-link(var(--color-accent));
            margin-right: var(--spacing-small);

            .discover-icon {
                padding-right: var(--spacing-small);
            }
        }
    }

    .project-list {
        flex-grow: 1;
        overflow-y: auto;

        .empty {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--spacing-medium);
            color: var(--color-text-disabled);
        }
    }
}
