.test-results {
    display: flex;
    position: relative;
    flex-direction: column;
    border-top: var(--width-separator-thin) solid var(--color-separator);

    .header {
        flex-shrink: 0;
        background-color: var(--color-background-header);
        padding: var(--spacing-small);
    }

    .table-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--color-foreground);
        overflow-y: auto;

        .table {
            flex-grow: 1;

            :global {
                .row {
                    border-bottom: var(--width-separator-thin) solid var(--color-separator);
                    background-color: var(--color-foreground);
                }
            }
        }
    }
}
