@import '~base-scss/base';

.project-join-request-notification {
    .display-picture {
        width: 100%;
        height: 100%;
    }

    .requestor-name {
        text-transform: none;
        font-weight: $font-weight-bold;
    }

    .project-title {
        text-transform: none;
        font-weight: $font-weight-bold;
    }

    .button {
        font-size: $font-size-medium;
    }
}
