@import '~base-scss/utils';


.entries-listing {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: auto;

    .entries-list {
        flex-grow: 1;
        overflow: auto;

        .entries-list-item {
            position: relative;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            border-left: var(--width-separator-thick) solid transparent;
            padding: var(--spacing-small);

            .add-entry-list-item {
                display: flex;
                justify-content: space-between;
                outline: 0;
                border: 0;
                background-color: transparent;
                padding: var(--spacing-small);
                width: 100%;
                text-align: left;
                font-family: inherit;
                font-size: inherit;

                .entry-excerpt {
                    flex-grow: 1;
                    padding-right: var(--spacing-large);
                    text-align: justify;
                }

                .image {
                    max-width: 100%;
                    max-height: 128px;
                    object-fit: contain;
                }
            }
        }
    }

    .lead-detail {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-top: var(--width-separator-thin) solid var(--color-accent);
        padding: var(--spacing-medium);

        .no-of-entries-wrap {
            display: flex;
            align-items: baseline;
            flex-grow: 1;
            padding: 0 var(--spacing-medium);

            .label {
                flex-shrink: 0;
                padding-right: var(--spacing-small);
                width: auto;

                &:after {
                    content: ':';
                }
            }
        }

        .edit-entries-link {
            @include button-like-link(var(--color-accent));
            flex-shrink: 0;
        }
    }
}
