.leads-filters {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;

        .heading {
            padding: var(--spacing-medium);
        }

        .filter {
            display: flex;
            flex-wrap: wrap;
            padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

            .leads-filter {
                margin: var(--spacing-small);
            }
        }
    }

    .action-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .button {
            align-self: flex-end;
            flex-shrink: 0;
            margin: var(--spacing-small);
        }
    }
}
