@import '~base-scss/utils';

.sector-title {
    display: flex;
    align-items: center;
    border-right: var(--width-separator-thick) solid transparent;
    background-color: var(--color-foreground);
    width: 100%;

    .title {
        @extend %button-base;
        flex-grow: 1;
        text-align: left;
        text-transform: capitalize;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-normal);

        &:focus {
            outline: none;
        }

        &:active {
            transform: none;
            box-shadow: 0;
        }

        &.has-error {
            color: var(--color-danger);
        }
    }

    .delete-button {
        flex-shrink: 0;
    }

    &.active {
        border-right-color: var(--color-accent);
        background-color: var(--color-background-selected);
    }
}
