.analysis-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: var(--width-separator-thin) solid var(--dui-border-color-card);
    border-radius: var(--dui-border-radius-card);
    background-color: var(--color-foreground);

    .header-right {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button {
            margin: 0 var(--dui-spacing-medium);
        }
    }

    .pillar-content {
        padding: 0 !important;

        .content {
            padding: var(--dui-spacing-large);

            .content-item {
                margin: var(--spacing-medium) 0;

                .sub-heading {
                    display: flex;
                    padding: var(--spacing-extra-small) 0;
                    color: var(--dui-color-text-dark);
                    font-size: var(--font-size-medium-alt);
                }

                .pillar-list-content {
                    display: flex;

                    .analyst {
                        flex-basis: 1;
                        margin-right: var(--spacing-small);
                        font-weight: var(--font-weight-bold);
                    }

                    .analysis-pillar {
                        flex-basis: 1;
                        margin-left: var(--spacing-small);
                    }
                }
            }
        }
        .pillar-analyses {
            display: flex;
            flex-direction: column;
            border-left: 4px solid var(--color-separator);

            .accordion-button {
                display: flex;
                flex-grow: 1;
                justify-content: flex-start;
                outline: var(--color-separator);
                border: var(--width-separator-thin) solid var(--color-separator);
                border-left: none;
                border-radius: 0;
                background: none;
                padding: var(--dui-spacing-extra-large) var(--dui-spacing-large);
                color: var(--color-link);
            }

            .pillar-analysis-content {
                padding: var(--dui-spacing-large);

                .pillar-list {
                    display: flex;
                    flex-grow: 1;

                    .bold-text {
                        margin-right: var(--spacing-small);
                    }
                }
            }
        }
    }

    .text-output {
        align-items: flex-start;
        flex-direction: column;
        font-size: var(--font-size-medium);

        .value {
            font-weight: var(--font-weight-bold);
        }
    }
}
