
.add-category-editor-form {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;

    .action-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        button {
            margin-left: var(--spacing-medium);
        }
    }
}

