:root {
    --region-detail-form-width: 320px;
}

.region-details-container {
    display: flex;
    flex-direction: column;
    overflow: auto;

    >.header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-background-header);
        padding: var(--spacing-small);
        color: var(--color-text-on-background-header);

        .action-buttons {
            display: flex;

            button {
                margin-left: var(--spacing-small);
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: auto;
        overflow: auto;

        &.view-only {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;

            .region-map {
                flex-grow: 1;
            }
        }

        .top {
            display: flex;
            flex-basis: 60%;
            flex-grow: 0;
            flex-shrink: 0;

            .region-map {
                flex-grow: 1;
                height: auto;
            }

            .region-detail-form {
                flex-basis: var(--region-detail-form-width);
                flex-shrink: 0;
                border-left: var(--width-separator-thin) solid var(--color-separator);
                background-color: var(--color-foreground);
                color: var(--color-text-on-foreground);
            }
        }

        .region-admin-level {
            flex-basis: 40%;
            flex-grow: 1;
            flex-shrink: 0;
            overflow: auto;
        }
    }
}
