@import '~base-scss/base';

$region-detail-form-width: 320px;

.region-details-container {
    display: flex;
    flex-direction: column;
    overflow: auto;

    >.header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-small;
        color: $color-text-on-background-header;

        .action-buttons {
            display: flex;

            button {
                margin-left: $spacing-small;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: auto;
        overflow: auto;

        &.view-only {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;

            .region-map {
                flex-grow: 1;
            }
        }

        .top {
            display: flex;
            flex-basis: 60%;
            flex-grow: 0;
            flex-shrink: 0;

            .region-map {
                flex-grow: 1;
                height: auto;
            }

            .region-detail-form {
                flex-basis: $region-detail-form-width;
                flex-shrink: 0;
                border-left: $width-separator-thin solid $color-separator;
                background-color: $color-foreground;
                color: $color-text-on-foreground;
            }
        }

        .region-admin-level {
            flex-basis: 40%;
            flex-grow: 1;
            flex-shrink: 0;
            overflow: auto;
        }
    }
}
