.header {
    display: flex;
    align-items: center;
    padding: var(--spacing-small) 0;

    .heading {
        display: flex;
        align-items: center;
        padding: 0 var(--spacing-small);
        color: var(--color-accent);
    }

    .non-field-errors {
        flex-grow: 1;
        padding: 0 var(--spacing-medium);
        text-align: center;
    }
}
