.sources-table-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    z-index: 0;
    min-height: 50vh;

    .content {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;

        .table {
            width: 100%;

            .title-column {
                min-width: 196px;
            }
        }

        .status {
            margin: var(--dui-spacing-small);
            height: var(--dui-font-size-large);
        }
    }
}
