.entry-input {
    display: flex;
    background-color: var(--dui-color-foreground);
    height: var(--height-entry-item);
    overflow-y: auto;
    --height-entry-item: 360px;
    --inner-width: 25%;

    &.compact {
        --height-entry-item: initial;
        --inner-width: unset;
        flex-direction: column;
    }

    .excerpt {
        background-color: var(--dui-color-foreground);
        width: var(--inner-width);
    }

    .section {
        background-color: var(--dui-color-foreground);
        width: var(--inner-width);
    }

    .secondary-tagging {
        background-color: var(--dui-color-foreground);
        width: var(--inner-width);
    }
}
