.entry-input {
    display: flex;
    flex-shrink: 0;
    background-color: var(--dui-color-foreground);
    height: var(--height-entry-item);
    overflow-y: auto;
    --height-entry-item: 360px;
    --inner-width: 25%;

    &.compact {
        --height-entry-item: initial;
        --inner-width: unset;
        flex-direction: column;
    }

    .heading-section {
        overflow: visible;
    }

    .excerpt {
        background-color: var(--dui-color-foreground);
        width: var(--inner-width);

        .header-actions {
            flex-wrap: wrap;
        }

        .excerpt-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: auto;

            .excerpt-input {
                flex-grow: 1;
            }
        }
    }

    .section {
        background-color: var(--dui-color-foreground);
        width: var(--inner-width);

        &.compact {
            border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        }
    }

    .secondary-tagging {
        background-color: var(--dui-color-foreground);
        width: var(--inner-width);
    }
}
