:root {
    --height-leftpanel-tabs: 48px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .tabs {
        flex-shrink: 0;
        height: var(--height-leftpanel-tabs);
    }

    .multiview-container {
        display: none;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--color-foreground-alt);
            overflow-y: auto;
        }

        &.active {
            display: flex;
        }
    }
}
