.edit-entry-modal {
    width: 96vw;
    height: 96vh;

    .body {
        padding: 0;
    }

    .error {
        flex-shrink: 0;
        padding: var(--spacing-medium);
        text-align: center;
        color: var(--color-danger);
    }

    .list-widgets {
        border-bottom: var(--width-separator-thick) solid var(--color-separator);
    }
}
