.entries-filter-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .filter {
        display: none;
        order: 1;
        margin: var(--dui-spacing-small);

        &.show-filter {
            display: block;
            order: 0;
        }
    }

    &.show-filters {
        .filter {
            display: block;
        }
    }

    .button {
        justify-self: flex-end;
        order: 2;
        margin: var(--dui-spacing-small);
    }
}
