.workshop {
    background-color: var(--dui-color-background);
    padding: var(--spacing-large);
    overflow: auto;

    .new-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        >* {
            margin: var(--dui-spacing-medium);
            width: fit-content;
        }
    }

    .links,
    .quick-action-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: var(--dui-color-white);

        >* {
            margin: var(--dui-spacing-medium);
            width: fit-content;
        }
    }

    .old-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        >* {
            margin: var(--dui-spacing-medium);
            width: fit-content;
        }
    }

    .button-like-links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        >* {
            margin: var(--dui-spacing-medium);
            width: fit-content;
        }
    }

    .tags {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        >* {
            margin: var(--spacing-medium);
        }
    }

    .inputs {
        display: flex;
        align-items: center;

        >* {
            flex-basis: calc(50% - var(--spacing-medium) * 2);
            margin: var(--spacing-medium);
        }
    }

    .pagination {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        >* {
            margin: var(--dui-spacing-medium);
        }
    }
}
