@import '~base-scss/base';

.workshop {
    @extend %main-content;
    padding: $spacing-small;
    overflow-y: auto;


    .page {
        background-color: $color-foreground;
        padding: $spacing-extra-large;
    }

    .faram {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        > * {
            padding: $spacing-small;
        }
    }
}
