.workshop {
    background-color: var(--dui-color-background);
    padding: var(--spacing-large);
    overflow: auto;

    .buttons {
        .new {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            >* {
                margin: var(--spacing-medium);
            }
        }

        .old {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            >* {
                margin: var(--spacing-medium);
            }
        }
    }
}
