
.tabular-book {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .header-container {
        display: flex;
        align-items: center;

        .last-saved-message {
            display: flex;
            align-items: center;
            margin-right: var(--spacing-small);
            color: var(--color-text-label);

            .date {
                margin-left: var(--spacing-small);
            }
        }
    }

    .body {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0;
        overflow: auto;

        .sheet-view {
            flex-grow: 1;
            overflow: auto;
        }

        .tabs {
            flex-shrink: 0;

            .tab {
                .tab-button {
                    @extend %button-base;
                    padding: var(--spacing-small-alt) var(--spacing-medium);
                    text-transform: uppercase;
                }
            }
        }

        .extraction-process {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;

            .processing-text {
                margin-top: var(--spacing-large);
                width: 60%;
                text-align: center;
                font-size: var(--font-size-large);

                .join-link {
                    display: inline;
                    outline: 0;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    padding: 0;
                    text-decoration: underline;
                    color: var(--color-accent);
                    font-family: inherit;
                    font-size: var(--font-size-large);
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        >button {
            margin: 0;
        }
    }
}
