@import '~base-scss/base';
@import '~rs-scss/button-base';

.tabular-book {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .header-container {
        display: flex;
        align-items: center;

        .last-saved-message {
            display: flex;
            align-items: center;
            margin-right: $spacing-small;
            color: $color-text-label;

            .date {
                margin-left: $spacing-small;
            }
        }
    }

    .body {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0;
        overflow: auto;

        .sheet-view {
            flex-grow: 1;
            overflow: auto;
        }

        .tabs {
            flex-shrink: 0;

            .tab {
                .tab-button {
                    @extend %button-base;
                    padding: $spacing-small-alt $spacing-medium;
                    text-transform: uppercase;
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        >button {
            margin: 0;
        }
    }
}
