@import '~base-scss/base';
@import '~rs-scss/button-base';

.tabular-book {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .header-container {
        display: flex;
        align-items: center;

        .last-saved-message {
            display: flex;
            align-items: center;
            margin-right: $spacing-small;
            color: $color-text-label;

            .date {
                margin-left: $spacing-small;
            }
        }
    }

    .body {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0;
        overflow: auto;

        .sheet-view {
            flex-grow: 1;
            overflow: auto;
        }

        .tabs {
            flex-shrink: 0;

            .tab {
                .tab-button {
                    @extend %button-base;
                    padding: $spacing-small-alt $spacing-medium;
                    text-transform: uppercase;
                }

                .edit-button {
                    opacity: 0;
                    margin-left: -($spacing-extra-small-alt);
                    padding: 0;
                }

                &:hover {
                    .edit-button {
                        opacity: 1;
                    }
                }
            }
        }

        .extraction-process {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;

            .processing-text {
                margin-top: $spacing-large;
                width: 60%;
                text-align: center;
                font-size: $font-size-large;

                .join-link {
                    display: inline;
                    outline: 0;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    padding: 0;
                    text-decoration: underline;
                    color: $color-accent;
                    font-family: inherit;
                    font-size: $font-size-large;
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        >button {
            margin: 0;
        }
    }
}
