@import '~base-scss/base';
@import '~rs-scss/input-label';

.discover-projects {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        background-color: $color-foreground;
        padding: $spacing-small;

        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .projects-filter {
                    margin: $spacing-small;
                }

                .button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: $spacing-small;
                }
            }
        }
    }

    .table-container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        background-color: $color-background-row;

        .scroll-wrapper {
            flex-grow: 1;
            overflow: auto;

            .projects-table {
                .header {
                    position: sticky;
                    top: 0;
                }

                :global {
                    .number_of_users,
                    .number_of_leads,
                    .number_of_entries {
                        text-align: center;
                    }
                }

                .spark-line {
                    width: 128px;
                    height: 48px;


                    :global {
                        .fill {
                            opacity: 0.3;
                            fill: $color-accent;
                            stroke: $color-accent;
                        }
                        .line {
                            stroke: $color-accent;
                        }
                    }
                }
            }
        }

        .admin {
            @extend %accent-color-link;

            &:not(:last-child)::after {
                content: ', ';
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-top: $width-separator-thin solid $color-separator;
        background-color: $color-foreground-alt;
        padding: $spacing-small $spacing-medium-alt;

        .pager {
            display: flex;
            justify-content: center;
        }

        .pager-container {
            display: flex;
        }
    }
}
