@import '~base-scss/utils';
@import '~rs-scss/input-label';

.discover-projects {
    .header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .filters {
            flex-grow: 1;
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        border-top: 0;

        .table-container {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--color-foreground);
            overflow: auto;

            .projects-table {
                flex-grow: 1;
                border: none;
                border-top: var(--width-separator-thin) solid var(--color-separator);
                background-color: var(--color-foreground);

                .header {
                    position: sticky;
                    top: 0;
                }

                :global {
                    .number_of_users,
                    .number_of_leads,
                    .number_of_entries {
                        text-align: center;
                    }

                    .status {
                        text-transform: capitalize;
                    }

                    .actions {
                        white-space: nowrap;
                    }

                    .body {
                        .row {
                            &:hover {
                                .email-link {
                                    color: var(--color-primary);
                                }

                                .edit-link {
                                    color: var(--color-warning);
                                }
                            }
                        }
                    }
                }

                .spark-line {
                    width: 128px;
                    height: 48px;

                    :global {
                        .fill {
                            opacity: 0.3;
                            fill: var(--color-accent);
                            stroke: var(--color-accent);
                        }
                        .line {
                            stroke: var(--color-accent);
                        }
                    }
                }
            }

            .badge {
                display: inline-flex;
                margin-left: var(--spacing-small);
            }

            .admin {
                @extend %accent-color-link;

                &:not(:last-child)::after {
                    content: ', ';
                }
            }
        }
    }


    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .pager {
            display: flex;
            justify-content: center;
        }
    }
}
