@import '~base-scss/utils';
@import '~rs-scss/input-label';

.discover-projects {
    .header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .filters {
            display: flex;
            align-items: baseline;
            flex-grow: 1;

            :global {
                .projects-filter {
                    margin: var(--spacing-small) var(--spacing-medium);
                }

                .list-selection {
                    flex-shrink: 0;
                }

                .button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: var(--spacing-small);
                }
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        border-top: 0;

        .table-container {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--color-foreground);
            overflow: auto;

            .projects-table {
                flex-grow: 1;
                border: none;
                background-color: var(--color-foreground);

                .header {
                    position: sticky;
                    top: 0;
                }

                :global {
                    .number_of_users,
                    .number_of_leads,
                    .number_of_entries {
                        text-align: center;
                    }

                    .actions {
                        white-space: nowrap;
                    }

                    .body {
                        .row {
                            &:hover {
                                .email-link {
                                    color: var(--color-primary);
                                }

                                .edit-link {
                                    color: var(--color-warning);
                                }
                            }
                        }
                    }
                }

                .spark-line {
                    width: 128px;
                    height: 48px;

                    :global {
                        .fill {
                            opacity: 0.3;
                            fill: var(--color-accent);
                            stroke: var(--color-accent);
                        }
                        .line {
                            stroke: var(--color-accent);
                        }
                    }
                }
            }

            .badge {
                display: inline-flex;
                margin-left: var(--spacing-small);
            }

            .admin {
                @extend %accent-color-link;

                &:not(:last-child)::after {
                    content: ', ';
                }
            }
        }
    }


    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pager-container {
            display: flex;

            .pager {
                display: flex;
                justify-content: center;
            }
        }
    }
}
