@import '~base-scss/base';
@import '~rs-scss/input-label';

.discover-projects {
    .header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .filters {
            display: flex;
            align-items: baseline;
            flex-grow: 1;

            :global {
                .projects-filter {
                    margin: $spacing-small $spacing-medium;
                }

                .list-selection {
                    flex-shrink: 0;
                }

                .button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: $spacing-small;
                }
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;

        .table-container {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;
            background-color: $color-background-row;
            overflow: auto;

            .projects-table {
                border: none;

                .header {
                    position: sticky;
                    top: 0;
                }

                :global {
                    .number_of_users,
                    .number_of_leads,
                    .number_of_entries {
                        text-align: center;
                    }

                    .actions {
                        white-space: nowrap;
                    }
                }

                .spark-line {
                    width: 128px;
                    height: 48px;

                    :global {
                        .fill {
                            opacity: 0.3;
                            fill: $color-accent;
                            stroke: $color-accent;
                        }
                        .line {
                            stroke: $color-accent;
                        }
                    }
                }
            }

            .admin {
                @extend %accent-color-link;

                &:not(:last-child)::after {
                    content: ', ';
                }
            }

            .empty-message, .empty-filter-message {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;

                .image {
                    opacity: 0.3;
                    margin: $spacing-large 0;
                    width: $width-icon-extreme-large;
                    height: $width-icon-extreme-large;
                }
            }
        }
    }


    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pager-container {
            display: flex;

            .pager {
                display: flex;
                justify-content: center;
            }
        }
    }
}
