.usergroups {
    display: flex;
    flex-direction: column;

    .header {
        .heading {
            display: flex;
            align-items: baseline;

            .title {
                text-transform: uppercase;
                color: var(--dui-color-brand);
                font-size: var(--dui-font-size-heading-medium);
            }
            .link {
                padding-left: var(--dui-spacing-super-large);
                font-size: var(--dui-font-size-medium);
                font-weight: var(--dui-font-weight-regular);
            }
        }

        .actions {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            justify-self: flex-start;
        }
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: auto;

        .pager {
            align-self: flex-end;
            flex-shrink: 0;
        }
    }

    .empty-table {
        min-height: 30vh;
    }
}
