.primary-tagging {
    display: flex;
    gap: var(--dui-spacing-large);
    background-color: var(--dui-color-background);

    .source-preview {
        flex-shrink: 0;
        width: calc(16rem + 16vw);
    }

    .sections {
        display: flex;
        flex-grow: 1;
        padding-right: var(--dui-spacing-super-large);
    }
}

