.entries-list-item {
    position: relative;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    border-left: var(--width-separator-thick) solid transparent;

    &.active {
        border-left: var(--width-separator-thick) solid var(--color-accent);
        background-color: var(--color-background-accent-hint);
    }

    .add-entry-list-item {
        display: flex;
        justify-content: space-between;
        outline: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding: var(--spacing-medium);
        width: 100%;
        text-align: left;
        font-family: inherit;
        font-size: inherit;

        .status-icons {
            display: flex;
        }

        &:disabled {
            .image {
                opacity: .5;
            }
        }
    }

    .remove-button {
        display: none;
        position: absolute;
        top: var(--spacing-small);
        right: var(--spacing-small);
    }

    &:hover {
        .add-entry-list-item {
            .status-icons {
                opacity: 0;
            }
        }

        .remove-button {
            display: initial;
            opacity: 1;
            animation: fade .5s linear;
        }
    }
}
