.quality-control {
    display: flex;
    flex-direction: column;
    --width-left-initial: 320px;
    --width-left-min: 160px;
    --width-right-min: 320px;

    .resizable-container {
        display: flex;
        flex-grow: 1;
        
        .left {
            border-right: var(--width-separator-thin) solid var(--color-separator);
            width: var(--width-left-initial);
            min-width: var(--width-left-min);

            .framework-selection {
                padding: var(--spacing-medium);
            }
        }

        .right {
            width: calc(100% - var(--width-left-initial));
            min-width: var(--width-right-min);

            .entry-list {
                display: flex;
                flex-wrap: wrap;
                padding: var(--spacing-large);

                .card {
                    margin: var(--spacing-large);
                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: flex-end;
        border-top: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-small) var(--spacing-medium);
        color: var(--color-text-on-foreground);
    }
}
