.quality-control {
    display: flex;
    flex-direction: column;
    --width-left-initial: 320px;
    --width-left-min: 160px;
    --width-right-min: 320px;

    .stats {
        flex-shrink: 0;
    }

    .wrapping-container{
        display: flex;
        position: relative;
        flex-grow: 1;
        background-color: var(--color-foreground);
        overflow-y: auto;

        .left {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            border-right: var(--width-separator-thin) solid var(--color-separator);
            min-width: 320px;
            overflow-y: auto;

            .framework-selection {
                display: flex;
                flex-direction: column;


                .header {
                    display: flex;
                    flex-direction: column;
                    padding: var(--spacing-small) var(--spacing-medium);

                    .top {
                        display: flex;
                        align-items: center;

                        .heading {
                            flex-grow: 1;

                            .collapse-button{
                                outline: none;
                                border: none;
                                background: none;
                                width: 25px;
                                height: 25px;
                            }
                        }

                        .toggle-expand-button {
                            flex-shrink: 0;
                            outline: none;

                            &:hover {
                                background-color: rgba(0, 0, 0, .1);
                            }
                        }
                    }
                }

            }

            .content {
                flex-grow: 1;
                overflow: auto;
            }

            &.hidden {
                display: none;
            }
        }

        .expand-button {
            padding: var(--spacing-extra-small) var(--spacing-small);
            font-size: var(--font-size-large);
        }

        .right {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: auto;

            .toc-filter-list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                border-bottom:  var(--width-separator-thin) solid var(--color-separator);
                padding: var(--spacing-medium);
                text-transform: unset;
                color: var(--color-text);

                .info-icon {
                    margin: 0 var(--spacing-small);
                    color: var(--color-primary);
                }

                .toc-filter-names {
                    display: flex;
                    flex-wrap: wrap;

                    .chip {
                        margin-left: var(--spacing-small-alt);
                    }
                }
            }

            .entry-list {
                display: flex;
                align-items: stretch;
                flex-grow: 1;
                flex-wrap: wrap;
                padding: var(--spacing-large);
                overflow-y: auto;

                .card {
                    margin: var(--spacing-medium-alt);
                }
            }
        }
    }

    .goto-top {
        position: absolute;
        right: 25px;
        bottom: 100px;
        border-radius: 50%;
        box-shadow: 0 var(--spacing-small) var(--radius-blur-medium) var(--radius-spread-medium) var(--color-shadow-medium);
        background: var(--color-accent) !important;
        width: 50px;
        height: 50px;
        color: var(--color-foreground) !important;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);

        &:hover {
            box-shadow: 0 var(--spacing-small-alt) var(--radius-blur-medium) var(--radius-spread-medium) var(--color-shadow-medium);
        }

        &:focus {
            outline: none;
        }
    }
}
