.entries-list-item {
    position: relative;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    border-left: var(--width-separator-thick) solid transparent;

    .add-entry-list-item {
        display: flex;
        justify-content: space-between;
        outline: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding: var(--spacing-medium);
        width: 100%;
        text-align: left;
        font-family: inherit;
        font-size: inherit;
    }
}
