@import '~base-scss/base';

$width-notification: 520px;

.notifications {
    @extend %main-content;
    display: flex;
    flex-direction: column;
    background-color: $color-foreground;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-small;

        .heading {
            flex-grow: 1;
            margin: 0;
        }
    }

    .content {
        flex-grow: 1;
        overflow-y: auto;

        .empty-component {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            margin: auto;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-extra-small $spacing-medium;
            width: $width-notification;
            height: 96px;
            color: $color-text-label;
        }
    }
}
