@import '../../stylesheets/base';

.notifications {
    @extend %main-content;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-small;

        .heading {
            flex-grow: 1;
            margin: 0;
        }
    }

    .content {
        flex-grow: 1;
        overflow-y: auto;
    }
}
