@import '~base-scss/base';

$width-organ-header-min: 108px;

.organ {
    +.organ {
        border-left: $width-separator-medium solid $color-separator;
    }

    .organ-header {
        display: flex;
        position: relative;
        flex-grow: 1;
        flex-shrink: 0;
        margin: $spacing-small $spacing-medium;
        padding: $spacing-extra-small;
        min-width: $width-organ-header-min;

        .action-buttons {
            @include transition-medium;
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            pointer-events: none;

            .action-button {
                flex-shrink: 0;
            }
        }

        &:hover {
            .action-buttons {
                opacity: 1;
                pointer-events: all;
            }
        }

        .title-input {
            flex-grow: 1;
            width: 100%;
        }
    }

    .organ-body {
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        padding: 0 $spacing-small;
    }
}
