@import '~base-scss/utils';

.planned-arys {
    .header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .filters {
            display: flex;
            flex-grow: 1;
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        border-top: 0;
        overflow: auto;

        .table-container {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;
            border-top: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground);
            overflow-y: auto;

            .arys-table {
                flex-grow: 1;

                .created-by-link {
                    @extend %accent-color-link;
                    margin-right: var(--spacing-small);
                }

                :global {
                    .header {
                        position: sticky;
                        top: 0;
                    }

                    .capitalize {
                        text-transform: capitalize;
                    }

                    .icon-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: var(--font-size-large);

                        a {
                            color: var(--color-accent);
                        }
                    }

                    .title {
                        width: 30%;
                    }

                    .actions {
                        width: 150px;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;

        .pager {
            display: flex;
            justify-content: center;
        }
    }
}


