.active-project {
    padding: var(--dui-spacing-medium);

    .project-title {
        color: var(--dui-color-brand);
        font-size: var(--dui-font-size-large);
        font-weight: var(--dui-font-weight-bold);
    }

    &:not(:last-child) {
        border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    }
}
