.assignment-item {
    display: flex;
    padding: calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small)) calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

    &:not(:last-child) {
        border-bottom: var(--width-separator-thin) solid var(--dui-border-color-card);
    }

    .main-content {
        display: block;

        .description {
            display: inline-block;
            padding: var(--dui-spacing-extra-small) 0;

            >* {
                display: inline;
                padding: 0;

                >* {
                    display: inline;
                    padding: 0;
                }
            }
        }

        .created-date {
            display: block;
            padding: var(--dui-spacing-extra-small) 0;
            color: var(--dui-color-text-label);
            font-size: var(--dui-font-size-small);
        }

        .link {
            color: var(--dui-color-brand);
            font-weight: var(--dui-font-weight-bold);
        }
    }

    .mark-as-done-button {
        align-self: flex-end;
        padding: 0;
        font-size: 1.3em;
    }
}
