.project-item {
    display: flex;
    flex-direction: column;
    border: var(--dui-width-separator-thin) solid var(--dui-border-color-card);
    border-radius: var(--dui-border-radius-card);

    .content {
        display: flex;

        .info {
            flex-basis: 0;
            flex-grow: 0.5;

            .basic-details {
                padding: var(--dui-spacing-small) 0;
            }

            .metadata {
                display: flex;

                .column {
                    flex-basis: 0;
                    flex-grow: 1;

                    >* {
                        margin: var(--dui-spacing-medium) 0;
                    }
                }

                .recently-active-list {
                    display: flex;
                    flex-direction: column;
                    font-weight: var(--dui-font-weight-medium);
                    gap: var(--dui-spacing-small);

                    .recently-active-item {
                        display: flex;
                        flex-wrap: wrap;

                        .recently-active-user-name {
                            font-weight: var(--dui-font-weight-bold);
                        }

                        .recent-activity-date {
                            color: var(--dui-color-text-label);
                            font-size: var(--dui-font-size-small);
                            font-weight: var(--dui-font-weight-medium);
                        }
                    }
                }
            }
        }

        .charts {
            display: flex;
            gap: var(--dui-spacing-large);
            flex-basis: 0;
            flex-grow: 0.5;
            flex-wrap: wrap;
            overflow: auto;

            .total-sources {
                align-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                background-color: var(--dui-color-background-information);
                width: 7.8rem;

                .bookmark-icon {
                    margin-left: 0;
                }
            }

            .progress-lines {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-medium);
                flex-grow: 1;
                background-color: var(--dui-color-background-information);
                padding: var(--dui-spacing-medium);
            }

            .entries-activity-container {
                flex-basis: 100%;
                border: var(--dui-width-separator-thin) solid var(--dui-color-separator);

                .chart-container {
                    display: flex;
                    flex-direction: column;
                    height: 240px;

                    .responsive-container {
                        flex-grow: 1;
                        width: 100%;
                        overflow: auto;
                    }
                }
            }
        }
    }

    .privacy-badge {
        text-transform: uppercase;
        color: var(--dui-color-text-label);
        font-size: var(--dui-font-size-small);
        font-weight: var(--font-weight-bold);
    }
}
