.primary-tagging {
    display: flex;
    overflow-y: auto;

    .widget-list-container {
        display: flex;
        flex-direction: column;
        background-color: var(--dui-color-foreground);
        width: calc(240px + 10vw);
        overflow-y: auto;

        .widget-list-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    .framework-preview {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .top-bar {
            display: flex;
            background-color: var(--dui-color-foreground);
            padding: calc(var(--dui-spacing-large) - var(--dui-spacing-extra-small)) calc(var(--dui-spacing-extra-large) - var(--dui-spacing-small));
        }

        .canvas {
            flex-grow: 1;
            margin: calc(var(--dui-spacing-large) - var(--dui-spacing-extra-small)) var(--dui-spacing-extra-large);
            background-color: var(--dui-color-foreground);

            .tabs {
                .border-wrapper {
                    display: flex;
                    flex-grow: 1;
                }

                .tab {
                    flex-grow: 1;

                    .section-edit-button {
                        position: absolute;
                        top: 50%;
                        right: 2em;
                        transform: translateY(-50%);
                        transition: var(--dui-duration-transition-medium) opacity ease-in-out;
                        opacity: 0;
                    }

                    &:hover {
                        .section-edit-button {
                            opacity: 1;
                        }
                    }
                }
            }

            .panel {
                display: flex;
                flex-direction: column;
                padding: calc(var(--dui-spacing-extra-large) - var(--dui-spacing-medium));
                overflow-y: auto;
            }
        }
    }
}
