.actions {
    gap: var(--dui-spacing-small);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .row {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: var(--dui-spacing-small);

        .info {
            display: flex;
            align-items: center;
            justify-content: center;
            border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            border-radius: 50%;
            padding: var(--dui-spacing-extra-small);
        }

        .button {
            flex-shrink: 0;
        }

        .show-duplicates-button {
            color: var(--dui-color-complement3);
        }
    }
}
