.toggle-entry-verification {
    display: flex;
    align-items: center;

    .toggle-button {
        display: flex;
        align-items: center;
        padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));
    }

    .icon {
        font-size: var(--dui-font-size-medium);
    }

    &.verified {
        .icon {
            color: var(--color-primary);
        }
    }
}

.comment-modal {
    width: 400px;
}
