.tree-selection {
    display: flex;
    flex-direction: column;

    &:not(.nested-tree) {
        gap: var(--dui-spacing-small);
    }

    .sortable-node {
        border: 0;

        .header {
            margin-bottom: calc(var(--spacing) * -1);
            border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            background-color: var(--dui-color-foreground);

            .heading-container {
                display: flex;
                flex-direction: row;

                .heading {
                    flex-grow: 1;
                }
            }
        }

        .drag-handle {
            padding: var(--dui-spacing-extra-small);
            font-size: var(--dui-font-size-extra-small);
        }

        .checkbox {
            padding: var(--dui-spacing-extra-small);
        }

        .sortable-content {
            padding-right: 0;
        }
    }

    .expansion-button-hidden {
        display: none;
    }
}
