
.widget-list-item {
    @include transition-medium();
    outline: none;
    border: 0;
    border-left: var(--width-separator-thick) solid transparent;
    background-color: var(--color-foreground);
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-medium);
    width: 100%;
    text-align: left;
    text-decoration: none;

    .title {
        color: inherit;
    }

    &:hover {
        background-color: var(--color-background-hover);
    }

    &.active {
        border-left-color: var(--color-accent);
        background-color: var(--color-foreground-alt);
    }
}
