@import '~base-scss/base';

.search-list {
    display: flex;
    flex-direction: column;

    .header {
        flex-shrink: 0;
        background-color: $color-background-header;
        padding: $spacing-medium;

        .heading {
            padding-bottom: $spacing-small;
        }
    }

    .list-container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;

        .list {
            flex-grow: 1;
            overflow-y: auto;

            .list-item {
                border-top: $width-separator-thin solid $color-separator;
                border-bottom: 0;
            }

            .list-group + .list-item {
                border-top: 0;
            }

            .list-group {
                background-color: $color-foreground-alt;

                &:not(:first-child) {
                    margin-top: $spacing-small;
                }
            }
        }

        .empty-text {
            flex-grow: 1;
            padding: $spacing-medium;
            text-align: center;
            color: $color-text-disabled;
        }

        .search-tip {
            display: flex;
            align-items: center;
            margin: auto;
            padding: $spacing-medium 0;
            color: $color-text-disabled;

            .icon {
                flex-shrink: 0;
                padding: 0 $spacing-medium;
                font-size: $font-size-large;
            }

            .text {
                flex-grow: 1;
                padding: 0 $spacing-medium 0 0;
            }
        }

        .no-search {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: auto;
            padding: $spacing-medium 0;
            color: $color-text-disabled;

            .text {
                flex-grow: 1;
                margin: $spacing-medium 0;
            }

            .image {
                opacity: 0.3;
                width: 48px;
                height: 48px;
            }
        }
    }
}
