.search-list {
    display: flex;
    flex-direction: column;

    .header {
        flex-shrink: 0;
        background-color: var(--color-background-header);
        padding: var(--spacing-medium);

        .heading {
            padding-bottom: var(--spacing-small);
        }
    }

    .list-container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;

        .list {
            flex-grow: 1;
            overflow-y: auto;

            .list-item {
                border-top: var(--width-separator-thin) solid var(--color-separator);
                border-bottom: 0;
            }

            .list-group + .list-item {
                border-top: 0;
            }

            .list-group {
                background-color: var(--color-foreground-alt);

                &:not(:first-child) {
                    margin-top: var(--spacing-small);
                }
            }
        }

        .search-tip {
            flex-direction: column;

            .icon {
                font-size: var(--font-size-super-large);
            }
        }

        .no-search {
            flex-direction: column;

            .image {
                opacity: 0.3;
                width: var(--width-icon-super-large);
                height: var(--width-icon-super-large);
            }

            .text {
                margin: var(--spacing-medium) 0;
            }
        }
    }
}
