.entry-item {
    --max-height-entry: 180px;

    margin: var(--dui-spacing-medium);
    background-color: var(--dui-color-white);

    .children {
        &:not(&.image) {
            max-height: var(--max-height-entry);
        }
        &.image {
            height: 120px;
        }
    }

    &.disabled {
        opacity: var(--dui-opacity-disabled-element);
        /* FIXME: this is a hack */
        pointer-events: none;
    }
}

.popup-container {
    display: flex;
    flex-direction: column;

    .popup-button {
        display: flex;
        padding: var(--dui-spacing-extra-small) var(--dui-spacing-medium);
        width: auto;
        text-align: left;

        &:hover {
            background-color: var(--dui-color-background-hover);
        }
    }
}
