.entry-item {
    --min-height-entry: 180px;

    margin: var(--dui-spacing-medium);
    background-color: var(--dui-color-white);

    .children {
        height: var(--min-height-entry);
    }

    &.disabled {
        opacity: var(--dui-opacity-disabled-element);
        /* FIXME: this is a hack */
        pointer-events: none;
    }
}
