@import '~base-scss/utils';

:root {
    --icon-color: #656565;
    --icon-color-light: white;
    --processed-color: #27a254;
    --unprocessed-color: #d85959;
    --status-indicator-dimension: 80px;
    --mimetype-icon-size: 30px;
    --radius-lead: 4px;
    --width-icon-add-entry: 44px;
    --width-icon-mark: 40px;
}

%actions {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@mixin documentType($color) {
    @include transition-slow;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    width: var(--status-indicator-dimension);
    height: var(--status-indicator-dimension);
    color: var(--icon-color-light);
    font-size: var(--mimetype-icon-size);

    .icon {
        z-index: 1;
        margin-top: var(--spacing-small-alt);
        margin-right: var(--spacing-small-alt);
    }

    &:before {
        position: absolute;
        border-top: var(--status-indicator-dimension) solid $color;
        border-left: var(--status-indicator-dimension) solid transparent;
        width: 0;
        height: 0;
        content: '';
    }
}

.lead {
    @include transition-slow;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: stretch;
    border-radius: var(--radius-lead);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: zoom-in;

    .thumbnail-wrapper {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 100%;
        height:100%;

        img {
            align-self: start;
            width: 100%;
            height: calc(100% - 75px);
            object-fit: contain;
        }

        .mimeIcon {
            margin-bottom: 75px;
            color: var(--color-accent);
            font-size: 90px;
        }
    }

    .time-from {
        @include transition-slow;
        float: right;
    }

    .lead-info {
        @include transition-slow;
        z-index: 1;
        margin-top: auto;
        border-bottom-left-radius: var(--radius-lead);
        border-bottom-right-radius: var(--radius-lead);
        background-color: rgba(70, 70, 70, 1);
        cursor: auto;
        padding: var(--spacing-small-alt);
        color: white;

        .title {
            display: -webkit-box;
            margin: var(--spacing-small-alt) 0;
            height: 2.4em;
            overflow: hidden;
            line-height: 1.2em;
            font-size: var(--font-size-large-alt);
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            .emm-button {
                margin-right: var(--spacing-small);
                padding: var(--spacing-extra-small) var(--spacing-small);
            }
        }

        p {
            margin: var(--spacing-small-alt) 0;
            font-size: var(--font-size-medium);
        }

    }

    .lead-info-extra {
        @include transition-slow;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        overflow: hidden;

        .publisher,
        .author {
            margin-bottom: var(--spacing-extra-small);
        }

        .status {
            margin-bottom: var(--spacing-small-alt);
        }
    }

    .lead-info-counts {
        display: flex;
        text-transform: lowercase;

        .entries {
            margin-left: var(--spacing-large-alt);
        }

        .time-from-bottom {
            margin-left: auto;
        }

        .numeric-value {
            margin-right: var(--spacing-extra-small-alt);
        }
    }

    .add {
        @extend %actions;
        @include shadow-medium;
        @include transition-slow;
        opacity: 0;
        background-color: #585858;
        width: var(--width-icon-add-entry);
        height: var(--width-icon-add-entry);
        color: var(--icon-color-light);
        font-size: var(--font-size-extra-large-alt);
    }

    .mark {
        @extend %actions;
        @include shadow-medium;
        @include transition-slow;
        opacity: 0;
        margin-top: var(--spacing-extra-small-alt);
        width: var(--width-icon-mark);
        height: var(--width-icon-mark);
        font-size: var(--font-size-extra-large-alt);

        &-processed {
            background-color: var(--color-warning);
        }
        &-validated {
            background-color: var(--processed-color);
        }
        &-pending {
            background-color: var(--unprocessed-color);
        }

        >span {
            color: var(--icon-color-light);
        }
    }

    .user {
        display: block;
        margin: var(--spacing-extra-small) 0;
        text-transform: none;
    }

    .main-actions {
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-small-alt);
        padding-bottom: 0px;
    }

    .actions {
        @include transition-slow;
        position: absolute;
        top: 53px;
        right: 0px;
        opacity: 0;
        z-index: 999;
        padding: var(--spacing-small-alt);
        padding-top: 0px;
        color: var(--icon-color-light);

        > button,
        .action-button {
            @extend %actions;
            @include shadow-medium;
            margin-top: var(--spacing-medium);
            background-color: #f8f5f5;
            width: var(--width-icon-extra-large);
            height: var(--width-icon-extra-large);
            font-size: var(--font-size-large);
        }

        .icon {
            color: var(--icon-color);
        }
    }

    &:hover {
        .time-from {
            display: none;
            opacity: 0;
        }

        .lead-info-extra {
            visibility: visible;
            opacity: 1;
            max-height: 10em;
        }

        .actions,
        .add,
        .mark {
            opacity: 1;
            z-index: 1;
        }
    }
}
