.leads-filters {
    display: flex;
    flex-wrap: wrap;

    .leads-filter {
        margin: var(--spacing-small);
        max-width: 240px;
        max-height: 120px;
    }

    .button {
        align-self: flex-end;
        flex-shrink: 0;
        margin: var(--spacing-small);
    }
}
