.top-ten-project-by-entries {
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);

    .table {
        display: table;
        width: 100%;

        .table-item {
            display: table-row;

            .count,
            .project-title {
                display: table-cell;
                padding: var(--dui-spacing-small) var(--dui-spacing-small);
            }

            .count {
                text-align: right;
            }

            .project-title {
                font-weight: var(--dui-font-weight-bold);
            }
        }
    }

    .chart {
        min-height: 300px;
        overflow-y: hidden;
    }
}
