.primary-tagging {
    display: flex;
    height: 100%;
    overflow-y: auto;

    .widget-list-container {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        background-color: var(--dui-color-foreground);
        padding-left: var(--dui-spacing-super-large);
        width: calc(16rem + 16vw);
        overflow-y: auto;

        .widget-list-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--dui-color-foreground);
            overflow-y: auto;
        }

        .widget-editor {
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    .framework-preview {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-right: var(--dui-spacing-super-large);
        overflow-y: auto;

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--dui-color-foreground);
            overflow-y: auto;

            .tabs {
                .border-wrapper {
                    display: flex;
                    flex-grow: 1;
                }

                .tab {
                    flex-grow: 1;

                    .section-edit-button {
                        position: absolute;
                        top: 50%;
                        right: 2em;
                        transform: translateY(-50%);
                        transition: var(--dui-duration-transition-medium) opacity ease-in-out;
                        opacity: 0;
                    }

                    &.errored {
                        color: var(--dui-color-danger);
                    }

                    &:hover {
                        .section-edit-button {
                            opacity: 1;
                        }
                    }
                }
            }

            .panel {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow-y: auto;
            }
        }
    }
}
