@import '~base-scss/base';

$width-framework-list: 240px;

.project-analysis-framework {
    display: flex;
    position: relative;
    flex-grow: 1;

    .framework-list {
        flex-basis: $width-framework-list;
        flex-shrink: 0;
        border-right: $width-separator-thin solid $color-separator;
    }

    .details {
        position: relative;
        flex-grow: 1;
        overflow: auto;
    }
}
