:root {
    --width-framework-list: 280px;
}

.project-analysis-framework {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow: auto;

    .framework-list {
        flex-shrink: 0;
        border-right: var(--width-separator-thin) solid var(--color-separator);
        width: var(--width-framework-list);
    }

    .details {
        position: relative;
        flex-grow: 1;
        overflow: auto;
    }
}
