@import '../../../stylesheets/base';

.list {
    padding: 0;
    height: 100%;
    overflow: auto;

    .widget-container {
        border-bottom: $width-separator-thin solid $color-separator;
    }
}
