.modal {
    width: 80vw;
    height: 90vh;

    .faram {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .modal-body {
            display: flex;
            flex-grow: 1;
            padding: var(--spacing-small);
            padding: 0;
            overflow: auto;

            .organization-list {
                flex-shrink: 0;
                width: calc(160px + 10vw);
                overflow: auto;
            }

            .right {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: auto;

                .widget-list {
                    display: flex;
                    align-items: stretch;
                    flex-grow: 1;
                    flex-wrap: wrap;
                    padding: var(--spacing-small);
                    overflow: auto;

                    .widget-container {
                        display: flex;
                        flex-basis: calc(calc(100% / 3) - calc(var(--spacing-small) * 2));
                        flex-direction: column;
                        flex-grow: 0;
                        margin: var(--spacing-small);
                        border: var(--width-separator-thin) solid var(--color-separator);
                        border-radius: 5px;
                        min-width: 200px;
                        min-height: 240px;
                        overflow: auto;

                        .widget {
                            flex-grow: 1;
                            padding: var(--spacing-medium) var(--spacing-large);
                            height: 240px;

                            :global {
                                .input-label {
                                    text-transform: none;
                                    color: var(--color-accent);
                                    font-size: var(--font-size-large);
                                }
                            }

                            .widget-item {
                                padding: var(--spacing-small) var(--spacing-small) var(--spacing-small) 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

