.table-of-contents {
    .toc-item {
        margin: 0 calc(var(--spacing-medium) - var(--spacing-small));
        border-left: var(--width-separator-thin) solid transparent;

        .header {
            display: flex;
            align-items: center;

            &:hover {
                background-color: var(--color-background-hover);
            }

            .heading {
                display: flex;
                align-content: space-between;
                flex-grow: 1;
                outline: none;
                cursor: pointer;
                padding: var(--spacing-small) var(--spacing-medium);
                padding-right: 0;

                .title {
                    flex-grow: 1;
                    padding-right: var(--spacing-small);
                }

                .count {
                    .title {
                        text-transform: unset;
                    }
                }
            }

            .actions {
                flex-shrink: 0;
                padding: var(--spacing-small);

                .expand-button {
                    outline: none;

                    &:hover {
                        background-color: rgba(0, 0, 0, .1);
                    }
                }
            }
        }

        .children {
            padding: var(--spacing-small);
            padding-right: 0;
        }

        .toc-item {
            margin-right: 0;
            border-left: var(--width-separator-thin) solid var(--color-separator);

            .header {
                position: relative;
            }
        }
        &.searched {
            background-color: var(--color-background-alt);
        }
        &.active {
            border-left: var(--width-separator-thin) solid var(--color-accent);
            background-color: var(--color-background-accent-hint);

            .header {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}
