.sources-filter {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-grow: 1;

        .heading {
            flex-grow: 1;
        }

        .actions {
            margin-left: auto;
        }
    }

    .content {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;

        .input {
            display: block;
            margin: var(--dui-spacing-small);

            &.hidden {
                display: none;
            }
        }

        .actions {
            display: flex;
            align-items: flex-end;
            flex-grow: 1;
            justify-content: flex-end;

            .button {
                margin: var(--dui-spacing-small);
                font-size: 0.8rem;
            }
        }
    }
}
