.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: var(--spacing-small);

    .types {
        display: flex;
    }

    .submit-button {
        align-self: flex-end;
    }
}
