.subdimension-td {
    overflow: hidden;

    .subdimension-title {
        vertical-align: middle;
        text-align: center;
        overflow-wrap: break-word;
    }

    &.rotated {
        .subdimension-title {
            transform: rotate(180deg);
            writing-mode: vertical-rl;
            overflow-wrap: anywhere;
        }
    }
}
