.analytical-statement-input {
    .drag-statement {
        display: flex;
        border: none;
        padding: 0;
        height: 100%;
        --width-analytical-statement: 320px;

        .header {
            border: var(--dui-width-separator-thin) solid var(--dui-color-surface-information);
            border-bottom: none;
            background-color: var(--dui-color-surface-informational);
            padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
        }

        .drag-content {
            display: flex;
            align-self: stretch;
            flex-direction: column;
            margin: 0!important;
            background-color: var(--dui-color-white);
            padding: 0;
            width: var(--width-analytical-statement);
            height: 100%;

            .upper-content {
                flex-shrink: 0;
                border: var(--dui-width-separator-thin) solid var(--dui-color-surface-information);
                border-top: none;
                background-color: var(--dui-color-surface-informational);
                padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

                .statement {
                    margin: var(--dui-spacing-small);
                    background-color: var(--dui-color-white);
                }
            }

            .bottom-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
                overflow-y: auto;

                .entry-container {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--dui-color-white);
                }

                .drop-container {
                    flex-grow: 1;
                    flex-shrink: 0;
                    transition: .2s min-height ease-in-out;
                    margin: var(--dui-spacing-medium);
                    background-color: var(--dui-color-white);
                    min-height: 24px;

                    &.dragged-over {
                        min-height: 160px;
                    }
                }
            }
        }
    }
}
