.drop-container {
    display: flex;
    height: 100%;
    overflow: unset;
    --width-analytical-statement: 320px;

    .content {
        display: flex;
        padding: 0;
        height: 100%;
        overflow: unset;
    }

    .drag-statement {
        display: flex;
        border: none;
        padding: 0;
        height: 100%;

        .header {
            border: var(--dui-width-separator-thin) solid var(--dui-color-surface-information);
            border-bottom: none;
            background-color: var(--dui-color-surface-informational);
            padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
        }

        .drag-content {
            align-self: stretch;
            padding: 0;
            height: 100%;

            .upper-content {
                flex-shrink: 0;
                border: var(--dui-width-separator-thin) solid var(--dui-color-surface-information);
                border-top: none;
                background-color: var(--dui-color-surface-informational);
                padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));

                .error {
                    margin: var(--dui-spacing-medium);
                }

                .statement {
                    margin: var(--dui-spacing-medium);
                    background-color: var(--dui-color-white);
                }
            }

            .analytical-statement {
                display: flex;
                flex-direction: column;
                margin: 0!important;
                background-color: var(--dui-color-white);
                width: var(--width-analytical-statement);
                height: 100%;

                .bottom-container {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
                    overflow-y: auto;

                    .entry-container {
                        display: flex;
                        flex-direction: column;
                        background-color: var(--dui-color-white);
                    }

                    .drop-container {
                        flex-grow: 1;
                        transition: .2s min-height ease-in-out;
                        margin: var(--dui-spacing-medium);
                        background-color: var(--dui-color-white);
                        min-height: 24px;

                        &.dragged-over {
                            min-height: 160px;
                        }
                    }
                }
            }
        }

        .actions-container {
            margin-left: calc(-1 * var(--spacing-large));
        }
    }

    .overlay {
        position: relative;
        transition: .2s width ease-in-out;
        width: 0;
        height: 100%;
    }

    &.dragged-over {
        outline: 0;

        .overlay {
            margin: var(--dui-spacing-medium);
            border: var(--dui-width-separator-thin) dashed var(--dui-color-separator);
            width: var(--width-analytical-statement);
        }
    }

    &.hide {
        .overlay {
            display: none;
        }

        .analytical-statement {
            opacity: 0.4;
        }
    }
}
