@import '~base-scss/utils';

.modal {
    width: 480px;

    .add-org-modal {
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100%;

        .modal-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: var(--spacing-large);
            overflow-y: auto;

            .image-input {
                width: 128px;
            }

            .logo-title {
                margin-top: var(--spacing-small);
                margin-bottom: var(--spacing-extra-small);
            }
        }
    }

    :global {
        .image-input-preview {
            border: var(--width-separator-thin) solid var(--color-separator);
            width: 128px;
            height: 128px;

            img {
                width: 100%;
                height: 100%;
            }

        }
        .file-input {
            label {
                @include button-like-link(var(--color-accent));
                margin-top: var(--spacing-small);
            }
        }
    }
}


