.author-list-output {
    display: flex;
    align-items: center;
    padding: calc(var(--spacing-small) - var(--spacing-extra-small)) calc(var(--spacing-medium) - var(--spacing-extra-small));
    overflow: auto;

    .icon {
        margin: var(--spacing-extra-small);
    }

    .value {
        padding: var(--spacing-extra-small);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: var(--font-size-small);
    }
}

.entry-card-container {
    position: relative;
}

.entry-card {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--color-separator-light);
    border-top: var(--width-separator-thick) solid var(--color-info);
    box-shadow: 0 3px 9px -5px rgba(0, 0, 0, .5);
    background-color: var(--color-foreground);
    padding: calc(var(--spacing-large) - var(--spacing-medium));
    width: 346px;
    overflow: auto;

    &.verified {
        border-top-color: var(--color-success);
    }

    &.confidential {
        background-color: var(--color-background);
    }

    &.deleted {
        opacity: 0.3;
        border-top-color: var(--color-danger);
    }

    .top {
        flex-shrink: 0;

        .row {
            display: flex;
            align-items: flex-start;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .author-list {
                flex-grow: 1;
            }

            .published-on {
                flex-shrink: 0;
            }
            
            .page-count {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: var(--spacing-small);
                border: var(--width-separator-thin) solid var(--color-separator-light);
                border-radius: .5em;
                background-color: var(--color-background);
                padding: var(--spacing-extra-small);
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-bold);

                .icon {
                    margin: 0 var(--spacing-extra-small);
                }

                .value {
                    padding: 0 var(--spacing-extra-small);
                }
            }
        }

        .title-row {
            display: flex;
            align-items: center;
            padding: calc(var(--spacing-medium) - var(--spacing-small));

            .lead-title-button {
                padding: 0 var(--spacing-extra-small);
                text-align: left;
                text-transform: none;
                color: var(--color-primary);
                font-size: inherit;
                font-weight: var(--font-weight-bold);
            }
        }
    }

    .middle {
        flex-grow: 1;
        padding: var(--spacing-small) var(--spacing-medium);
        overflow: auto;

        .excerpt-output {
            padding: 0;
            height: 240px;
        }
    }

    .bottom {
        flex-shrink: 0;
        padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

        .row {
            display: flex;

            .source {
                display: flex;
                align-items: center;
                flex-grow: 1;
                padding: 0 calc(var(--spacing-medium) - var(--spacing-small));
                overflow: auto;

                .icon {
                    flex-shrink: 0;
                    margin: var(--spacing-small);
                }

                .value {
                    flex-grow: 1;
                    padding: var(--spacing-small);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: var(--font-size-small);
                }
            }

            .confidentiality {
                flex-shrink: 0;
                padding: var(--spacing-small) var(--spacing-medium);
                font-weight: var(--font-weight-bold);
            }
        }

        .entry-details-row {
            display: flex;
            align-items: center;
            overflow: auto;

            .created-by {
                flex-grow: 1;
                padding: var(--spacing-small);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .created-at {
                flex-shrink: 0;
            }
        }

        .actions {
            display: flex;
            flex-shrink: 0;
            justify-content: flex-end;
            padding: var(--spacing-small) calc(var(--spacing-small) - var(--spacing-extra-small));

            button {
                margin: 0 var(--spacing-extra-small);
            }
        }
    }
}
