.author-list-output {
    display: flex;
    align-items: center;
    padding: calc(var(--spacing-small) - var(--spacing-extra-small)) calc(var(--spacing-medium) - var(--spacing-extra-small));
    overflow: auto;

    .icon {
        margin: var(--spacing-extra-small);
    }

    .value {
        padding: var(--spacing-extra-small);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: var(--font-size-small);
    }
}

.entry-card-container {
    display: flex;
    position: relative;
    flex-direction: column;

    .entry-card {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        border: var(--width-separator-thin) solid var(--color-separator-light);
        border-top: var(--width-separator-thick) solid var(--color-info);
        box-shadow: 0 3px 9px -5px rgba(0, 0, 0, .5);
        background-color: var(--color-foreground);
        //padding: calc(var(--spacing-large) - var(--spacing-medium));
        width: 346px;
        overflow: hidden;

        &.verified {
            border-top-color: var(--color-success);
        }

        &.confidential {
            background-color: var(--color-background-danger-hint);
        }

        &.deleted {
            opacity: 0.3;
            border-top-color: var(--color-danger);
        }

        .top {
            flex-shrink: 0;
            padding: 0 calc(var(--spacing-large) - var(--spacing-medium));

            .row {
                display: flex;
                align-items: flex-start;
                padding: calc(var(--spacing-medium) - var(--spacing-small));

                .author-list {
                    flex-grow: 1;
                }

                .published-on {
                    flex-shrink: 0;
                }

                .page-count {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    margin: var(--spacing-small);
                    border: var(--width-separator-thin) solid var(--color-separator-light);
                    border-radius: .5em;
                    background-color: var(--color-background);
                    padding: var(--spacing-extra-small);
                    font-size: var(--font-size-small);
                    font-weight: var(--font-weight-bold);

                    .icon {
                        margin: 0 var(--spacing-extra-small);
                    }

                    .value {
                        padding: 0 var(--spacing-extra-small);
                    }
                }
            }

            .title-row {
                display: flex;
                align-items: center;
                padding: calc(var(--spacing-medium) - var(--spacing-extra-small));

                .lead-title-button {
                    padding: 0 var(--spacing-extra-small);
                    text-align: left;
                    text-transform: none;
                    color: var(--color-primary);
                    font-size: var(--font-size-large);
                    font-weight: var(--font-weight-bold);
                }

                .lead-title {
                    padding: 0 var(--spacing-extra-small);
                    font-size: var(--font-size-large);
                    font-weight: var(--font-weight-bold);
                }

                .lead-edit-button {
                    margin: 0 var(--spacing-extra-small);
                }
            }
        }

        .middle {
            flex-grow: 1;
            padding: var(--spacing-small) var(--spacing-large);
            overflow: auto;

            .excerpt-output {
                padding: 0;
                height: 240px;
            }
        }
        .expand-button {
            display: flex;
            outline: none;
        }
        .collapse-button {
            display: flex;
            outline: none;
        }

        .bottom {
            display: flex;
            position: absolute;
            bottom: calc(var(--spacing-extra-large-alt) + var(--spacing-medium-alt));
            left: 0;
            flex-direction: column;
            transition: 0.2s all ease-in-out;
            border-top: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground);
            padding: var(--spacing-medium) 0;
            width: 100%;


            .row {
                display: flex;
                flex-shrink: 0;
                padding: 0 calc(var(--spacing-large) - var(--spacing-small));

                .source {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));
                    overflow: auto;

                    .icon {
                        flex-shrink: 0;
                        margin: var(--spacing-small);
                    }

                    .value {
                        flex-grow: 1;
                        padding: var(--spacing-small);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: var(--font-size-small);
                    }
                }

                .confidentiality {
                    flex-shrink: 0;
                    padding: var(--spacing-small) var(--spacing-medium);
                    font-weight: var(--font-weight-bold);
                }
            }

            .scale-widgets {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                flex-wrap: wrap;
                padding: 0 calc(var(--spacing-large) - var(--spacing-small));

                --width-marker-radius: 10px;
            }

            .entry-details-row {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                padding: 0 calc(var(--spacing-large) - var(--spacing-small));
                overflow: auto;

                .created-by {
                    flex-grow: 1;
                    padding: var(--spacing-small);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .created-at {
                    flex-shrink: 0;
                }
            }
        }

        .empty-container {
            height: var(--height-action-bar);
        }

        .actions-wrapper {
            display: flex;
            position: absolute;
            right: -100%;
            bottom: 0;
            flex-grow: 1;
            justify-content: flex-end;
            transition: 0.2s all ease-in-out;
            border-top: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground);
            padding: var(--spacing-small) calc(var(--spacing-large) - var(--spacing-small));
            width: 100%;
            height: var(--height-action-bar);

            .actions {
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
            }

            button {
                flex-shrink: 0;
                justify-content: flex-start;
                margin: 0 var(--spacing-extra-small);
            }
        }
    }

    &:hover {
        .entry-card {
            .actions-wrapper {
                right: 0;
            }
        }
    }
}

.empty-component {
    height: calc(var(--font-size-medium) + 4 * var(--spacing-extra-small));
}
