.user-detail-action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-small);

    .left-container {
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: var(--spacing-small);

        .display-picture {
            --size: var(--width-navbar-avatar);
        }
    }

    .mid-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .user-name {
            color: var(--color-label);
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-bold);
        }

        .mid-bottom-container {
            display: flex;
            align-items: center;
            font-size: var(--font-size-small);

            .date {
                color: var(--color-text-label);
            }

            .edited {
                color: var(--color-text-disabled);
            }
        }
    }

    .right-container {
        flex-shrink: 0;

        .dropdown {
            .icon {
                font-size: var(--font-size-large);
            }
        }
    }
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .button {
        margin: 0;
        border: 0!important;
        padding: var(--spacing-small);
        min-width: var(--entry-comment-dropdown-width);
        text-align: left;
        text-transform: capitalize;
        font-size: var(--font-size-normal);
        font-weight: var(--font-weight-normal);

        &:hover {
            background-color: var(--color-background-accent-hint)!important;
        }

        &:active {
            transform: translateY(0);
        }
    }
}

