:root {
    --width-action-item: 96px;
}

.user-detail-action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-small);

    .left-container {
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: var(--spacing-small);

        .display-picture {
            border: var(--width-separator-thin) solid var(--color-accent);
            width: var(--width-navbar-avatar);
            height: var(--height-navbar-avatar);
        }
    }

    .mid-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .user-name {
            color: var(--color-label);
            font-weight: var(--font-weight-bold);
        }

        .mid-bottom-container {
            display: flex;
            align-items: center;
            font-size: var(--font-size-small);

            .date {
                color: var(--color-text-label);
            }

            .edited-button {
                margin: 0 var(--spacing-small);
                border: 0!important;
                background-color: transparent!important;
                padding: 0;
                text-transform: lowercase;
                color: var(--color-primary);

                &:hover {
                    background-color: transparent;
                }

                &:active {
                    transform: translateY(0)!important;
                }
            }
        }
    }

    .right-container {
        flex-shrink: 0;

        .dropdown {
            .icon {
                font-size: var(--font-size-large);
            }
        }
    }
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .button {
        margin: 0;
        border: 0!important;
        padding: var(--spacing-small);
        min-width: var(--width-action-item);
        text-align: left;
        text-transform: capitalize;
        font-size: var(--font-size-normal);
        font-weight: var(--font-weight-normal);

        &:hover {
            background-color: var(--color-background-accent-hint)!important;
        }

        &:active {
            transform: translateY(0);
        }

        &:not(:last-child) {
            border-bottom: var(--width-separator-thin) solid var(--color-separator)!important;
        }
    }
}

