.analysis-module {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .summary {
        .header {
            margin: var(--dui-spacing-large);
        }

        .summary-content {
            display: flex;
            --height-charts: 260px;

            .info-boxes {
                display: flex;
                flex-direction: column;
                width: calc(30% - (var(--dui-spacing-large) * 2));

                .info-box {
                    flex-shrink: 0;
                    margin: var(--dui-spacing-large);
                    width: calc(50% - var(--dui-spacing-large) * 2);

                    .icon {
                        background-color: transparent;
                        height: var(--font-size-extreme-large);
                        color: var(--dui-color-text-on-accent);
                    }
                }

                .bottom-info-box,
                .top-info-box {
                    display: flex;
                    flex-grow: 1;
                    flex-wrap: wrap;
                }
            }

            .pie-chart-container {
                margin: var(--dui-spacing-large);
                width: calc(30% - var(--dui-spacing-large) * 2);
                height: var(--height-charts);
            }

            .analyses-timeline-container {
                margin: var(--dui-spacing-large);
                width: calc(40% - var(--dui-spacing-large) * 2);
                height: var(--height-charts);
            }
        }
    }

    .all-analyses {
        .header {
            margin: var(--dui-spacing-large);
        }

        .analyses-container {
            display: flex;
            flex-direction: column;
            margin: var(--dui-spacing-large);

            .analysis-list {
                flex-grow: 1;
                min-height: 320px;
            }

            .empty-container {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--dui-color-white);
                min-height: 320px;
                font-weight: var(--dui-font-weight-bold);
            }
        }

        .footer {
            margin: var(--dui-spacing-large);
            background-color: var(--dui-color-white);
        }
    }
}
