.export {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;

    .left {
        display: flex;
        flex-basis: 70%;
        flex-direction: column;
        padding: var(--spacing-medium);
        overflow-y: auto;

        .section {
            margin-bottom: var(--spacing-medium);

            .heading {
                .sub-heading {
                    margin-left: var(--spacing-medium);
                    color: var(--color-text);
                }
            }
        }

        .export-button {
            align-self: flex-end;
        }
    }

    .preview {
        border-left: var(--width-separator-thin) solid var(--color-separator);
        width: 30%;
    }
}
