%filter-group {
    background-color: var(--color-foreground);

    .heading {
        // border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-background-header);
        padding: var(--spacing-small);
    }
}

.export {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;

    .left {
        display: flex;
        flex-basis: 70%;
        flex-direction: column;
        overflow-y: auto;

        .section-header {
            display: flex;
            padding: var(--spacing-small);
        }

        .entry-filters {
            @extend %filter-group;
            border-top: var(--width-separator-thin) solid var(--color-separator);

            .entries-filter {
                padding: var(--spacing-small);
            }
        }

        .lead-filters {
            @extend %filter-group;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .lead-attributes {
                .leads-filter-form {
                    display: flex;
                    align-items: flex-end;
                    flex-shrink: 0;
                    padding: var(--spacing-small);
                }
            }

            .leads-table {
                display: flex;
                position: relative;
                flex-direction: column;
                flex-grow: 1;
                background-color: var(--color-foreground);
                overflow-y: auto;
            }
        }

        .export-button {
            align-self: flex-end;
            margin: var(--spacing-small);
        }
    }

    .preview {
        border-left: var(--width-separator-thin) solid var(--color-separator);
        width: 30%;
    }
}
