
.lead-list-item {
    position: relative;

    .add-lead-list-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        outline: none;
        border: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        border-left: var(--width-separator-thick) solid transparent;
        background-color: transparent;
        cursor: pointer;
        padding: var(--spacing-small);
        width: 100%;
        overflow: hidden;
        color: var(--color-text);
        font-family: inherit;
        font-size: inherit;
        user-select: none;

        &.active {
            border-left: var(--width-separator-thick) solid var(--color-accent);
            background-color: var(--color-background-hover);
        }


        .icon {
            flex-shrink: 0;
            margin: 0 var(--spacing-small);
            padding: 0;
            width: var(--width-icon-large);
            font-size: var(--font-size-large);
        }

        .title {
            flex-basis: calc(100% - (var(--width-icon-large) + var(--spacing-small) * 2 ) * 2);
            margin: 0;
            padding: var(--spacing-small) 0;
            text-align: left;
            word-break: break-all;
        }

        .status-icon {
            flex-shrink: 0;
            margin: 0 var(--spacing-small);
            padding: 0;
            width: var(--width-icon-large);
            color: var(--color-text-label);
            font-size: var(--font-size-medium-alt);
        }

        .pending {
            animation: spin 1s linear infinite;
        }

        .warning {
            color: var(--color-warning);
        }

        .error {
            color: var(--color-danger);
        }

        .complete {
            color: var(--color-success);
        }

        .pristine {
            color: var(--color-text-label);
        }

        .progress-bar {
            display: block;
            flex-basis: 100%;
            transition: 1s opacity ease-in-out;
            opacity: 1;
            background-color: var(--color-background);
            width: 100%;
            height: var(--height-progress-bar);

            .progress {
                display: block;
                transition: .6s width ease-in-out;
                background-color: var(--color-accent);
                height: 100%;
            }

            &.completed {
                opacity: 0;
            }

            &.hide {
                opacity: 0;
            }
        }
    }

    .remove-button {
        display: none;
        position: absolute;
        top: 50%;
        right: var(--spacing-medium);
        transform: translateY(-50%);
    }

    &:hover {
        .add-lead-list-item {
            .status-icon {
                display: none;
            }
        }

        .remove-button {
            display: initial;
            opacity: 1;
            animation: fade .5s linear;
        }
    }
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
