.lead-card {
    display: flex;
    border-radius: var(--dui-border-radius-card);
    background-color: var(--dui-color-foreground);
    max-height: 25vh;

    .heading {
        display: flex;
        align-items: center;
        gap: var(--dui-spacing-medium);
    }

    .source-details {
        flex-grow: 1;
        background-color: transparent;
        padding: var(--dui-spacing-large);

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-large);

            .meta-section {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-small);
            }
        }
    }
}
