:root {
    --width-theme-selection-dropdown: 160px;
}

.icon {
    font-size: var(--font-size-super-large);
}

.item {
    display: block;
    width: 100%;
    text-align: left;
    text-transform: capitalize;

    &.active {
        background-color: var(--color-accent);
        color: var(--color-text-on-accent) !important;
    }
}

.theme-selection-dropdown {
    width: var(--width-theme-selection-dropdown);
}

