.dropdown {
    &.visible {
        opacity: 1!important;
    }
}
.items {
    display: flex;
    flex-direction: column;

    .item {
        margin: 0;
        border: 0!important;
        padding: var(--spacing-small);
        min-width: var(--entry-comment-dropdown-width);
        text-align: left;
        text-transform: capitalize;
        font-size: var(--font-size-normal);
        font-weight: var(--font-weight-normal);

        &:hover {
            background-color: var(--color-background-accent-hint)!important;
        }

        &.active {
            color: var(--color-accent);
        }
    }
}
