.edit-connector-modal {
    display: flex;
    /* FIXME: Make modal width overridable in deep ui */
    --dui-width-modal-large: 1080px;

    .body {
        display: flex;
        gap: var(--dui-spacing-large);
        --width-left-pane: 30rem;

        .left-container {
            display: flex;
            flex-basis: var(--width-left-pane);
            flex-direction: column;
            flex-shrink: 0;
            gap: var(--dui-spacing-medium);

            .sources-container {
                background-color: var(--dui-color-foreground);

                .buttons {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--dui-spacing-small);
                }
            }
        }

        .right-container {
            flex-basis: calc(100% - var(--width-left-pane) - var(--dui-spacing-large));
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}
