.geographical-area-assessments {
    position: relative;
    z-index: 1;

    .map {
        width: auto;
        height: 50em;
    }

    .region-selectors {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: baseline;
        z-index: 2;
        border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        border-bottom-right-radius: var(--dui-border-radius-card);
        background-color: #fff;
        padding: var(--dui-spacing-small);
        gap: var(--dui-spacing-small);
    }
}
