.date-output {
    display: flex;
    padding: calc(var(--spacing-small) - var(--spacing-extra-small));

    .icon {
        margin: var(--spacing-extra-small);
    }

    .label {
        margin: var(--spacing-extra-small);
    }

    .date {
        margin: var(--spacing-extra-small);
    }
}
