@import '../../stylesheets/base';

.list-item {
    display: flex;

    .marker {
        align-self: flex-start;
        flex-shrink: 0;
        padding-right: $spacing-small;
        color: $color-text-label;
    }

    .label {
        flex-grow: 1;
    }
}
