@import '~base-scss/base';

.list-item {
    display: flex;
    padding: $spacing-extra-small 0;

    .marker {
        align-self: flex-start;
        flex-shrink: 0;
        padding-right: $spacing-small;
        color: $color-text-label;
    }

    .label {
        flex-grow: 1;
    }
}
