:root {
    --width-dimension-column: 96px;
}

.dimension-td {
    width: var(--width-dimension-column);
    font-weight: var(--font-weight-bold);
}

.tiltable-text-container {
    overflow: hidden;
}
