.geo-list-input {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;

    .action {
        padding: var(--spacing-extra-small) var(--spacing-small);
    }

    .select-input {
        flex-grow: 1;
        overflow-y: auto;
    }
}
