
.geo-list-input {
    display: flex;
    flex-direction: column;
    height: 100%;

    .action {
        padding: var(--spacing-extra-small) var(--spacing-small);
    }

    .select-input {
        flex-grow: 1;
    }

    .no-list-selection {
        display: flex;
    }
}
