
.analysis-framework {
    .header {
        display: flex;
        align-items: center;

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .tabs {
            flex-shrink: 0;
            background-color: transparent;
        }

        .action-buttons {
            flex-shrink: 0;
            padding: 0 var(--spacing-medium);

            >button {
                margin-left: var(--spacing-medium);
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;

        .content {
            display: none;
            flex-grow: 1;
            overflow: auto;

            &.active {
                display: block;
            }
        }
    }
}

.analysis-framework-loading {
    height: 100%;
}
