@import '~base-scss/base';

.workshop {
    @extend %main-content;
    padding: $spacing-small;
    overflow-y: auto;

    .faram {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        > * {
            padding: $spacing-small;
        }
    }

    .firstRow {
        display: flex;
        justify-content: space-between;
        width: 100%;

        > div {
            flex-basis: 20%;
            margin: $spacing-large;
            border: 1px solid $color-accent;
            padding: $spacing-medium;
        }
    }

}
