
.user-project-add-form {
    position: relative;

    .is-private-checkbox {
        margin-top: var(--spacing-medium);
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: var(--spacing-medium);

        button {
            margin-left: var(--spacing-medium);
        }
    }
}
