.stakeholder-list {
    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .stakeholder-details {
            display: flex;
            align-items: center;

            .logo-container {
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                justify-content: center;
                padding: var(--dui-spacing-extra-small) var(--dui-spacing-small);

                .icon {
                    width: 1.5em;
                    height: 1.5em;
                    object-fit: contain;
                    object-position: center center;
                }
            }

            .title {
                display: inline;
                flex-grow: 1;
                padding: var(--dui-spacing-extra-small) var(--dui-spacing-small);
                color: var(--dui-color-text-label);
                font-size: var(--dui-font-size-small);

                .tag {
                    display: inline-flex;
                    margin: 0 var(--dui-spacing-extra-small);
                    padding: 0 var(--dui-spacing-small);
                    font-size: var(--dui-font-size-small);
                }
            }
        }
    }
}
