@import '~base-scss/base';

.input {
    width: 100%;
    height: 100%;
}

.number-container {
    display: flex;
    justify-content: space-between;

    .input {
        flex-basis: calc(50% - var(--spacing-extra-small));
    }
}

