.chip {
    display: flex;
    align-items: center;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--font-size-large);
    background-color: var(--color-background);
    padding: var(--spacing-extra-small) var(--spacing-small);
    color: var(--color-text-label);
    font-size: var(--font-size-medium);

    &:hover {
        background-color: var(--color-background-alt);
    }

    .label {
        padding: var(--spacing-extra-small);
        text-transform: capitalize;
    }

    .close-button {
        padding: 0 var(--spacing-extra-small);
    }
}
