@import '~base-scss/base';

$width-button-min: 20px;
$width-button-max: 320px;

$height-link: $font-size-extra-large;


.zen-help {
    width: $width-button-min;
    align-items: center;
    overflow: hidden;
    display: flex;
    border-radius: $height-link / 2;
    margin-right: $spacing-large;
    transition: $duration-transition-medium width ease-in-out,
        $duration-transition-medium $duration-transition-medium justify-content linear;

    .help-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .icon {
            font-size: $height-link;
            width: $width-button-min;
            flex-shrink: 0;
            color: $color-accent;
        }

        .content {
            flex-shrink: 0;
        }

    }

    &:hover {
        width: $width-button-max;
        justify-content: flex-end;

        .help-link {


            .content {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .text {
                    max-width: $width-button-max - $width-button-min * 2;
                    overflow: hidden;
                    text-align: right;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .admin {
                    display: flex;
                    justify-content: flex-end;
                    width: $width-button-min;
                }
            }
        }
    }

}

