@import '~base-scss/base';

.header {
    background-color: $color-foreground;
color: $color-text-on-foreground;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: $spacing-small 0;

    .inputs {
        display: flex;
        flex-grow: 1;
        padding: 0 $spacing-small;
    }

    .action-buttons {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0 $spacing-small;

        >* {
            margin-left: $spacing-small;
        }
    }
}

.content {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow: auto;

    .scroll-wrapper {
        flex-grow: 1;
        background-color: $color-background-row;
        overflow-x: auto;
        overflow-y: scroll;
    }
}
