
.list-item {
    display: flex;
    padding: var(--spacing-extra-small) 0;

    .marker {
        align-self: flex-start;
        flex-shrink: 0;
        padding-right: var(--spacing-small);
        color: var(--color-text-label);
    }

    .label {
        flex-grow: 1;
    }
}
