.highlightable-text-output {
    --color-highlight: #FFFF00;
    --color-text-on-highlight: #000;
    .start {
        display: inline;
    }

    .highlight {
        display: inline;
        background-color: var(--color-highlight);
        color: var(--color-text-on-highlight);
    }

    .end {
        display: inline;
    }
}
