.modal {
    width: 80vw!important;
}
.modal-body {
    display: flex;

    .left-container {
        flex-shrink: 0;
        border-right: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        width: 24rem;

        .heading-section,
        .heading-action {
            display: flex;
            flex-direction: column;
        }
    }

    .right-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: var(--dui-spacing-small);
        gap: var(--dui-spacing-small);
        overflow-y: auto;

        .sheets {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            gap: var(--dui-spacing-small);
        }

        .footer {
            display: flex;
            flex-shrink: 0;
            justify-content: flex-end;

            .save-button {
                flex-shrink: 0;
            }
        }
    }
}
