.modal-body {
    display: flex;

    .left-container {
        flex-shrink: 0;
        border-right: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        width: 16rem;
    }

    .right-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: var(--dui-spacing-small);
        gap: var(--dui-spacing-small);
        overflow-y: auto;

        .sheets {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-small);
        }
    }
}
