
.region-map {
    display: flex;
    position: relative;
    flex-direction: column;

    .map-container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;

        .geo-json-map {
            flex-grow: 1;
        }

        .refresh-button {
            display: block;
            position: absolute;
            top: var(--spacing-small);
            left: var(--spacing-small);
            z-index: 1;

            .button {
                margin: var(--spacing-small);
            }
        }

        .bottom-container {
            position: absolute;
            bottom: var(--spacing-small);
            left: 50%;
            flex-direction: row;
            transform: translateX(-50%);
            z-index: 11;
            max-width: 100%;
        }
    }
}
