@import '~base-scss/base';

.region-map {
    display: flex;
    position: relative;
    flex-direction: column;

    .map-container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;

        .geo-json-map {
            flex-grow: 1;
        }

        .bottom-bar {
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            border-top: $width-separator-thin solid $color-separator;
        }

        .refresh-button {
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 1;
        }
    }
}
