.region-map {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-y: auto;

    .map-container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .geo-json-map {
            flex-grow: 1;
            overflow: hidden;

            :global {
                .mapboxgl-ctrl-top-right {
                    top: 40px;
                    right: 10px;

                    .mapboxgl-ctrl {
                        margin: 0px;
                        border-right: var(--width-separator-medium) solid var(--color-separator-alt);
                        border-bottom: var(--width-separator-medium) solid var(--color-separator-alt);
                        border-left: var(--width-separator-medium) solid var(--color-separator-alt);
                        border-radius: 0;
                        box-shadow: none;
                    }
                }
            }
        }

        .lock-button {
            box-sizing: border-box;
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            outline: none;
            border: none!important;
            border-top: var(--width-separator-medium) solid var(--color-separator-alt)!important;
            border-right: var(--width-separator-medium) solid var(--color-separator-alt)!important;
            border-bottom: 1px solid #ddd!important;
            border-left: var(--width-separator-medium) solid var(--color-separator-alt)!important;
            border-radius: 0!important;
            // box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
            cursor: pointer;
            padding: 0;
            width: 34px;
            height: 30px;
            color: #000!important;
            font-size: var(--font-size-medium-alt);
        }

        .top-container {
            display: block;
            position: absolute;
            top: var(--spacing-small);
            left: var(--spacing-small);
            z-index: 1;

            .button {
                margin: var(--spacing-small);
            }
        }

        .bottom-container {
            position: absolute;
            bottom: var(--spacing-small);
            left: 50%;
            flex-direction: row;
            transform: translateX(-50%);
            z-index: 11;
            max-width: 100%;
        }
    }
}
