.modal {
    border: none;
    padding: 0;
    width: 60vw;
    min-width: 640px;
    height: 90vh;
    min-height: 720px;
    max-height: 96vh;

    .header {
        background-color: var(--dui-color-brand);
        padding: var(--dui-spacing-medium);

        >div {
            display: flex;
            align-items: flex-start;
        }

        * {
            // FIXME: To be removed after appropriate props are exposed
            color: var(--dui-color-text-on-accent)!important;
        }

        .close-button {
            color: var(--dui-color-text-on-accent)!important;
        }

        .heading-container {
            display: flex;
            justify-content: center;
            padding: var(--dui-spacing-large);

            .deep-logo {
                margin: var(--dui-spacing-large);
                height: 6rem;
                color: var(--dui-color-text-on-accent);
            }

            .right-container {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                margin: calc(var(--dui-spacing-large) - var(--dui-spacing-medium)) var(--dui-spacing-large);
                width: 420px;
                color: var(--dui-color-text-on-accent);

                .top-text {
                    margin: var(--dui-spacing-medium);
                    text-align: center;
                    text-transform: none;
                }

                .bottom-text {
                    margin: var(--dui-spacing-medium);
                    text-align: center;
                }
            }
        }
    }

    .content {
        padding: 0;

        .login {
            border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        }
    }

    .footer {
        >* {
            display: flex;
            justify-content: center;
            padding: var(--dui-spacing-medium);
            font-weight: var(--dui-font-weight-bold);
        }
    }
}
