.tagged-excerpt {
    /* NOTE: when user select tagged excerpt, the add button will be visible */
    position: relative;
    border: var(--dui-width-separator-thin) solid var(--dui-color-accent);
    background-color: var(--dui-color-foreground);
    max-height: 360px;
    overflow-y: auto;
    font-weight: var(--dui-font-weight-bold);
    user-select: none;

    .heading-section {
        overflow: visible;
    }

    .vertical-border {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        width: var(--dui-width-separator-thick);
        height: 100%;
    }

    &.created-from-assisted {
        border-color: var(--dui-color-nlp);
    }

    &.active {
        .vertical-border {
            background-color: var(--dui-color-accent);
            animation: grow var(--dui-duration-transition-medium) ease-in forwards;
        }

        &.created-from-assisted {
            .vertical-border {
                background-color: var(--dui-color-nlp);
            }
        }
    }

    .content {
        display: flex;
        flex-direction:column;
        overflow-y: auto;

        .clickable-area {
            display: flex;
            flex-direction:column;
            flex-grow: 1;
            cursor: pointer;
            overflow-y: auto;
        }
    }
}

.excerpt-text-area {
    font-size: var(--dui-font-size-medium);
}

.edit-excerpt-popup {
    width: 30rem;
    max-width: unset!important;

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);
        padding: var(--dui-spacing-medium);
    }
}


.diff-excerpt-popup {
    width: 30rem;
    max-width: unset!important;

    .content {
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

        .excerpt {
            .text {
                padding: var(--dui-spacing-small);
            }
        }
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.excerpt-modal-container {
    background-color: var(--dui-color-foreground);
}
