.excerpt-input {
    display: flex;
    flex-direction: column;
    min-height: 64px;
    overflow-y: auto;
    gap: var(--dui-spacing-small);

    .empty-excerpt {
        color: var(--dui-color-text-label);
        font-weight: var(--dui-font-weight-regular);
        font-style: italic;
    }

    .image {
        background-color: var(--dui-color-background-information);
    }

    .text-area {
        flex-grow: 1;
    }
}
