:root {
    --size-default-icon: 48px;
}

.notification {
    display: flex;
    padding: var(--spacing-small) 0;

    &:not(:last-child) {
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
    }

    .left {
        flex-basis: var(--size-default-icon);
        flex-shrink: 0;
        margin: var(--spacing-medium);
        border: var(--width-separator-thin) solid var(--color-accent);
        border-radius: 50%;
        height: var(--size-default-icon);
        overflow: hidden;

        >* {
            width: 100%;
            height: 100%;
        }

        .default-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--font-size-super-large);
        }
    }

    .right {
        flex-grow: 1;

        .message {
            padding: var(--spacing-small) var(--spacing-medium);
        }

        .timestamp {
            display: flex;
            padding: 0 var(--spacing-medium);

            .timestamp-icon {
                flex-shrink: 0;
                padding-right: var(--spacing-small);
            }

            .date {
                color: var(--color-text-label);
            }
        }

        .actions {
            margin-top: var(--spacing-medium-alt);
        }
    }

    &:hover {
        background-color: var(--color-background-hover);
    }
}

