@import '~base-scss/base';

.lead-tabular {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;

    .form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 480px;
        overflow: auto;

        .header {
            :global {
                .heading {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .body {
            display: flex;
            height: 480px;
        }
    }
}
