@import '~base-scss/base';

.lead-tabular {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;

    .form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 560px;
        overflow: auto;

        .header {
            :global {
                .heading {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .body {
            padding: 0;
            height: 480px;

            .options {
                display: flex;
                flex-direction: column;
            }

            .csv {
                padding: $spacing-medium;
            }
        }
    }
}
