.card {
    flex-basis: var(--width-entry-label-card);
    background-color: var(--color-foreground);
    cursor: grab;
}

.entry-config {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    overflow-y: auto;

    .header {
        display: flex;
        align-items: center;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small) var(--spacing-medium);

        .heading {
            flex-grow: 1;
            text-transform: capitalize;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .cards {
            display: flex;
            align-content: flex-start;
            align-items: flex-start;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
}
