.card-container {
    position: relative;
    background-color: var(--color-foreground);
    padding: var(--spacing-small);
    width: auto;

    .card {
        border: var(--width-separator-thin) solid var(--color-separator);
        width: var(--width-entry-label-card);
        height: var(--height-entry-label-card);
    }

    .drag-handle {
        position: absolute;
        top: var(--spacing-large);
        left: var(--spacing-large);
        z-index: 1;
        background-color: var(--color-foreground);
        cursor: grab;
        padding: var(--spacing-extra-small-alt) var(--spacing-small);
        font-size: var(--font-size-large);
    }
}

.entry-config {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    overflow-y: auto;

    .header {
        display: flex;
        align-items: center;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small) var(--spacing-medium);

        .heading {
            flex-grow: 1;
            text-transform: capitalize;
        }
    }

    .container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        padding: calc(var(--spacing-medium) - var(--spacing-small));
        overflow-y: auto;

        .cards {
            display: flex;
            align-content: flex-start;
            align-items: flex-start;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: center;
            overflow-y: auto;

            .card-container {
                .drag-handle {
                    opacity: 0;
                }

                &:not(.disable-hover) {
                    &:hover {
                        .drag-handle {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        :global {
            .list-view-empty {
                align-content: unset;
                align-items: unset;
                flex-wrap: unset;
                justify-content: unset;
            }
        }
    }
}

