@import '~base-scss/base';

.links-table {
    $width-id-column: 40%;
    $width-refs-column: 64px;
    $width-string-id-column: 108px;
    $width-string-column: calc(100% - #{$width-id-column} - #{$width-refs-column + $width-string-id-column});

    :global {
        .headers {
            .id {
                width: $width-id-column;
            }

            .stringId {
                width: $width-string-id-column;
            }

            .refs {
                width: $width-refs-column;
            }

            .string {
                width: $width-string-column;
            }
        }

        .body {
            .id,
            .stringId,
            .refs {
                font-family: $font-family-monospace;
            }

            .actions {
                white-space: nowrap;
            }
        }
    }
}

.delete-string-confirm {
    .delete-confirm-accept-button {
        min-width: 72px;
    }

    .delete-confirm-reject-buton {
    }
}
