:root {
    --width-id-column: 40%;
    --width-refs-column: 64px;
    --width-string-id-column: 108px;
    --width-string-column: calc(100% - var(--width-id-column) - var(--width-refs-column) - var(--width-string-id-column));
}

.links-table {

    :global {
        .headers {
            .id {
                width: var(--width-id-column);
            }

            .stringId {
                width: var(--width-string-id-column);
            }

            .refs {
                width: var(--width-refs-column);
            }

            .string {
                width: var(--width-string-column);
            }
        }

        .body {
            .id,
            .stringId,
            .refs {
                font-family: var(--font-family-monospace);
            }

            .actions {
                white-space: nowrap;
            }
        }
    }
}
