.project-questionnaires {
    >.header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
        }
    }

    .sidebar {
        .project-details {
            padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

            .heading {
                padding: var(--spacing-small) var(--spacing-medium);
            }

            .value {
                padding: 0 var(--spacing-medium);
            }
        }

        .questionnaires {
            padding: var(--spacing-medium) 0;

            .header {
                .heading {
                    padding: var(--spacing-small) var(--spacing-medium);
                }

                border-bottom: var(--width-separator-thin) solid var(--color-separator);
            }

            .tab {
                display: flex;
                text-transform: none;

                .label {
                    flex-grow: 1;
                }

                .count {
                    flex-shrink: 0;
                }
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        background-color: var(--color-foreground)!important;
        padding: var(--spacing-extra-large) 0;
        overflow-y: auto;

        .content {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
