@import '~base-scss/base';

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;

    .action-buttons {
        .button {
            margin-left: $spacing-small;
        }

        .link {
            @extend %button-like-link;
            margin-left: $spacing-small;
            font-weight: $font-weight-bold;
        }
    }
}
