@import '~base-scss/utils';

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;

    .action-buttons {
        .button {
            margin-left: var(--spacing-small);
        }
    }
}
