
.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;

    .action-buttons {
        .button {
            margin-left: var(--spacing-small);
        }

        .link {
            @extend %button-like-link;
            margin-left: var(--spacing-small);
            font-weight: var(--font-weight-bold);
        }
    }
}
