.expandable-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);

    .section-header {
        display: flex;
        align-items: center;
        border: var(--width-separator-thin) solid var(--color-separator)!important;
        background-color: var(--color-background-header);
        padding: var(--spacing-medium-alt);
        text-align: left;
        color: var(--color-text);

        .heading {
            flex-grow: 1;
            text-transform: none;
            font-size: var(--font-size-medium);
        }

        .icon {
            flex-shrink: 0;
        }
    }

    .content {
        display: none;
        border: var(--width-separator-thin) solid var(--dui-color-grey6);
        border-top: none;
        border-bottom-left-radius: var(--dui-border-radius-card);
        border-bottom-right-radius: var(--dui-border-radius-card);
        padding: var(--spacing-medium);

        &.visible {
            display: block;
        }
    }
}
