@import '../../stylesheets/base.scss';

.geo-list-input {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: $spacing-small $spacing-medium;

        .title {
            flex-grow: 1;
            text-transform: uppercase;
        }

        .action {
            flex-shrink: 0;
        }
    }

    .select-input {
        flex-grow: 1;
    }

    .no-list-selection {
        display: flex;
    }
}
