.excerpt {
    position: relative;
    height: 100%;
    overflow: auto;

    .image {
        width: 100%;
        height: 100%;
    }

    .image-alt {
        object-fit: contain;
        object-position: center center;
        pointer-events: none;
    }

    .text-container {
        width: calc(100% - var(--spacing-small) * 2);
        height: calc(100% - var(--spacing-extra-small) * 2);

        .floating-button {
            margin-bottom: var(--spacing-small);
            border: var(--width-separator-thin) solid var(--color-separator);
            border-radius: 50%;
            padding: var(--spacing-extra-small) var(--spacing-extra-small-alt);
        }
    }

    .text {
        margin: var(--spacing-extra-small) var(--spacing-small);
        width: 100%;
        height: 100%;
        resize: none;

        :global {
            .input {
                padding: var(--spacing-small);
                width: 100%;
                height: 100%;
                resize: none;
            }
        }
    }

    .data-series {
        width: 100%;
        height: 100%;
    }
}
