@import '~base-scss/base';

.excerpt {
    position: relative;
    height: 100%;
    overflow: auto;

    .image {
        width: 100%;
        height: 100%;
    }

    .image-alt {
        object-fit: contain;
        object-position: center center;
        pointer-events: none;
    }

    .text {
        margin: $spacing-extra-small $spacing-small;
        width: calc(100% - var(--spacing-small) * 2);
        height: calc(100% - var(--spacing-extra-small) * 2);
        resize: none;

        :global {
            .input {
                padding: $spacing-small;
                width: 100%;
                height: 100%;
                resize: none;
            }
        }
    }

    .data-series {
        width: 100%;
        height: 100%;
    }
}
