@import '~base-scss/base';

.excerpt {
    position: relative;
    height: 100%;
    overflow: auto;

    .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
        pointer-events: none;
    }

    .text {
        margin: $spacing-extra-small $spacing-small;
        width: calc(100% - #{$spacing-small*2});
        height: calc(100% - #{$spacing-extra-small*2});
        resize: none;

        :global {
            .input {
                padding: $spacing-small;
                width: 100%;
                height: 100%;
                resize: none;
            }
        }
    }

    .data-series {
        width: 100%;
        height: 100%;
    }

    .format-button {
        @include transition-medium;
        position: absolute;
        right: $spacing-large;
        bottom: $spacing-extra-large;
        opacity: .2;
        font-size: $font-size-extra-large;
    }

    &:hover {
        .format-button {
            opacity: 1;
        }
    }
}
