
.input-container {
    display: flex;
    flex-direction: column;
    // border-left: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-extra-small);
    width: 100%;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: var(--spacing-small);

        .title {
            font-weight: var(--font-weight-bold);
        }

        .right-container {
            display: flex;
            align-items: center;

            .delete-button {
                flex-shrink: 0;
                font-size: var(--font-size-large);
            }

            .invert-checkbox {
                flex-shrink: 0;
                margin-right: var(--spacing-small);
                width: auto;
                text-transform: uppercase;
            }
        }
    }

    .select-inputs {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;

        .condition-type-select {
            margin-right: var(--spacing-small);
            padding-bottom: var(--spacing-extra-small);
        }

        .condition-attributes {
            display: flex;
            padding-bottom: var(--spacing-extra-small);
        }
    }
}
