@import '~base-scss/base';

.input-container {
    display: flex;
    flex-direction: column;
    // border-left: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
    padding: $spacing-small $spacing-extra-small;
    width: 100%;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: $spacing-small;

        .title {
            font-weight: $font-weight-bold;
        }

        .right-container {
            display: flex;
            align-items: center;

            .delete-button {
                flex-shrink: 0;
                font-size: $font-size-large;
            }

            .invert-checkbox {
                flex-shrink: 0;
                margin-right: $spacing-small;
                width: auto;
                text-transform: uppercase;
            }
        }
    }

    .select-inputs {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;

        .condition-type-select {
            margin-right: $spacing-small;
            padding-bottom: $spacing-extra-small;
        }

        .condition-attributes {
            display: flex;
            padding-bottom: $spacing-extra-small;
        }
    }
}
