
.text-output {
    padding: var(--spacing-small);
    width: 100%;
    height: 100%;

    .text {
        margin: 0;
        height: 100%;
        overflow-y: auto;
        text-align: justify;
    }
}
