.toggle-entry-verification {
    display: flex;

    .verify-actions {
        border-radius: 1em;
        background-color: var(--dui-color-foreground);
        color: var(--dui-color-accent);

        >* {
            margin: 0 var(--dui-spacing-extra-small);
        }
    }
}
