@import '~base-scss/utils';

:root {
    --width-search-input: 240px;
    --height-modal-body: 60vh;
}

.add-gallery-file-modal {
    width: var(--width-modal-large);

    .modal-header {
        border-bottom: none;
    }

    .search-input {
        width: var(--width-search-input);
    }

    .modal-body {
        position: relative;
        background-color: var(--color-foreground);
        padding: 0;
        height: var(--height-modal-body);

        .table {
            border-top: var(--width-separator-thin) solid var(--color-separator);
            height: 100%;

            :global {
                .actions {
                    width: var(--width-table-checkbox);
                }

                .createdAt {
                    width: var(--width-table-date-time);
                }

                .mimeType {
                    width: var(--width-table-icon);
                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .file-input {
            width: auto;

            :global .label {
                @include button-like-link(var(--color-accent));
            }
        }
    }
}

