.stakeholder {
    display: flex;
    border: none;
    border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    background-color: var(--dui-color-background-card);
    overflow: unset;
    --height-icon: 48px;

    .header {
        padding: 0;
    }

    .content {
        display: flex;
        padding: var(--dui-spacing-extra-small);
        overflow: unset;

        .icon {
            width: var(--height-icon);
            height: var(--height-icon);
        }
    }

    .text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-grow: 1;
        padding: var(--dui-spacing-extra-small) 0;

        .name {
            padding: 0 var(--dui-spacing-extra-small);
            font-size: var(--dui-font-size-large);
        }

        .abbr {
            padding: 0 var(--dui-spacing-extra-small);
            color: var(--dui-color-text-label);
        }
    }


    &:hover {
        background-color: var(--dui-color-background-hover);
    }
}

