.admin-level {
    display: flex;
    flex-grow: 1;

    .title {
        padding: var(--dui-spacing-small);
        color: var(--dui-color-accent);
        font-size: var(--dui-font-size-large);
        font-weight: var(--dui-font-weight-bold);
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .row {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }
    }
}
