.canvas {
    display: flex;
    flex-wrap: wrap;
    padding: var(--dui-spacing-large);
    gap: var(--dui-spacing-large);

    .widget-container {
        flex-basis: 100%;

        &.half-widget {
            flex-basis: calc(50% - var(--dui-spacing-large) / 2);
        }

        &.errored {
            border: var(--dui-width-separator-thin) solid var(--dui-color-danger);
        }
    }
}
