.cell-group {
    background-color: transparent;

    .cell-group-content {
        &:not(.vertical) {
            display: flex;
            flex-wrap: wrap;
            overflow: visible;
            gap: var(--dui-spacing-small);
        }
    }
}
