@import '~base-scss/utils';

.export-types {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: var(--color-foreground);
    padding: var(--spacing-medium);

    .export-type-container {
        .export-type-select-list {
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;

            .export-type-select {
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }

    .report-structure {
        .heading {
            margin-bottom: var(--spacing-small);
        }

        .bottom-container {
            display: flex;
            align-items: flex-start;
            margin: 0 var(--spacing-small);
        }

        .include-sub-sector {
            margin-bottom: var(--spacing-small);
        }
    }

    .content-settings {
        .show-group-checkbox,
        .show-entry-id-checkbox,
        .show-ary-details-checkbox,
        {
            margin: var(--spacing-small-alt) 0;
        }
    }
}
