@import '~base-scss/utils';

.export-types {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: var(--color-foreground);
    padding: var(--spacing-medium);

    .export-type-select-list {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;

        .export-type-select {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    .report-structure {
        display: flex;

        .heading {
            margin-bottom: var(--spacing-small);
        }

        .left-container {
            flex-grow: 1;
            margin: 0 var(--spacing-small);
        }

        .include-sub-sector {
            margin-bottom: var(--spacing-small);
        }
    }

    .content-settings {
        .show-group-checkbox {
            margin-bottom: var(--spacing-small-alt);
        }
    }
}
