@import '../../../../../stylesheets/base';

.sortable-unit {
    display: flex;
    align-items: center;
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
    padding: $spacing-small;
    width: 100%;

    .title-input {
        flex-grow: 1;
        margin-left: $spacing-small;
        padding: 0 $spacing-extra-small;
    }

    .delete-button {
        flex-shrink: 0;
    }
}

