@import '../../../../../stylesheets/base';

.input-container {
    display: flex;
    align-items: center;
    background-color: $color-foreground;
    padding: $spacing-small;
    width: 100%;

    .color-input {
        flex-shrink: 0;
        padding-right: $spacing-small;
    }

    .title-input {
        flex-grow: 1;
        padding: 0 $spacing-extra-small;
    }

    .delete-button {
        flex-shrink: 0;
    }
}
