
.word-category-detail {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-background-header);

        .heading {
            flex-grow: 1;
            padding: var(--spacing-small) var(--spacing-medium);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .action-buttons {
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-medium);

            button {
                margin-left: var(--spacing-small);
            }


            .edit-category-editor-link {
                @include button-like-link(var(--color-warning));
                margin-left: var(--spacing-small);
            }
        }
    }
}
