@import '~base-scss/base';

.number-widget {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-small;
    width: 100%;
    height: 100%;
}
