@import '~base-scss/base';

.input {
    margin-right: $spacing-small;
}

.multi-select-container {
    display: flex;
    align-items: flex-end;

    .multi-input {
        flex-shrink: 0;
        width: 180px;
    }
}
