
.input {
    margin-right: var(--spacing-small);
}

.multi-select-container {
    display: flex;
    align-items: flex-end;

    .multi-input {
        flex-shrink: 0;
        padding-right: var(--spacing-small);
        width: 180px;
    }
}
