.tooltip {
    width: var(--width-modal-extra-small);

    .header {
        padding: var(--spacing-small);
    }

    .entry-groups {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: var(--spacing-small);

        .entry-group {
            margin-right: var(--spacing-extra-small);

            &:not(:last-child) {
                &:after {
                    content: ',',
                }
            }
        }
    }
}
