@import '~base-scss/base';

.edit-entries {
    height: 100%;

    .header {
        display: flex;
        align-items: center;

        .heading {
            flex-grow: 1;
            padding: 0 $spacing-medium;
            overflow: hidden;
            text-transform: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .tabs {
            flex-shrink: 0;
            margin-right: $spacing-small;
            background-color: transparent;
        }

        .action-buttons {
            flex-shrink: 0;
            padding: 0 $spacing-medium;

            .edit-framework-link {
                @include button-like-link($color-accent);

                .edit-icon {
                    margin-right: $spacing-small;
                }
            }

            >button {
                margin-left: $spacing-medium;
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;

        .content {
            display: none;
            flex-grow: 1;
            overflow: auto;

            &.active {
                display: block;
            }
        }
    }
}
