@import '~base-scss/utils';


.edit-entries {
    height: 100%;

    .header {
        display: flex;
        align-items: center;

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
            overflow: hidden;
            text-transform: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .tabs {
            flex-shrink: 0;
            margin-right: var(--spacing-small);
            background-color: transparent;
        }

        .action-buttons {
            flex-shrink: 0;
            padding: 0 var(--spacing-medium);

            .edit-framework-link {
                @include button-like-link(var(--color-accent));

                .edit-icon {
                    margin-right: var(--spacing-small);
                }
            }

            >button {
                margin-left: var(--spacing-medium);
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;

        .content {
            display: none;
            flex-grow: 1;
            overflow: auto;

            &.active {
                display: block;
            }
        }
    }
}
