@import '~base-scss/base';

$height-header: 42px;

.edit-entries {
    margin: -$spacing-small;
    padding: 0;
    height: 100%;

    .header {
        display: flex;
        align-items: center;
        border-bottom: $width-separator-thin solid $color-separator-alt;
        background-color: $color-background-header;
        height: $height-header;

        .heading {
            flex-grow: 1;
            padding: 0 $spacing-medium;
            overflow: hidden;
            text-transform: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .tabs {
            flex-shrink: 0;
            margin-right: $spacing-small;
            background-color: transparent;
        }

        .action-buttons {
            flex-shrink: 0;
            padding: 0 $spacing-medium;

            .edit-framework-link {
                @include button-like-link($color-accent);

                .edit-icon {
                    margin-right: $spacing-small;
                }
            }

            >button {
                margin-left: $spacing-medium;
            }
        }
    }

    .content {
        @extend %main-content;
        display: none;
        margin: $spacing-small;
        height: calc(100% - #{$height-header});

        &.active {
            display: block;
        }
    }
}
