
.project-panel {
    .sidebar {
        border-right: var(--width-separator-thin) solid var(--color-separator-alt);
        height: 100%;
    }
    .header {
        display: flex;
        align-items: center;

        .left-container {
            display: flex;
            align-items: center;
            flex-grow: 1;

            .heading {
                margin-right: var(--spacing-small);
                overflow: hidden;
                text-transform: none;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .action-buttons {
            flex-shrink: 0;
            padding-left: var(--spacing-medium);
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .project-details {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
