@import '~base-scss/base';

.project-panel {
    .sidebar {
        border-right: $width-separator-thin solid $color-separator-alt;
    }

    .header {
        display: flex;
        align-items: center;

        .heading {
            flex-grow: 1;
            overflow: hidden;
            text-transform: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .action-buttons {
            flex-shrink: 0;
            padding-left: $spacing-medium;
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .project-details {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
