@import '~base-scss/base';

$width-project-bar: 300px;

.project-panel {
    display: flex;
    height: 100%;

    .sidebar {
        @include background-color($color-foreground);
        flex-basis: $width-project-bar;
        flex-shrink: 0;
        margin: -$spacing-small $spacing-small (-$spacing-small) (-$spacing-small);
        border-right: $width-separator-thin solid $color-separator-alt;
    }

    .project-details {
        @extend %main-content;
        flex-grow: 1;
        background-color: $color-foreground-alt;
    }
}
