%section-basic {
    display: flex;
    flex-direction: column;

    >.header {
        flex-shrink: 0;
    }

    >.content {
        display: flex;
        flex-grow: 1;
    }
}

.metadata {
    display: flex;
    position: relative;
    flex-grow: 1;
    background-color: var(--color-foreground);
    overflow: auto;

    .basic-information {
        @extend %section-basic;
        flex-grow: 1;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        height: 100%;

        >.content {
            overflow-x: auto;
        }
    }
}

