@import '~base-scss/base';

$height-additional-documents: 250px;

%section-basic {
    display: flex;
    flex-direction: column;

    >.header {
        flex-shrink: 0;
    }

    >.content {
        display: flex;
        flex-grow: 1;
    }
}

.metadata {
    display: flex;
    position: relative;
    flex-grow: 1;
    background-color: $color-foreground;
    overflow: auto;

    .resizable {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;

        .top {
            height: 70%;
            min-height: 108px;
            overflow: auto;

            .basic-information {
                @extend %section-basic;
                flex-grow: 1;
                border-bottom: $width-separator-thin solid $color-separator;
                height: 100%;

                >.content {
                    overflow-x: auto;

                    .widget-group {
                        display: flex;
                        flex-basis: 20%;
                        flex-direction: column;
                        flex-shrink: 0;

                        .heading {
                            flex-shrink: 0;
                            padding: $spacing-medium-alt;
                            text-transform: capitalize;
                            color: $color-accent;
                        }

                        >.content {
                            flex-grow: 1;
                            padding: $spacing-medium;
                            overflow-y: auto;
                        }

                        :global {
                            .widget {
                                margin: $spacing-small-alt 0;
                            }
                        }
                    }
                }
            }

        }

        .bottom {
            display: flex;
            flex-direction: column;
            height: 30%;
            min-height: 40px;
            overflow-y: auto;

            .additional-documents {
                @extend %section-basic;
                flex-shrink: 0;
                border-top: $width-separator-medium solid $color-separator;
                height: 100%;

                .header {
                    flex-shrink: 0;
                    padding: $spacing-small;

                    h3 {
                        text-transform: capitalize;
                        color: $color-accent;
                        font-size: $font-size-medium;
                    }
                }

                >.content {
                    display: flex;
                    flex-grow: 1;
                    padding: 0 $spacing-medium;
                    overflow: auto;

                    .baksa {
                        flex-grow: 0;
                        flex-shrink: 0;
                        padding: $spacing-medium;
                        width: 25%;
                    }
                }
            }
        }
    }
}

