%section-basic {
    display: flex;
    flex-direction: column;

    >.header {
        flex-shrink: 0;
    }

    >.content {
        display: flex;
        flex-grow: 1;
    }
}

.metadata {
    display: flex;
    position: relative;
    flex-grow: 1;
    background-color: var(--color-foreground);
    overflow: auto;

    .basic-information {
        @extend %section-basic;
        flex-grow: 1;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        height: 100%;

        >.content {
            overflow-x: auto;

            .widget-group {
                display: flex;
                flex-basis: 20%;
                flex-direction: column;
                flex-shrink: 0;

                .heading {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    padding: var(--spacing-medium-alt);
                    text-transform: capitalize;
                    color: var(--color-accent);

                    .show-more-button {
                        font-size: var(--font-size-large);
                    }
                }

                >.content {
                    flex-grow: 1;
                    padding: var(--spacing-medium);
                    overflow-y: auto;
                }

                :global {
                    .widget {
                        margin: var(--spacing-small-alt) 0;
                    }
                }
            }
        }
    }
}

