.container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    min-width: var(--entry-group-modal-min-width);
    max-width: var(--entry-group-modal-max-width);
    max-height: var(--entry-group-modal-max-height);
    overflow-y: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small);

        .heading {
            flex-grow: 1;
        }

        .button {
            flex-shrink: 0;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: var(--spacing-small);
        overflow: auto;

        .add-group-button {
            align-self: center;
        }
    }
}

.add-entry-group-modal {
    z-index: 10;
}
