%tab {
    flex-grow: 1;
    outline: 0;
    border: 0;
    border-bottom: var(--width-separator-medium) solid var(--color-separator);
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-medium);
    color: var(--color-text);
    font-family: inherit;
    font-size: inherit;

    &.active {
        border-bottom-color: var(--color-accent);
        color: var(--color-accent);
    }
}

.document-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: var(--width-separator-medium) solid var(--color-separator);
    overflow: auto;

    .header {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;

        .tab-header {
            @extend %tab;
            padding: var(--spacing-medium);
            text-transform: uppercase;
        }
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .tab-content {
            display: none;
            overflow: auto;

            &.active {
                display: flex;
                flex-grow: 1;
            }
        }

        .document-tab {
            flex-grow: 1;
        }

        .ngrams-tab {
            flex-grow: 1;
        }
    }
}
