.sections {
    display: block;

    .framework-preview {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-right: var(--dui-spacing-super-large);
        overflow-y: auto;

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--dui-color-foreground);
            overflow-y: auto;

            .tabs {
                .border-wrapper {
                    display: flex;
                    flex-grow: 1;
                }

                .tab {
                    flex-grow: 1;

                    /*
                    &.errored {
                        color: var(--dui-color-danger);
                    }
                    */
                }
            }

            .panel {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow-y: auto;
            }
        }
    }
}
