@import '~base-scss/base';

.right {
    display: flex;
    position: relative;
    flex-basis: 70%;
    background-color: $color-foreground-alt;
    overflow: auto;

    .resizable {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;

        .top {
            background-color: $color-foreground;
            height: 40%;
            min-height: 108px;
            overflow: auto;
        }

        .bottom {
            display: flex;
            flex-direction: column;
            height: 60%;
            min-height: 196px;

            &:empty {
                display: none;
            }

            .lead-preview {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                border-top: $width-separator-thin solid $color-separator;
                overflow: auto;

                .gallery-file {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;

                    :global {
                        .urlbar {
                            flex-shrink: 0;
                        }

                        .doc-container {
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;

                            .gallery-docs {
                                display: flex;
                                flex-direction: column;
                                flex-grow: 1;
                            }

                            iframe {
                                flex-grow: 1;
                            }
                        }
                    }
                }
            }
        }

        &.text-lead {
            .top {
                height: 100%;
            }

            .bottom {
                display: none;
            }
        }


    }

    &.hidden {
        display: none;
    }
}

.tabular-modal {
    transition: .2s all ease-in-out;
    width: auto;
    overflow: auto;

    :global {
        .page-1 {
            width: 60vw;
            min-width: 320px;
            height: auto;
            min-height: 200px;
            max-height: 80vh;
        }
    }

    .tabular-book {
        width: 96vw;
        height: 92vh;
    }
}
