@import '~base-scss/base';

.right {
    display: flex;
    position: relative;
    flex-basis: 70%;
    background-color: $color-background-alt;
    overflow: auto;

    .resizable {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .top {
            background-color: $color-foreground;
            height: 40%;
            min-height: 108px;
            overflow: auto;
        }

        .bottom {
            display: flex;
            flex-direction: column;
            height: 60%;
            min-height: 196px;

            .lead-preview {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                border-top: $width-separator-thin solid $color-separator;
                overflow: auto;

                .gallery-file {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;

                    :global {
                        .urlbar {
                            flex-shrink: 0;
                        }

                        .doc-container {
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;

                            .gallery-docs {
                                display: flex;
                                flex-direction: column;
                                flex-grow: 1;
                            }

                            iframe {
                                flex-grow: 1;
                            }
                        }
                    }
                }

                .preview-text {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    justify-content: center;
                    color: $color-text-disabled;
                }
            }
        }
    }

    &.hidden {
        display: none;
    }
}
