:root {
    --width-question: 676px;
    --width-question-checkbox: 14px;
}

.question-list {
    display: flex;
    flex-direction: column;
    overflow: auto;

    >.header {
        display: flex;
        position: sticky;
        position: relative;
        top: 0;
        align-items: center;
        flex-shrink: 0;
        z-index: 1;
        margin: 0 auto;
        background-color: var(--color-foreground);
        padding: var(--spacing-large) 0 var(--spacing-medium);
        width: var(--width-question);
        max-width: var(--width-question);

        .checkbox {
            margin-right: 36px;
            width: var(--width-question-checkbox);
            font-size: var(--font-size-extra-large);

            .check-icon {
                margin-right: 0;
            }
        }

        .heading {
            flex-grow: 1;
            padding: var(--spacing-medium) 0;
        }

        >.actions {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .button {
                margin-left: var(--spacing-small);
            }
        }
    }

    >.content {
        flex-grow: 1;
        overflow-y: auto;
    }
}

.question-container {
    position: relative;
    background-color: var(--color-foreground);
    width: auto;

    .question {
        margin: 0 auto;
        background-color: var(--color-foreground);
        width: var(--width-question);
        max-width: var(--width-question);
    }

    .drag-handle {
        position: absolute;
        top: 0;
        left: calc((100% - var(--width-question)) / 2 + 36px + var(--width-question-checkbox));
        transition: var(--duration-transition-medium) all ease-in-out;
        opacity: 0;
        z-index: 1;
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        cursor: grab;
        padding: 0 var(--spacing-small);
        font-size: var(--font-size-extra-large);
    }

    &:hover {
        .drag-handle {
            opacity: 1;
        }
    }
}

