@import '~base-scss/base';

$region-detail-form-width: 320px;

.country-general {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 1px; // No idea why this is required
    overflow: auto;

    .top-container {
        display: flex;
        flex-basis: 60%;
        flex-shrink: 0;

        .region-map {
            flex-grow: 1;
        }

        .region-detail-form {
            background-color: $color-foreground;
color: $color-text-on-foreground;
            flex-basis: $region-detail-form-width;
            flex-grow: 0;
            flex-shrink: 0;
            border-left: $width-separator-thin solid $color-separator;
        }
    }

    .admin-level-table {
        flex-basis: 40%;
        flex-shrink: 0;
    }
}
