:root {
    --region-detail-form-width: 320px;
}

.country-general {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 1px; // No idea why this is required
    overflow: auto;

    .top-container {
        display: flex;
        flex-basis: 60%;
        flex-shrink: 0;
        overflow-y: auto;

        .region-map {
            flex-grow: 1;
            overflow-y: auto;
        }

        .region-detail-form {
            flex-basis: var(--region-detail-form-width);
            flex-grow: 0;
            flex-shrink: 0;
            border-left: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground);
            color: var(--color-text-on-foreground);
        }
    }

    .admin-level-table {
        flex-basis: 40%;
        flex-shrink: 0;
    }
}
