.connector-source {
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);

    .heading {
        color: var(--dui-color-accent);
    }

    .chart-container {
        display: flex;
        flex-direction: column;
        height: 180px;

        .responsive-container {
            flex-grow: 1;
            overflow: hidden;
        }
    }

    .info-containers {
        background-color: transparent;

        .info-containers-content {
            display: flex;
            align-items: center;
            gap: var(--dui-spacing-medium);

            .info {
                background-color: var(--dui-color-background-information);
            }
        }
    }
}
