.terms-of-service {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dui-color-brand);
    width: 100vw;
    height: 100vh;

    .card {
        display: flex;
        padding: 0;
        max-width: 80vw;
        height: 80vh;
        overflow-y: auto;

        .welcome-content {
            border-top-left-radius: var(--dui-border-radius-card);
            border-bottom-left-radius: var(--dui-border-radius-card);
        }

        .right-content {
            margin: auto;
            border-top-right-radius: var(--dui-border-radius-card);
            border-bottom-right-radius: var(--dui-border-radius-card);
            background-color: var(--dui-color-foreground);
            padding: var(--dui-spacing-super-large);
            min-width: 320px;
            max-width: 800px;
            height: 100%;
            overflow-y: auto;
        }
    }
}
