.map {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .admin-levels {
        position: absolute;
        bottom: var(--dui-spacing-small);
        left: 50%;
        align-self: flex-end;
        transform: translateX(-50%);
        z-index: 11;
        max-width: 100%;
    }

    .geo-json-map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.no-map {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    color: var(--dui-color-text-disabled);
    font-size: var(--dui-font-size-extra-large);
}
