@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.lead-list-item {
    position: relative;

    .add-lead-list-item {
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
        outline: none;
        border: 0;
        border-left: var(--width-separator-thick) solid transparent;
        background-color: transparent;
        cursor: pointer;
        padding: var(--spacing-medium) var(--spacing-small);
        width: 100%;
        overflow: hidden;
        color: var(--color-text);
        font-family: inherit;
        font-size: inherit;
        user-select: none;

        .progress-bar {
            display: block;
            flex-shrink: 0;
            transition: 1s opacity ease-in-out;
            border-radius: 3px;
            background-color: var(--color-separator);
            width: 32px;
            height: var(--height-progress-bar);

            .progress {
                display: block;
                transition: .6s width ease-in-out;
                border-radius: 3px;
                background-color: var(--color-accent);
                height: 100%;
            }
        }

        .icon {
            flex-shrink: 0;
            margin: 0 var(--spacing-small);
            padding: 0;
            // width: var(--width-icon-large);
            font-size: var(--font-size-large);
        }

        .title-container {
            align-items: center;
            flex-grow: 1;
            margin: 0 var(--spacing-small);
            padding: 0;
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            // word-break: break-all;
        }

        .badge {
            flex-shrink: 0;
        }

        .status-icon {
            flex-shrink: 0;
            margin: 0 var(--spacing-small);
            padding: 0;
            width: var(--width-icon-large);
            color: var(--color-text-label);
            font-size: var(--font-size-medium-alt);
        }

        &.separator {
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
        }

        &.active {
            border-left: var(--width-separator-thick) solid var(--color-accent);
            background-color: var(--color-background-hover);
        }

        .pending {
            animation: spin 1s linear infinite;
        }

        .warning {
            color: var(--color-warning);
        }

        .error {
            color: var(--color-danger);
        }

        .complete {
            color: var(--color-success);
        }

        .pristine {
            color: var(--color-text-label);
        }
    }

    .button-container {
        display: none;
        position: absolute;
        top: 50%;
        right: var(--spacing-medium);
        transform: translateY(-50%);
    }

    &:hover {
        .add-lead-list-item {
            &.has-hover {
                .status-icon {
                    display: none;
                }
                .badge {
                    display: none;
                }
                .progress {
                    display: none;
                }
            }
        }

        .button-container {
            display: initial;
        }
    }
}
