.framework-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .framework-form {
        flex-shrink: 0;
    }

    .table-container {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: calc(var(--dui-spacing-super-large) - var(--dui-spacing-medium));
        min-height: clamp(320px, 30vh, 50%);

        .action-cell {
            display: flex;
            align-items: center;

            .button {
                margin: 0 var(--dui-spacing-small);
            }
        }

        .pager-container {
            display: flex;
            justify-content: flex-end;
        }
    }
}
