@import '~base-scss/base';

.leads-visualization {
    .header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .leads-filter {
                    margin: $spacing-small;
                }

                .button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: $spacing-small;
                }
            }
        }
    }

    .main-content {
        position: relative;
        overflow: auto;

        .chart-container {
            padding: $spacing-extra-large-alt;
        }

        .no-leads-message {
            flex-direction: column;

            .heading {
                text-transform: none;
            }
        }
    }
}
