
.leads-visualization {
    .header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .leads-filter {
                    margin: var(--spacing-small);
                }

                .button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: var(--spacing-small);
                }
            }
        }
    }

    .empty-message, .empty-filter-message {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;

        .image {
            opacity: 0.3;
            margin: var(--spacing-large) 0;
            width: var(--width-icon-extreme-large);
            height: var(--width-icon-extreme-large);
        }
    }

    .main-content {
        position: relative;
        overflow: auto;

        .chart-container {
            padding: var(--spacing-extra-large-alt);
        }
    }
}
