@import '~base-scss/base';

%base {
    display: inline-block;
    padding: $spacing-extra-small $spacing-small;
}

%link {
    @extend %base;
    color: $color-text-label;
}

.edit-link {
    @extend %link;
}

.email-link {
    @extend %link;
}

:global {
    .body {
        .row {
            &:hover {
                background-color: $color-background-hover;

                .email-link {
                    color: $color-danger;
                }

                .edit-link {
                    color: $color-warning;
                }

                .join-button {
                    background-color: $color-primary;
                    color: $color-foreground;

                    &:hover {
                        background-color: get-hover-color($color-primary);
                        color: $color-foreground;
                    }
                }
            }
        }
    }
}



