@import '~base-scss/base';

.details {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: $color-foreground;
    height: 100%;
    overflow-y: auto;

    .no-connector-found {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        // @include background-color-with-disabled-text($color-foreground-alt);
        background-color: $color-foreground-alt;
        height: 100%;
        color: $color-text-disabled;
        font-size: $font-size-extra-large;
    }

    .form {
        flex-basis: 100%;
        flex-shrink: 0;

        &.form-with-test {
            flex-basis: 70%;
        }
    }

    .test-results {
        flex-basis: 30%;
        flex-shrink: 0;
        overflow-y: auto;
    }

}
