/*
NOTE: naming keyframes as wiggle-vertically will
result in `postcss-modules/no-unused-class`
warning. very weird!
 */
@keyframes wiggle {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.error-page{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--dui-color-foreground);
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    --height-logo-container: 15vh;
    --height-footer: 55px;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0 calc(2 * var(--dui-spacing-super-large));
        height: var(--height-logo-container);
        overflow: auto;
        color: var(--dui-color-brand);

        .logo {
            height: var(--dui-font-size-mega-large);
        }
    }

    .background {
        display: flex;
        position: relative;
        z-index: 1;
        height: calc(100vh - (var(--height-logo-container) + var(--height-footer)));

        .background-image {
            position: absolute;
            z-index: -1;
            animation: wave 4s linear infinite;
        }

        @keyframes wave {
            0% {
                transform: scaleX(1);
            }
            50% {
                transform: scaleX(1.2) translateX(-100px);
            }
            100% {
                transform: scaleX(1);
            }
        }
        .kraken {
            display: block;
            position: absolute;
            top: -100px;
            right: 10vh;
            animation: wiggle 4s 1s linear infinite;
        }

        .content {
            display: flex;
            align-self: center;
            flex-direction: column;
            padding: 0 calc(2 * var(--dui-spacing-super-large));
            color: var(--dui-color-brand);
            font-weight: var(--dui-font-weight-bold);
            gap: var(--dui-spacing-large);

            .error-message-title {
                font-size: var(--dui-font-size-ultra-large);
            }

            .error-message {
                line-height: 2;
                font-size: var(--dui-font-size-extra-large);
            }

            .button {
                margin-top: var(--dui-spacing-super-large);
            }
        }
    }

    .footer {
        display: flex;
        position: absolute;
        bottom: 0;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background-color: var(--dui-color-foreground);
        width: 100vw;
        height: var(--height-footer);
    }
}

