.pillar-analysis {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-white);
    height: 100vh;
    overflow-y: auto;
    --height-analytical-statement: 80vh;

    .header {
        flex-shrink: 0;

        .breadcrumb {
            font-size: var(--dui-font-size-large);
            font-weight: var(--dui-font-weight-bold);
        }

        .actions {
            display: flex;
            align-items: center;
            padding: 0 calc(var(--dui-spacing-medium) - var(--dui-spacing-extra-small));

            .button {
                margin: 0 var(--dui-spacing-extra-small);
                font-weight: var(--dui-font-weight-bold);
            }
        }
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .inputs-container {
            display: flex;
            flex-shrink: 0;
            padding: 0 calc(var(--dui-spacing-super-large) - var(--dui-spacing-large));

            .input-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: var(--dui-spacing-small) var(--dui-spacing-large);

                .input-header {
                    padding: var(--dui-spacing-medium) 0;
                }
            }
        }

        .entries-filter {
            flex-shrink: 0;
            padding: var(--dui-spacing-small) var(--dui-spacing-super-large);
        }

        .workspace {
            display: flex;
            flex-grow: 1;
            background-color: var(--dui-color-background);
            padding: 0 calc(var(--dui-spacing-super-large) - var(--dui-spacing-extra-large));
            height: var(--height-analytical-statement);

            --width-left-container: 420px;

            .entry-list-section {
                display: flex;
                flex-basis: var(--width-left-container);
                flex-shrink: 0;
                background-color: var(--dui-color-surface-informational);
                padding: 0;
                overflow: auto;

                .entry-list-header {
                    padding: 0;

                    .tab-list-heading {
                        display: flex;
                        padding: 0;

                        .tab-list {
                            display: flex;
                            flex-grow: 1;

                            >* {
                                flex-grow: 1;
                            }
                        }
                    }
                }
            }

            .expand-entry-list-button {
                align-self: flex-start;
                margin: var(--dui-spacing-extra-large);
            }

            .right-container {
                display: flex;
                flex-basis: calc(100% - var(--width-left-container));
                padding: calc(var(--dui-spacing-extra-large) - var(--dui-spacing-medium));
                overflow: auto;

                .analytical-statement {
                    flex-shrink: 0;
                    margin: var(--dui-spacing-medium);
                }

                .drop-container {
                    display: flex;
                    overflow: unset;
                    --width-analytical-statement: 320px;

                    .overlay {
                        position: relative;
                        width: var(--width-analytical-statement);
                        height: 100%;
                    }

                    &.dragged-over {
                        outline: 0;

                        .overlay {
                            margin: var(--dui-spacing-medium);
                            border: var(--dui-width-separator-thin) dashed var(--dui-color-separator);
                        }
                    }

                }
                .add-statement-button {
                    align-self: flex-start;
                    flex-shrink: 0;
                    margin: var(--dui-spacing-medium);
                }
            }
        }
    }
}
