@import '~base-scss/utils';

:root {
    --width-left-content: 420px;
    --width-display-picture: 108px;
    --info-height: 144px;
}

.usergroup {
    .heading {
        padding: var(--spacing-small) 0;
    }

    .main-content {
        display: flex;
        background-color: var(--color-foreground);
        overflow: auto;

        .left {
            display: flex;
            flex-basis: var(--width-left-content);
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            border-right: var(--width-separator-thin) solid var(--color-separator);

            .info {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                border-bottom: var(--width-separator-thin) solid var(--color-separator);
                padding: var(--spacing-medium);

                .title-container {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .name {
                        color: var(--color-text);
                        font-size: var(--font-size-super-large);
                    }
                }

                .description {
                    flex-grow: 1;
                    margin: 0;
                    overflow-y: auto;
                    text-align: justify;
                }

                button {
                    margin-left: var(--spacing-small);
                }
            }

            .stats {
                flex-grow: 1;
                padding: var(--spacing-medium);
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .projects {
                flex-basis: 60%;
                flex-grow: 0;
                flex-shrink: 0;
                border-bottom: var(--width-separator-thin) solid var(--color-separator);
                overflow-y: auto;
            }

            .members {
                flex-basis: 40%;
                flex-grow: 0;
                flex-shrink: 0;
                overflow-y: auto;
            }
        }
    }
}


.user-group-edit-modal {
    width: 480px;
}
