@import '~base-scss/base';

$width-left-content: 420px;
$width-display-picture: 108px;
$info-height: 144px;

.usergroup {
    .heading {
        padding: $spacing-small 0;
    }

    .main-content {
        display: flex;
        overflow: auto;

        .left {
            display: flex;
            flex-basis: $width-left-content;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            border-right: $width-separator-thin solid $color-separator;

            .info {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                border-bottom: $width-separator-thin solid $color-separator;

                .title-container {
                    display: flex;
                    align-items: flex-start;
                    flex-shrink: 0;
                    padding: $spacing-small $spacing-medium-alt;

                    .name {
                        color: $color-text;
                        font-size: $font-size-super-large;
                    }
                }

                .description {
                    flex-grow: 1;
                    margin: 0;
                    padding: 0 $spacing-medium-alt;
                    overflow-y: auto;
                    text-align: justify;
                }

                button {
                    margin-left: $spacing-small;
                }
            }

            .stats {
                flex-grow: 1;
                padding: $spacing-medium;
            }

        }

        .right {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .projects {
                flex-basis: 60%;
                flex-grow: 0;
                flex-shrink: 0;
                border-bottom: $width-separator-thin solid $color-separator;
                background-color: $color-background-row;
                overflow-y: auto;
            }

            .members {
                flex-basis: 40%;
                flex-grow: 0;
                flex-shrink: 0;
                background-color: $color-background-row;
                overflow-y: auto;
            }
        }

        .usergroup-alt {
            @include shadow-medium;
            background-color: $color-foreground;
color: $color-text-on-foreground;
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            padding: $spacing-medium-alt;
            font-size: $font-size-extra-large;
            grid-area: info / info / groups / groups;
        }
    }
}


.user-group-edit-modal {
    width: 480px;
}
