.sub-navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 var(--dui-spacing-super-large);
    min-height: 60px;
    gap: var(--gap);

    --gap: var(--dui-spacing-large);

    .children {
        display: flex;
        justify-content: center;
    }

    .icons {
        display: flex;
        align-self: center;
        flex-basis: 0;
        flex-grow: 1;
        gap: var(--dui-spacing-medium);

        .app-brand {
            align-self: center;
            color: var(--dui-color-brand);

            .logo {
                height: var(--dui-font-size-super-large);
            }
        }

        .heading {
            align-self: baseline;
            flex-shrink: unset;
            padding: var(--dui-spacing-medium) 0;
        }

        .description-container {
            align-self: baseline;
            flex-shrink: unset;
            overflow: auto;

            .description {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .actions {
        display: flex;
        align-self: center;
        flex-basis: 0;
        flex-grow: 1;
        justify-content: end;
        gap: var(--dui-spacing-small);

        >* {
            margin: 0 var(--dui-spacing-extra-small);
        }
    }
}
