.sub-navbar {
    display: flex;
    position: relative;
    border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    padding: 0 var(--dui-spacing-super-large);

    .children {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    .heading {
        align-self: center;
        flex-shrink: unset;
    }

    .description-container {
        flex-shrink: unset;
        overflow: auto;

        .description {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .icons {
        display: flex;
        align-self: center;
        flex-shrink: 0;
    }

    .actions {
        display: flex;
        align-self: center;
        flex-shrink: 0;

        >* {
            margin: 0 var(--dui-spacing-extra-small);
        }
    }
}
