.upload-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .upload-header {
        display: flex;
        justify-content: space-between;
    }

    .files {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        padding-top: var(--dui-spacing-medium);
        gap: var(--dui-spacing-small);
        height: 300px;
        overflow-y: auto;

        .file-item {
            display: flex;
            background-color: var(--dui-color-deep6);
            padding: var(--dui-spacing-small) 0;
        }

        .file-item-failed {
            display: flex;
            background-color: var(--dui-color-deep6);
            padding: var(--dui-spacing-small) 0;
            color: var(--dui-color-danger);
        }
    }
}
