.drop-container {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-foreground);
    padding: 0;
    overflow: unset;

    .content {
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow: unset;
    }

    .entry {
        border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        background-color: var(--dui-color-foreground);
        overflow: auto;

        &.is-being-dragged {
            max-height: 120px;
        }

        .content {
            align-self: stretch;
            overflow: auto;

            .excerpt {
                min-height: unset;
            }
        }
    }

    .overlay {
        position: relative;
        transition: .2s height ease-in-out;
        width: auto;
        height: 0;
    }

    &.dragged-over {
        outline: 0;

        .overlay {
            margin: var(--dui-spacing-medium);
            border: var(--dui-width-separator-thin) dashed var(--dui-color-separator);
            height: 160px;
        }
    }

    &.hide {
        .overlay {
            display: none;
        }

        .entry {
            opacity: 0.4;
        }
    }
}
