.drop-container {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-foreground);
    padding: 0;
    overflow: unset;

    .content {
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow: unset;
    }

    .entry {
        border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        background-color: var(--dui-color-foreground);
        overflow: auto;

        .heading-item {
            color: var(--dui-color-text-label);
        }

        .heading-section {
            display: flex;
            align-items: center;

            .authors {
                display: inline-block;
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .heading-container {
                align-items: center;

                .heading {
                    font-size: var(--dui-font-size-medium);

                }
            }
            .header-actions {
                transition: all var(--dui-duration-transition-medium) ease-in-out;
                opacity: 0;
                color: var(--dui-color-accent);
            }
        }

        &:hover {
            .header-actions {
                opacity: 1;
            }
        }

        &.is-being-dragged {
            max-height: 120px;
        }
        &.is-flipped {
            max-height: 360px;
        }

        .content {
            display: flex;
            flex-direction: column;
            overflow: auto;
            gap: var(--dui-spacing-medium);

            .excerpt {
                min-height: unset;
            }

            .extra-details {
                display: flex;
                align-items: baseline;
                gap: var(--dui-spacing-large);
            }

            .entry-detail {
                background-color: unset;
                padding: unset;
            }
        }
    }

    .overlay {
        position: relative;
        transition: .2s height ease-in-out;
        width: auto;
        height: 0;
    }

    &.dragged-over {
        outline: 0;

        .overlay {
            margin: var(--dui-spacing-medium);
            border: var(--dui-width-separator-thin) dashed var(--dui-color-separator);
            height: 160px;
        }
    }

    &.hide {
        .overlay {
            display: none;
        }

        .entry {
            opacity: 0.4;
        }
    }
}
