.project-edit {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .header {
        flex-shrink: 0;

        .tab-list {
            .tab {
                font-size: var(--dui-font-size-large);
            }
        }
    }

    .tab-panel-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .tab-panel {
            display: flex;
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}
