.assignment {
    display: flex;
    flex-direction: column;

    .header{
        padding: var(--dui-spacing-small) 0;

        .mark-button {
            padding: 0;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: var(--dui-color-negative);
        height: 420px;
        overflow-y: auto;

        .list {
            flex-grow: 1;
            overflow-y: auto;

        }

        .footer {
            display: flex;
            flex-shrink: 0;
            justify-content: flex-end;
            padding: var(--dui-spacing-medium);
        }
    }
}
