.assignments {
    background-color: var(--dui-color-white);

    .content {
        background-color: var(--dui-color-background-information);
        padding: calc(var(--spacing-large) - var(--spacing-medium));
        max-height: calc(100px + 25vh);
        overflow-y: auto;
    }
}
