.assignment {
    display: flex;
    flex-direction: column;

    .header{
        display: flex;

        .heading {
            flex-grow: 1;
            font-size: var(--font-size-extra-large);
            font-weight: var(--font-weight-bold);
        }

        .mark-button {
            flex-shrink: 0;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        margin-top: var(--spacing-small-alt);
        border-radius: 10px;
        background-color: var(--dui-color-negative);
        padding: var(--spacing-medium)
            var(--spacing-small);
        height: 300px;

        .content-container {
            padding: 0
                var(--spacing-large)
                var(--spacing-small)
                var(--spacing-small-alt);
            overflow-y: auto;

            .assignment-item {
                margin: var(--spacing-medium-alt) 0;
                border-bottom: var(--width-separator-thin)
                    solid
                    var(--dui-border-color-card);
                padding-bottom: var(--spacing-medium);

                .link {
                    text-decoration: underline;
                    color: var(--dui-color-accent);
                    font-weight: var(--font-weight-bold);
                }

                .date {
                    display: block;
                    flex-grow: 1;
                }

                .icon {
                    flex-shrink: 0;
                    color: var(--dui-color-accent);
                }
            }
        }
    }

    .inline {
        display: flex;
    }

}
