.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dui-color-background-disabled);
    font-size: var(--dui-font-size-large);

    .right {
        color: var(--dui-color-text-disabled);
    }
}

.uploaded {
    background-color: var(--dui-color-background);
}
