.container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--color-foreground-alt);
    width: var(--entry-comment-modal-width);
    max-height: var(--entry-comment-modal-max-height);
    overflow-y: auto;

    .header {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        background-color: var(--color-foreground);
        overflow-y: auto;

        .top-header {
            display: flex;
            align-items: center;
            padding: var(--spacing-small);

            .heading {
                flex-grow: 1;
                text-transform: capitalize;
            }
        }

        .tabs {
            flex-grow: 1;

            .tab {
                text-transform: capitalize;
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-bold);
            }

            .buttons {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                padding: var(--spacing-extra-small);
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .threads {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--color-foreground-alt);
            padding: var(--spacing-medium);

            .thread {
                background-color: var(--color-foreground);

                &:not(:last-child) {
                    margin-bottom: var(--spacing-medium);
                }
            }
        }

        .new-comment {
            flex-shrink: 0;
            margin: var(--spacing-medium);
            border: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground);
            padding-top: var(--spacing-small);
        }
    }
}

.confirm {
    z-index: 10;
}
