.container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: var(--entry-comment-modal-width);
    max-height: var(--entry-comment-modal-max-height);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        cursor: move;
        padding: var(--spacing-small) var(--spacing-medium);
        user-select: none;
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: var(--color-foreground-alt);
        padding: calc(var(--spacing-medium) - var(--spacing-small));
        height: 550px;
        max-height: 80vh;

        .review {
            display: flex;
            flex-shrink: 0;
            margin: var(--spacing-small);
        }

        .comments {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: auto;

            .comment {
                margin: var(--spacing-small);
            }
        }

        .pager {
            padding-top: var(--spacing-small);
        }
    }
}

.confirm {
    z-index: 2;
}
