%error-pane {
    border-top: var(--width-separator-thin) solid var(--color-separator);
    border-left: var(--width-separator-thin) solid var(--color-separator);
    width: var(--width-error-pane-string-management);
}

.no-problems {
    @extend %error-pane;
    height: auto;
}

.problems {
    @extend %error-pane;
    overflow-y: auto;

    .problem {
        .title {
            position: sticky;
            top: 0;
            padding: var(--spacing-small);
            font-weight: var(--font-weight-bold);
        }

        &.error {
            .title {
                background-color: var(--color-danger);
                color: var(--color-text-on-danger);
            }
        }

        &.warning {
            .title {
                background-color: var(--color-warning);
                color: var(--color-text-on-warning);
            }
        }

        &.info {
            .title {
                background-color: var(--color-info);
                color: var(--color-text-on-info);
            }
        }
    }

    .instances {
        font-family: var(--font-family-monospace);

        .item {
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-small);

            .message {
                color: var(--color-text-label);
            }
        }
    }
}
