.assessment-registry-form {
    display: flex;
    flex-direction: column;

    .tab-list {
        display: flex;
        flex-shrink: 0;

        .tab {
            &.error {
                color: var(--dui-color-danger);
            }
        }

        .dummy {
            flex-grow: 1;
            border-bottom: var(--dui-width-separator-medium) solid var(--dui-color-separator);
        }
    }

    .tab-panel {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
    }
}
