.password-reset-form {
    .password-reset-container {
        margin: auto;
        background-color: var(--dui-color-foreground);
        overflow: unset;
        --spacing: var(--dui-spacing-extra-large);

        .heading-description {
            display: flex;
            gap: var(--dui-spacing-large);
            text-transform: initial;

            >* {
                font-weight: var(--dui-font-weight-bold);
            }
        }

        .input-container {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-medium);
            width: 320px;
        }
    }

    .password-reset-success {
        display: flex;
        margin: var(--dui-spacing-medium) auto;
    }
}
