.project-edit {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: var(--dui-color-background);
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .header {
        flex-shrink: 0;
    }

    .tab-panel-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .tab-panel {
            display: flex;
            flex-grow: 1;
            overflow-y: auto;

            .primary-tagging {
                flex-grow: 1;
                overflow: auto;
            }
        }
    }
}
