.button-like-link {
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-button-border);
    background-color: var(--color-foreground);
    padding: var(--spacing-small);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);

    &.default {
        border-color: var(--color-separator-alt);
        color: var(--color-text);
    }

    &.primary {
        border-color: var(--color-primary);
        color: var(--color-primary);
    }

    &.accent {
        border-color: var(--color-accent);
        color: var(--color-accent);
    }

    &.danger {
        border-color: var(--color-danger);
        color: var(--color-danger);
    }

    &.warning {
        border-color: var(--color-warning);
        color: var(--color-warning);
    }

    &.disabled {
        border-color: var(--color-separator-light);
        background-color: var(--color-background-disabled);
        color: var(--color-text-disabled);
        pointer-events: none;
    }

    &:hover {
        background-color: var(--color-background-hover);
    }
}
