.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .my-profile {
        display: flex;
        flex-grow: 1;
        padding: calc(var(--dui-spacing-large) - var(--dui-spacing-small))
            var(--dui-spacing-super-large);

        .header {
            margin: var(--dui-spacing-small) 0;
        }

        .profile-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin: var(--dui-spacing-small) 0;
            background-color: var(--dui-color-foreground);
            padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);

            .content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: center;
                background-color: var(--dui-color-foreground);

                .display-picture-container {
                    display: flex;
                    position: relative;
                    align-items: center;
                    flex-direction: column;

                    .display-picture {
                        display: flex;
                        flex-shrink: 0;
                        width: calc(96px + 15vh);
                        height: calc(96px + 15vh);
                        --size: calc(96px + 15vh);
                    }

                    .change-display-picture {
                        position: absolute;
                        bottom: var(--dui-spacing-small);
                        left: 54%;

                        .label {
                            width: 3em;
                            height: 3em;
                            font-size: 1.2em;
                        }

                        .file-input {
                            --height-border: 0;
                        }
                    }
                }

                .user-info {
                    display: flex;
                    flex-grow: 1;

                    .personal-info {
                        flex: 1;
                        background-color: var(--dui-color-foreground);
                        padding: var(--dui-spacing-extra-small) var(--dui-spacing-medium);

                        .change-password {
                            margin: var(--dui-spacing-medium);
                        }
                    }

                    .preferences {
                        flex: 1;
                        background-color: var(--dui-color-foreground);
                        padding: var(--dui-spacing-extra-small) var(--dui-spacing-medium);
                    }
                }
            }
        }
    }
}
