.body {
    display: flex;
    margin-bottom: var(--spacing-large);

    .content {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        flex-shrink: 0;

        .header {
            flex-shrink: 0;
            padding-bottom: var(--spacing-small);

            .heading {
                text-transform: capitalize;
            }
        }

        .list {
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}
