@import '../../../../stylesheets/base';

.connector-content {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .header {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        background-color: $color-background-header;
        padding: $spacing-extra-small $spacing-small;

        .right-container {
            display: flex;

            .button {
                font-size: $font-size-large;
            }

            .settings-link {
                display: block;
                padding: $spacing-small;
                font-size: $font-size-large;
            }
        }
    }

    .table {
        flex-grow: 1;

        :global {
            .selected {
                >div {
                    padding-top: $spacing-small-alt;
                    padding-bottom: $spacing-small-alt;
                }
            }

            .title {
                width: 100%;
            }
        }
    }

    .select-all-checkbox,
    .checkbox {
        justify-content: center;

        :global .checkmark {
            margin-right: 0;
        }
    }

    .published-date {
        white-space: nowrap;
    }
}
