
.connector-content {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        background-color: var(--color-background-header);
        padding: var(--spacing-small);

        .left-container {
            > span {
                color: var(--color-text-label);
                font-size: var(--font-size-small);
            }
        }

        .right-container {
            display: flex;

            .button {
                font-size: var(--font-size-large);
            }

            .settings-link {
                display: block;
                padding: var(--spacing-small);
                font-size: var(--font-size-large);
            }
        }
    }

    .table-container {
        flex-grow: 1;
        overflow-y: auto;

        .table {
            :global {
                .headers {
                    .header {
                        top: -2px;

                        >div {
                            border-top-color: #f0f0f0;
                        }
                    }
                }
                .selected {
                    >div {
                        padding-top: var(--spacing-small-alt);
                        padding-bottom: var(--spacing-small-alt);
                    }
                }

                .title {
                    width: 100%;
                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-top: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small);
    }

    .select-all-checkbox,
    .checkbox {
        justify-content: center;

        :global .checkmark {
            margin-right: 0;
        }
    }

    .published-date {
        white-space: nowrap;
    }
}
