@import '../../../../stylesheets/base';

.connector-content {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        background-color: $color-background-header;
        padding: $spacing-small;

        .left-container {
            > span {
                color: $color-text-label;
                font-size: $font-size-small;
            }
        }

        .right-container {
            display: flex;

            .button {
                font-size: $font-size-large;
            }

            .settings-link {
                display: block;
                padding: $spacing-small;
                font-size: $font-size-large;
            }
        }
    }

    .table-container {
        flex-grow: 1;
        overflow-y: auto;

        .table {
            :global {
                .selected {
                    >div {
                        padding-top: $spacing-small-alt;
                        padding-bottom: $spacing-small-alt;
                    }
                }

                .title {
                    width: 100%;
                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-top: $width-separator-thin solid $color-separator;
        padding: $spacing-small;
    }

    .select-all-checkbox,
    .checkbox {
        justify-content: center;

        :global .checkmark {
            margin-right: 0;
        }
    }

    .published-date {
        white-space: nowrap;
    }
}
