.framework-questions {
    >.header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
        }
    }

    .main {
        display: flex;
        position: relative;

        .question-list {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--color-foreground);
            overflow: auto;

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .heading {
                    flex-grow: 1;
                    padding: var(--spacing-medium);
                }
            }
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .question-status {
            padding: var(--spacing-medium) 0;

            .header {
                .heading {
                    padding: var(--spacing-small) var(--spacing-medium);
                }

                border-bottom: var(--width-separator-thin) solid var(--color-separator);
            }

            .tab {
                display: flex;
                text-transform: none;

                .label {
                    flex-grow: 1;
                }

                .count {
                    flex-shrink: 0;
                }
            }
        }

        .filter {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: var(--spacing-small) var(--spacing-medium);

            .search-input {
                margin: var(--spacing-medium) 0;
            }
        }
    }
}
