@import '../../../../stylesheets/base';

$height-edit-modal: 70vh;

.drag-handle {
    flex-shrink: 0;
    background-color: $color-foreground;
    padding: $spacing-small;
}

.edit-modal {
    width: $width-modal-large;
    height: $height-edit-modal;

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;

            .error {
                flex-shrink: 0;
            }

            .title-input {
                flex-shrink: 0;
                padding: 0 $spacing-small;
            }

            .rows {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .error {
                    flex-shrink: 0;
                }

                .header {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    justify-content: space-between;
                    border-bottom: $width-separator-thin solid $color-separator;
                    padding: $spacing-small;
                }

                .panels {
                    display: flex;
                    flex-grow: 1;

                    .left-panel {
                        flex-basis: 30%;
                        border-right: $width-separator-thin solid $color-separator;
                        overflow-y: auto;

                        .item {
                            border-bottom: $width-separator-thin solid $color-separator;
                            background-color: $color-foreground;
                        }
                    }

                    .right-panel {
                        display: flex;
                        flex-basis: 70%;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
