@import '../../../../stylesheets/base';

$height-edit-modal: 512px;

.edit-modal {
    width: $width-modal-medium;
    height: $height-edit-modal;

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;

            .title-input {
                padding: 0 $spacing-small;
            }

            .option-inputs {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .header {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    justify-content: space-between;
                    border-bottom: $width-separator-thin solid $color-separator;
                    padding: $spacing-small;
                }

                .main-content {
                    display: flex;

                    .edit-option-list {
                        flex-grow: 1;
                        border-right: $width-separator-thin solid $color-separator;
                        overflow-y: auto;

                        .item {
                            background-color: $color-foreground;
                        }
                    }

                    .content {
                        display: flex;
                        align-items: center;

                        .input {
                            flex-grow: 1;
                            margin-left: $spacing-small;
                            padding: 0 $spacing-extra-small;
                        }
                    }
                }
            }
        }
    }
}

.drag-handle {
    flex-shrink: 0;
    background-color: $color-foreground;
    padding: $spacing-small;
}

.sortable-unit {
    display: flex;
    align-items: center;
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
    padding: $spacing-small;
    width: 100%;

    .title {
        flex-grow: 1;
    }

    .delete-button {
        flex-shrink: 0;
    }
}
