.display-picture {
    display: flex;
    border-radius: 50%;
    background-color: var(--color-foreground);
    overflow: auto;

    >div {
        display: flex;
        flex-grow: 1;

        >div {
            display: flex;
            flex-grow: 1;
        }
    }

    .image {
        flex-grow: 1;
        overflow: hidden;
        object-fit: cover;
        object-position: center center;
    }

}

.default-user {
    border-radius: 50%;
    overflow: hidden;

    path {
        fill: var(--color-text);
    }
}
