@import '../../../../stylesheets/base';

$width-edit-modal: 72vw;
$height-edit-modal: 72vh;

.edit-modal {
    width: $width-edit-modal;
    height: $height-edit-modal;

    .body {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .title-input-container {
        flex-shrink: 0;
        padding: $spacing-medium;
    }

    .organs {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
        background-color: $color-foreground-alt;
    }
}
