@import '../../../../stylesheets/base';

$width-edit-modal: 72vw;
$height-edit-modal: 72vh;

.edit-modal {
    width: $width-edit-modal;
    height: $height-edit-modal;

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0;
    }

    .title-input-container {
        flex-shrink: 0;
        padding: $spacing-medium;
    }

    .organigram-structure-header {
        padding: $spacing-medium $spacing-medium 0;
    }

    .organs {
        display: flex;
        flex-grow: 1;
        overflow: auto;
    }
}
