.feed-url-container {
    display: flex;
    align-items: center;

    .feed-url {
        flex-grow: 1;
    }

    .loading-animation-container {
        position: relative;

        .loading-animation {
            position: initial;
            flex-shrink: 0;
            background-color: transparent;
            padding-left: var(--spacing-small);
            width: auto;
        }
    }
}
