@import '~base-scss/base';

.strings-table {
    $width-id-column: 72px;
    $width-refs-column: 64px;
    $width-duplicates-column: 108px;
    $width-string-column: calc(100% - #{$width-id-column + $width-refs-column + $width-duplicates-column});

    :global {
        .headers {
            .id {
                width: $width-id-column;
            }

            .refs {
                width: $width-refs-column;
            }

            .duplicates {
                width: $width-duplicates-column;
            }

            .string {
                width: $width-string-column;
            }
        }

        .body {
            .id,
            .refs,
            .duplicates {
                font-family: $font-family-monospace;
            }

            .actions {
                white-space: nowrap;
            }
        }
    }
}
