
.strings-table {
    --width-id-column: 72px;
    --width-refs-column: 64px;
    --width-duplicates-column: 108px;
    --width-string-column: calc(100% - var(--width-id-column) - var(--width-refs-column) - var(--width-duplicates-column));

    :global {
        .headers {
            .id {
                width: var(--width-id-column);
            }

            .refs {
                width: var(--width-refs-column);
            }

            .duplicates {
                width: var(--width-duplicates-column);
            }

            .string {
                width: var(--width-string-column);
            }
        }

        .body {
            .id,
            .refs,
            .duplicates {
                font-family: var(--font-family-monospace);
            }

            .actions {
                white-space: nowrap;
            }
        }
    }
}
