@import '~base-scss/base';

$height-assistant-options: 58px;
$position-info-top: 16px;
$position-info-right: 12px;
$min-width-sector: 96px;
$max-height-info-bar: 40vh;
$min-width-assistant: 240px;

.assisted-tagging {
    &.assistant-shown {
        filter: brightness(70%);
        pointer-events: none;
    }

    .preview {
        height: calc(100% - #{$height-assistant-options});
    }

    &:not(.assistant-options-shown) {
        .preview {
            height: 100%;
        }
    }

    .assistant-options {
        display: flex;
        align-items: flex-end;
        border-top: $width-separator-thin solid $color-separator;
        padding: $spacing-medium-alt;
        height: $height-assistant-options;
        @include background-color($color-background-header);

        .assisted-source-change-btn {
            flex-basis: 60%;
        }

        .select-input {
            flex-basis: 40%;
            margin-left: $spacing-small;
        }
    }
}

.assistant {
    @include shadow-large-dark;
    display: flex;
    flex-direction: column;
    background-color: $color-foreground;
    min-width: $min-width-assistant;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: $spacing-small $spacing-medium 0 $spacing-large;

        .title {
            display: flex;
            align-items: baseline;

            .label {
                margin-right: $spacing-extra-small;
                text-transform: uppercase;
                color: $color-text-label;
            }

            .source {
                font-weight: $font-weight-bold;
            }
        }
    }

    .info-bar {
        display: flex;
        flex-direction: column;
        padding: $spacing-small $spacing-large;
        max-height: $max-height-info-bar;
        overflow-y: auto;
        text-align: justify;

        .details {
            display: inline-block;
            margin-top: $spacing-extra-small;
            margin-left: $spacing-extra-small;
            border: $width-separator-thin solid $color-separator-alt;
            padding: 0 $spacing-small;
            text-transform: capitalize;
        }
    }

    .sectors {
        display: flex;
        flex-wrap: wrap;
        padding: 0 $spacing-medium-alt;

        &:last-child {
            margin-bottom: $spacing-medium;
        }

        .sector {
            display: flex;
            align-items: center;
            margin-top: $spacing-extra-small;
            margin-left: $spacing-extra-small;
            border: $width-separator-thin solid $color-separator-alt;
            padding: 0 $spacing-extra-small;
            min-width: $min-width-sector;

            .sector-text {
                flex-grow: 1;
                padding: 0 $spacing-extra-small;
                text-transform: uppercase;
                font-size: $font-size-small;
            }

            .feedback-buttons {
                flex-shrink: 0;

                button {
                    padding: $spacing-extra-small $spacing-small;
                }
            }
        }
    }

    .add-button {
        align-self: flex-end;
        flex-shrink: 0;
        margin: $spacing-extra-small $spacing-medium $spacing-medium 0;
    }
}
