@import '~base-scss/base';

.project-general-form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: stretch;
    flex-grow: 1;

    .inputs-container {
        display: flex;
        flex-shrink: 0;

        .start-date,
        .end-date,
        .name {
            flex-grow: 1;

            &:not(:last-child) {
                padding-right: $spacing-medium-alt;
            }
        }
    }

    .description {
        flex-shrink: 0;
    }

    .action-buttons {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        padding: $spacing-small $spacing-medium-alt;

        button {
            margin-left: $spacing-medium;
        }
    }

}
