@import '../../../../stylesheets/base';

$width-action-buttons: 40px;

.widget-faram-container {
    .header {
        // @include background-color($color-background-header);
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        width: 100%;

        >* {
            border-radius: 0;
            box-shadow: none;
            padding: $spacing-extra-small-alt $spacing-medium;
        }
    }
}
