:root {
    --width-action-buttons: 40px;
}

.widget-faram-container {
    border: var(--width-separator-thin) solid transparent;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);

    .header {
        display: flex;
        position: sticky;
        top: 0;
        flex-shrink: 0;
        z-index: 1;
        background-color: var(--color-background-header);
        padding: var(--spacing-small);
        width: 100%;

        .heading {
            align-self: center;
            flex-grow: 1;
        }

        .entry-labels {
            display: inline-flex;
            align-items: center;

            .entry-label {
                margin-right: var(--spacing-small);

                .title {
                    text-transform: none;
                }
            }
        }

        .button {
            flex-shrink: 0;
            margin-left: var(--spacing-small);
            border-radius: 0;
            box-shadow: none;
            padding: var(--spacing-extra-small-alt) var(--spacing-small-alt);
        }

        .entry-comment-button {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: var(--spacing-small);
            border-radius: 0;
            box-shadow: none;
            padding: var(--spacing-extra-small-alt) var(--spacing-small-alt);

            .comment-count {
                padding-left: var(--spacing-small);
            }

            &.accented {
                border-color: var(--color-accent);
                color: var(--color-accent);
            }
        }
    }

    .widget {
        display: inline-block;
        min-width: 100%;
    }

    &.selected {
        animation: flash 2 var(--duration-slow) var(--duration-relaxed)  ease-in-out forwards;
    }

    @keyframes flash {
        0% {
            border-color: transparent;
        }
        50% {
            border-color: var(--color-accent);
        }
        100% {
            border-color: transparent;
        }
    }
}
