.widget-faram-container {
    position: relative;
    border: var(--width-separator-thin) solid transparent;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);

    .header {
        display: flex;
        position: sticky;
        top: 0;
        flex-shrink: 0;
        z-index: 1;
        background-color: var(--color-background-header);
        padding: var(--spacing-small) calc(var(--spacing-small) - var(--spacing-extra-small));
        width: 100%;

        .heading {
            align-self: center;
            flex-grow: 1;
            padding: 0 var(--spacing-extra-small);
            color: var(--color-text);
        }

        .actions {
            display: flex;
            flex-shrink: 0;

            >* {
                margin: 0 var(--spacing-extra-small);
            }
        }

        .entry-labels {
            display: inline-flex;
            align-items: center;

            .entry-label {
                .title {
                    text-transform: none;
                }
            }
        }

        .button {
            flex-shrink: 0;
            border-radius: 0;
            box-shadow: none;
            padding: var(--spacing-extra-small-alt) var(--spacing-small-alt);
        }
    }

    .widget {
        display: inline-block;
        min-width: 100%;
    }

    &.selected {
        .header {
            .heading {
                color: var(--color-primary);
            }
        }
    }
}
