
--color-text-on-navbar: get-text-color(var(--color-navbar));
--color-text-on-primary: get-text-color(var(--color-primary));

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 var(--spacing-extra-small) var(--spacing-small) var(--radius-spread-medium) var(--color-shadow-medium);
    background-color: var(--color-navbar);
    padding: 0 var(--spacing-medium-alt);
    color: var(--color-text-on-navbar);

    .brand {
        display: flex;
        position: relative;
        align-items: center;
        align-self: stretch;
        color: var(--color-text-on-navbar);
        font-size: var(--font-size-super-large);

        .icon-wrapper {
            margin-right: var(--spacing-small);

            .icon {
                width: var(--width-navbar-icon);
                height: var(--height-navbar-icon);
                color: var(--color-text-on-navbar);
            }
        }

        .title {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: var(--font-size-extra-large);
        }

        .beta-label {
            position: absolute;
            top: 50%;
            right: -var(--spacing-extra-small);
            transform: translate(100%, -100%);
            opacity: .7;
            border-radius: var(--font-size-extra-small);
            background-color: var(--color-foreground);
            padding: 0 var(--spacing-extra-small-alt);
            color: var(--color-primary);
            font-size: var(--font-size-extra-small);
        }
    }

    .project-select-input {
        flex-basis: 240px;
        flex-shrink: 0;
        margin: 0 5%;

        :global {
            .input-wrapper {
                .input {
                    // border-bottom-color: get-text-color(var(--color-navbar), var(--color-separator-on-light), var(--color-separator-on-dark));
                    border-bottom-color: var(--color-separator);
                    color: var(--color-text-on-navbar);

                    &::placeholder {
                        color: var(--color-text-placeholder);
                        // color: get-text-color(var(--color-navbar), var(--color-text-placeholder-on-light), var(--color-text-placeholder-on-dark));
                    }
                }
            }
        }
    }

    .main-menu {
        align-self: stretch;
        flex-grow: 1;

        >button {
            padding: var(--spacing-small);
        }
    }

    .help-link {
        margin-right: var(--spacing-medium);
    }

    .community-dropdown {
        align-self: stretch;
        flex-shrink: 0;
    }

    .notification-dropdown {
        align-self: stretch;
        flex-shrink: 0;
    }

    .user-menu {
        align-self: stretch;
        flex-shrink: 0;
        margin-left: var(--spacing-medium);
    }
}
