.simplified-text-view {
    --padding: var(--dui-spacing-medium);

    position: relative;
    padding: var(--padding);

    white-space: pre-wrap;
    word-break: break-word;


    &.disabled {
        user-select: none;
    }

    .entry {
        margin: var(--dui-spacing-medium) 0;
    }

    &.assisted-enabled {
        &::selection {
            background: var(--dui-color-nlp);
            color: var(--dui-color-text-on-primary);
        }
    }

    .actions-popup {
        display: flex;
        position: absolute;
        align-items: center;
        transition: var(--dui-duration-transition-fast) top ease-in-out,
            var(--dui-duration-transition-fast) left ease-in-out,
            var(--dui-duration-transition-fast) right ease-in-out;
        margin: var(--dui-spacing-extra-small);
        /* background-color: var(--dui-color-foreground); */
        user-select: none;
        gap: var(--dui-spacing-small);

        >* {
            flex-shrink: 0;
        }

        * {
            user-select: none;
        }

        .add-button {
            font-size: var(--dui-font-size-large);
            user-select: none;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        margin-top: var(--dui-spacing-medium);
    }
}
