:root {
    --width-reset-form: 420px;
}

.reset-password {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .form-container {
        width: var(--width-reset-form);

        .info {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            background-color: var(--color-foreground);
            padding: var(--spacing-large);
        }

        .reset-password-form {
            position: relative;
            background-color: var(--color-foreground);
            padding: var(--spacing-small) var(--spacing-large) var(--spacing-large);

            .action-buttons {
                display: flex;
                justify-content: flex-end;
                margin: var(--spacing-medium) 0;
            }
        }

        .go-back-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: var(--spacing-extra-small);
            background-color: var(--color-foreground);
            padding: var(--spacing-large);

            .go-back-link {
                color: var(--color-accent);
            }
        }
    }
}
