.lead-edit-form {
    display: flex;
    flex-direction: column;
    padding: var(--dui-spacing-medium);
    gap: var(--dui-spacing-medium);

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: var(--dui-spacing-medium);

        .input {
            flex-basis: calc(50% - var(--dui-spacing-medium) / 2);
        }
    }
}
