.question {
    display: flex;

    &:hover {
        background-color: var(--color-background-hover);
    }

    .title {
        flex-grow: 1;
        padding: var(--spacing-medium);
    }

    .options {
        align-self: flex-start;
        flex-shrink: 0;
        padding: var(--spacing-medium);
    }
}
