// Note: kept out because the item gets attached to the body when moving
.sector-list-item {
    display: flex;
    align-items: center;
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);

    .drag-handle {
        flex-shrink: 0;
        background-color: var(--color-foreground);
        cursor: move;
        padding: var(--spacing-small);
    }

    .sector-content {
        flex-grow: 1;
    }
}

.column {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .footer {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-top: var(--width-separator-thin) solid var(--color-separator-light);
        background-color: var(--color-foreground-alt);
        padding: var(--spacing-medium) 0;

        .label {
            padding: 0 var(--spacing-medium);
            text-transform: capitalize;
        }

        .actions {
            display: flex;
            align-items: center;
            padding: 0 var(--spacing-small);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .sector-list {
            flex-grow: 1;
            overflow: auto;

            .sector-list-item {
                border-color: transparent;

                &:not(:last-child) {
                    border-bottom-color: var(--color-separator-light);
                }
            }

        }

        .sector-details {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
