.stakeholder-list {
    display: flex;
    position: relative;
    flex-basis: calc(calc(100% / 3) - calc(var(--dui-spacing-large) * 2));
    flex-direction: column;
    margin: var(--dui-spacing-large);
    border-radius: var(--dui-border-radius-card);
    background-color: var(--dui-color-foreground);
    padding: 0;
    min-width: 160px;
    height: calc(50% - 2 * var(--dui-spacing-large));
    min-height: 240px;
    overflow-y: auto;

    .header {
        border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small))
            calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
        overflow: auto;

        .row {
            display: flex;

            &:hover {
                background-color: var(--dui-color-background-hover);
            }
        }
    }
}
