.focuses {
    display: flex;
    position: relative;
    flex-grow: 1;
    background-color: var(--color-foreground);
    overflow: auto;

    .section-item {
        display: flex;
        flex-basis: 25%;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        overflow-y: auto;

        .header {
            flex-shrink: 0;
        }

        .content {
            padding: 0 var(--spacing-small);
            overflow-y: auto;

            &:not(.sectors) {
                flex-grow: 1;
            }

            :global .list-view {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
            }

            :global .select-input-with-list {
                padding: 0;
            }
        }
    }
}

