.register-form {
    --width-register-content: 640px;

    .register-form-container {
        margin: auto;
        background-color: var(--dui-color-foreground);
        width: var(--width-register-content);
        overflow: unset;

        .input-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .input {
                flex-basis: calc(50% - 2 * var(--dui-spacing-medium));
                margin: var(--dui-spacing-medium);
            }
        }
    }

    .register-success {
        display: flex;
        justify-content: center;
        margin: var(--dui-spacing-medium) auto;
        width: var(--width-register-content);
    }
}
