.framework-detail {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .framework-item {
        flex-grow: 1;
        overflow-y: auto;

        .content {
            display: flex;
            padding: 0;
            overflow-y: auto;
            --width-left-container: 320px;

            .metadata-container {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                padding: var(--dui-spacing-medium);
                width: var(--width-left-container);
                gap: var(--dui-spacing-medium);
                overflow-y: auto;

                .block {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                }

                .project-title {
                    >a {
                        padding: 0;
                    }
                }
            }

            .preview {
                display: flex;
                align-items: center;
                flex-grow: 1;
                justify-content: center;
                border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                padding: var(--dui-spacing-large);
            }
        }
    }
}
