.framework-detail {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .framework-item {
        flex-grow: 1;
        overflow-y: auto;

        .header {
            align-content: center;
            border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            padding: 0 var(--dui-spacing-medium);

            .heading-container {
                padding-bottom: var(--dui-spacing-small);
            }

            .header-actions {
                display: flex;
                align-items: center;
                align-self: stretch;
                flex-grow: 1;
                justify-content: space-between;

                .tab-list {
                    align-self: stretch;

                    .tab {
                        align-self: stretch;
                        padding: var(--dui-spacing-extra-large);
                    }
                }

                .actions {
                    display: flex;
                    gap: var(--dui-spacing-medium);
                }
            }
        }

        .content {
            display: flex;
            padding: 0;
            overflow-y: auto;
            --width-left-container: 320px;

            .metadata-container {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                padding: var(--dui-spacing-medium);
                width: var(--width-left-container);
                gap: var(--dui-spacing-medium);
                overflow-y: auto;

                .block {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                }

                .project-title {
                    >a {
                        padding: 0;
                    }
                }
            }

            .preview {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                padding: var(--dui-spacing-small);
                overflow-y: auto;

                .tab-panel {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    overflow-y: auto;
                }

                .tabs {
                    flex-shrink: 0;

                    .border-wrapper {
                        display: flex;
                        flex-grow: 1;
                    }

                    .tab {
                        flex-grow: 1;
                    }
                }

                .panel {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    overflow-y: auto;
                }
            }
        }
    }
}
