.framework-detail {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .framework-item {
        flex-grow: 1;
        border-radius: 0;
        overflow-y: auto;

        .created-at-container {
            display: flex;
            align-items: center;

            .created-date {
                padding: 0 var(--dui-spacing-extra-small);
            }
        }

        .content {
            display: flex;
            padding: 0;
            overflow-y: auto;
            --width-left-container: 320px;

            .metadata-container {
                flex-shrink: 0;
                padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
                width: var(--width-left-container);
                overflow-y: auto;

                .framework-description {
                    padding: var(--dui-spacing-medium);
                }

                .block {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: var(--dui-spacing-medium);
                }

                .project-title {
                    padding: var(--dui-spacing-extra-small) 0;

                    >a {
                        padding: 0;
                    }
                }
            }

            .preview {
                display: flex;
                align-items: center;
                flex-grow: 1;
                justify-content: center;
                margin: var(--dui-spacing-large);
                border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                padding: var(--dui-spacing-large);
            }
        }
    }
}
