@import '~base-scss/base';

$width-input-max: 240px;

.sheet-list {
    flex-grow: 1;

    .sheet-setting {
        border-bottom: $width-separator-thin solid $color-separator;

        .header {
            display: flex;
            padding: $spacing-medium 0;

            .sheet-title {
                flex-grow: 1;
                padding: 0 $spacing-medium;
            }

            .check-input {
                flex-shrink: 0;
                padding: 0 $spacing-medium;
                width: auto;
            }
        }

        .sheet-header-row-input {
            margin: 0 $spacing-medium;
            width: 100%;
            max-width: $width-input-max;
        }
    }
}
