.home {
    display: flex;
    background-color: var(--dui-color-background);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .main-content {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .summary {
            align-self: stretch;
            flex-basis: 40%;
        }

        .project-tagging-activity {
            flex-grow: 1;
        }

        .recent-projects {
            flex-basis: 100%;

            .project-item {
                margin: var(--dui-spacing-medium) 0;
            }

            .text {
                text-align: center;
                font-size: var(--dui-font-size-large);
            }
        }
    }
}
