.home {
    display: flex;
    background-color: var(--dui-color-background);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .main-content {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .summary {
            align-self: stretch;
            flex-basis: 40%;
        }

        .project-tagging-activity {
            flex-grow: 1;
        }

        .recent-projects {
            flex-basis: 100%;

            .project-item {
                margin: var(--dui-spacing-medium) 0;
            }

            .empty-recent-project {
                display: flex;
                align-items: center;
                flex-direction: column;
                flex-grow: 1;
                justify-content: center;
                margin: var(--dui-spacing-large) 0;
                background-color: var(--dui-color-foreground);
                padding: var(--dui-spacing-extra-large) var(--dui-spacing-large);
                min-height: 30vh;
                color: var(--dui-color-text-disabled);

                .icon {
                    flex-shrink: 0;
                    padding: var(--dui-spacing-small);
                    font-size: 10em;
                }

                .text {
                    padding: var(--dui-spacing-small);
                    text-align: center;
                    font-size: var(--dui-font-size-large);
                }
            }
        }
    }
}
