
.message {
    margin-bottom: var(--spacing-medium);
    font-weight: var(--font-weight-bold);
}

.properties {
    display: table;
    width: 100%;

    .property {
        @extend %background-alternating-row;
        display: table-row;

        .label {
            display: table-cell;
            padding: var(--spacing-small);
            text-transform: uppercase;
            white-space: nowrap;
            color: var(--color-text-label);
            font-size: var(--font-size-small);
        }

        .value {
            display: table-cell;
            padding: var(--spacing-small);
            width: 100%;
        }
    }
}
