.page-content {
    display: flex;
    padding: var(--dui-spacing-medium);

    .main-content {
        flex-grow: 1;
    }

    .right-side-content {
        flex-basis: calc(200px + 10vw);
        flex-grow: 0;
        flex-shrink: 0;
    }
}
