@import '~base-scss/base';

.sortable-unit {
    border-top: $width-separator-thin solid $color-separator;
    border-bottom: $width-separator-thin solid $color-separator;

    .drag-handle {
        display: flex;
        align-items: center;
        align-self: stretch;
        background-color: $color-foreground;
        padding: $spacing-small $spacing-medium;
    }
}

.edit-modal {
    width: $width-modal-medium;
    height: $height-modal-medium;

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;

            .non-field-errors {
                flex-shrink: 0;
                padding: 0 $spacing-small;
            }

            .title {
                flex-shrink: 0;
                padding: 0 $spacing-small;
            }

            .scale-units {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .header {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    justify-content: space-between;
                    border-bottom: $width-separator-thin solid $color-separator;
                    padding: $spacing-small;
                }

                .edit-list {
                    flex-grow: 1;
                    overflow-y: auto;

                    .sortable-unit {
                        border-top-color: transparent;
                    }
                }
            }
        }
    }
}
