:root {
    --width-left-min: 390px;
    --width-right-min: 370px;
    --height-header: 48px;
}

.overview {
    display: flex;
    height: 100%;

    .left {
        display: flex;
        flex-direction: column;
        border-right: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground-alt);
        width: 30%;
        min-width: var(--width-left-min);
        height: 100%;
        overflow-y: auto;

        .left-panel {
            flex-grow: 1;
        }
    }

    .right {
        width: 70%;
        min-width: var(--width-left-min);
        height: 100%;

        .header {
            display: flex;
            align-items: center;
            border-bottom: var(--width-separator-medium) solid var(--color-separator);
            background-color: var(--color-foreground);
            height: var(--height-header);

            .entry-select-input {
                flex-grow: 1;
                padding: 0 var(--spacing-medium);
            }

            .left-action-buttons {
                display: flex;
                align-items: center;
                align-self: stretch;
                flex-shrink: 0;
                border-right: var(--width-separator-thin) solid var(--color-separator);

                .add-new-entry-button {
                    margin: 0 var(--spacing-small);
                }
            }

            .right-action-buttons {
                display: flex;
                flex-shrink: 0;

                button {
                    margin: 0 var(--spacing-extra-small);
                }

                .entry-comment-button {
                    display: flex;
                    align-items: center;
                    padding: var(--spacing-extra-small) var(--spacing-small);

                    .comment-count {
                        padding-left: var(--spacing-small);
                    }

                    .comment-icon {
                        font-size: var(--font-size-large);
                    }

                    &.accented {
                        border-color: var(--color-accent);
                        color: var(--color-accent);
                    }
                }
            }
        }

        .content {
            height: calc(100% - var(--height-header));
            overflow: auto;
        }
    }
}
