@import '~base-scss/base';

$width-left-min: 390px;
$width-right-min: 370px;

.overview {
    display: flex;
    height: 100%;

    .left {
        border-right: $width-separator-thin solid $color-separator;
        background-color: $color-foreground-alt;
        width: 30%;
        min-width: $width-left-min;
        height: 100%;
    }

    .right {
        width: 70%;
        min-width: $width-left-min;
        height: 100%;

        $height-header: 48px;

        .header {
            display: flex;
            align-items: center;
            border-bottom: $width-separator-medium solid $color-separator;
            background-color: $color-foreground;
            height: $height-header;

            .entry-select-input {
                flex-grow: 1;
                padding: 0 $spacing-medium;
            }

            .action-buttons {
                display: flex;
                flex-shrink: 0;

                button {
                    margin: 0 $spacing-small;
                }

                .add-new-entry-button {
                    margin-left: $spacing-extra-small;
                }
            }
        }

        .content {
            height: calc(100% - #{$height-header});
            overflow: auto;
        }
    }
}
