:root {
    --width-left-min: 390px;
    --width-right-min: 370px;
    --height-header: 48px;
}

.overview {
    display: flex;
    height: 100%;

    .left {
        border-right: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground-alt);
        width: 30%;
        min-width: var(--width-left-min);
        height: 100%;
    }

    .right {
        width: 70%;
        min-width: var(--width-left-min);
        height: 100%;

        .header {
            display: flex;
            align-items: center;
            border-bottom: var(--width-separator-medium) solid var(--color-separator);
            background-color: var(--color-foreground);
            height: var(--height-header);

            .entry-select-input {
                flex-grow: 1;
                padding: 0 var(--spacing-medium);
            }

            .entry-comment-button {
                display: flex;
                align-items: center;
                margin-right: var(--spacing-medium);
                padding: var(--spacing-extra-small) var(--spacing-small);

                .comment-count {
                    padding-left: var(--spacing-small);
                }

                .comment-icon {
                    font-size: var(--font-size-large);
                }

                &.accented {
                    border-color: var(--color-accent);
                    color: var(--color-accent);
                }
            }

            .action-buttons {
                display: flex;
                flex-shrink: 0;

                button {
                    margin: 0 var(--spacing-small);
                }

                .add-new-entry-button {
                    margin-right: var(--spacing-extra-small);
                }
            }
        }

        .content {
            height: calc(100% - var(--height-header));
            overflow: auto;
        }
    }
}
