.sources-stats {
    --spacing: var(--dui-spacing-small);
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--dui-spacing-medium) - var(--spacing));

    .entry-stats-card,
    .lead-stats-card {
        display: flex;
        flex-grow: 1;
        margin: var(--spacing);
        border: var(--dui-width-separator-thin) solid var((--dui-color-grey5));
        border-radius: var(--dui-border-radius-card);
        box-shadow: 0 1px 7px -1px rgba(0, 0, 0, .2);

        >* {
            flex-basis: 0;
            flex-grow: 1;
        }

        .info-card {
            flex-grow: unset;
            border-right: var(--dui-width-separator-thin) solid var((--dui-color-grey5));
            border-radius: 0;
        }
    }

    .entry-stats-card {
        flex-basis: calc(40% - 2 * var(--spacing));
    }

    .lead-stats-card {
        flex-basis: calc(60% - 2 * var(--spacing));
    }
}
