@import '~base-scss/base';

.excerpt {
    padding: $spacing-small;

    .text {
        margin: 0;
        height: 100%;
        overflow-y: auto;
        text-align: justify;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .data-series {
        width: 100%;
        height: 100%;
    }
}
