@import '~base-scss/base';

.excerpt {
    padding: $spacing-small;

    .text {
        margin: 0;
        height: 100%;
        overflow-y: auto;
        text-align: justify;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }
}
