.excerpt {
    padding: var(--spacing-small);
    width: 100%;
    height: 100%;

    .text {
        margin: 0;
        height: 100%;
        overflow-y: auto;
        text-align: justify;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .image-alt {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }

    .data-series {
        width: 100%;
        height: 100%;
    }
}
