.sources-filter {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-extra-large);
    overflow: auto;

    .tab-list {
        flex-shrink: 0;

        .tab {
            flex-grow: 1;
            padding: var(--dui-spacing-medium) var(--dui-spacing-small);
        }
    }

    .tab-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: var(--dui-spacing-small);
        width: 20rem;
        overflow: auto;
        gap: var(--dui-spacing-large);
    }

    .checklist {
        .vertical-list {
            display: flex;
            flex-direction: column;
        }
    }
}
