.sources-filter {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        flex-wrap: wrap;
        gap: var(--dui-spacing-medium);

        .input {
            width: 22rem;

            &.hidden {
                display: none;
            }
        }

        .actions {
            display: flex;
            align-items: flex-end;
            flex-grow: 1;
            justify-content: flex-start;
            gap: var(--dui-spacing-small);
        }
    }
}
