
.country-population {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    color: var(--color-text-disabled);
    font-size: var(--font-size-large);

    .under-construction {
        margin-top: var(--spacing-small);
        font-size: var(--font-size-super-large);
        font-weight: var(--font-weight-bold);
    }
}
