.lead-preview-button {
    border-radius: 0;
    padding: 0;
    text-align: left;
    color: var(--dui-color-brand);

    &:hover {
        text-decoration: underline;
    }

    .label {
        word-break: break-word;
    }
}

.modal {
    .header {
        padding: var(--dui-spacing-medium);
    }

    .content {
        display: flex;

        .preview {
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}
