:root {
    --width-expand-icon: 26px;
}

.question-container {
    display: flex;
    flex-direction: column;

    .top-container {
        display: flex;
    }

    .checkbox {
        flex-shrink: 0;
        margin-right: 36px;
        font-size: var(--font-size-extra-large);

        .check-icon {
            margin-right: 0;
        }
    }

    .question {
        position: relative;
        flex-grow: 1;
        border: var(--width-separator-thin) solid var(--color-separator);

        .brief {
            display: flex;

            .icon-container {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                background-color: var(--color-background);
                padding: var(--spacing-medium);

                .icon {
                    width: var(--width-question-icon);
                    height: var(--height-question-icon);
                    object-fit: contain;
                    object-position: center center;
                }
            }

            .details-container {
                display: flex;
                align-items: flex-start;
                flex-grow: 1;
                padding: var(--spacing-medium);

                .expand-button {
                    flex-shrink: 0;
                    width: var(--width-expand-icon);
                    height: var(--width-expand-icon);
                }

                .details-right {
                    flex-grow: 1;

                    .top {
                        display: flex;
                        align-items: flex-start;

                        .left {
                            flex-grow: 1;

                            .title {
                                text-transform: unset;
                            }

                            .basic-info {
                                display: flex;
                                flex-wrap: wrap;
                                padding: var(--spacing-small) 0;
                                color: var(--color-text-label);
                            }
                        }

                        .button-container {
                            display: flex;
                            align-items: center;
                            flex-shrink: 0;
                        }
                    }
                }

                .framework-attribute {
                    display: inline-block;
                    background-color: var(--color-background);
                    padding: var(--spacing-extra-small) var(--spacing-small);
                }
            }
        }

        .details {
            border-top: var(--width-separator-thin) solid var(--color-separator);
            padding-left: calc(var(--width-question-icon) + (var(--spacing-medium) * 2) + var(--width-expand-icon) + var(--spacing-medium));

            .heading {
                padding: var(--spacing-extra-small) 0;
            }

            .content {
                padding: var(--spacing-extra-small) 0;
            }

            .response-options {
                padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) 0;
            }

            .enumerator-instruction {
                padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) 0;
            }

            .respondent-instruction {
                padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) 0;
            }
        }

        .copy-button {
            display: none;
            position: absolute;
            right: var(--spacing-extra-small);
            bottom: var(--spacing-extra-small);
        }

        &:hover {
            .copy-button {
                display: block;
            }
        }
    }

    .drop-zone-container {
        position: relative;
        flex-basis: 100%;
        flex-shrink: 0;
        height: calc(40px + var(--spacing-medium));

        .drop-zone {
            margin-left: 52px;
            padding: var(--spacing-medium);
            height: 40px;
        }

        .add-button {
            position: absolute;
            top: var(--spacing-small);
            right: var(--spacing-small);
            opacity: 0;
        }
    }

    &:hover {
        .drop-zone-container {
            .add-button {
                opacity: 1;
            }
        }
    }
}
