.pending,
.error,
.complete,
.pristine {
    flex-shrink: 0;
    margin-left: var(--spacing-small);
    padding: 0;
    color: var(--color-text-label);
    font-size: var(--font-size-medium-alt);
}

.warning {
    color: var(--color-warning);
}

.error {
    color: var(--color-danger);
}

.complete {
    color: var(--color-success);
}
