.cell {
    display: table-cell;
    padding: var(--spacing-small-alt);

    .cell-item {
        display: inline-block;

        :not(:last-child) {
            margin-right: var(--spacing-small);
        }
    }
}
