.analytical-framework {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow-y: auto;

    .header {
        flex-shrink: 0;
    }

    .tab-list {
        display: flex;
        .tab {
            flex-grow: 1;
            font-size: var(--font-size-large);
        }
    }

    .tab-panel {
        display: flex;
        flex-grow: 1;
        overflow-y: auto;
    }
}
