:root {
    --width-left-content: 420px;
    --width-display-picture: 108px;
}

.user-profile {
    overflow: auto;

    .heading {
        padding: var(--spacing-small) 0;
    }

    .main-content {
        display: flex;
        background-color: var(--color-foreground);
        overflow: auto;

        .left {
            display: flex;
            flex-basis: var(--width-left-content);
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            border-right: var(--width-separator-thin) solid var(--color-separator);

            .info {
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                border-bottom: var(--width-separator-thin) solid var(--color-separator);
                padding: var(--spacing-large);

                .display-picture {
                    flex-shrink: 0;
                    margin-right: var(--spacing-large);
                    --size: var(--width-display-picture);
                }

                .detail {
                    flex-grow: 1;

                    .name-container {
                        display: flex;
                        align-items: center;

                        .name {
                            display: flex;
                            flex-grow: 1;
                            font-size: var(--font-size-super-large);

                            .first {
                                margin-right: var(--spacing-small);
                            }
                        }

                        .edit-profile-button {
                            flex-shrink: 0;
                        }
                    }

                    .email {
                        margin-bottom: var(--spacing-small);
                        color: var(--color-text-label);
                        font-size: var(--font-size-large);
                    }

                    .organization {
                        font-size: var(--font-size-large);
                    }
                }
            }

            .stats {
                flex-grow: 1;
                padding: var(--spacing-medium);
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .projects {
                flex-basis: 60%;
                flex-grow: 0;
                flex-shrink: 0;
                border-bottom: var(--width-separator-thin) solid var(--color-separator);
                overflow: auto;
            }

            .groups {
                flex-basis: 40%;
                flex-grow: 0;
                flex-shrink: 0;
                overflow: auto;
            }
        }
    }
}

.user-profile-edit-modal {
    width: 480px;
}
