@import '~base-scss/base';

$width-left-content: 420px;
$width-display-picture: 108px;

.user-profile {
    overflow: auto;

    .heading {
        padding: $spacing-small 0;
    }

    .main-content {
        display: flex;
        overflow: auto;

        .left {
            display: flex;
            flex-basis: $width-left-content;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            border-right: $width-separator-thin solid $color-separator;

            .info {
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                border-bottom: $width-separator-thin solid $color-separator;
                padding: $spacing-large;

                .display-picture {
                    display: block;
                    flex-shrink: 0;
                    margin-right: $spacing-large;
                    border: $width-separator-medium solid $color-accent;
                    width: $width-display-picture;
                    height: $width-display-picture;
                }

                .detail {
                    flex-grow: 1;

                    .name-container {
                        display: flex;
                        align-items: center;

                        .name {
                            display: flex;
                            flex-grow: 1;
                            font-size: $font-size-super-large;

                            .first {
                                margin-right: $spacing-small;
                            }
                        }

                        .edit-profile-button {
                            flex-shrink: 0;
                        }
                    }

                    .email {
                        margin-bottom: $spacing-small;
                        color: $color-text-label;
                        font-size: $font-size-large;
                    }

                    .organization {
                        font-size: $font-size-large;
                    }
                }
            }

            .stats {
                flex-grow: 1;
                padding: $spacing-medium;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .projects {
                flex-basis: 60%;
                flex-grow: 0;
                flex-shrink: 0;
                border-bottom: $width-separator-thin solid $color-separator;
                background-color: $color-background-row;
                overflow: auto;
            }

            .groups {
                flex-basis: 40%;
                flex-grow: 0;
                flex-shrink: 0;
                background-color: $color-background-row;
                overflow: auto;
            }
        }
    }

}

.user-profile-edit-modal {
    width: 480px;
}
