@import '~base-scss/base';

$height-header: 42px;

.country-detail {
    display: flex;
    position: relative;
    flex-direction: column;

    .header {
        flex-shrink: 0;
        background-color: $color-background-header;
        padding: 0;
        color: $color-text-on-background-header;

        .top-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $spacing-small;
            padding-bottom: 0;

            .heading {
                flex-shrink: 0;
            }

            .right-container {
                display: flex;

                button {
                    margin-left: $spacing-small;
                }
            }
        }

        .bottom-container {
            background-color: transparent;
        }
    }

    .view {
        flex-grow: 1;
        overflow: auto;
    }

    .loading-animation {
        z-index: 111;
        background-color: $color-foreground;
        // background-color: $color-background-overlay-opaque;
    }

    .details-no-edit {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;

        .region-details {
            bottom: calc(var(--spacing-medium) + 24px);
        }

        .region-map {
            flex-grow: 1;
        }
    }
}
