:root {
    --width-left-min: 390px;
    --width-right-min: 370px;
    --height-header: 48px;
}

.group {
    display: flex;
    height: 100%;

    .left {
        display: flex;
        flex-direction: column;
        border-right: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground-alt);
        width: 30%;
        min-width: var(--width-left-min);
        height: 100%;
        overflow-y: auto;

        .left-panel {
            flex-grow: 1;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 70%;
        min-width: var(--width-left-min);

        .header {
            display: flex;
            align-items: center;
            border-bottom: var(--width-separator-medium) solid var(--color-separator);
            background-color: var(--color-foreground);
            padding: var(--spacing-medium);
            height: var(--height-header);
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .entry-group-item {
                display: flex;
                flex-direction: column;
                padding: var(--spacing-small);

                .label-header {
                    display: flex;
                    flex-direction: row;
                    padding: var(--spacing-small);

                    .heading {
                        align-self: center;
                        flex-grow: 1;
                    }

                    .button {
                        flex-shrink: 0;
                        margin-left: var(--spacing-small);
                    }
                }

                .label-container {
                    display: flex;
                    flex-direction: row;

                    .label-item {
                        display: flex;
                        position: relative;
                        flex-basis: calc(100% / 3);
                        flex-direction: column;
                        margin: var(--spacing-small);
                        background-color: var(--color-foreground);
                        padding: var(--spacing-small);
                        min-height: 120px;

                        .heading {
                            flex-shrink: 0;
                            padding: var(--spacing-small);
                        }

                        .entry-preview {
                            flex-grow: 1;
                            padding: var(--spacing-small);
                        }
                    }
                }
            }
        }
    }
}
