.matrix {
    display: flex;
    flex-direction: column;

    .matrix-row {
        display: flex;
        flex-direction: column;

        .title {
            padding: var(--dui-spacing-medium) 0;
        }

        .table {
            border-collapse: collapse;

            .table-head {
                .first-column {
                    width: 10em;
                }

                .back {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: var(--dui-spacing-extra-small);
                }

                .table-header {
                    background-color: var(--dui-color-background);
                    cursor: not-allowed;
                    padding: var(--dui-spacing-medium);

                    &.clickable {
                        cursor: pointer;

                        &:hover {
                            background-color: var(--dui-color-surface-information);
                        }
                    }
                }
            }

            .sub-row-heading {
                font-weight: var(--dui-font-weight-bold);
            }

            .table-row {
                .checkbox-column {
                    text-align: center;

                    .input {
                        display: flex;
                        justify-content: center;
                        padding: 0;
                        font-size: var(--dui-font-size-super-large);

                        .label {
                            display: none;
                            padding: 0;
                        }

                        .not-selected {
                            opacity: .4;
                        }
                    }
                }

                .table-column {
                    border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                }
            }
        }
    }
}
