
.activity-log {
    display: flex;
    flex-direction: column;

    .header {
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small) var(--spacing-medium);
        color: var(--color-primary);
    }

    .log {
        flex-grow: 1;
        overflow-y: auto;
    }
}
