.project-item {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--dui-border-color-card);
    border-radius: var(--dui-border-radius-card);
    background-color: var(--color-foreground);

    .header-right {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .privacy-label {
            margin: 0 var(--spacing-small);
            text-transform: uppercase;
            color: var(--dui-color-label);
            font-weight: var(--font-weight-bold);
        }

        .privacy-icon {
            margin: 0 var(--spacing-small);
            color: var(--dui-color-label);
        }

        .link {
            margin: 0 var(--spacing-small);
        }
    }

    .body {
        display: flex;
        align-items: flex-start;
        padding: var(--dui-spacing-small);

        .body-left {
            flex-basis: 50%;

            .body-left-bottom {
                display: flex;
                align-items: flex-start;
                margin: var(--spacing-large) 0;

                .details-left {
                    display: flex;
                    flex-direction: column;
                    padding-right: var(--spacing-medium);

                    .text-output {
                        padding: var(--spacing-small) 0;
                    }
                }

                .details-right {
                    padding: var(--spacing-small) 0;

                    .recently-active-title {
                        padding: var(--spacing-extra-small) 0;
                        color: var(--dui-color-label);
                        font-size: var(--font-size-medium-alt);
                        font-weight: var(--font-weight-normal);
                    }
                }
            }
        }

        .body-right {
            flex-basis: 50%;

            .right-top {
                display: flex;

                .info-box {
                    flex-shrink: 0;

                    .icon {
                        background-color: transparent;
                        height: var(--font-size-extreme-large);
                        color: var(--dui-color-text-on-accent);
                    }
                }

                .progress-bars {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    margin-left: var(--spacing-large);
                    border-radius: var(--dui-border-radius-card);
                    background-color: var(--dui-color-deep6);
                    padding: var(--spacing-medium);

                    .progress-bar {
                        padding: var(--spacing-small);
                    }
                }
            }

            .project-activity {
                display: flex;
                flex-direction: column;
                margin: var(--spacing-large) 0;
                border: var(--width-separator-thin) solid var(--dui-border-color-inner-card);
                border-radius: var(--dui-border-radius-card);
                padding: var(--spacing-large);

                .project-activity-heading {
                    flex-shrink: 0;
                    color: var(--dui-color-text-dark);
                }

                .responsive-container {
                    flex-grow: 1;
                    height: 144px!important;
                }
            }
        }
    }
}

.recently-active-user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--spacing-extra-small) 0;

    .name {
        padding: var(--spacing-extra-small) 0;
        color: var(--dui-color-text-dark);
        font-size: var(--font-size-medium-alt);
        font-weight: var(--font-weight-bold);
    }

    .date {
        padding: 0 var(--spacing-small);
        color: var(--dui-color-label);
    }
}
