.project-item {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--dui-border-color-card);
    border-radius: var(--dui-border-radius-card);
    background-color: var(--color-foreground);

    .content {
        display: flex;

        .info {
            flex-basis: 50%;
            flex-grow: 0;
            padding: 0 var(--dui-spacing-large);

            .basic-details {
                display: flex;
                padding: var(--dui-spacing-large) 0;

                .description {
                    flex-basis: 50%;
                    flex-grow: 0;
                    line-height: 1.8;
                }
            }

            .metadata {
                display: flex;

                .column {
                    flex-basis: 0;
                    flex-grow: 1;

                    >* {
                        margin: var(--dui-spacing-large) 0;
                    }
                }
            }
        }

        .charts {
            display: flex;
            flex-basis: 50%;
            flex-grow: 0;
            flex-wrap: wrap;
            padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));

            .total-sources {
                align-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                margin: var(--dui-spacing-medium);
                background-color: var(--dui-color-surface-negative);
                width: 108px;

                .bookmark-icon {
                    margin-left: 0;
                }
            }

            .progress-lines {
                flex-grow: 1;
                margin: var(--dui-spacing-medium);
                background-color: var(--dui-color-surface-negative);
                padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium)) var(--dui-spacing-large);

                >* {
                    margin: var(--dui-spacing-medium) 0;
                }
            }

            .project-activity-container {
                flex-basis: 100%;
                margin: var(--dui-spacing-medium);

                .chart-container {
                    display: flex;
                    flex-direction: column;
                    height: 240px;

                    .responsive-container {
                        flex-grow: 1;
                    }
                }
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .privacy-label {
            margin: 0 var(--spacing-small);
            text-transform: uppercase;
            color: var(--dui-color-label);
            font-weight: var(--font-weight-bold);
        }

        .privacy-icon {
            margin: 0 var(--spacing-small);
            color: var(--dui-color-label);
        }

        .link {
            margin: 0 var(--spacing-small);
        }
    }
}

.recently-active-user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--dui-spacing-small) 0;

    .name {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--dui-color-text-dark);
        font-size: var(--font-size-medium-alt);
        font-weight: var(--font-weight-bold);
    }

    .date {
        flex-shrink: 0;
        padding: 0;
        color: var(--dui-color-label);
    }
}
