
.cross-sector {
    @extend %tabular-input-base;

    &.empty {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-text-disabled);
    }
}
