.input {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .multi-select {
        flex-shrink: 0;
        padding: 0 var(--spacing-small);
    }

    .checklist {
        flex-grow: 1;
        overflow-y: auto;

        .list {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}
