.ngrams {
    display: flex;
    flex-grow: 1;
    overflow: auto;

    .tab-list {
        display: flex;
        flex-direction: column;
    }

    .chart-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        scrollbar-gutter: stable both-edges;
        overflow-y: auto;

        .chart {
            min-height: 20rem;
            scrollbar-gutter: stable both-edges;
        }
    }
}

.message {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

