.notification-container {
    .content {
        display: flex;
        gap: var(--dui-spacing-medium);

        .display-picture {
            align-self: flex-start;
            flex-shrink: 0;
            background: var(--color-foreground);
            --size: 2rem;
        }

        .main-text {
            display: inline;
        }
    }

    .mid-container {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-small);

        .date-container {
            display: flex;
            align-items: center;
            gap: var(--dui-spacing-large);

            >* {
                color: var(--dui-color-text-label);
                font-size: var(--dui-font-size-medium);
            }
        }

        .description {
            color: var(--dui-color-text-label);
            font-size: var(--dui-font-size-medium);
        }
    }
}
