.tagged-excerpt {
    --padding: var(--dui-spacing-medium);

    /* NOTE: when user select tagged excerpt, the add button will be visible */
    user-select: none;
    margin: 0 calc(-1 * var(--padding));
    border: var(--dui-width-separator-thin) solid var(--dui-color-accent);
    cursor: pointer;
    padding: calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small))  calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
    font-weight: var(--dui-font-weight-bold);

    .content {
        padding: var(--dui-spacing-extra-small) var(--dui-spacing-small);
    }
}

.edit-excerpt-popup {
    width: 20rem;
    max-width: unset!important;

    .content {
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

        .excerpt-text-area {
            margin: var(--dui-spacing-small);
        }
    }
}


.diff-excerpt-popup {
    width: 20rem;
    max-width: unset!important;

    .content {
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

        .excerpt {
            .text {
                padding: var(--dui-spacing-small);
            }
        }
    }
}
