@import '~base-scss/base';

.details {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;

    .project-form {
        display: flex;
        position: relative;
        flex-direction: column;

        .action-buttons {
            display: flex;
            flex-shrink: 0;
            justify-content: flex-end;
            padding: $spacing-small $spacing-medium-alt;

            button {
                margin-left: $spacing-medium;
            }
        }

        .tabs {
            @include background-color($color-foreground);
            flex-shrink: 0;
        }

        .content {
            @extend %main-content;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }
}

.forbidden-text {
    font-size: $font-size-extra-large;
}
