@import '~base-scss/base';

.project-details {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;

    .tabs {
        flex-shrink: 0;
    }

    .content {
        flex-grow: 1;
    }
}

.forbidden-text {
    @extend %main-content;
}
