.project-details {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: auto;

    .tabs {
        flex-shrink: 0;
    }

    .content {
        display: none;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        &.active {
            display: flex;
        }

        .view {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
