.bulk-upload {
    display: flex;
    flex-grow: 1;
    background-color: var(--dui-color-white);
    height: 100%;

    .content {
        display: flex;
        flex-grow: 1;

        .upload {
            display: flex;
            flex-basis: 30%;
            margin-right: var(--dui-spacing-small);
        }

        .details {
            display: flex;
            flex-basis: 70%;
        }
    }
}
