@import '~base-scss/base';

$height-geo-modal: 86vh;
$width-geo-modal: 80%;
$width-left-container-min: 240px;
$width-right-container-min: 240px;
$width-right-container-max: 320px;

.geo-modal {
    width: $width-geo-modal;
    height: $height-geo-modal;

    .select-inputs {
        display: flex;
    }

    .body {
        display: flex;
        padding: 0;
        width: 100%;
        height: 60vh;

        .left {
            display: flex;
            flex-basis: 24%;
            flex-direction: column;
            border-right: $width-separator-thin solid $color-separator;
            min-width: $width-left-container-min;
        }

        .map-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border-right: $width-separator-thin solid $color-separator;
            border-left: $width-separator-thin solid $color-separator;

            .select-inputs {
                display: flex;
                justify-content: space-between;
                border-bottom: $width-separator-thin solid $color-separator;
                padding: $spacing-small $spacing-medium;

                .left-inputs {
                    display: flex;

                    .select-input {
                        padding-left: $spacing-small;
                    }
                }
            }

            .map {
                flex-grow: 1;
            }
        }

        .right {
            flex-basis: 20%;
            flex-grow: 1;
            min-width: $width-right-container-min;
            max-width: $width-right-container-max;
            overflow-y: auto;

            .selection-group {
                .title {
                    display: block;
                    flex-shrink: 0;
                    padding: $spacing-medium $spacing-small;
                    width: 100%;
                    text-transform: uppercase;
                    color: $color-accent;
                    font-size: $font-size-extra-small;
                }
            }
        }
    }
}
