.container {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;

        .top {
            display: flex;

            .tab-list {
                flex-grow: 1;
            }

            .action-buttons {
                display: flex;
                align-self: flex-end;
                flex-shrink: 0;

                .button {
                    margin: var(--dui-spacing-small);
                }
            }
        }

        .modal {
            width: 96vw;
            height: 96vh;

            .body {
                display: flex;
                flex-direction: column;
                overflow-y: auto;

                .selection {
                    flex-grow: 1;
                }
            }
        }
    }
}
