:root {
    --width-edit-modal: 72vw;
    --height-edit-modal: 72vh;
}

.edit-modal {
    width: var(--width-edit-modal);
    height: var(--height-edit-modal);

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0;
    }

    .title-input-container {
        flex-shrink: 0;
        padding: var(--spacing-medium);
    }

    .organigram-structure-header {
        padding: var(--spacing-medium) var(--spacing-medium) 0;
    }

    .organs {
        display: flex;
        flex-grow: 1;
        overflow: auto;
    }
}
