
%button {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-medium);
    color: var(--color-text);
    font-family: inherit;
    font-size: inherit;
}

.column {
    display: flex;
    flex-basis: calc(100% / 3);
    flex-direction: column;
    flex-shrink: 0;
    border-right: var(--width-separator-thin) solid var(--color-separator);

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);

        .heading {
            padding: var(--spacing-medium);
        }

        button {
            @extend %button;
            text-transform: uppercase;
            color: var(--color-accent);
        }
    }

    .sub-category-list {
        flex-grow: 1;
        overflow-y: auto;

        .sub-category {
            @extend %button;
            display: flex;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-small);
            width: 100%;
            text-align: left;

            .title {
                flex-grow: 1;
                border: var(--width-separator-thin) solid transparent;
                padding: var(--spacing-small);
                color: var(--color-text);
                pointer-events: none;
            }

            .number {
                flex-shrink: 0;
                padding: var(--spacing-extra-small) var(--spacing-small);
                pointer-events: none;
            }

            &.selected {
                background-color: var(--color-background-selected);
            }

            &.active {
                background-color: var(--color-accent);
                color: var(--color-text-on-accent);

                .title {
                    color: inherit;
                    font-weight: var(--font-weight-bold);
                }
            }

            &.drag-enter {
                .title {
                    border: var(--width-separator-thin) dashed var(--color-separator-alt);
                }

                &.active {
                    .title {
                        border: var(--width-separator-thin) dashed get-text-color(var(--color-accent));
                    }
                }
            }
        }
    }
}
