.connector-source-options {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-medium));

    .header {
        flex-shrink: 0;

        .heading {
            padding: var(--spacing-small) var(--spacing-medium);
        }
    }

    .content {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: calc(var(--spacing-small) - var(--spacing-extra-small)) calc(var(--spacing-medium) - var(--spacing-small));

        .input-element {
            margin: var(--spacing-extra-small) var(--spacing-small);
            width: 192px;
        }
    }
}
