.export-selection {
    display: flex;
    flex-grow: 1;

    .left-container {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-medium);
        width: 70%;

        .footer {
            display: flex;
            align-self: flex-end;
            padding: var(--spacing-medium) 0;

            .button {
                margin-left: var(--spacing-small);
            }
        }
    }

    .preview {
        border-left: var(--width-separator-thin) solid var(--color-separator);
        width: 30%;
    }

    .section {
        margin-top: var(--spacing-medium);
        background-color: var(--color-foreground);

        .heading {
            text-transform: none;

            .sub-heading {
                margin-left: var(--spacing-medium);
                color: var(--color-text);
            }
        }
    }
}
