.sub-navbar {
    display: flex;
    align-items: center;

    .nav-link {
        display: flex;
        flex-shrink: 0;
        border-top: var(--dui-width-separator-thin) solid transparent;
        border-bottom: var(--dui-width-separator-medium) solid var(--dui-color-separator);
        padding: var(--dui-spacing-medium) var(--dui-spacing-extra-large);
        font-weight: var(--dui-font-weight-bold);

        &:hover {
            background-color: var(--dui-color-background-hover);
            color: var(--dui-color-accent);
        }

        &.active {
            border-bottom-color: var(--dui-color-accent);
            color: var(--dui-color-accent);
        }
    }

    .button {
        margin-left: auto;
    }
}
