.links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    .nav-link {
        display: flex;
        flex-shrink: 0;
        border-top: var(--dui-width-separator-thin) solid transparent;
        border-bottom: var(--dui-width-separator-medium) solid transparent;
        padding: var(--dui-spacing-medium) var(--dui-spacing-extra-large);
        font-weight: var(--dui-font-weight-bold);

        &:hover {
            background-color: var(--dui-color-background-hover);
            color: var(--dui-color-accent);
        }

        &.active {
            border-bottom-color: var(--dui-color-accent);
            color: var(--dui-color-accent);
        }
    }
}

.actions {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
