.sources-table-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    z-index: 0;
    background-color: var(--dui-color-foreground);
    padding: 0;

    .content {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;

        .overflow-container {
            overflow: unset;
        }

        .table {
            width: 100%;
            min-height: calc(100vh - 27rem);

            .title-column {
                min-width: 196px;
            }

            .title {
                word-break: break-word;
            }

            .table-row {
                background-color: var(--dui-color-foreground);
            }

            .expanded-row {
                .expanded-cell {
                    border-bottom: 0;
                }
            }

            .expansion-row {
                .expansion-cell {
                    border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                    border-left: var(--dui-width-separator-thick) solid var(--dui-color-accent);
                    padding: 0;
                }
            }
        }

        .status {
            margin: var(--dui-spacing-small);
            height: var(--dui-font-size-super-large);
        }
    }
}
