.sources-table-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    z-index: 0;
    min-height: 50vh;

    .content {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;

        .table {
            width: 100%;

            .title-column {
                min-width: 196px;
            }

            .expanded-row {
                padding: var(--dui-spacing-large);

                .expanded-cell {
                    border-bottom: 0;
                }
            }

            .expansion-row {
                .expansion-cell {
                    border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                }
            }
        }

        .status {
            margin: var(--dui-spacing-small);
            height: var(--dui-font-size-super-large);
        }
    }
}
