.questionnaire-preview-modal {
    width: 80vw;
    height: 90vh;

    .body {
        display: flex;
        flex-direction: column;

        .form-container {
            flex-grow: 1;
            overflow: auto;

            :global {
                @import '~enketo-core/src/sass/formhub/formhub';
            }
        }
    }
}
