%ngram-selects {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-top: var(--width-separator-thin) solid var(--color-separator-alt);
    background-color: var(--color-foreground);

    .heading {
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .ngram-select-list {
        padding: var(--spacing-small) var(--spacing-medium);
        overflow: auto;

        .ngram-select {
            outline: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: var(--spacing-small) var(--spacing-medium);
            font-family: inherit;

            &.active {
                background-color: var(--color-accent);
                color: var(--color-text-on-accent);
            }
        }
    }
}

.property-panel {
    display: flex;
    flex-direction: column;
    border-left: var(--width-separator-thin) solid var(--color-separator-alt);
    background-color: var(--color-foreground);
    width: 30%;
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small) 0;

        .heading {
            padding: 0 var(--spacing-medium);
        }

        .action-buttons {
            padding: 0 var(--spacing-medium);
        }
    }

    .properties {
        flex-shrink: 0;
        padding: var(--spacing-medium);
        overflow: auto;

        textarea {
            resize: none;
        }

    }

    .ngrams {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .ngram-selects {
            @extend %ngram-selects;
            overflow: auto;
        }

        .ngram {
            flex-grow: 1;
        }

        >.action-buttons {
            flex-shrink: 0;
            background-color: var(--color-foreground-alt);
            padding: var(--spacing-small);
            text-align: right;
        }
    }

    .empty {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        color: var(--color-text-disabled);
    }
}
