.comment-container {
    display: flex;
    background-color: var(--dui-color-white);
    padding: var(--dui-spacing-large) 0;
    gap: var(--dui-spacing-small);

    .header {
        display: flex;

        .heading-container {
            display: flex;
            align-self: stretch;
            justify-content: center;

            .heading {
                display: flex;
                align-items: center;
                font-size: var(--font-size-small);
                font-weight: var(--dui-font-weight-light);
                gap: var(--dui-spacing-extra-small);

                .user-name {
                    font-size: var(--font-size-medium);
                    font-weight: var(--dui-font-weight-bold);
                }

                .details {
                    color: var(--dui-color-text);
                }
            }
        }

        .button {
            margin-left: var(--dui-spacing-small);
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--dui-color-separator);
        padding: var(--dui-spacing-small) 0;
    }

    .footer-actions{
        color: var(--dui-color-accent);
    }

    .modified {
        display: flex;
        color: var(--dui-color-text-description);
        font-size: var(--dui-font-size-medium);
    }

    .comment {
        padding: unset;
        color: var(--dui-color-text);
    }

    .date {
        color: var(--dui-color-text-description);
        font-size: var(--dui-font-size-medium);
    }
}
