@import '~base-scss/base';

%list-item {
    display: flex;
    position: relative;
    flex-direction: column;
    border-bottom: $width-separator-thin solid $color-separator;
    padding: $spacing-medium 0;
    overflow: hidden;


    .picture {
        margin: 0 $spacing-small;
        width: 30px;
        height: 30px;
    }

    .top {
        display: flex;
        flex-grow: 1;


        .icon {
            flex-shrink: 0;
            padding: 0 $spacing-medium;
            font-size: $font-size-extra-large;
        }

        .name {
            display: flex;
            flex-direction: column;
            padding: 0 $spacing-medium 0 0;
            word-break: break-all;
            flex-grow: 1;

            .text {
                margin: 0 $spacing-extra-small;
                font-weight: $font-weight-bold;
            }
        }
    }

    .action-buttons {
        position: absolute;
        top: $spacing-medium;
        right: $spacing-small;
        transform: translateX(100%);
        transition: all $duration-transition-medium ease-in-out;
        opacity: 0;

        &.pending {
            transform: none;
            opacity: 1;
        }
    }

    &:hover {
        background-color: $color-background-hover;

        .action-buttons {
            transform: none;
            opacity: 1;
        }
    }
}

.user,
.usergroup {
    @extend %list-item;
}
