.modal {
    display: flex;
    flex-direction: column;

    .body {
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .inputs {
                display: flex;
                align-items: column;
                justify-content: space-between;

                .search {
                    width: 50%;
                }

                .clear{
                    flex-shrink: 0;
                }
            }
            h4 {
                padding: var(--spacing-large) 0 0;
            }
        }

        .projects {
            padding-left: var(--spacing-medium);
            height: 35vh;
            overflow-y: auto;

            :global .input-label {
                display: none;
            }

            .projects-list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow-y: auto;
            }
        }


    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}
