.widget-list-container {
    display: flex;
    flex-direction: column;
    border-right: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);

    .heading {
        flex-shrink: 0;
        padding: var(--spacing-medium);
    }

    .widget-list {
        flex-grow: 1;
        overflow-y: auto;

        .group {
            padding: var(--spacing-small) var(--spacing-medium);
            font-size: var(--font-size-medium-alt);

            &:not(:first-child) {
                margin-top: var(--spacing-medium);
            }
        }

        .item {
            &:hover {
                background-color: var(--color-background-accent-hint);
            }
        }

        .group + .item {
            border-top: 0;
        }
    }
}
