
.scale-matrix-input {
    .table {
        border-spacing: var(--width-separator-thin);

        .cell {
            .button {
                outline: 0;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                padding: var(--spacing-extra-small) var(--spacing-small-alt);
                color: inherit;
            }

            &.active {
                box-shadow: inset 0 0 0 2px var(--color-accent);
                background-color: var(--color-foreground);
            }
        }
    }
}
