.export-type-select {
    outline: 0;
    border: 0;
    background-color: var(--dui-color-background-disabled);
    cursor: pointer;
    padding: var(--dui-spacing-medium);
    color: var(--dui-color-text-disabled);

    &.active {
        background-color: var(--dui-color-foreground);
        color: var(--dui-color-accent);
    }
}
