.check-button {
    --dui-color-accent: var(--color-nlp-tag);
    border-color: var(--color-nlp-tag);

    &.selected {
        background-color: var(--color-nlp-tag);
    }

    &.not-selected {
        background-color: var(--dui-color-white);
        color: var(--color-nlp-tag);
    }
}
