
.tooltip {
    display: flex;
    flex-direction: column;
    max-height: 360px;
    overflow-y: auto;

    .heading {
        flex-grow: 1;
        padding: var(--spacing-small);
        padding-bottom: 0;
    }

    .admin-level {
        display: flex;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-extra-small) var(--spacing-medium);

        .level {
            &:after {
                padding: 0 var(--spacing-small);
                content: '-';
            }
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .list {
        position: relative;
        flex-grow: 1;
        overflow-y: auto;
    }

    .group {
        position: sticky;

        &:not(:first-child) {
            border-top: var(--width-separator-thin) solid var(--color-separator);
        }
    }
}
