@import '~base-scss/base';

.tooltip {
    display: flex;
    flex-direction: column;
    max-height: 360px;
    overflow-y: auto;

    .heading {
        flex-grow: 1;
        padding: $spacing-small;
        padding-bottom: 0;
    }

    .admin-level {
        display: flex;
        border-bottom: $width-separator-thin solid $color-separator;
        padding: $spacing-extra-small $spacing-medium;

        .level {
            &:after {
                padding: 0 $spacing-small;
                content: '-';
            }
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .list {
        position: relative;
        flex-grow: 1;
        overflow-y: auto;
    }

    .group {
        position: sticky;

        &:not(:first-child) {
            border-top: $width-separator-thin solid $color-separator;
        }
    }
}
