// Note: kept out because the item gets attached to the body when moving
.subdimension-item {
    margin: var(--spacing-small);
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    width: calc(100% - calc(var(--spacing-small) * 2));

    .drag-handle {
        display: flex;
        align-items: center;
        align-self: stretch;
        background-color: var(--color-foreground);
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .sub-dimension-content {
        flex-grow: 1;
    }
}

.dimension-content {
    display: flex;
    flex-direction: column;
    overflow: auto;

    >.header {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .back-button {
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-medium);
            font-size: var(--font-size-large);
        }

        .title {
            flex-grow: 1;
            padding: var(--spacing-medium);
            color: var(--color-primary);
        }
    }

    .non-field-errors {
        flex-shrink: 0;
    }

    .edit-dimension {
        flex-shrink: 0;
        padding: calc(var(--spacing-large) - var(--spacing-small)) 0;

        .top {
            display: flex;
            padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));

            .color-input {
                flex-shrink: 0;
                margin: 0 var(--spacing-small);
            }

            .title-input {
                flex-grow: 1;
                margin: 0 var(--spacing-small);
            }

            .font-size-input {
                flex-shrink: 0;
                margin: 0 var(--spacing-small);
                width: 42px; // TODO: use vars
            }

            .orientation-input {
                flex-shrink: 0;
                margin: 0 var(--spacing-small);
            }

            .height-input {
                flex-shrink: 0;
                margin: 0 var(--spacing-small);
                width: 42px; // TODO: use vars
            }
        }

        .bottom {
            padding: var(--spacing-small) var(--spacing-medium);
        }
    }

    .sub-dimension-list-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
            padding: var(--spacing-small) 0;

            >.heading {
                flex-grow: 1;
                padding: 0 var(--spacing-medium);
            }
        }

        .subdimension-item-list {
            flex-grow: 1;
            background-color: var(--color-foreground-alt);
            overflow: auto;
        }

        .footer {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            border-top: var(--width-separator-thin) solid var(--color-separator-light);
            background-color: var(--color-foreground-alt);
            padding: var(--spacing-medium) 0;

            .label {
                padding: 0 var(--spacing-medium);
                text-transform: capitalize;
            }

            .actions {
                display: flex;
                align-items: center;
                padding: 0 var(--spacing-small);
            }
        }
    }
}
