
.container {
    padding: var(--spacing-medium);

    .action-buttons {
        display: flex;
        justify-content: flex-end;

        >button {
            margin-left: var(--spacing-small);
        }
    }
}
