.add-from-framework {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: var(--spacing-large) var(--spacing-medium);

        .heading {
            flex-grow: 1;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .selection-container {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding: var(--spacing-medium);

            .filters {
                display: flex;
                flex-shrink: 0;
                padding-bottom: var(--spacing-small-alt);
                overflow-y: auto;

                .search-input {
                    flex-shrink: 0;
                    margin-right: var(--spacing-small);
                }

                .matrices-selection {
                    display: flex;
                    border: var(--width-separator-thin) solid var(--color-separator);
                    max-width: 240px;

                    :global {
                        .title {
                            text-transform: initial;
                        }
                    }
                }
            }

            .applied-filters-label {
                color: var(--color-text-label);
            }

            .applied-filters {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;

                .badge {
                    margin-right: var(--spacing-extra-small);
                    margin-bottom: var(--spacing-extra-small);
                }
            }
        }

        .framework-question-list {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
            overflow: auto;

            .framework-question {
                margin-bottom: var(--spacing-small);
            }
        }
    }
}

.matrix-filter {
    padding: var(--spacing-medium);
    max-height: 60vh;
    overflow-y: auto;
}
