.add-from-framework {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: var(--spacing-small) var(--spacing-medium);

        .heading {
            flex-grow: 1;
        }
    }

    .content {
        display: flex;
        flex-grow: 1;
        overflow-y: auto;

        .selection-container {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding-left: var(--spacing-medium);
            width: 240px;
            overflow-y: auto;

            .matrix-filter {
                overflow-y: auto;
            }
        }

        .questions-container {
            padding: 0 var(--spacing-medium);
            overflow: auto;

            .framework-question-list {
                .framework-question {
                    margin-bottom: var(--spacing-small);
                }
            }
        }
    }
}
