.full-page-header {
    display: flex;
    align-items: center;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--dui-color-foreground);
    padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small)) calc(var(--dui-spacing-super-large) - var(--dui-spacing-medium));

    .project-details-container {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-wrapper {
            display: flex;
            align-items: center;
            padding: var(--dui-spacing-small) var(--dui-spacing-medium);

            .icon {
                height: var(--dui-height-navbar-icon);
                color: var(--dui-color-brand);
            }
        }

        .project-title-container {
            padding: var(--dui-spacing-small) var(--dui-spacing-medium);
        }
    }

    .content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        padding: var(--dui-spacing-small) var(--dui-spacing-medium);
    }

    .actions {
        flex-shrink: 0;
        padding: var(--dui-spacing-small) var(--dui-spacing-medium);
    }
}
