.sources-stats {
    --spacing: var(--dui-spacing-medium);
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);

    .entry-stats-card,
    .lead-stats-card {
        display: flex;
        flex-grow: 1;
        gap: var(--dui-spacing-medium);
        border-radius: var(--dui-border-radius-card);
        background-color: var(--dui-color-background-information);

        >* {
            flex-basis: 0;
            flex-grow: 1;
        }

        .info-card {
            flex-grow: unset;
            border-right: var(--dui-width-separator-thin) solid var(--dui-color-grey5);
            border-radius: 0;
            background-color: inherit;
        }
    }

    .entry-stats-card {
        flex-basis: calc(40% - var(--spacing));
    }

    .lead-stats-card {
        flex-basis: calc(60% - var(--spacing));
    }
}
