@import '~base-scss/base';

.widget-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-small $spacing-medium;

    .title {
        color: inherit;
    }
}
