.admin-levels {
    display: flex;
    flex-direction: column;
    border-top: var(--width-separator-thin) solid var(--color-separator);

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-background-header);
        padding: var(--spacing-small) var(--spacing-medium);
        text-transform: uppercase;
        font-size: var(--font-size-extra-large);
    }

    .admin-levels-list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--color-background-row);
        overflow: auto;

        .table {
            flex-grow: 1;
        }
    }
}
