@import '~base-scss/base';

.tabular-sheet {
    display: flex;
    flex-direction: column;
    background-color: $color-foreground;

    .options-bar {
        display: flex;
        flex-shrink: 0;
        padding: $spacing-extra-small $spacing-small 0;

        .info-bar {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: flex-end;

            .info {
                display: flex;
                padding: 0 $spacing-medium;
                color: $color-text-label;
            }

            .value {
                padding-right: $spacing-extra-small;
            }
        }
    }

    .table {
        flex-grow: 1;

        .header {
            padding: 0;
        }

        .cell {
            padding: $spacing-extra-small $spacing-small;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
