.tabular-sheet {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);

    .options-bar {
        display: flex;
        flex-shrink: 0;
        padding: var(--spacing-extra-small) var(--spacing-small) 0;

        .info-bar {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: flex-end;

            .info {
                display: flex;
                padding: 0 var(--spacing-medium);
                color: var(--color-text-label);
            }

            .value {
                padding-right: var(--spacing-extra-small);
            }
        }
    }

    .table {
        flex-grow: 1;

        .header {
            padding: 0;
        }

        .cell {
            padding: var(--spacing-extra-small) var(--spacing-small);
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.empty {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: column;

    .image {
        opacity: 0.3;
        margin: var(--spacing-large) 0;
        width: var(--width-icon-extreme-large);
        height: var(--width-icon-extreme-large);
    }
}
