@import '~base-scss/base';

.edit-framework-modal {
    .af-detail-form {
        .name {
            margin-bottom: $spacing-medium;
            width: 100%;
        }

        .description {
            width: 100%;

            :global .input {
                resize: none;
            }
        }
    }

    .footer {
        .button {
            margin-left: $spacing-medium;
        }
    }
}
