.questionnaire-builder {
    display: flex;
    height: 100%;
    overflow: auto;

    >.header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
        }

    }

    .sidebar {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .project-details {
            padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

            .heading {
                padding: var(--spacing-small) var(--spacing-medium);
            }

            .value {
                padding: 0 var(--spacing-medium);
            }
        }

        >.content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: var(--spacing-medium);
            overflow: auto;

            .framework-question-list {
                flex-grow: 1;
                overflow: auto;

                .framework-question {
                    position: relative;
                    padding: var(--spacing-extra-small);

                    .actions {
                        position: absolute;
                        right: var(--spacing-extra-small);
                        bottom: var(--spacing-extra-small);
                    }
                }
            }
        }
    }

    .main {
        display: flex;

        .question-list {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            >.header {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .heading {
                    flex-grow: 1;
                    padding: var(--spacing-medium);
                }

                >.actions {
                    flex-shrink: 0;
                    padding: 0 var(--spacing-medium);
                }
            }

            >.content {
                flex-grow: 1;
                padding: var(--spacing-extra-large);
                overflow: auto;

                .question {
                    margin: var(--spacing-medium) auto;
                    background-color: var(--color-foreground);
                }
            }
        }

        .right-panel {
            display: flex;
            display: relative;
            flex-direction: column;
            flex-shrink: 0;
            border-left: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground);
            width: 300px;

            .header {
                flex-shrink: 0;

                .heading {
                    padding: var(--spacing-medium);
                }
            }

            .content {
                flex-grow: 1;

            }
        }
    }
}
