.questionnaire-builder {
    display: flex;
    height: 100%;
    overflow: auto;

    >.header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .project-details {
            padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

            .heading {
                padding: var(--spacing-small) var(--spacing-medium);
            }

            .value {
                padding: 0 var(--spacing-medium);
            }
        }

        .question-status {
            padding: var(--spacing-medium) 0;

            .header {
                .heading {
                    padding: var(--spacing-small) var(--spacing-medium);
                }

                border-bottom: var(--width-separator-thin) solid var(--color-separator);
            }

            .tab {
                display: flex;
                text-transform: none;

                .label {
                    flex-grow: 1;
                }

                .count {
                    flex-shrink: 0;
                }
            }
        }
    }

    .main {
        display: flex;
        background-color: var(--color-foreground);
        overflow: auto;

        .question-list {
            flex-grow: 1;
            background-color: var(--color-foreground);
        }

        .right-panel {
            display: flex;
            display: relative;
            flex-direction: column;
            flex-shrink: 0;
            border-left: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground);
            width: 300px;

            .header {
                flex-shrink: 0;

                .heading {
                    padding: var(--spacing-medium);
                }
            }

            .content {
                flex-grow: 1;
            }
        }

        .ifrc-logo {
            position: absolute;
            right: var(--spacing-small);
            bottom: var(--spacing-small);
            width: auto;
            height: 40px;
        }
    }
}
