.questionnaire-builder {
    display: flex;
    height: 100%;
    overflow: auto;

    >.header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .question-status {
            padding: var(--spacing-medium) 0;

            .header {
                .heading {
                    padding: var(--spacing-small) var(--spacing-medium);
                }

                border-bottom: var(--width-separator-thin) solid var(--color-separator);
            }

            .tab {
                display: flex;
                text-transform: none;

                .label {
                    flex-grow: 1;
                }

                .count {
                    flex-shrink: 0;
                }
            }
        }

        .button-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .add-button {
                margin: var(--spacing-small);
            }
        }
    }

    .main {
        display: flex;
        background-color: var(--color-foreground);
        overflow: auto;

        .resizable-container {
            display: flex;
            flex-grow: 1;
            height: 100%;
            overflow: auto;

            .left {
                width: 0;
                height: 100%;

                .add-pane {
                    display: flex;
                    display: relative;
                    flex-direction: column;
                    flex-shrink: 0;
                    border-right: var(--width-separator-thin) solid var(--color-separator);
                    background-color: var(--color-foreground);
                    height: 100%;

                    .header {
                        flex-shrink: 0;

                        .heading {
                            padding: var(--spacing-medium);
                        }
                    }
                }
            }

            .right {
                background-color: var(--color-foreground);
                width: 100%;
                height: 100%;

                .question-list {
                    flex-grow: 1;
                    height: 100%;
                }
            }

            &.add-mode {
                .left {
                    width: 40%;
                }

                .right {
                    width: 60%;
                }
            }

            &.closed-mode {
                .left {
                    width: 0!important;
                }

                .right {
                    width: 100%!important;
                }
            }
        }
    }
}
