@import 'colors';
@import 'dimens';
@import 'utils';

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-heading: 'Asap', sans-serif;
$font-family-monospace: 'Oxygen Mono', monospace;
$font-family-icons: 'Ionicons';

$font-weight-heading: 500;

* {
    box-sizing: border-box;

    ::-webkit-scrollbar-track {
        background-color: $color-background-scrollbar;
    }

    ::-webkit-scrollbar {
        background-color: $color-background-scrollbar;
        width: $width-scrollbar;
        height: $width-scrollbar;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $color-foreground-scrollbar;
    }
}

:global {
    .modal-shown {
        overflow: hidden;

        #root {
            filter: brightness(50%);
            pointer-events: none;
            user-select: none;
        }

        .focus-trap-wrapper {
            .focus-trap {
                .modal:not([data-last-modal="true"]) {
                    filter: brightness(50%);
                    pointer-events: none;
                }
            }
        }
    }
}

$height-nagbar: 32px;

body {
    margin: 0;
    padding: 0;
    color: $color-text;
    font-family: $font-family-sans-serif;
    font-size: $font-size-default;
    font-weight: $font-weight-default;

    a {
        outline: none;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        text-transform: uppercase;
        color: $color-primary;
        font-family: $font-family-heading;
        font-weight: $font-weight-heading;
    }

    :global {
        .navbar {
            position: relative;
            z-index: 1;
            height: $height-navbar;
        }

        .deep-main-content {
            position: relative;
            perspective: 1000px;
            background-color: $color-background;
            padding: $spacing-small-alt;
            height: calc(100vh - #{$height-navbar});
            overflow-y: auto;
        }

        .no-nav + .deep-main-content {
            padding: 0;
            height: 100vh;
        }

        .nagbar {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $height-nagbar;
            font-weight: $font-weight-bold;
            @include background-color($color-warning);
        }
    }
}

:global {
    .nagbar-shown {
        .deep-main-content {
            height: calc(100vh - #{$height-navbar} - #{$height-nagbar});
        }

        .no-nav + .deep-main-content {
            padding: 0;
            height: calc(100vh - #{$height-nagbar});
        }
    }
}

%main-content {
    // @frozenhelium
    transform-origin: bottom;
    border: $width-separator-thin solid $color-separator-alt;
    background-color: $color-background-alt;
    height: 100%;
    animation: slide-in $duration-slow ease forwards;
}

%accent-color-link {
    text-transform: initial;
    color: $color-accent;

    &:hover {
        text-decoration: underline;
    }
}

@keyframes slide-in {
    from {
        transform: rotateX(1deg);
        opacity: .5;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

