--height-grid-item-header: 24px;
--color-grid-item-border: var(--color-separator);

%grid-item {
    padding: var(--spacing-extra-small);

    .header {
        display: flex;
        align-items: center;
        border: var(--width-separator-thin) solid var(--color-grid-item-border);
        border-bottom: 0;
        height: var(--height-grid-item-header);

        .heading {
            flex-grow: 1;
            cursor: grab;
            padding: 0 var(--spacing-small);
            color: var(--color-primary);
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-bold);
        }
    }

    .content {
        border: var(--width-separator-thin) solid var(--color-grid-item-border);
        height: calc(100% - var(--height-grid-item-header));
    }
}
