--width-dimension-column: 96px;

%matrix-2d-overview-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;

    thead {
        border: 0;

        th {
            position: sticky;
            top: 0;
            background-color: var(--color-foreground);
            padding: var(--spacing-extra-small) var(--spacing-small);
        }
    }

    tbody {
        td {
            border: var(--width-separator-thin) solid var(--color-foreground);
            padding: var(--spacing-extra-small);
        }

        .dimension-td {
            width: var(--width-dimension-column);
        }
    }
}
