:root {
    --radius-button-border: 2px;
}

@mixin shadow-medium() {
    box-shadow: 0 var(--spacing-small) var(--radius-blur-medium) var(--radius-spread-medium) var(--color-shadow-medium);
}

@mixin shadow-small() {
    box-shadow: 0 var(--spacing-extra-small) var(--radius-blur-small) var(--radius-spread-small) var(--color-shadow-medium);
}

@mixin shadow-small-upward() {
    box-shadow: 0 (-var(--spacing-extra-small)) var(--radius-blur-small) var(--radius-spread-small) var(--color-shadow-medium);
}

@mixin shadow-large() {
    box-shadow: 0 var(--spacing-small-alt) var(--radius-blur-medium) var(--radius-spread-medium) var(--color-shadow-medium);
}

@mixin shadow-large-upward() {
    box-shadow: 0 (-var(--spacing-small-alt)) var(--radius-blur-medium) var(--radius-spread-medium) var(--color-shadow-medium);
}

@mixin shadow-large-dark() {
    box-shadow: 0 var(--spacing-small-alt) var(--radius-blur-medium) var(--radius-spread-medium) var(--color-shadow-dark);
}

@mixin shadow-button() {
    box-shadow: 0 1px 3px -1px var(--color-shadow-medium);
}

@mixin shadow-button-active() {
    box-shadow: 0 1px 2px -1px var(--color-shadow-medium);
}

@mixin transition-slow() {
    transition: var(--duration-transition-slow) all ease-in-out;
}

@mixin transition-medium() {
    transition: var(--duration-transition-medium) all ease-in-out;
}

@mixin transition-fast() {
    transition: var(--duration-transition-fast) all ease-in-out;
}

@mixin outline-button($bg-color) {
    outline: var(--width-separator-thin) dotted get-text-color($bg-color);
    outline-offset: -var(--spacing-extra-small-alt);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@function get-text-color($bg-color) {
    @return var(--color-text);
}

@mixin background-color($bg-color) {
    background-color: $bg-color;
    color: var(--color-text);
}

@mixin background-color-with-label-text($bg-color) {
    background-color: $bg-color;
    color: var(--color-text-label);
}

@mixin background-color-with-disabled-text($bg-color) {
    background-color: $bg-color;
    color: var(--color-text-disabled);
}

@function get-hover-color($color) {
    @return $color;
    // @return darken(var(--color), 10%);
}

@mixin button-like-link($bg-color) {
    // @include shadow-button;
    display: inline-block;
    border: var(--width-separator-thin) solid $bg-color;
    border-radius: var(--radius-button-border);
    // @include background-color($bg-color);
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-small-alt);
    text-transform: uppercase;
    color: $bg-color;
    font-size: var(--font-size-small);
    // font-weight: var(--font-weight-bold);

    &:active {
        @include shadow-button-active;
        transform: translateY(1px);
    }

    &:hover {
        background-color: var(--color-background-hover);
    }

    &:focus {
        @include outline-button($bg-color);
    }
}

@mixin transparent-button-like-link($color) {
    @extend %transparent-button-like-link;
    display: inline-block;
    color: $color;
}

%empty-text {
    color: var(--color-text-disabled);
}

%button-like-link {
    border: 0;
    border-radius: var(--radius-button-border);
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-small-alt);
    text-transform: capitalize;
    color: var(--color-text-on-foreground);
    font-family: inherit;
    font-size: var(--font-size-small);
    @include shadow-button;

    &:active {
        transform: translateY(1px);
    }
}

%transparent-button-like-link {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-small-alt);
    text-transform: uppercase;
    color: var(--color-text);
    font-family: inherit;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);

    &:active {
        transform: translateY(1px);
    }
}

%accent-color-link {
    text-transform: initial;
    color: var(--color-accent);

    &:hover {
        text-decoration: underline;
    }
}

%button-base {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-extra-small) var(--spacing-small);
    color: var(--color-text);
    font-family: inherit;
    font-size: inherit;
}

%background-alternating-row {
    background-color: var(--color-background-row);

    &:nth-child(odd) {
        background-color: var(--color-background-row-alt);
    }
}

%main-content {
    transform-origin: bottom;
    border: var(--width-separator-thin) solid var(--color-separator-alt);
    background-color: var(--color-background-alt);
    height: 100%;
    animation: slide-in var(--duration-slow) ease forwards;
}

@keyframes slide-in {
    from {
        transform: rotateX(1deg);
        opacity: .5;
    }

    to {
        transform: none;
        opacity: 1;
    }
}
