:root {
    --height-widget-header: 20px;
}

%widget {
    .header {
        background-color: $color-background-header;
        height: var(--height-widget-header);
        font-size: $font-size-small;

        .heading {
            color: $color-primary;
            font-weight: $font-weight-bold;
        }
    }

    .content {
        background-color: $color-foreground;
        height: calc(100% - var(--height-widget-header));
    }
}
