%widget {
    $height-header: 20px;

    .header {
        background-color: $color-background-header;
        height: $height-header;
        font-size: $font-size-small;

        .heading {
            color: $color-primary;
            font-weight: $font-weight-bold;
        }
    }

    .content {
        background-color: $color-foreground;
        height: calc(100% - #{$height-header});
    }
}
