.add-lead-sources {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--color-foreground);
    color: var(--color-text-on-foreground);

    .heading {
        margin: 0;
        padding: var(--spacing-medium) var(--spacing-large);
    }
}
