.report-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--dui-spacing-small);
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    padding: var(--dui-spacing-large);
    min-height: 20rem;

    .add-button {
        position: absolute;
        transition: all 0.2s ease-in-out;
        opacity: 0;
    }

    .before-button {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .after-button {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .above-button {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .below-button {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .message {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
    }

    &:hover {
        .add-button {
            display: block;
            opacity: 1;
            font-size: var(--dui-font-size-large);
        }
    }
}
