.report-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--dui-spacing-medium);
    border: var(--dui-width-separator-thin) solid transparent;
    padding: var(--dui-spacing-small);

    .add-button {
        position: absolute;
        transition: all 0.2s ease-in-out;
        opacity: 0;
    }

    .before-button {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .after-button {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .above-button {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .below-button {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .footer {
        position: absolute;
        right: var(--dui-spacing-small);
        bottom: var(--dui-spacing-small);
        visibility: hidden;
    }

    .message {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
    }

    &:hover {
        border-color: var(--dui-color-separator);

        .add-button {
            display: block;
            opacity: 1;
            font-size: var(--dui-font-size-large);
        }

        .footer {
            visibility: unset;
        }
    }

    &.read-only {
        border-color: transparent;
    }

    &.errored {
        border-color: var(--dui-color-danger);
    }
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-large);
}
