.canvas-draw {
    display: flex;
    background-color: var(--color-background);

    .canvas-container {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;

        .canvas {
            cursor: crosshair;
        }
    }

    .toolbar {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        border-left: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-medium);
        width: 30%;
        min-width: 180px;
        max-width: 300px;

        .canvas-actions {
            flex-grow: 1;
        }

        .general-actions {
            flex-shrink: 0;
        }
    }
}
