.tag {
    --background-color: var(--dui-color-background);
    --color: var(--dui-color-text);
    --font-size: var(--dui-font-size-medium);
    --padding-v: var(--dui-spacing-medium);
    --border-radius: calc(var(--font-size) + var(--padding-v));

    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    padding: var(--padding-v) calc(var(--dui-spacing-extra-large) - var(--dui-spacing-small));
    text-align: center;
    color: var(--color);
    font-size: var(--font-size); 

    &.default {
        --background-color: var(--dui-color-background);
        --color: var(--dui-color-text);
    }

    &.complement1 {
        --background-color: var(--dui-color-complement1);
        --color: var(--dui-color-text-on-accent);
    }

    &.complement2 {
        --background-color: var(--dui-color-complement2);
        --color: var(--dui-color-text-on-accent);
    }

    &.accent {
        --background-color: var(--dui-color-accent);
        --color: var(--dui-color-text-on-accent);
    }

    &.gradient1 {
        --background-color: var(--dui-color-gradient1);
        --color: var(--dui-color-text);
    }

    &.gradient2 {
        --background-color: var(--dui-color-gradient2);
        --color: var(--dui-color-text);
    }

    &.gradient3 {
        --background-color: var(--dui-color-gradient3);
        --color: var(--dui-color-text-on-accent);
    }

    &.gradient4 {
        --background-color: var(--dui-color-gradient4);
        --color: var(--dui-color-text-on-accent);
    }
}

