
.tabs-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .tabs {
        flex-shrink: 0;

        .tabular-button {
            margin: 0 var(--spacing-small);
        }
    }
}
