.form-container {
    position: relative;

    .form {
        padding: var(--spacing-extra-small) var(--spacing-medium);

        .action-buttons {
            display: flex;
            justify-content: flex-end;
            padding: var(--spacing-extra-small) 0 var(--spacing-small);
            overflow: auto;

            .button {
                margin-left: var(--spacing-small);
            }
        }
    }
}
