.create-excerpt-popup {
    width: 20rem;
    max-width: unset!important;

    .create-excerpt-content {
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
    }
}

.source-preview {
    display: flex;
    flex-direction: column;

    .tab-list {
        flex-shrink: 0;

        >* {
            flex-grow: 1;
        }
    }

    .simplified-tab {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--dui-color-background-information);
        padding: var(--dui-spacing-large);
        overflow: auto;

        .simplified-text-view {
            flex-grow: 1;
            background-color: var(--dui-color-foreground);
            overflow: auto;
        }
    }

    .original-tab {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--dui-color-background-information);
        padding: 0;

        .original-preview-container {
            flex-grow: 1;
            overflow-y: auto;

            .lead-url-container {
                align-self: stretch;
            }

            .content {
                display: flex;
                position: relative;
                flex-direction: column;
                flex-grow: 1;
                background-color: var(--dui-color-foreground);

                .preview {
                    flex-grow: 1;
                }
            }
        }
    }

    .entry-list-tab {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--dui-color-background-information);
        padding: var(--dui-spacing-large);
        overflow: auto;

        .entry-list {
            flex-grow: 1;
            overflow: auto;

            .entry-item {
                height: 200px;
            }
        }
    }
}
