.source-preview {
    display: flex;
    flex-direction: column;

    .tab-list {
        flex-shrink: 0;

        >* {
            flex-grow: 1;
        }
    }

    .simplified-tab {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--dui-color-background-information);
        padding: var(--dui-spacing-extra-large);
        overflow: auto;

        .simplified-text-view {
            flex-grow: 1;
            background-color: var(--dui-color-foreground);
            overflow: auto;
        }
    }

    .entry-list-tab {
        flex-grow: 1;
        background-color: var(--dui-color-background-information);
        padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
        overflow: auto;
    }
}

/*
 NOTE: styling for original tab is moved outside to make it work
 for fullscreen mode
 */
.original-tab {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .original-preview-container {
        flex-grow: 1;
        background-color: var(--dui-color-background-information);
        overflow-y: auto;

        .lead-url-container {
            align-self: stretch;
        }

        .content {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--dui-color-foreground);

            .preview {
                flex-grow: 1;
            }
        }
    }
}
