.edit-excerpt-popup {
    width: 20rem;
    max-width: unset!important;

    .content {
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

        .excerpt-text-area {
            margin: var(--dui-spacing-small);
        }
    }
}

.source-preview {
    display: flex;
    flex-direction: column;

    .tab-list {
        flex-shrink: 0;

        >* {
            flex-grow: 1;
        }
    }

    .simplified-tab {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--dui-color-background-information);
        padding: var(--dui-spacing-extra-large);
        overflow: auto;

        .simplified-text-view {
            flex-grow: 1;
            background-color: var(--dui-color-foreground);
            overflow: auto;
        }
    }

    .entry-list-tab {
        flex-grow: 1;
        background-color: var(--dui-color-background-information);
        padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
        overflow: auto;
    }
}

/*
 NOTE: styling for original tab is moved outside to make it work
 for fullscreen mode
 */
.original-tab {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .original-preview-container {
        flex-grow: 1;
        background-color: var(--dui-color-background-information);
        overflow-y: auto;

        .lead-url-container {
            align-self: stretch;
        }

        .content {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--dui-color-foreground);

            .preview {
                flex-grow: 1;
            }
        }
    }
}

.entry {
    position: relative;
    transition: var(--dui-duration-transition-medium) background-color ease-in-out;
    margin: var(--dui-spacing-medium);
    border: var(--dui-width-separator-thin) solid var(--dui-color-accent);
    background-color: var(--dui-color-foreground);
    cursor: pointer;
    padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

    .excerpt {
        padding: var(--dui-spacing-small);
    }

    .image {
        max-width: 100%;
    }

    .vertical-border {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        width: var(--dui-width-separator-thick);
        height: 100%;
    }

    &.active {
        background-color: var(--dui-color-background-information);


        .vertical-border {
            background-color: var(--dui-color-accent);
            animation: grow var(--dui-duration-transition-medium) ease-in forwards;
        }
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
