:root {
    --width-filter-input: 160px;
}

.entries-filters {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .filters-group {
        align-items: center;
        padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

        .heading {
            padding: var(--spacing-small);
        }

        .content {
            display: flex;
            flex-wrap: wrap;

            .entries-filter {
                margin: var(--spacing-small);
                width: var(--width-filter-input);
            }
        }
    }

    .action-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .left-container {
            display: inline-flex;
            align-items: center;
            flex-grow: 1;

            .applied-filters {
                .label {
                    padding: 0 var(--spacing-small);
                    color: var(--color-text-label);
                }

                .applied-filters-text {
                    text-transform: capitalize;
                    font-weight: var(--font-weight-bold);
                }
            }
        }

        .button {
            flex-shrink: 0;
            margin: var(--spacing-small);
        }
    }
}
