@import '../../../stylesheets/base';

.entries-filters {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    flex-wrap: wrap;

    .entries-filter {
        margin: $spacing-small;
    }

    .range-filter {
        display: flex;
        justify-content: space-between;
    }

    .button {
        flex-shrink: 0;
        margin: $spacing-small;
    }
}
