@import '~base-scss/base';

$width-filter-input: 160px;

.entries-filters {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    flex-wrap: wrap;

    .entries-filter {
        margin: $spacing-small;
        width: $width-filter-input;
    }

    .geo-filter {
        display: flex;
        align-items: flex-end;
        margin: $spacing-small;

        .geo-input {
            width: $width-filter-input;
        }

        .rotating-input {
            width: auto;

            .sub-region-selected {
                color: $color-accent;
            }

            .sub-region-not-selected {
                color: $color-text-label;
            }

            >button {
                padding: 4px $spacing-small;
            }
        }
    }

    .button {
        flex-shrink: 0;
        margin: $spacing-small;
    }
}
