.lead-item {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .add-lead-form {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 var(--spacing-large);

        .header {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            justify-content: space-between;
            padding: var(--spacing-small) 0;
        }

        .title,
        .source {
            flex-basis: calc(100% / 3 - var(--spacing-medium));
            padding: var(--spacing-medium) 0;
        }

        .small-button {
            margin-right: var(--spacing-extra-small);
            padding: var(--spacing-extra-small);
        }

        .confidentiality,
        .user,
        .date {
            flex-basis: calc(100% / 3 - var(--spacing-medium));
            padding: var(--spacing-medium) 0;
        }

        .url,
        .website {
            flex-basis: calc(50% - var(--spacing-medium));
        }

        .project,
        .lead-group {
            flex-basis: calc(100% / 2 - var(--spacing-medium));
            padding: var(--spacing-medium) 0;
        }

        .text {
            flex-basis: 100%;
        }

        .file-title {
            flex-grow: 1;
            margin: var(--spacing-small) 0;
            color: var(--color-text);
        }
    }

    .emm-stats-container {
        flex-shrink: 0;
        padding: 0 var(--spacing-large);
    }
}
