.lead-item {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .add-lead-form {
        display: flex;
        position: relative;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 var(--spacing-large);

        .section {
            display: flex;
            flex-basis: 100%;
            flex-wrap: wrap;
        }

        .project {
            flex-basis: 30%;
        }

        .small-button {
            margin-right: var(--spacing-extra-small);
            padding: var(--spacing-extra-small);
            text-transform: capitalize;
            text-decoration: underline;
            font-size: var(--font-size-extra-small);
        }

        .header {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            justify-content: space-between;
            padding: var(--spacing-small) 0;
        }

        .title {
            flex-basis: 100%;
            padding: var(--spacing-medium) 0;
        }

        .author,
        .source {
            flex-basis: calc(100% / 3 - var(--spacing-medium));
            padding: var(--spacing-medium) 0;
        }

        .suggestion-label {
            color: var(--color-text-label);
            font-size: var(--font-size-small);
        }

        .suggestions {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .suggestion-badge {
                display: block;
                margin-right: var(--spacing-extra-small);
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .source,
        .author {
            display: flex;
            align-items: center;

            .input {
                flex-grow: 1;
            }
        }

        .confidentiality,
        .user,
        .date {
            flex-basis: calc(100% / 3 - var(--spacing-medium));
            padding: var(--spacing-medium) 0;
        }

        .url,
        .website {
            flex-basis: calc(50% - var(--spacing-medium));
        }

        .extract-button {
            margin-right: var(--spacing-extra-small);
            padding: var(--spacing-extra-small);
        }

        .priority,
        .lead-group {
            flex-basis: calc(100% / 3 - var(--spacing-medium));
            padding: var(--spacing-medium) 0;
        }

        .text {
            flex-basis: 100%;
        }

        .file-title {
            flex-grow: 1;
            margin: var(--spacing-small) 0;
            color: var(--color-text);
        }
    }

    .emm-stats-container {
        flex-shrink: 0;
        padding: 0 var(--spacing-large);
    }
}
