.activity {
    display: flex;
    flex-direction: column;
    padding: var(--dui-spacing-large);
    min-height: 300px;
    overflow-y: none;

    .container {
        flex-grow: 1;
        width: 100%;
        overflow-y: none;
    }

    .empty-chart {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        color: var(--dui-color-text-watermark);

        .icon {
            flex-shrink: 0;
            padding: var(--dui-spacing-small);
            font-size: 10em;
        }

        .text {
            padding: var(--dui-spacing-small);
            font-size: var(--dui-font-size-large);
        }
    }
}
