@import '~base-scss/base';

.user-exports {
    .header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .heading {
            flex-grow: 1;
        }
    }

    .main-content {
        display: flex;
        position: relative;

        .table-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: $color-background-row;
            overflow-y: auto;

            .loading-animation {
                position: relative;
                height: $font-size-large;

                >div {
                    background-color: transparent;
                    padding: 0!important;
                    font-size: $font-size-large!important;
                }
            }


            :global {
                .raw-table {
                    .headers {
                        .mime-type {
                            width: 96px;
                        }

                        .file {
                            width: 64px;
                        }
                    }

                    .body {
                        cursor: pointer;

                        .row {
                            &.highlighted {
                                background-color: $color-accent;
                                color: $color-text-on-accent;

                                .file-download {
                                    color: inherit;
                                }
                            }
                        }

                        .cell {
                            position: relative;
                        }
                    }
                }

                .icon-wrapper {
                    display: flex;
                    justify-content: center;
                }

                .file-error {
                    display: flex;
                    justify-content: center;
                    color: $color-danger;
                }

                .file-download {
                    display: flex;
                    justify-content: center;
                    color: $color-accent;
                }
            }
        }

        .preview {
            flex-basis: 30%;
            flex-grow: 0;
            flex-shrink: 0;
            border-left: $width-separator-thin solid $color-separator;
            background-color: $color-foreground-alt;
        }
    }
}
