.framework-image-button {
    border-radius: 0;
    text-align: left;
    text-decoration: underline;
    color: var(--dui-color-brand);
    font-size: var(--dui-font-size-small);
}

.modal {
    width: 80vw;
    height: 80vh;

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--dui-color-text-label);
        font-size: var(--dui-font-size-large);
    }
}
