.questionnaire {
    margin: var(--spacing-large) auto;
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    padding: var(--spacing-large);
    width: 100%;

    .header {
        display: flex;
        align-items: flex-start;

        .left {
            flex-grow: 1;

            .info {
                display: flex;
                padding: var(--spacing-small-alt) 0;

                .questions,
                .created {
                    display: flex;

                    .label {
                        padding: 0 var(--spacing-extra-small);
                    }

                    .value {
                        padding: 0 var(--spacing-extra-small);
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .edit-questionnaire-link {
                margin-right: var(--spacing-small);
                color: var(--color-accent);
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-bold);
            }
        }
    }

    .content {
        padding-top: var(--spacing-small);
    }
}

