.users-table {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 30vh;
    overflow-y: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .table-container {
        flex-grow: 1;
        overflow-y: auto;

        :global {
            .header {
                z-index: 1;
            }
        }
    }
}
