.widget-edit {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-medium) - var(--spacing-small));

    .button-container {
        display: flex;
        justify-content: flex-end;
        padding: calc(var(--spacing-small) - var(--spacing-extra-small));

        .button {
            margin: var(--spacing-extra-small);
        }
    }

    .input {
        padding: var(--spacing-small);
    }
}
