@import '../../../../stylesheets/base';

$width-action-buttons: 40px;

.widget-faram-container {
    display: flex;

    .widget {
        width: calc(100% - #{$width-action-buttons});
        overflow: auto;
    }

    .action-buttons {
        flex-shrink: 0;
        border-left: $width-separator-thin solid $color-separator;
        background-color: $color-foreground;
        padding: $spacing-small;
        width: $width-action-buttons;

        >* {
            margin-bottom: $spacing-small;
            width: 100%;
        }
    }
}
