.extended-dismissable-list-item {
    .label {
        display: flex;
        align-items: baseline;

        .text {
            flex-grow: 1;
        }

        .polygon {
            flex-shrink: 0;
        }
    }
}

.geo-input-list {
    display: flex;
    flex-direction: column;

    .heading {
        flex-shrink: 0;
        padding: var(--spacing-small);
        text-transform: initial;
    }

    .item {
        padding: var(--spacing-extra-small) var(--spacing-small);
    }
}

