.review {
    display: flex;
    flex-direction: column;

    .primary-tagging {
        display: flex;
        margin: var(--dui-spacing-extra-large);

        .canvas {
            flex-grow: 1;
            margin: calc(var(--dui-spacing-large) - var(--dui-spacing-extra-small)) var(--dui-spacing-extra-large);

            .tabs {
                .border-wrapper {
                    display: flex;
                    flex-grow: 1;
                }

                .tab {
                    flex-grow: 1;
                }
            }

            .panel {
                display: flex;
                flex-direction: column;
                padding: calc(var(--dui-spacing-extra-large) - var(--dui-spacing-medium));
                overflow-y: auto;
            }
        }
    }
    .secondary-tagging {
        display: flex;
        margin: var(--dui-spacing-extra-large);
    }
}
