
.home-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .deep-logo {
        margin: 0 0 var(--spacing-large);
        width: 256px;
        height: 256px;

        path {
            fill: var(--color-primary);
        }
    }

    .container {
        margin-bottom: var(--spacing-extra-large);
        text-align: center;
        line-height: 2;
        font-size: var(--font-size-large);

        .welcome-message {
            margin-bottom: var(--spacing-large);
            font-size: var(--font-size-super-large);

            strong {
                font-weight: var(--font-weight-bold);
            }
        }
    }

    .links {
        .profile-link,
        .discover-projects-link {
            cursor: pointer;
            padding: var(--spacing-small) var(--spacing-medium);
            color: var(--color-accent);
            font-size: var(--font-size-medium);
        }
    }
}
