.geo-areas {
    display: flex;
    flex-grow: 1;
    margin: var(--dui-spacing-large) var(--dui-spacing-extra-large);

    .map-container {
        display: flex;
        flex-basis: 70%;
        flex-grow: 1;
        margin-right: var(--dui-spacing-medium);

        .map {
            display: flex;
            flex-grow: 1;
            background-color: var(--dui-color-white);
        }
    }

    .list-container {
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        flex-shrink: 0;
        background-color: var(--dui-color-white);
        padding: var(--dui-spacing-medium);

        .add-custom {
            display: flex;
            flex-shrink: 0;
            margin-left: auto;
        }

        .geo-areas-dropdown {
            display: flex;
            margin: var(--dui-spacing-medium) 0 var(--dui-spacing-small) 0;
            background-color: var(--dui-color-white);
            padding: var(--dui-spacing-medium);
            font-weight: var(--dui-font-weight-bold);

            .header {
                border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-grey4);
            }

            .content {
                display: flex;
                flex-grow: 1;

                .regions {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    overflow-y: auto;

                    .region {
                        display: flex;
                        flex-grow: 1;
                        flex-shrink: 0;
                        margin-bottom: var(--dui-spacing-small);
                        background-color: var(--dui-color-background);
                    }
                }
            }
        }
    }
}
