.geo-areas {
    display: flex;
    flex-grow: 1;
    margin: var(--dui-spacing-large) var(--dui-spacing-extra-large);
    gap: var(--dui-spacing-medium);

    .map-container {
        display: flex;
        flex-grow: 1;

        .map {
            display: flex;
            flex-grow: 1;
            background-color: var(--dui-color-white);
        }
    }

    .geo-areas-list {
        flex-shrink: 0;
        background-color: var(--dui-color-white);
        width: 30%;

        .add-custom {
            display: flex;
            flex-shrink: 0;
            margin-left: auto;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-extra-small);

            .region {
                flex-shrink: 0;
            }
        }
    }
}
