.simplified-text-view {
    --padding: var(--dui-spacing-medium);

    position: relative;
    padding: var(--padding);

    white-space: pre-wrap;
    word-break: break-word;


    &.disabled {
        user-select: none;
    }

    .simplified-text {
        line-height: 1.5;
        --base-font-size: var(--dui-font-size-medium);
        --diff: 2px;

        &.x-small{
            font-size: var(--base-font-size);
        }
        &.small{
            font-size: calc(var(--base-font-size) + var(--diff));
        }
        &.medium{
            font-size: calc(var(--base-font-size) + 2 * var(--diff));
        }
        &.large{
            font-size: calc(var(--base-font-size) + 3 * var(--diff));
        }
        &.x-large{
            font-size: calc(var(--base-font-size) + 4 * var(--diff));
        }
        &.xx-large{
            font-size: calc(var(--base-font-size) + 5 * var(--diff));
        }
        &.xxx-large{
            font-size: calc(var(--base-font-size) + 6 * var(--diff));
        }
    }

    .entry {
        margin: var(--dui-spacing-medium) 0;
    }

    .actions-popup {
        display: flex;
        position: absolute;
        align-items: center;
        transition: var(--dui-duration-transition-fast) top ease-in-out,
            var(--dui-duration-transition-fast) left ease-in-out,
            var(--dui-duration-transition-fast) right ease-in-out;
        margin: var(--dui-spacing-extra-small);
        /* background-color: var(--dui-color-foreground); */
        user-select: none;
        gap: var(--dui-spacing-small);

        >* {
            flex-shrink: 0;
        }

        * {
            user-select: none;
        }

        .add-button {
            font-size: var(--dui-font-size-large);
            user-select: none;

            .brain-icon {
                width: auto;
                height: var(--dui-font-size-extra-large);
            }
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        margin-top: var(--dui-spacing-medium);
    }
}
