.emm-status-bar {
    display: flex;
    align-items: center;

    .button {
        padding: 0 var(--spacing-medium);
        text-transform: capitalize;
        font-size: var(--font-size-normal);
    }
}
