.exported-files {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .header {
        display: flex;
    }

    .main-content {
        display: flex;
        flex-grow: 1;


        .left {
            display: flex;
            flex-basis: 70%;

        }

        .preview {
            display: flex;
            flex-basis: 30%;
        }
    }

    .footer {
        display: flex;

        .pager {
            padding: var(--spacing-extra-small) 0;
        }
    }
}
