.exported-files {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-foreground);
    overflow-y: auto;

    .header {
        display: flex;
        flex-shrink: 0;
    }

    .main-content {
        display: flex;
        flex-grow: 1;
        overflow-y: auto;

        .left-content {
            display: flex;
            flex-basis: 70%;
            flex-direction: column;

            .left {
                display: flex;
                flex-grow: 1;
                overflow-y: auto;
            }

            .footer {
                display: flex;
                flex-shrink: 0;
                justify-content: flex-end;
                border-top: var(--width-separator-thin) solid var(--color-separator);
                padding: var(--spacing-medium);
            }
        }

        .preview {
            display: flex;
            flex-basis: 30%;
            border-left: var(--width-separator-thin) solid var(--color-separator);
        }
    }
}
