@import '~base-scss/base';

.tabular-sheet {
    background-color: $color-foreground;

    .header {
        padding: 0;
    }

    .cell {
        padding: $spacing-small;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.invalid {
    border: solid 1px red;
}
