@import '~base-scss/base';

.tabular-sheet {
    background-color: $color-foreground;

    .header {
        position: relative;
        width: 100%;
        height: 100%;
        user-select: none;

        .title {
            padding: $spacing-small;
            text-align: left;
        }

        .edit {
            display: none;
            position: absolute;
            top: 0;
            right: -10px;
        }

        &:hover {
            .edit {
                display: initial;
            }
        }
    }

    .cell {
        display: block;
        padding: $spacing-small;

        &.number {
            text-align: right;
        }
    }
}
