.project-connectors {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-foreground);
    overflow-y: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: var(--spacing-medium) var(--spacing-large);

        .heading {
            flex-grow: 1;
        }
    }

    .content {
        flex-grow: 1;
        overflow: auto;
    }
}
