.project-connectors {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-foreground);
    overflow-y: auto;

    .header {
        display: flex;
        align-items: center;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small) var(--spacing-medium);

        .heading {
            flex-grow: 1;
        }
    }
}
