.metadata-form {
    display: grid;
    flex-grow: 1;
    grid-column: auto;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: var(--dui-spacing-super-large);
    padding: var(--dui-spacing-large);
    overflow: auto;

    .form-element {
        display: flex;
        flex-direction: column;
        grid-row: 1;
        gap: var(--dui-spacing-medium);
        padding: var(--dui-spacing-medium);

        .inputs {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-extra-small);
        }
    }

    .stakeholder-form {
        grid-column: 1 /5;
        grid-row: 2;
    }
}
