.metadata-form {
    display: grid;
    grid-column: auto;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: var(--dui-spacing-extra-large);
    padding: var(--dui-spacing-medium) var(--dui-spacing-extra-large);

    .form-element {
        display: flex;
        flex-direction: column;
        grid-row: 1;
        gap: var(--dui-spacing-extra-small);
    }

    .stakeholder-form {
        grid-column: 1 /5;
        grid-row: 2;
    }
}
