.pillar-analysis {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-white);
    height: 100vh;
    overflow-y: auto;
    --height-analytical-statement: 80vh;

    .header {
        flex-shrink: 0;

        .breadcrumb {
            display: flex;
            align-items: center;
            font-size: var(--dui-font-size-large);
            font-weight: var(--dui-font-weight-bold);
        }
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .inputs-container {
            display: flex;
            flex-shrink: 0;
            border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            padding: var(--dui-spacing-small) var(--dui-spacing-super-large);
            gap: var(--dui-spacing-large);

            .input-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .input-header {
                    padding: var(--dui-spacing-medium) 0;
                }
            }

            .show-inputs-button {
                align-self: flex-end;
                flex-grow: 1;
                flex-shrink: 0;
            }

            &.inputs-shown {
                padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);

                .show-inputs-button {
                    flex-grow: unset;
                }
            }
        }

        .filter-container {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
            gap: var(--dui-spacing-large);

            .buttons {
                display: flex;
                flex-shrink: 0;
                gap: var(--dui-spacing-medium);
            }

            .applied-filters {
                flex-grow: 1;
                border-left: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                padding: 0 var(--dui-spacing-medium);
            }
        }

        .workspace {
            display: flex;
            flex-grow: 1;
            background-color: var(--dui-color-background);
            padding: 0 calc(var(--dui-spacing-super-large) - var(--dui-spacing-extra-large));
            overflow-y: auto;

            --width-left-container: 420px;

            .entries-filter {
                flex-shrink: 0;
                border-right: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                background-color: var(--dui-color-background-information);
                padding-left: var(--dui-spacing-extra-large);
            }

            .expand-entry-list-button {
                align-items: flex-start;
                border: none;
                border-right: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                border-radius: 0;
                background-color: var(--dui-color-background-information);
                padding: var(--dui-spacing-medium);
                color: var(--dui-color-text);

                >* {
                    height: auto;
                }

                .button-text {
                    display: flex;
                    align-items: flex-end;
                    transform: rotate(180deg);
                    padding: var(--dui-spacing-medium) 0;
                    text-transform: capitalize;
                    gap: var(--dui-spacing-small);
                    writing-mode: vertical-rl;
                }
            }

            .entry-list-section {
                display: flex;
                flex-basis: var(--width-left-container);
                flex-shrink: 0;
                border-right: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                background-color: var(--dui-color-background-information);
                padding: 0;
                overflow: auto;

                .entry-list-header {
                    padding: 0;

                    .tab-list-heading {
                        display: flex;
                        padding: 0;

                        .tab-list {
                            display: flex;
                            flex-grow: 1;

                            .tab {
                                font-size: var(--dui-font-size-medium);
                            }

                            >* {
                                flex-grow: 1;
                            }
                        }
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;

                    .tab-panel {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        overflow-y: auto;

                        .entries-list {
                            flex-grow: 1;
                            overflow-y: auto;
                        }

                        .discarded-entries-container {
                            flex-grow: 1;
                            padding: var(--dui-spacing-medium);
                        }

                        .pager {
                            flex-shrink: 0;
                        }
                    }
                }
            }

            .collapse-entry-list-button {
                margin: var(--dui-spacing-medium);
                color: var(--dui-color-accent);
                font-size: var(--dui-font-size-extra-large);
            }

            .right-container {
                display: flex;
                flex-grow: 1;
                padding: var(--dui-spacing-large);
                gap: var(--dui-spacing-medium);
                overflow: auto;

                .list {
                    display: flex;
                    gap: var(--dui-spacing-medium);

                    &.empty {
                        align-items: center;
                        flex-grow: 1;
                        justify-content: center;
                    }
                }

                .analytical-statement {
                    flex-shrink: 0;
                }

                .add-statement-button {
                    align-self: flex-start;
                    flex-shrink: 0;
                }
            }
        }
    }
}
