:root {
    --width-add-framework-modal: 480px;
}

.add-framework-modal {
    width: var(--width-add-framework-modal);

    .modal-body {
        padding: var(--spacing-large);

        .add-analysis-framework-form {
            display: flex;
            position: relative;
            flex-direction: column;
            height: 100%;

            .title {
                margin-bottom: var(--spacing-medium);
            }

            .description {
                :global .input {
                    resize: none;
                }
            }

            .is-private-checkbox {
                margin-top: var(--spacing-medium);
            }

            .action-buttons {
                display: flex;
                justify-content: flex-end;
                margin-top: var(--spacing-medium);

                button {
                    margin-left: var(--spacing-medium);
                }
            }
        }
    }
}
