@import '~base-scss/utils';

.extra-functions-input-container {
    position: relative;

    .buttons {
        @include transition-medium;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
    }

    &:hover {
        .buttons {
            opacity: 1;
        }
    }
}
