.badge-input {
    display: flex;
    align-items: center;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-border-medium);
    cursor: default;
    padding: var(--spacing-extra-small) var(--spacing-small);
    text-transform: unset;
    color: var(--color-text-label);
    font-size: var(--font-size-extra-small);
}
