.user {
    display: flex;
    position: relative;
    flex-direction: column;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-medium) 0;
    overflow: hidden;


    .top {
        display: flex;
        align-items: center;
        flex-grow: 1;

        .picture {
            margin: 0 var(--spacing-small);
            --size: var(--width-user-item-picture);
        }
        .name {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0 var(--spacing-medium) 0 0;
            word-break: break-all;

            .text {
                margin: 0 var(--spacing-extra-small);
                font-weight: var(--font-weight-bold);
            }
        }
    }

    .action-buttons {
        position: absolute;
        top: var(--spacing-medium);
        right: var(--spacing-small);
        transform: translateX(100%);
        transition: all var(--duration-transition-medium) ease-in-out;
        opacity: 0;

        &.pending {
            transform: none;
            opacity: 1;
        }
    }

    &:hover {
        background-color: var(--color-background-hover);

        .action-buttons {
            transform: none;
            opacity: 1;
        }
    }
}
