.response-input {
    padding: var(--spacing-medium) 0;

    .option-list {
        .response-option {
            .content {
                display: flex;
                align-items: center;

                .text-input {
                    flex-grow: 1;
                    margin: var(--spacing-small);
                }

                .delete-button {
                    flex-shrink: 0;
                    margin: var(--spacing-small);
                }
            }
        }
    }
}
