.response-item {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;

        .heading {
            padding-bottom: var(--spacing-extra-small);
            color: var(--color-text-label);
        }
    }

    .inputs-container {
        display: flex;
        align-items: center;

        .text-input {
            margin-right: var(--spacing-small);
        }

        .delete-button {
            flex-shrink: 0;
        }
    }

    &:hover {
        background-color: var(--color-background-hover);
    }
}
