.response-item {
    display: flex;
    align-items: center;

    .heading {
        margin-right: var(--spacing-small);
        padding-bottom: var(--spacing-extra-small);
        color: var(--color-text-label);
    }

    .text-input {
        margin-right: var(--spacing-small);
    }

    .delete-button {
        flex-shrink: 0;
    }

    &:hover {
        background-color: var(--color-background-hover);
    }
}
