
.dropdown-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    outline: var(--width-separator-medium) dashed var(--color-separator);
    outline-offset: -var(--spacing-small-alt);
    background-color: var(--color-foreground-alt);
    width: 100%;
    height: 100%;
    color: var(--color-text-placeholder);
    pointer-events: none;
}
