.form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .content {
        overflow-y: auto;
    }

    .section-input {
        &.focus {
            // FIXME: Use standard values
            animation: focus 2s 1 ease-out;
        }
    }

    @keyframes focus {
        0% {
            background-color: var(--dui-color-surface-information);
        }
        100% {
            background-color: transparent;
        }
    }
}
