.form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .content {
        overflow-y: auto;
    }

    .section-input {
        &.focus {
            // FIXME: Use standard values
            animation: focus .5s 2;
        }
    }

    @keyframes focus {
        from  {
            background-color: var(--dui-color-surface-information);
        }
        to {
            background-color: transparent;
        }
    }
}
