
.groups {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    >.header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        background-color: var(--color-background-header);
        padding: var(--spacing-small) var(--spacing-medium);
        height: var(--height-navbar);
    }

    .usergroup-table {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--color-foreground);
        height: 100%;
        overflow-y: auto;

        .table {
            flex-grow: 1;
        }

        .link {
            padding: 0 var(--spacing-medium);
        }
    }
}
