
.lead-grids {
    position: relative;
    background-color: var(--color-background-row);
    height: 100%;
    overflow: auto;

    .masonry {
        background-color: var(--color-background-row);
        padding: var(--spacing-large) 0;
        height: 100%;
        overflow: auto;
    }

    .goto-top {
        position: absolute;
        right: 25px;
        bottom: 40px;
        border-radius: 50%;
        box-shadow: 0 var(--spacing-small) var(--radius-blur-medium) var(--radius-spread-medium) var(--color-shadow-medium);
        background: var(--color-accent) !important;
        width: 50px;
        height: 50px;
        color: var(--color-foreground) !important;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);

        &:hover {
            box-shadow: 0 var(--spacing-small-alt) var(--radius-blur-medium) var(--radius-spread-medium) var(--color-shadow-medium);
        }

        &:focus {
            outline: none;
        }
    }
}

.loading {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    z-index: 100;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-background-row);
    width: 100%;

    .loader {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;

        div {
            position: absolute;
            top: 27px;
            border-radius: 50%;
            background: var(--color-text-on-foreground);
            width: 11px;
            height: 11px;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);

            &:nth-child(1) {
                left: 6px;
                animation: loader1 0.6s infinite;
            }
            &:nth-child(2) {
                left: 6px;
                animation: loader2 0.6s infinite;
            }
            &:nth-child(3) {
                left: 26px;
                animation: loader2 0.6s infinite;
            }
            &:nth-child(4) {
                left: 45px;
                animation: loader3 0.6s infinite;
            }
        }
    }
}

@keyframes loader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
@keyframes loader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
