.widget-group {
    .heading {
        text-transform: capitalize;
    }

    .stakeholder {
        display: flex;
        flex-wrap: wrap;

        >* {
            flex-basis: 33%;
        }
    }
}
