@import '~base-scss/base';

.input-container {
    display: flex;
    align-items: center;
    background-color: $color-foreground;
    padding: $spacing-small;
    width: 100%;

    .color-input {
        flex-shrink: 0;
        padding: $spacing-extra-small $spacing-small;
    }

    .title-input {
        flex-grow: 1;
        padding: 0 $spacing-large;
    }

    .checkbox-input {
        padding: 0 $spacing-small;
        width: auto;
    }

    .delete-button {
        flex-shrink: 0;
        padding: 0 $spacing-small;
    }
}
