.sources {
    display: flex;
    flex-direction: column;

    .top-section {
        background-color: var(--dui-color-foreground);
        padding: var(--dui-spacing-small) var(--dui-spacing-super-large);

        .stats {
            display: flex;
            flex-shrink: 0;
        }

        .filter {
            display: flex;
            flex-shrink: 0;
            background-color: var(--dui-color-foreground);
        }
    }

    .leads {
        background-color: var(--dui-color-background);
        padding: var(--dui-spacing-small) var(--dui-spacing-super-large);

        .table {
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}
