.sources {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 0;

    .stats-container {
        background-color: var(--dui-color-foreground);
        padding: var(--dui-spacing-large) var(--dui-spacing-super-large) 0;
    }

    .top-section {
        display: flex;
        position: sticky;
        top: 0;
        flex-direction: column;
        z-index: 1;
        background-color: var(--dui-color-foreground);
        padding: var(--dui-spacing-large) var(--dui-spacing-super-large);
        gap: var(--dui-spacing-medium);

        .header {
            align-items: center;

            .filter-button {
                margin: 0 var(--dui-spacing-small);
            }
        }

        .filters-container {
            display: flex;
            align-items: center;
            gap: var(--dui-spacing-medium);

            .buttons {
                display: flex;
                flex-shrink: 0;
                gap: var(--dui-spacing-medium);
            }

            .applied-filters {
                flex-grow: 1;
                border-left: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                padding: 0 var(--dui-spacing-medium);
            }
        }

        .stats {
            display: flex;
            flex-shrink: 0;
        }
    }

    .tabs {
        flex-shrink: 0;

        .tab {
            padding: var(--dui-spacing-small);
            font-size: var(--dui-font-size-extra-large);
        }
    }

    .source-list-container {
        display: flex;
        align-items: stretch;
        background-color: var(--dui-color-background);
        padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
        gap: var(--dui-spacing-extra-large);

        .filter {
            flex-shrink: 0;
            background-color: var(--dui-color-background);
            padding: var(--dui-spacing-small) 0;
            width: 20rem;
        }

        .leads {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-x: auto;

            .table-container {
                flex-grow: 1;
                overflow-x: auto;
            }
        }
    }
}
