
--height-add-member-modal: 600px;

.members {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: members;

    >.header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        background-color: var(--color-background-header);
        padding: var(--spacing-small) var(--spacing-medium);
        height: var(--height-navbar);

        >* {
            flex-shrink: 0;
        }

        .pusher {
            flex-grow: 1;
        }

        .search-input {
            margin: 0 var(--spacing-medium);
        }
    }

    .content {
        flex-basis: 100%;
        flex-grow: 1;
        background-color: var(--color-background-row);
        overflow-y: auto;
    }
}

.add-member-modal {
    display: flex;
    flex-direction: column;
    height: var(--height-add-member-modal);

    .add-member {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
