:root {
    --height-header: 48px;
}

.overview {
    display: flex;
    position: relative;
    height: 100%;

    .widget-list {
        width: 30%;
    }

    .grid-layout-container {
        background-color: var(--color-background-alt);
        width: 70%;

        .scroll-wrapper {
            width: 100%;
            height: calc(100% - var(--height-header));
            overflow: auto;
        }
    }
}
