:root {
    --height-header: 48px;
}

.overview {
    display: flex;
    position: relative;
    height: 100%;

    .widget-list {
        width: 30%;
    }

    .edit-widget-pane {
        border-right: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        width: 30%;
    }

    .grid-layout-container {
        background-color: var(--color-background-alt);
        width: 70%;

        .header {
            display: flex;
            align-items: center;
            background-color: var(--color-foreground);
            padding: var(--spacing-small);
            height: var(--height-header);

            .button {
                flex-grow: 0;
                margin-right: var(--spacing-small);
            }

            .input {
                flex-grow: 1;
                margin-left: var(--spacing-small);
            }
        }

        .scroll-wrapper {
            width: 100%;
            height: calc(100% - var(--height-header));
            overflow: auto;
        }
    }
}
