.matrix-cell {
    position: relative;
    margin: var(--spacing-extra-small);
    outline: 0;
    border: 0;
    background-color: transparent;
    background-color: var(--color-background-alt);
    cursor: pointer;
    padding: var(--spacing-extra-small) var(--spacing-small);
    color: var(--color-text-on-background-alt);
    font-family: inherit;
    font-size: inherit;

    &.active {
        background-color: var(--color-accent);
        color: var(--color-text-on-accent);
    }

    &.is-being-dragged-over {
        outline: var(--width-separator-thin) dashed get-text-color(var(--color-background-alt));
        outline-offset: -var(--spacing-extra-small-alt);

        &.active {
            outline: var(--width-separator-thin) dashed get-text-color(var(--color-accent));
        }
    }

}
