.matrix-cell {
    position: relative;
    margin: var(--spacing-extra-small);
    outline: var(--width-separator-medium) dashed transparent;
    outline-offset: calc(-1 * var(--spacing-extra-small-alt));
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-extra-small) var(--spacing-small);
    color: var(--color-text-on-background-alt);
    font-family: inherit;
    font-size: inherit;

    &.is-being-dragged-over {
        outline: var(--width-separator-thin) dashed get-text-color(var(--color-background-alt));
        outline-offset: -var(--spacing-extra-small);

        &.active {
            outline: var(--width-separator-thin) dashed get-text-color(var(--color-accent));
        }
    }

}
