@import '~base-scss/base';
@import '~rs-scss/button-base';

.matrix-cell {
    @extend %button-base;
    position: relative;
    margin: $spacing-extra-small;
    background-color: $color-background-alt;
    color: $color-text-on-background-alt;

    &.active {
        background-color: $color-accent;
        color: $color-text-on-accent;
    }

    &.is-being-dragged-over {
        outline: $width-separator-thin dashed get-text-color($color-background-alt);
        outline-offset: -$spacing-extra-small-alt;

        &.active {
            outline: $width-separator-thin dashed get-text-color($color-accent);
        }
    }

}
