.activity-item {
    display: flex;
    padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-extra-small)) 0;

    &:not(:last-child) {
        border-bottom: var(--width-separator-thin) solid var(--dui-border-color-card);
    }

    .display-picture {
        align-self: flex-start;
        flex-shrink: 0;
        margin: var(--dui-spacing-small) var(--dui-spacing-extra-small);
        background: var(--color-foreground);
        width: 3em;
        height: 3em;
    }

    .main-content {
        display: block;

        .description {
            display: inline-block;
            padding: var(--dui-spacing-extra-small) 0;

            >* {
                display: inline;
                padding: 0;

                >* {
                    display: inline;
                    padding: 0;
                }
            }
        }

        .created-date {
            display: block;
            padding: var(--dui-spacing-extra-small) 0;
            color: var(--dui-color-text-label);
            font-size: var(--dui-font-size-small);
        }
    }
}
