.lead-source {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 0;
    border-left: var(--width-separator-thick) solid transparent;
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-small);
    color: var(--color-text);
    user-select: none;

    &.active {
        border-left: var(--width-separator-thick) solid var(--color-accent);
        background-color: var(--color-background-hover);
    }

    .icon {
        flex-shrink: 0;
        margin: 0 var(--spacing-small);
        padding: 0;
        width: var(--width-icon-large);
        font-size: var(--font-size-large);
    }

    .title {
        flex-grow: 1;
        margin: 0;
        padding: var(--spacing-small) 0;
        text-align: left;
        word-break: break-all;
    }

    .actions {
        flex-shrink: 0;
        margin: 0 var(--spacing-small);
        padding: 0;
    }
}

