.canvas-draw-modal {
    width: 96vw;
    height: 96vh;

    .canvas-draw {
        display: flex;
        flex-grow: 1;
        background-color: var(--color-background);

        .canvas-container {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;

            .canvas {
                cursor: crosshair;
            }
        }

        .toolbar {

            .draw-tools {
                flex-shrink: 0;
                border: var(--width-separator-thin) solid var(--color-separator);
                background-color: var(--color-foreground);
                padding: calc(var(--spacing-medium) - var(--spacing-small));

                .heading {
                    padding: var(--spacing-small);
                }

                .content {
                    padding: var(--spacing-small);
                }
            }
        }
    }

}
