
.export {
    .main-content {
        display: flex;
        flex-grow: 1;
        margin: var(--spacing-small-alt);
        border: var(--width-separator-thin) solid var(--color-separator-alt);
        padding-bottom: var(--spacing-extra-small);
        overflow: auto;

        .filters {
            display: flex;
            flex-basis: 50%;
            flex-direction: column;
            overflow: auto;

            %filter-group {
                .heading {
                    border-bottom: var(--width-separator-thin) solid var(--color-separator);
                    background-color: var(--color-background-header);
                    padding: var(--spacing-small);
                }
            }

            .entry-filters {
                @extend %filter-group;
                border-bottom: var(--width-separator-medium) solid var(--color-separator);

                :global {
                    .entries-filters {
                        display: flex;
                        align-items: flex-end;
                        flex-shrink: 0;
                        flex-wrap: wrap;
                        border-bottom: var(--width-separator-thin) solid var(--color-separator);
                        padding: var(--spacing-small);

                        .entries-filter,
                        .select-input {
                            margin: var(--spacing-small);

                            &.flat-select-input {
                                margin: 0;
                            }
                        }

                        .range-filter {
                            display: flex;
                            justify-content: space-between;
                            margin: 0;

                            .single-select-input {
                                margin: var(--spacing-small);
                            }
                        }

                        >.button {
                            flex-shrink: 0;
                            margin: var(--spacing-small);
                        }
                    }
                }
            }

            .lead-filters {
                @extend %filter-group;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: auto;

                .lead-attributes {
                    :global {
                        .leads-filters {
                            display: flex;
                            align-items: flex-end;
                            flex-shrink: 0;
                            flex-wrap: wrap;
                            padding: var(--spacing-small);

                            .leads-filter {
                                margin: var(--spacing-small);
                            }

                            .button {
                                align-self: flex-end;
                                flex-shrink: 0;
                                margin: var(--spacing-small);
                            }
                        }
                    }
                }

                .leads-table-container {
                    position: relative;
                    flex-grow: 1;
                    overflow: auto;

                    .leads-table {
                        :global {
                            .select {
                                max-width: 56px;
                                white-space: nowrap;
                            }

                            .createdAt {
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }

        }

        .preview {
            display: flex;
            align-items: center;
            flex-basis: 30%;
            justify-content: center;
            border-left: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground-alt);
            text-align: center;
            color: var(--color-text-disabled);
            font-size: var(--font-size-large);
        }
    }
}
