.export {
    .export-page-header {
        border-bottom: none!important;
        padding: 0!important;
    }

    .main-content {
        display: flex;
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;

        .left {
            display: none;
            flex-grow: 1;

            &.active {
                display: flex;
            }
        }
    }
}

