@import '~base-scss/utils';
@import '~rs-scss/input-label';

.leads {
    .header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        .add-lead-link {
            @include button-like-link(var(--color-primary));
            // @extend %button-like-link;
            align-self: flex-end;
            flex-shrink: 0;
            margin: var(--spacing-small);
            padding: var(--spacing-small) var(--spacing-medium-alt);
        }

        :global {
            .leads-filters {
                >.button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: var(--spacing-small);
                }
            }
        }

        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .leads-filter {
                    margin: var(--spacing-small);
                }
            }
        }

        .tabs {
            margin-right: var(--spacing-extra-large);
            background-color: transparent;

            :global {
                .fixed-tab {
                    border-bottom: none;
                    font-size: var(--font-size-extra-large);

                    &.active {
                        background-color: var(--color-background-hover);
                        color: var(--color-accent);
                    }
                }
            }
        }
    }

    .main {
        padding: 0;

        .container {
            padding: 0;
        }

        .active {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: auto;
        }

        .empty-message,
        .empty-filter-message {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;

            .image {
                opacity: 0.3;
                margin: var(--spacing-large) 0;
                width: var(--width-icon-extreme-large);
                height: var(--width-icon-extreme-large);
            }
        }
    }



    .footer {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-top: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground-alt);
        padding: var(--spacing-medium);
        color: var(--color-text-on-background-alt);

        .pager {
            display: flex;
            justify-content: center;
        }

        .link-container {
            display: flex;

            .link {
                margin: 0 var(--spacing-small);
                margin-right: var(--spacing-extra-small);
                // background-color: var(--color-accent);
                // color: var(--color-text-on-accent);
                @include button-like-link(var(--color-accent));
            }
        }

        .pager-container {
            display: flex;
            align-items: baseline;

            .label {
                margin-right: var(--spacing-small);
            }

            .leads-per-page-input {
                width: 46px;

                :global {
                    .raw-input {
                        // border-bottom: var(--width-separator-medium) solid transparent;
                        direction: rtl;
                    }
                }
            }
        }

        .sorting-container {
            display: flex;
            align-items: center;

            .text {
                padding: 0 var(--spacing-medium);
            }
        }
    }
}
