@import '~base-scss/base';
@import '~rs-scss/input-label';

$width-assignee-column: 96px;

.leads {
    display: flex;
    flex-direction: column;
    margin: -$spacing-small-alt;
    border: 0;
    background-color: transparent;
    height: calc(100% + #{$spacing-small-alt * 2});

    .header {
        @include background-color($color-background-header);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-bottom: $width-separator-thin solid $color-separator-alt;
        padding: $spacing-small $spacing-medium;

        .add-lead-link {
            @extend %button-like-link;
            @include background-color($color-primary);
            align-self: flex-end;
            flex-shrink: 0;
            margin: $spacing-small;
            padding: $spacing-small $spacing-medium-alt;
        }

        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .leads-filter {
                    margin: $spacing-small;
                }
            }
        }

        :global {
            .leads-filters {
                >.button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: $spacing-small;
                }
            }
        }
    }

    .table-container {
        @extend %main-content;
        @include background-color($color-foreground-alt);
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        margin: $spacing-small-alt;
        padding-bottom: $spacing-extra-small;
        overflow: auto;

        .scroll-wrapper {
            flex-grow: 1;
            height: 100%;
            overflow: auto;

            .leads-table {
                .header {
                    position: sticky;
                    top: 0;
                }

                .status,
                .confidentiality {
                    text-transform: capitalize;
                }

                .created-by-link,
                .assignee-link {
                    @extend %accent-color-link;
                    margin-right: $spacing-small;
                }

                .icon-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: $font-size-large;

                    button {
                        font-size: $font-size-large;
                    }
                }

                $mime-column-width: 48px;

                :global {
                    .header {
                        &.created_by,
                        &.assignee {
                            width: $width-assignee-column;
                        }

                        >div {
                            border-top: 0;
                        }
                    }

                    .cell {
                        padding: $spacing-small;

                        &.created_by,
                        &.assignee {
                            color: $color-text-label;
                        }

                        &.actions {
                            padding: 0;
                        }
                    }

                    .attachmentMimeType {
                        width: $mime-column-width;
                    }

                    .title {
                        width: auto;
                    }

                    .actions {
                        white-space: nowrap;
                    }

                    .created_at {
                        time {
                            white-space: nowrap;
                        }
                    }

                    .published_on {
                        white-space: nowrap;
                    }

                    .no_of_entries {
                        width: auto;
                    }

                    .created_at,
                    .published_on,
                    .no_of_entries {
                        align-items: right;
                        justify-content: right;
                        text-align: right;
                    }
                }
            }
        }

        .empty-message, .empty-filter-message {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;

            .image {
                opacity: 0.3;
                margin: $spacing-large 0;
                width: $width-icon-extreme-large;
                height: $width-icon-extreme-large;
            }
        }
    }

    .footer {
        @include background-color($color-background-alt);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        border-top: $width-separator-thin solid $color-separator;
        background-color: $color-foreground-alt;
        padding: $spacing-medium;

        .pager {
            display: flex;
            justify-content: center;
        }

        .link-container {
            display: flex;

            .link {
                margin: 0 $spacing-small;
                margin-right: $spacing-extra-small;
                @extend %button-like-link;
                // @include background-color($color-accent);
            }
        }

        .pager-container {
            display: flex;
            align-items: baseline;

            .label {
                margin-right: $spacing-small;
            }

            .leads-per-page-input {
                width: 46px;

                :global {
                    .input {
                        // border-bottom: $width-separator-medium solid transparent;
                        direction: rtl;
                    }
                }
            }
        }
    }
}
