@import '~base-scss/base';
@import '~base-scss/widget';

.widget-faram {
    position: relative;

    .widget {
        @extend %widget;
        padding: $spacing-extra-small;

        .header {
            display: flex;
            align-items: center;

            .heading {
                flex-grow: 1;
                padding: 0 $spacing-small;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .action-buttons {
                flex-shrink: 0;
                transition: $duration-transition-medium opacity ease-in-out;
                opacity: 0;

                >* {
                    padding: $spacing-extra-small $spacing-extra-small-alt;
                }
            }

            &.error {
                .heading {
                    color: $color-danger;
                    >span {
                        display: inline-block;
                        margin-right: $spacing-small;
                    }
                }
            }
        }


        &:hover {
            .header {
                .action-buttons {
                    opacity: 1;
                }
            }
        }
    }
}
