@import '../../../stylesheets/base';
@import '../../../stylesheets/widget';

.widget-faram {
    width: 100%;

    .widget {
        @extend %widget;
        padding: $spacing-extra-small;

        .header {
            display: flex;
            align-items: center;

            .heading {
                display: flex;
                align-items: center;
                align-self: stretch;
                flex-grow: 1;
                padding: 0 $spacing-small;
            }

            .action-buttons {
                flex-shrink: 0;
                transition: $duration-transition-medium opacity ease-in-out;
                opacity: 0;

                >* {
                    padding: $spacing-extra-small $spacing-extra-small-alt;
                }
            }

            &.error {
                .heading {
                    color: $color-danger;
                    >span {
                        display: inline-block;
                        margin-right: $spacing-small;
                    }
                }
            }
        }


        &:hover {
            .header {
                .action-buttons {
                    opacity: 1;
                }
            }
        }
    }
}
