@import '~base-scss/widget';

.widget-faram {
    position: relative;

    .widget {
        @extend %widget;
        padding: var(--spacing-extra-small);

        .header {
            display: flex;
            align-items: center;

            .heading {
                flex-grow: 1;
                padding: 0 var(--spacing-small);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.excerpt-widget-heading {
                    color: var(--color-text-on-primary);
                }
            }

            .pin-button {
                padding: 0 var(--spacing-small);
                color: var(--color-text-on-accent);
            }

            &.excerpt-widget-header {
                background-color: var(--color-primary);
            }

            .action-buttons {
                flex-shrink: 0;
                transition: var(--duration-transition-medium) opacity ease-in-out;
                opacity: 0;

                >* {
                    padding: var(--spacing-extra-small) var(--spacing-extra-small-alt);
                }
            }

            &.error {
                .heading {
                    color: var(--color-danger);
                    >span {
                        display: inline-block;
                        margin-right: var(--spacing-small);
                    }
                }
            }
        }

        &:hover {
            .header {
                .action-buttons {
                    opacity: 1;
                }
            }
        }

        &.frozen-entry {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
            border: var(--width-separator-thin) solid var(--color-separator);
        }
    }
}
