.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: var(--dui-spacing-medium) var(--dui-spacing-extra-large);
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);

    .header {
        border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        padding-bottom: var(--dui-spacing-small);
    }

    .action-buttons {
        display: flex;
        gap: var(--dui-spacing-small);
    }

    .tab-list {
        flex-grow: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .tab-panel {
            display: flex;
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}

.modal {
    .body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .selection {
            flex-grow: 1;
        }
    }
}
