:root {
    --height-map-min: 360px;
    --width-title-min: 96px;
}

%activity-percentage-basic {
    flex-basis: 50%;
    padding: var(--spacing-medium);

    .heading {
        padding: var(--spacing-medium);
        text-transform: none;
        font-weight: var(--font-weight-light);
    }

    .list {
        .item {
            display: flex;
            align-items: baseline;

            &:hover {
                background-color: var(--color-background-hover);
            }

            .title {
                flex-grow: 1;
                padding: var(--spacing-small) var(--spacing-medium);
                min-width: var(--width-title-min);

                a {
                    text-transform: none;

                    &:hover {
                        color: var(--color-accent);
                    }
                }
            }

            .value {
                flex-shrink: 0;
                padding: var(--spacing-small) var(--spacing-extra-small);
            }
        }
    }
}

.project-dashboard {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-foreground);
    overflow: auto;

    .metadata {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);

        .basic-info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;

            .info-item {
                flex-shrink: 0;
                padding: var(--spacing-large);

                .label {
                    margin-bottom: var(--spacing-small);
                    color: var(--color-text-label);
                    font-size: var(--font-size-small);
                }

                .string-value {
                    text-transform: capitalize;
                    font-size: var(--font-size-extra-large);
                    font-weight: var(--font-weight-light);

                    a {
                        text-transform: none;

                        &:hover {
                            color: var(--color-accent);
                        }
                    }
                }

                .numeric-value {
                    display: block;
                    text-align: center;
                    font-family: var(--font-family-monospace);
                    font-size: var(--font-size-super-large);
                }

                .date-value {
                    color: var(--color-text-label);
                    font-size: var(--font-size-large);
                }
            }
        }

        .stats {
            display: flex;
            flex-wrap: wrap;

            .activity-chart {
                flex-basis: 50%;
                flex-grow: 1;

                .chart {
                    padding: var(--spacing-small) var(--spacing-medium);
                    overflow: hidden;

                    .heading {
                        padding: var(--spacing-small) var(--spacing-medium);
                        text-transform: none;
                    }

                    .spark-line {
                        display: block;
                        width: 100%;
                        height: 64px;

                        :global {
                            svg {
                                width: 100%;

                                .fill {
                                    opacity: 0.3;
                                    fill: var(--color-accent);
                                    stroke: var(--color-accent);
                                }

                                .line {
                                    stroke: var(--color-accent);
                                    stroke-width: 1px;
                                }
                            }
                        }
                    }
                }
            }

            .activity-percentages {
                display: flex;
                flex-basis: 50%;
                flex-grow: 1;
                justify-content: center;

                .sourcers-list-container {
                    @extend %activity-percentage-basic;
                }

                .taggers-list-container {
                    @extend %activity-percentage-basic;
                }
            }
        }
    }

    .map-container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        min-height: var(--height-map-min);

        .map {
            flex-grow: 1;
        }

        .region-select-input {
            position: absolute;
            top: var(--spacing-small);
            left: var(--spacing-small);
            z-index: 20;
            border: var(--width-separator-thin) solid var(--color-separator-alt);
            background-color: var(--color-foreground);
            padding: var(--spacing-small);
        }
    }
}

