.entry-excerpt {
    flex-grow: 1;
    padding-right: var(--spacing-large);
    text-align: justify;
}

.image {
    max-width: 100%;
    max-height: 128px;
    object-fit: contain;
    pointer-events: none;
}
