.test-tag {
    align-self: center;
    border-radius: var(--dui-border-radius-progress-bar);
    background: var(--dui-color-complement3);
    padding: var(--dui-spacing-small);
    font-size: var(--dui-font-size-medium);
    font-weight: var(--dui-font-weight-bold);
}
