:root {
    --height-leftpanel-tabs: 48px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .tabs {
        flex-shrink: 0;
        height: var(--height-leftpanel-tabs);

        :global {
            .tab-assisted-tagging {
                color: var(--color-text-disabled);

                &:hover {
                    color: var(--color-text-disabled);
                }
            }
        }
    }

    .multiview-container {
        display: none;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--color-foreground-alt);
            overflow-y: auto;
        }

        &.active {
            display: flex;
        }
    }
}

.brain-icon {
    margin-right: var(--spacing-medium);
    cursor: pointer;
    width: var(--font-size-large);
    height: var(--font-size-large);
}

.tabular-modal {
    width: 96vw;
    height: 92vh;
    overflow: auto;

    .tabular-book {
        width: 100%;
        height: 100%;
    }
}

.external-link {
    text-transform: unset;
    text-decoration: underline;
    color: var(--color-link);
}
