
:root {
    --height-leftpanel-tabs: 48px;
}

.tabs {
    height: var(--height-leftpanel-tabs);
}

.tabular-modal {
    width: auto;
    overflow: auto;

    .tabular-book {
        width: 96vw;
        height: 92vh;
    }
}

.container {
    background-color: var(--color-foreground-alt);
    height: calc(100% - var(--height-leftpanel-tabs));
    overflow-y: auto;
}

.brain-icon {
    margin-right: var(--spacing-medium);
    cursor: pointer;
    width: var(--font-size-large);
    height: var(--font-size-large);
}
