.comment-button {
    position: relative;
    overflow: visible;

    .comment-count {
        position: absolute;
        /* NOTE: Want to move this a bit up */
        top: -0.5em;
        right: -0.5em;
        border-radius: 1em;
        background-color: var(--dui-color-danger);
        width: 1.3em;
        height: 1.3em;
        color: var(--dui-color-text-on-dark);
        font-size: var(--dui-font-size-extra-small);
    }
}

.entry-comment-modal {
    display: flex;
    width: 640px;
    gap: var(--dui-spacing-medium);

    .modal-body {
        display: flex;
        gap: var(--dui-spacing-medium);

        .left-content-container {
            border-right: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            padding: var(--dui-spacing-medium);
            max-width: 320px;
            overflow-y: auto;
        }

        .right-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: var(--dui-spacing-medium);

            .comment-list {
                flex-grow: 1;
                max-height: 400px;
                overflow-y: auto;
                gap: var(--dui-spacing-medium);
            }
        }
    }
}
