
.region-detail-form {
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        flex-wrap: wrap;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small);

        .heading {
            flex-grow: 1;
        }
    }

    .input-container {
        flex-grow: 1;
        padding: var(--spacing-small);
        overflow-y: auto;

        .text-input {
            padding: 0;

            input {
                background-color: transparent;
            }
        }
    }
}
