.my-profile {
    display: flex;
    background-color: var(--dui-color-background);
    height: 100%;

    .header {
        padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);

        .heading {
            text-transform: uppercase;
            color: var(--dui-color-brand);
        }
    }

    .footer {
        padding: 0 var(--dui-spacing-super-large);
    }

    .content {
        display: flex;
        flex-grow: 1;
        padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);

        .main-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--dui-color-foreground);

            .display-picture {
                display: flex;
                align-self: center;
                margin: var(--dui-spacing-medium);
                width: 100px;
                height: 100px;
            }

            .user-info {
                display: flex;
                flex-grow: 1;

                .personal-info {
                    flex: 1;
                    background-color: var(--dui-color-foreground);
                    padding: var(--dui-spacing-small) var(--dui-spacing-medium);
                }

                .preferences {
                    flex: 1;
                    background-color: var(--dui-color-foreground);
                    padding: var(--dui-spacing-small) var(--dui-spacing-medium);
                }
            }
        }
    }
}
