
.lead-preview {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;

    .loading-animation {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: var(--spacing-medium);

        :global {
            .loading-icon {
                margin-bottom: var(--spacing-medium);
                font-size: var(--font-size-super-large);
            }
        }
    }

    .highlighted-text {
        margin: 0;
        padding: var(--spacing-small) var(--spacing-medium);
        width: 100%;
        height: 100%;
        text-align: justify;
        line-height: 2;
        white-space: pre-wrap;
        color: var(--color-text);
        font-family: inherit;
    }
}
