@import '~base-scss/utils';

.connectors {
    .sidebar {
        display: flex;
        position: relative;
        flex-direction: column;

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-background-header);
            padding: var(--spacing-medium);
            color: var(--color-text-on-background-header);

            .heading {
                flex-grow: 1;
                text-transform: capitalize;
            }

            .search-input {
                flex-basis: 100%;
                margin-top: var(--spacing-medium);
            }
        }

        .connectors-list {
            flex-grow: 1;
            overflow-y: auto;

            .group {
                margin-top: var(--spacing-small-alt);
                border-left: var(--width-separator-thick) solid transparent;
                padding: var(--spacing-extra-small-alt) var(--spacing-medium);
                // border-bottom: var(--width-separator-thin) solid var(--color-separator);
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .connector-details {
            flex-grow: 1;
        }

        .no-connector {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            background-color: var(--color-foreground);
            color: var(--color-text-disabled);
            font-size: var(--font-size-extra-large);
        }
    }
}
