@import '~base-scss/base';

.connectors {
    .sidebar {
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: $color-foreground-alt;
        color: $color-text-on-foreground-alt;

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: $width-separator-thin solid $color-separator;
            background-color: $color-background-header;
            padding: $spacing-small;
            color: $color-text-on-background-header;

            .heading {
                flex-grow: 1;
            }

            .search-input {
                flex-basis: 100%;
                padding: 0;
            }
        }

        .connectors-list {
            flex-grow: 1;
            overflow-y: auto;

            .list-item {
                display: block;
                border-bottom: $width-separator-thin solid $color-separator;
                border-left: $width-separator-thick solid transparent;

                .link {
                    display: block;
                    padding: $spacing-small;
                    width: 100%;
                    height: 100%;
                    text-transform: none;
                }
            }

            .active {
                border-left-color: $color-accent;
                background-color: $color-background-selected;
            }

            :hover {
                background-color: $color-background-hover;
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;

        .connector-details {
            flex-grow: 1;
            background-color: $color-background-alt;
            color: $color-text-on-background-alt;
        }

        .no-connector {
            @include background-color-with-disabled-text($color-foreground);
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            font-size: $font-size-extra-large;
        }
    }
}
