.kpi-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--dui-color-surface-information);
    padding: var(--dui-spacing-medium);
    color: var(--dui-color-text-dark);
    gap: var(--dui-spacing-medium);

    .heading {
        display: flex;
        flex-direction: column;
    }

    .inline {
        display: flex;
        justify-content: space-between;

        .right {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: space-evenly;
            gap: var(--dui-spacing-small);

            .link {
                display: flex;
                align-items: center;
                align-self: flex-end;
                transition: var(--dui-duration-transition-medium) opacity ease-in-out;
                padding: 0;
                text-decoration: none;
                gap: var(--dui-spacing-small);

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
