.entry-comment-modal {
    display: flex;

    .entry-comment-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .input {
            margin: var(--dui-spacing-small);
        }
    }
}
