.export-history-container {
    background-color: var(--dui-color-foreground);

    .header-icons {
        display: flex;
        gap: var(--dui-spacing-medium);
    }

    .content {
        flex-grow: 1;

        .table {
            width: 100%;

            .icons {
                display: flex;
                font-size: var(--dui-font-size-super-large);
            }

            .status {
                display: flex;
            }
        }
    }
}
