.analysis-edit-modal {
    max-height: 800px;

    .modal-body {
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: var(--dui-spacing-medium);

        .analysis-pillar-list-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;
            gap: var(--dui-spacing-medium);

            .analysis-pillar-list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-shrink: 0;
                overflow: auto;
                gap: var(--dui-spacing-medium);
            }

            .action-button {
                flex-shrink: 0;
            }
        }
    }
}
