.question-form {
    width: 720px;

    .modal-body {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 640px;
        overflow-y: auto;

        .tabs {
            .tab {
                flex-grow: 1;
                text-align: center;
            }

            .tab-title {
                display: flex;

                >* {
                    flex-basis: 100%;
                }
            }

            .blank-tab {
                display: none;
            }
        }
    }

    .basic {
        overflow-y: auto;

        .content {
            .title-container,
            .response-options,
            .input,
            {
                margin: var(--spacing-small) var(--spacing-large);
            }


            .padded-input {
                padding: var(--spacing-small) var(--spacing-large);

                &.left-padded {
                    padding-left: var(--spacing-extra-large);
                }
            }

            .response-options {
                display: flex;
                align-items: center;

                .item-heading {
                    margin-right: var(--spacing-small);
                    color: var(--color-text-label);
                }

                .add-response-option {
                    font-size: var(--font-size-extra-small-alt);
                }
            }

            .title-container {
                display: flex;
                align-items: center;
                margin-top: var(--spacing-large);

                .title-input {
                    flex-grow: 1;
                }

                .title-add-button {
                    flex-shrink: 0;
                }
            }
        }
    }

    .framework-details {
        padding: var(--spacing-medium);

        .framework-attribute-input {
            display: flex;
            flex-direction: column;
        }
    }

    .metadata {
        padding: var(--spacing-medium);

        .content {
            display: flex;
            flex-wrap: wrap;

            >* {
                flex-basis: calc(50% - 2 * var(--spacing-small));
                margin: var(--spacing-small);
            }

            .input {
                flex-basis: 100%;
            }
        }
    }
}
