.question-form {
    .modal-body {
        padding: 0;
        height: 480px;

        .tabs {
            .tab {
                flex-grow: 1;
                text-align: center;
            }

            .tab-title {
                display: flex;

                >* {
                    flex-basis: 100%;
                }
            }

            .blank-tab {
                display: none;
            }
        }
    }

    .basic {
        padding: 0 var(--spacing-medium);

        .header {
            padding: var(--spacing-small) 0;
        }

        .content {
            >* {
                margin: var(--spacing-small);
            }

            .more-titles {
                .button-container {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }

    .framework-details {
        padding: 0 var(--spacing-medium);

        .header {
            padding: var(--spacing-small) 0;
        }

        .framework-attribute-input {
            display: flex;
            flex-direction: column;
        }
    }

    .metadata {
        padding: 0 var(--spacing-medium);

        .header {
            padding: var(--spacing-small) 0;
        }

        .content {
            display: flex;
            flex-wrap: wrap;

            >* {
                flex-basis: calc(50% - 2 * var(--spacing-small));
                margin: var(--spacing-small);
            }
        }
    }
}
