.canvas {
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
    gap: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

    .widget-container {
        flex-basis: 100%;
        background-color: var(--dui-color-foreground);
        padding: var(--dui-spacing-small);

        .action-button {
            transition: var(--dui-duration-transition-medium) opacity ease-in-out;
            opacity: 0;
        }

        &:hover {
            .action-button {
                opacity: 1;
            }
        }

        &.half-widget {
            flex-basis: calc(50% - (var(--dui-spacing-medium) - var(--dui-spacing-small)));
        }

        &.conditional {
            background-color: var(--dui-color-background-information);
        }

        &.errored {
            border: var(--dui-width-separator-thin) solid var(--dui-color-danger);
        }
    }
}

.no-widgets-found {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding: var(--dui-spacing-super-large);
    color: var(--dui-color-text-message);
}