
.word-category-list {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        flex-wrap: wrap;
        background-color: var(--color-background-header);
        padding: var(--spacing-medium);

        .heading {
            flex-grow: 1;
        }

        .word-category-search-input {
            flex-basis: 100%;
            margin-top: var(--spacing-small);
        }
    }

    .content {
        flex-grow: 1;
        overflow-y: auto;

        .item {
            display: flex;

            .title {
                flex-grow: 1;
            }

            .check {
                flex-shrink: 0;
                padding-left: var(--spacing-small);
                color: var(--color-success);
            }
        }
    }
}
