.geo-location-map-input {
    display: flex;
    flex-grow: 1;
    gap: var(--dui-spacing-medium);

    .map-selection {
        display: flex;
        align-self: stretch;
        flex-direction: column;
        flex-grow: 1;

        .inputs {
            display: flex;
            padding: var(--dui-spacing-small);

            .region-select {
                padding-right: var(--dui-spacing-small);
            }

            .geo-selection-input {
                flex-grow: 1;
            }
        }

        .map {
            display: flex;
            flex-grow: 1;
        }
    }

    .right-pane {
        display: flex;
        flex-basis: 25%;
        flex-direction: column;
        flex-shrink: 0;
        gap: var(--dui-spacing-medium);

        .excerpt {
            background-color: transparent;
            max-height: 20rem;
            overflow-y: auto;
        }

        .selected-geo-areas {
            flex-grow: 1;
            background-color: var(--dui-color-white);
        }

        .geo-area-group {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
    }
}
