.geo-location-map-input {
    display: flex;
    flex-grow: 1;

    .map-selection {
        display: flex;
        align-self: stretch;
        flex-basis: 75%;
        flex-direction: column;

        .inputs {
            display: flex;
            padding: var(--dui-spacing-small);

            .region-select {
                padding-right: var(--dui-spacing-small);
            }
        }

        .map {
            display: flex;
            flex-grow: 1;
        }
    }

    .selected-geo-areas {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--dui-color-white);

        .geo-area-group {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
    }
}
