.project-details {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--dui-color-white);
    padding: calc(var(--dui-spacing-super-large) - var(--dui-spacing-medium));
    overflow-y: auto;

    .content {
        display: flex;

        .input {
            display: flex;
            flex-direction: column;
            padding: var(--dui-spacing-medium);
        }

        .created-by-details {
            margin-top: var(--dui-spacing-small);

            .input {
                flex-grow: 1;
                flex-shrink: 0;
            }
        }

        .buttons-container {
            margin-top: var(--dui-spacing-small);

            .button {
                margin: var(--dui-spacing-medium);
            }
        }

        .left {
            display: flex;
            align-self: flex-start;
            flex-basis: 50%;
            flex-direction: column;
            flex-shrink: 0;
            justify-content: space-between;

            .dates {
                display: flex;
                justify-content: space-between;

                .date-input {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-shrink: 0;
                    padding: var(--dui-spacing-medium);
                }
            }

            .stakeholders {
                margin: var(--dui-spacing-medium);
                background-color: var(--dui-color-surface-informational);

                .header {
                    border: 0;

                    .heading {
                        font-size: var(--dui-font-size-heading-extra-small);
                    }
                }

                .content {
                    padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
                }

                .items {
                    display: flex;
                    flex-wrap: wrap;

                    .organizations {
                        display: flex;
                        flex: 1 0 30%;
                        flex-direction: column;
                        margin: var(--dui-spacing-medium);
                        max-width: 50%;
                        max-height: 160px;
                        overflow: auto;
                    }
                }
            }
        }

        .right {
            display: flex;
            align-self: flex-start;
            flex-basis: 50%;
            flex-direction: column;
            flex-shrink: 0;
            justify-content: space-between;

            .features {
                display: flex;
                background-color: var(--dui-color-white);

                .heading {
                    font-size: var(--dui-font-size-heading-extra-small);
                }

                .items {
                    display: flex;
                }
            }

            .visibility {
                background-color: var(--dui-color-white);

                .visibility-heading {
                    font-size: var(--dui-font-size-heading-extra-small);
                }

                .items {
                    display: flex;
                    align-items: center;
                }

                .segment-input {
                    display: flex;
                    flex-shrink: 0;
                    padding: 0;
                }

                .request-button {
                    margin-left: var(--dui-spacing-small);
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        padding-right: var(--dui-spacing-extra-large);
    }
}
