:root {
    --height-edit-modal: 70vh;
}

.item {
    display: flex;
    align-items: stretch;
    border-top: var(--width-separator-thin) solid var(--color-separator);
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    padding: 0;

    .drag-handle {
        flex-shrink: 0;
        background-color: var(--color-foreground);
        cursor: move;
        padding: var(--spacing-small);

        &.active {
            background-color: var(--color-background-selected);
        }
    }
}

.edit-modal {
    width: var(--width-modal-large);
    height: var(--height-edit-modal);

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;

            .error {
                flex-shrink: 0;
            }

            .title-input {
                flex-shrink: 0;
                padding: 0 var(--spacing-small);
            }

            .rows {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .error {
                    flex-shrink: 0;
                }

                .header {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    justify-content: space-between;
                    border-bottom: var(--width-separator-thin) solid var(--color-separator);
                    padding: var(--spacing-small);
                    padding-top: 0;

                    .button-container {
                        display: flex;
                        align-items: center;

                        h5 {
                            padding-right: var(--spacing-small);

                            &:after {
                                content: ':';
                            }
                        }
                    }
                }

                .panels {
                    display: flex;
                    flex-grow: 1;

                    .left-panel {
                        flex-basis: 30%;
                        border-right: var(--width-separator-thin) solid var(--color-separator);
                        overflow-y: auto;

                        .item {
                            border-top: 0;
                        }
                    }

                    .right-panel {
                        display: flex;
                        flex-basis: 70%;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
