.more-title-row {
    display: flex;
    align-items: center;

    .select-input {
        flex-shrink: 0;
        margin-right: var(--spacing-small);
        width: 144px;
    }

    .text-input {
        flex-grow: 1;
        margin-right: var(--spacing-small);
    }

    .button {
        flex-shrink: 0;
    }

    &:hover {
        background-color: var(--color-background-hover);
    }
}
