@import '~base-scss/base';

.notifications {
    display: flex;
    flex-direction: column;
    background-color: $color-foreground-alt;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        background-color: $color-foreground;
        padding: $spacing-medium-alt;

        .heading {
            flex-grow: 1;
            margin: 0;
        }
    }

    .content {
        flex-grow: 1;
        overflow-y: auto;
    }

    :global {
        .list-view-empty {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
