
.item {
    border-top: var(--width-separator-thin) solid var(--color-separator);
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    padding: 0;

    .drag-handle {
        display: flex;
        align-items: center;
        align-self: stretch;
        background-color: var(--color-foreground);
        padding: var(--spacing-small);
    }
}

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    padding: 0 0 var(--spacing-small) var(--spacing-small);

    .button-container {
        display: flex;
        align-items: center;

        h5 {
            padding-right: var(--spacing-small);

            &:after {
                content: ':';
            }
        }
    }
}

.error {
    flex-shrink: 0;
}

.edit-sector {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 var(--spacing-small);

    .input {
        flex-grow: 1;
        margin-left: var(--spacing-small);
        padding: 0 var(--spacing-extra-small);
    }
}

.cell-list {
    flex-grow: 1;
    border-right: var(--width-separator-thin) solid var(--color-separator);
    overflow-y: auto;

    .item {
        border-top-color: transparent;
    }
}
