:root {
    --width-notification-dropdown: 520px;
    --height-notification-dropdown: 640px;
}

.notifica {
    position: relative;

    .request-count,
    .count {
        display: flex;
        position: absolute;
        top: var(--spacing-medium);
        right: var(--spacing-medium);
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--color-danger);
        width: var(--spacing-medium);
        height: var(--spacing-medium);
        font-size: var(--font-size-extra-small);
        font-weight: var(--font-weight-bold);
    }

    .request-count {
        right: calc(var(--spacing-extra-small-alt) + var(--spacing-extra-small));
        background-color: var(--color-primary);
    }

    .dropdown-menu {
        width: 100%;
        height: 100%;
    }
}

.notification-dropdown {
    width: var(--width-notification-dropdown);
    height: var(--height-notification-dropdown);

    .notifications {
        height: 100%;
    }
}

.icon {
    font-size: var(--font-size-super-large);
}
