@import '~base-scss/base';

.notifica {
    position: relative;

    .count {
        display: flex;
        position: absolute;
        top: $spacing-small;
        right: $spacing-small;
        align-items: center;
        justify-content: center;
        border-radius: calc((var(--font-size-extra-small) + var(--spacing-extra-small) * 2) / 2);
        background-color: $color-danger;
        padding: $spacing-extra-small;
        min-width: calc(var(--font-size-extra-small) + var(--spacing-extra-small) * 2);
        color: $color-text-on-danger;
        font-size: $font-size-extra-small;
        font-weight: $font-weight-bold;
    }

    .dropdown-menu {
        width: 100%;
        height: 100%;
    }
}

$width-notification-dropdown: 420px;
$height-notification-dropdown: 520px;

.notification-dropdown {
    width: $width-notification-dropdown;
    height: $height-notification-dropdown;

    .notifications {
        height: 100%;
    }
}

.icon {
    font-size: $font-size-super-large;
}
