.pillar-assignment {
    display: table-row;

    .assignee-name {
        display: table-cell;
        padding: 0 var(--dui-spacing-medium);
        width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: var(--dui-font-weight-bold);
    }

    .pillar-title {
        display: table-cell;
        padding: 0 var(--dui-spacing-medium);
        width: 40%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--dui-color-text-description);
    }

    .status {
        display: table-cell;
        padding: 0 var(--dui-spacing-medium);
        width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
