@import '~base-scss/base';

.lead-groups {
    .header {
        display: flex;
        align-items: center;

        .back-link {
            flex-shrink: 0;
        }

        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .arys-filter {
                    margin: $spacing-small;
                }

                .button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: $spacing-small;
                }
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .table-container {
            position: relative;
            flex-grow: 1;
            overflow-y: auto;

            .lead-groups-table {
                border: $width-separator-thin solid $color-separator-alt;
                background-color: $color-foreground-alt;
                padding-bottom: $spacing-extra-small;
                color: $color-text-on-foreground-alt;

                :global {
                    .header {
                        position: sticky;
                        top: 0;
                    }

                    .capitalize {
                        text-transform: capitalize;
                    }

                    .icon-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: $font-size-large;

                        a {
                            color: $color-accent;
                        }
                    }

                    .title {
                        width: 30%;
                    }

                    .actions {
                        width: 150px;
                    }
                }
            }
        }

        .empty-message, .empty-filter-message {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;

            .image {
                opacity: 0.3;
                margin: $spacing-large 0;
                width: $width-icon-extreme-large;
                height: $width-icon-extreme-large;
            }
        }
    }

    .footer {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;

        .pager {
            display: flex;
            justify-content: center;
        }
    }
}
