.thread {
    .parent {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .children-list {
        border-top: var(--width-separator-thin) solid var(--color-separator);

        .comment {
            border-bottom: var(--width-separator-thin) solid var(--color-separator);

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .form {
        border-top: var(--width-separator-thin) solid var(--color-separator);
    }

    .new-comment {
        border-top: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small) var(--spacing-medium);
        text-align: right;
    }
}
