.normal {
    display: flex;
    align-items: center;

    .label {
        flex-shrink: 0;
        color: var(--color-text-label);

        &:after {
            margin-right: var(--spacing-small);
            content: ':';
        }
    }

    .icon-label {
        flex-shrink: 0;
        margin-right: var(--spacing-small);
        color: var(--color-text-label);
    }

    .value {
        flex-grow: 1;
        font-family: var(--font-family-sans-serif);
    }
}

.table {
    display: table-row;
    align-items: center;
    font-size: var(--font-size-large);

    .label {
        display: table-cell;
        padding: var(--spacing-extra-small);
        color: var(--color-text-label);
    }

    .icon-label {
        flex-shrink: 0;
        margin-right: var(--spacing-small);
        color: var(--color-text-label);
    }

    .value {
        display: table-cell;
        padding-left: var(--spacing-medium);
    }
}

.block {
    display: flex;
    flex-direction: column;

    .label {
        color: var(--color-text-label);
        font-weight: var(--font-weight-bold);
    }

    .value {
        color: var(--color-accent);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }
}
