.add-questionnaire-form {
    position: relative;

    .modal-body {
        display: flex;
        flex-direction: column;

        .input {
            margin: var(--spacing-medium) 0;
        }

        .duration-input {
            align-self: flex-start;
        }
    }
}
