
.project-user-list {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: auto;

    .header {
        flex-shrink: 0;

        .heading {
            padding: var(--spacing-medium);
        }
    }

    .table-wrapper {
        flex-grow: 1;
        overflow: auto;

        .table {
            :global {
                .header {
                    z-index: 1;
                    background-color: var(--color-foreground-alt);
                }

                .row {
                    border-bottom: var(--width-separator-thin) solid var(--color-separator);
                    background-color: transparent;
                }
            }
        }
    }
}
