.modal {
    width: 50vw;
    min-width: 560px;
    max-width: 720px;

    .header-project-name {
        text-transform: none;
    }

    .modal-body {
        max-height: 50vh;
        overflow-y: auto;

        .project-name {
            font-weight: var(--font-weight-bold);
        }
    }
}
