.add-lead-buttons {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--color-foreground);
    color: var(--color-text-on-foreground);

    .heading {
        margin: 0;
        padding: var(--spacing-medium) var(--spacing-large);
        // font-size: var(--font-size-small);
        // font-weight: var(--font-weight-medium);
    }

    .item {
        display: flex;
        align-items: center;
        padding: var(--spacing-small);

        .left-container {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);

            .icon {
                padding-right: var(--spacing-small);
            }
        }

        .add-lead-btn {
            display: block;
            flex-shrink: 0;
            width: auto;
            color: var(--color-text);
            font-family: inherit;
            font-size: inherit;

            &:hover {
                cursor: pointer;
                color: var(--color-accent);
            }

            &:disabled {
                cursor: pointer;
                color: var(--color-text-disabled);
            }
        }

        .file-input {
            :global {
                label {
                    padding: var(--spacing-small) var(--spacing-small-alt);
                }
            }
        }

        &:hover {
            background-color: var(--color-background-primary-hint);
        }
    }
}
