@import '../../../stylesheets/base';

.overview {
    display: flex;
    height: 100%;

    .left {
        background-color: $color-foreground-alt;
        width: 30%;
        height: 100%;
    }

    .right {
        width: 70%;
        height: 100%;


        $height-header: 48px;

        .header {
            display: flex;
            align-items: center;
            height: $height-header;
            background-color: $color-foreground;
            border-bottom: $width-separator-medium solid $color-separator;
            border-left: $width-separator-medium solid $color-separator;

            .entry-select-input {
                flex-grow: 1;
                padding: 0 $spacing-medium;
            }

            .action-buttons {
                flex-shrink: 0;
                padding: 0 $spacing-medium;

                button:not(:last-child) {
                    margin-right: $spacing-small;
                }
            }
        }

        .content {
            height: calc(100% - #{$height-header});
            overflow: auto;
        }
    }
}
