@import '../../../stylesheets/base';

.overview {
    display: flex;
    height: 100%;

    .left {
        background-color: $color-foreground-alt;
        width: 30%;
        height: 100%;
    }

    .right {
        width: 70%;
        height: 100%;
        overflow: auto;
    }
}
