body {
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--color-text);
    font-family: var(--font-family-sans-serif);
    font-weight: var(--font-weight-default);

    a {
        outline: none;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        text-transform: capitalize;
        color: var(--color-primary);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-heading);
    }

    :global {
        .navbar {
            position: relative;
            z-index: 1;
            height: var(--height-navbar);

            &.show-sub-navbar {
                height: calc(var(--height-navbar) + var(--height-sub-navbar));
            }
        }

        .deep-main-content {
            position: relative;
            perspective: 1000px;
            background-color: var(--color-background);
            height: calc(100vh - var(--height-navbar));
            overflow-y: auto;

            &.show-sub-navbar {
                height: calc(100vh - var(--height-navbar) - var(--height-sub-navbar));
            }
        }

        .no-nav + .deep-main-content {
            padding: 0;
            height: 100vh;
        }

        #root {
            position: relative;
            z-index: 0;
            font-size: var(--dui-font-size-medium);
        }

        .disabled-map-draw-control {
            .mapboxgl-control-container {
                .mapboxgl-ctrl-top-right {
                    .mapbox-gl-draw_ctrl-draw-btn {
                        pointer-events: none;
                        filter: opacity(30%);
                    }
                }
            }
        }

        .portal-child-shown {
            overflow: hidden;

            #root {
                filter: brightness(50%);
                pointer-events: none;
                user-select: none;
            }

            .focus-trap-wrapper {
                .focus-trap {
                    .floating-container:not([data-last-modal="true"]),
                    .modal:not([data-last-modal="true"]) {
                        &:not(.floating-util) {
                            filter: brightness(50%);
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .nagbar-shown {
            .deep-main-content {
                height: calc(100vh - var(--height-navbar) - var(--height-nagbar));
            }

            .no-nav + .deep-main-content {
                padding: 0;
                height: calc(100vh - var(--height-nagbar));
            }
        }

        .recharts-text.recharts-cartesian-axis-tick-value {
            text-transform: uppercase;
            color: var(--dui-color-text);
            font-size: var(--dui-font-size-small);
            font-weight: var(--dui-font-weight-bold);
        }
    }

    ::-webkit-scrollbar-track {
        background-color: var(--color-background-scrollbar);
    }

    ::-webkit-scrollbar {
        background-color: var(--color-background-scrollbar);
        width: var(--width-scrollbar);
        height: var(--width-scrollbar);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: var(--radius-scrollbar-border);
        background-color: var(--color-foreground-scrollbar);
    }

}

:root {
    --font-family-sans-serif: 'Source Sans Pro', sans-serif;
    --font-family-heading: var(--font-family-sans-serif);
    --font-family-monospace: var(--font-family-sans-serif);
    --font-family-icons: 'Ionicons';
    --font-weight-heading: 600;
    --height-nagbar: 2rem;
    --dui-font-family-monospace: var(--font-family-monospace);
}


* {
    box-sizing: border-box;
}

html {
    font-size: initial;
}
