:root {
    --font-family-sans-serif: 'Source Sans Pro', sans-serif;
    --font-family-heading: 'Source Sans Pro', sans-serif;
    --font-family-monospace: 'Oxygen Mono', monospace;
    --font-family-icons: 'Ionicons';
    --font-weight-heading: 500;
    --height-nagbar: 32px;
}

:global {
    .portal-child-shown {
        overflow: hidden;

        #root {
            filter: brightness(50%);
            pointer-events: none;
            user-select: none;
        }

        .focus-trap-wrapper {
            .focus-trap {
                .modal:not([data-last-modal="true"]) {
                    filter: brightness(50%);
                    pointer-events: none;
                }
            }
        }
    }

    .numeral {
        font-family: var(--font-family-sans-serif)!important;
    }

    .formatted-date {
        font-family: var(--font-family-sans-serif)!important;
    }

    .nagbar-shown {
        .deep-main-content {
            height: calc(100vh - var(--height-navbar) - var(--height-nagbar));
        }

        .no-nav + .deep-main-content {
            padding: 0;
            height: calc(100vh - var(--height-nagbar));
        }
    }
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);

    a {
        outline: none;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        text-transform: uppercase;
        color: var(--color-primary);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-heading);
    }

    ::-webkit-scrollbar-track {
        background-color: var(--color-background-scrollbar);
    }

    ::-webkit-scrollbar {
        background-color: var(--color-background-scrollbar);
        width: var(--width-scrollbar);
        height: var(--width-scrollbar);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-foreground-scrollbar);
    }

    :global {
        .navbar {
            position: relative;
            z-index: 1;
            height: var(--height-navbar);
        }

        .deep-main-content {
            position: relative;
            perspective: 1000px;
            background-color: var(--color-background);
            // padding: var(--spacing-small-alt);
            height: calc(100vh - var(--height-navbar));
            overflow-y: auto;
        }

        .no-nav + .deep-main-content {
            padding: 0;
            height: 100vh;
        }

        .nagbar {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-warning);
            height: var(--height-nagbar);
            color: var(--color-text-on-warning);
            font-weight: var(--font-weight-bold);
        }
    }
}

* {
    box-sizing: border-box;
}
