.lead-duplicates-modal {
    display: flex;
    overflow: auto;

    .modal-body {
        display: flex;
        flex-grow: 1;
        background-color: var(--dui-color-grey6);
        padding: var(--dui-spacing-small);
        gap: var(--dui-spacing-medium);
        overflow: auto;

        .lead-container {
            display: flex;
            flex-basis: 35%;
            flex-grow: 1;
            flex-shrink: 0;
            overflow: auto;

            .lead {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: auto;

                .preview-container {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-shrink: 0;
                    padding: 0;
                    overflow-y: auto;

                    .preview {
                        flex-grow: 1;
                    }
                }
            }
        }

        .duplicates {
            display: flex;
            flex-basis: 20%;
            flex-direction: column;
            flex-grow: 1;
            justify-content: flex-start;
            gap: var(--dui-spacing-extra-small);
            overflow: auto;

            .lead {
                display: flex;
            }
        }
    }

}
