.widget-group {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    flex-shrink: 0;

    .heading {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: var(--spacing-small);
        text-transform: capitalize;
        color: var(--color-accent);

        .show-more-button {
            padding: 0 var(--spacing-medium);
        }
    }

    >.content {
        flex-grow: 1;
        padding: var(--spacing-medium);
        overflow-y: auto;
    }

    :global {
        .widget {
            margin: var(--spacing-small-alt) 0;
        }
    }
}
