@import '~base-scss/base';

$height-tabs: 32px;
$height-lead-select-input-wrap: 36px;
$height-header: $height-tabs + $height-lead-select-input-wrap;

.header {
    background-color: $color-foreground-alt;
    height: $height-header;

    .lead-select-input-wrap {
        display: flex;
        align-items: center;
        padding: 0 $spacing-medium;
        height: $height-lead-select-input-wrap;

        .label {
            flex-shrink: 0;
            padding-right: $spacing-small;
            width: auto;
            
            &:after {
                content: ':';
            }
        }

        .lead-select-input {
            flex-grow: 1;
        }
    }

    .tabs {
        height: $height-tabs;
    }
}

%container {
    background-color: $color-foreground-alt;
    height: calc(100% - #{$height-header});
    overflow-y: auto;
}

.simplified-preview {
    @extend %container;
}

.assisted-tagging {
    @extend %container;

    :global {
        .preview {
            height: calc(100% - 59px);
            overflow-y: auto;
        }

        .assistant-options {
            border-top-color: $color-accent;
        }
    }
}

.original-preview {
    @extend %container;
}

.images-preview {
    @extend %container;
}

.entries-list-container {
    @extend %container;
}
