.left-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    overflow: auto;

    .lead-select-input {
        flex-shrink: 0;
        margin: var(--spacing-small);
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .left-panel {
            flex-grow: 1;
        }

        .entries {
            // TODO: allocate height dynamically
            height: calc(100% - 48px);
            overflow: auto;
        }
    }
}
