.overview {
    width: 100%;
    height: 100%;
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        height: var(--height-matrix-header);

        &.empty-header {
            border-bottom-color: transparent;
        }

        .button {
            flex-shrink: 0;
        }

        .sub-title {
            flex-grow: 1;
            text-align: center;
            font-weight: var(--font-weight-bold);
        }
    }

    .table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        text-align: center;

        .sector-title {
            cursor: pointer;

            &:hover {
                background-color: var(--color-background-accent-hint);
            }
        }

        thead {
            border: 0;

            th {
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: var(--color-foreground);
                padding: var(--spacing-extra-small) var(--spacing-small);
            }
        }

        tbody {
            td {
                border: var(--width-separator-thin) solid var(--color-foreground);
                padding: var(--spacing-extra-small);
            }
        }
    }
}
