.matrix-two-d-input {
    width: 100%;
    height: 100%;
    overflow: auto;

    .table {
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0;
        vertical-align: middle;
        text-align: center;

        thead {
            border: 0;

            th {
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: var(--color-foreground);

                &.active-sector-header {
                    cursor: pointer;
                    text-align: left;

                    &:hover {
                        background-color: var(--color-foreground-alt);
                    }

                    .back-icon {
                        padding: 0 var(--spacing-medium);
                    }
                }

                &:not(.active-sector-header) {
                    top: 19px;
                    background-color: var(--color-foreground);
                }

                &.top-th {
                    top: 0;
                }
            }
        }

        tbody {
            td {
                border: var(--width-separator-thin) solid var(--color-foreground);
            }
        }
    }

    .hidden {
        visibility: hidden;
    }

}

