.secondary-tagging {
    display: flex;
    overflow-y: auto;

    .widget-list-container {
        display: flex;
        flex-direction: column;
        background-color: var(--dui-color-foreground);
        width: calc(240px + 10vw);
        overflow-y: auto;

        .content {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
    }

    .framework-preview {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .top-bar {
            display: flex;
            background-color: var(--dui-color-foreground);
            padding: calc(var(--dui-spacing-large) - var(--dui-spacing-extra-small)) calc(var(--dui-spacing-extra-large) - var(--dui-spacing-small))
        }

        .canvas {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin: calc(var(--dui-spacing-large) - var(--dui-spacing-extra-small)) var(--dui-spacing-extra-large);
            background-color: var(--dui-color-foreground);
            padding: calc(var(--dui-spacing-extra-large) - var(--dui-spacing-medium));
            overflow-y: auto;
        }
    }
}

.framework-image-preview-modal {
    width: 96vw;
    height: 96vh;

    .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .preview {
            flex-grow: 1;
        }
    }
}
