@import '../../../stylesheets/base';
@import '../../../stylesheets/matrix-2d-overview-table';


.overview {
    width: 100%;
    height: 100%;
    overflow: auto;

    .table {
        @extend %matrix-2d-overview-table;
    }
}
