@import '../../../../stylesheets/base';

$height-edit-modal: 512px;

.edit-modal {
    width: $width-modal-small;
    height: $height-edit-modal;

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;

            .title-input {
                padding: 0 $spacing-small;
            }

            .option-inputs {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .header {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    justify-content: space-between;
                    border-bottom: $width-separator-thin solid $color-separator;
                    padding: $spacing-small;
                }

                .edit-option-list {
                    flex-grow: 1;
                    overflow-y: auto;

                    .item {
                        background-color: $color-foreground;
                    }
                }
            }
        }
    }
}

.drag-handle {
    flex-shrink: 0;
    background-color: $color-foreground;
    padding: $spacing-small;
}


// .draggable-item {
//     z-index: 11111;
// }
