@import '../../../../stylesheets/base';

$height-edit-modal: 512px;

.sortable-unit {
    display: flex;
    align-items: center;
    border-top: $width-separator-thin solid $color-separator;
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
    padding: $spacing-small;

    .drag-handle {
        display: flex;
        align-items: center;
        align-self: stretch;
        flex-grow: 0;
        flex-shrink: 0;
        cursor: move;
        padding: 0 $spacing-medium;
    }

    .title-input {
        flex-grow: 1;
        padding: 0 $spacing-extra-small;
    }

    .delete-button {
        flex-shrink: 0;
    }
}

.edit-modal {
    width: $width-modal-small;
    height: $height-edit-modal;

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;

        .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;

            .title-input {
                padding: 0 $spacing-small;
            }

            .option-inputs {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .header {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    justify-content: space-between;
                    border-top: $width-separator-thin solid $color-separator;
                    border-bottom: $width-separator-thin solid $color-separator;
                    background-color: $color-background-header;
                    padding: $spacing-small;
                }

                .edit-option-list {
                    flex-grow: 1;
                    overflow-y: auto;

                    .sortable-unit {
                        border-top: 0;
                    }
                }
            }
        }
    }
}

.draggable-item {
    z-index: 11111;
}
