@import '~base-scss/utils';

.label-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin: var(--spacing-small);
    // border: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-medium) var(--spacing-large);

    .header {
        display: flex;
        align-items: center;

        .heading {
            display: flex;
            align-items: center;
            flex-grow: 1;
            text-transform: none;
            font-weight: var(--font-weight-bold);

            .circle {
                display: inline-block;
                flex-shrink: 0;
                margin-right: var(--spacing-small-alt);
                border-radius: 50%;
                width: 12px;
                height: 12px;
            }
        }

        .action-buttons {
            flex-shrink: 0;
            opacity: 0;
        }
    }

    .footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .labelValue {
            display: flex;
            flex-direction: column;

            .label {
                text-transform: uppercase;
                color: var(--color-text-label);
                font-size: var(--font-size-extra-small);
                font-weight: var(--font-weight-bold);
            }
        }

        .created-by {
            .created-by-link {
                @extend %accent-color-link;
                margin-right: var(--spacing-small);
            }
        }

        .entry-count {
            text-align: right;
        }
    }

    &:not(.disable-hover) {
        &:hover {
            .action-buttons {
                opacity: 1;
            }
        }
    }

    &.read-only {
        cursor: default;
    }
}
