@import '~base-scss/base';

$height-tabs: 48px;

.tabs {
    height: $height-tabs;
}

%container {
    background-color: $color-foreground-alt;
    height: calc(100% - #{$height-tabs});
    overflow-y: auto;
}

.brain-icon {
    margin-right: $spacing-medium;
    cursor: pointer;
    width: $font-size-large;
    height: $font-size-large;
}

.simplified-preview {
    @extend %container;
}

.original-preview {
    @extend %container;
}

.assisted-tagging {
    @extend %container;

    :global {
        .preview {
            height: calc(100% - 59px);
            overflow-y: auto;
        }

        .assistant-options {
            border-top-color: $color-accent;
        }
    }
}

.images-preview {
    @extend %container;
}

.entries-list-container {
    @extend %container;
}
