.widget-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-foreground);
    overflow-y: auto;

    &.errored {
        /* FIXME: add proper styling */
        background-color: var(--dui-color-danger);
    }
}
