@import '~base-scss/base';

$ce-detail-form-width: 480px;
$height-header: 39px;

.category-editor-detail {
    height: 100%;

    .ce-detail-form {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: $spacing-medium;
        width: $ce-detail-form-width;
        height: calc(100% - #{$height-header});

        .action-buttons {
            display: flex;
            flex-shrink: 0;
            justify-content: flex-end;

            button {
                margin-left: $spacing-medium;
            }
        }

        .name {
            width: 100%;
        }
    }
}
