.story-analysis-modal {
    display: flex;
    overflow: auto;

    .modal-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border-top: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        overflow: auto;

        .container {
            display: flex;
            flex-grow: 1;
            background-color: var(--dui-color-foreground);
            padding-top: var(--dui-spacing-small);
            overflow: auto;

            .content {
                display: flex;
                gap: var(--dui-spacing-large);
                overflow: auto;

                .left {
                    display: flex;
                    flex-basis: 50%;
                    flex-direction: column;
                    flex-grow: 1;
                    gap: var(--dui-spacing-large);

                    .stats {
                        border-radius: 0.25rem;
                        background-color: var(--dui-color-background);
                        min-height: 6rem;
                    }

                    .visualization {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        border-radius: 0.25rem;
                        background-color: var(--dui-color-background);

                        .header {
                            background-color: var(--dui-color-background-information);
                        }

                        .tab {
                            background-color: var(--dui-color-background-information);
                            font-size: var(--dui-font-size-large);
                            font-weight: var(--dui-font-weight-regular);
                        }

                        .active-tab {
                            background-color: var(--dui-color-surface-information);
                        }

                        .tab-panel-container {
                            display: flex;
                            flex-grow: 1;

                            .tab-panel {
                                display: flex;
                                flex-direction: column;
                                flex-grow: 1;
                                background-color: var(--dui-color-foreground);
                                padding-top: var(--dui-spacing-small);
                                gap: var(--dui-spacing-small);

                                .context-actions {
                                    display: flex;
                                    padding-top: var(--dui-spacing-small);
                                    gap: var(--dui-spacing-medium);
                                }

                                .word-tree-container {
                                    display: flex;
                                    flex-grow: 1;
                                }
                            }
                        }
                    }
                }

                .right {
                    display: flex;
                    flex-basis: 50%;
                    flex-grow: 1;
                    gap: var(--dui-spacing-medium);
                    padding-right: var(--dui-spacing-small);
                    padding-left: var(--dui-spacing-small);
                    overflow: auto;

                    .markdown-container {
                        display: flex;
                        flex-direction: column;

                        .title {
                            padding-bottom: var(--dui-spacing-small);
                            font-size: var(--dui-font-size-large);
                            font-weight: var(--dui-font-weight-bold);
                        }

                        .editor {
                            display: flex;
                            flex-grow: 1;
                            gap: 0;

                            .input-section {
                                display: flex;
                                align-items: stretch;
                                flex-grow: 1;
                            }

                            .label-container {
                                padding-bottom: var(--dui-spacing-small);
                                color: var(--dui-color-text);
                                font-size: var(--dui-font-size-large);
                                font-weight: var(--dui-font-weight-bold);
                            }
                        }
                    }

                    .report-text-container {
                        display: flex;
                        flex-grow: 1;
                        overflow: auto;
                    }

                    .entries-container {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        overflow: auto;

                        .title {
                            padding-bottom: var(--dui-spacing-small);
                            font-size: var(--dui-font-size-large);
                            font-weight: var(--dui-font-weight-bold);
                        }

                        .actions {
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: var(--dui-spacing-small);
                        }

                        .entries-list {
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;
                            overflow: auto;

                            .entries {
                                display: flex;
                                flex-direction: column;
                                gap: var(--dui-spacing-large);
                            }
                        }
                    }

                    .card-container {
                        display: flex;
                        flex-basis: 50%;
                        flex-direction: column;
                        flex-grow: 1;
                        gap: var(--dui-spacing-extra-large);
                        padding-right: var(--dui-spacing-extra-small);
                        padding-left: var(--dui-spacing-extra-small);
                        overflow: auto;
                    }
                }
            }
        }
    }
}
