.story-analysis-modal {
    display: flex;
    overflow: auto;
    --width-left-container: 36rem;

    .modal-body {
        display: flex;
        flex-grow: 1;
        border-top: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        gap: var(--dui-spacing-medium);
        overflow: auto;

        .left-panel {
            flex-basis: var(--width-left-container);
            flex-shrink: 0;
            border-right: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            background-color: transparent;
            padding: 0;
            overflow: auto;

            .content {
                display: flex;
                flex-direction: column;
                overflow: auto;

                .stats {
                    flex-shrink: 0;
                    border-radius: 0.25rem;
                    min-height: 6rem;
                }

                .visualization {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    border-radius: 0.25rem;
                    background-color: var(--dui-color-foreground);
                    overflow: auto;

                    .header {
                        border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                    }

                    .tab {
                        font-size: var(--dui-font-size-large);
                        font-weight: var(--dui-font-weight-regular);
                    }

                    .tab-panel-container {
                        display: flex;
                        flex-grow: 1;

                        .tab-panel {
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;
                            background-color: var(--dui-color-foreground);
                            padding-top: var(--dui-spacing-medium);
                            overflow: auto;
                            gap: var(--dui-spacing-small);

                            .context-actions {
                                display: flex;
                                padding-top: var(--dui-spacing-small);
                                gap: var(--dui-spacing-medium);
                            }

                            .word-tree-container {
                                display: flex;
                                flex-grow: 1;
                            }
                        }
                    }
                }
            }
        }

        .expand-charts-button {
            align-items: flex-start;
            border: none;
            border-right: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            border-radius: 0;
            background-color: var(--dui-color-foreground);
            padding: var(--dui-spacing-medium);
            color: var(--dui-color-text);

            >* {
                height: auto;
            }
            .button-text {
                display: flex;
                align-items: flex-end;
                transform: rotate(180deg);
                padding: var(--dui-spacing-medium) 0;
                text-transform: capitalize;
                gap: var(--dui-spacing-small);
                writing-mode: vertical-rl;
            }
        }

        .collapse-charts-button {
            margin: var(--dui-spacing-small);
            color: var(--dui-color-accent);
            font-size: var(--dui-font-size-extra-large);
        }

        .right {
            display: flex;
            flex-basis: 50%;
            flex-grow: 1;
            padding: var(--dui-spacing-medium) 0;
            gap: var(--dui-spacing-medium);
            overflow: auto;

            .markdown-container {
                display: flex;
                flex-direction: column;

                .title {
                    padding-bottom: var(--dui-spacing-small);
                    font-size: var(--dui-font-size-large);
                    font-weight: var(--dui-font-weight-bold);
                }

                .editor {
                    display: flex;
                    flex-grow: 1;
                    gap: var(--dui-width-separator-thin);

                    .label-container {
                        padding-bottom: var(--dui-spacing-small);
                        color: var(--dui-color-text);
                        font-size: var(--dui-font-size-large);
                        font-weight: var(--dui-font-weight-bold);
                    }
                }
            }

            .report-text-container {
                display: flex;
                flex-grow: 1;
                overflow: auto;

                .input-section {
                    display: flex;
                    align-items: stretch;
                    flex-grow: 1;
                    padding-right: var(--dui-spacing-super-small);
                    padding-left: var(--dui-spacing-super-small);
                }
            }

            .entries-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: auto;

                .actions {
                    display: flex;
                    flex-shrink: 0;
                    justify-content: space-between;
                    padding-bottom: var(--dui-spacing-small);

                    .title {
                        padding-bottom: var(--dui-spacing-small);
                        font-size: var(--dui-font-size-large);
                        font-weight: var(--dui-font-weight-bold);
                    }
                }

                .entries {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    padding: 0 var(--dui-spacing-small);
                    overflow: auto;
                    gap: var(--dui-spacing-large);

                    .entry {
                        flex-shrink: 0;
                    }
                }
            }

            .card-container {
                display: flex;
                flex-basis: 50%;
                flex-direction: column;
                flex-grow: 1;
                gap: var(--dui-spacing-extra-large);
                padding-right: var(--dui-spacing-extra-small);
                padding-left: var(--dui-spacing-extra-small);
                overflow: auto;
            }
        }
    }
}
