.matrix-two-d-edit-widget {
    display: flex;
    flex-direction: column;
    border-right: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    overflow: auto;

    >.header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: var(--spacing-small) 0;

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
        }

        .actions {
            flex-shrink: 0;
            padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

            .button {
                margin: var(--spacing-small);
            }
        }
    }

    >.content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .non-field-errors {
            flex-shrink: 0;
        }

        .title-input {
            flex-shrink: 0;
            margin: var(--spacing-small) var(--spacing-medium);
        }

        .meta-inputs {
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

            %input-group {
                flex-basis: 50%;
                padding: calc(var(--spacing-small) - var(--spacing-extra-small)) calc(var(--spacing-medium) - var(--spacing-small));

                >.heading {
                    padding: var(--spacing-extra-small) var(--spacing-small);
                    text-transform: none;
                    font-size: var(--font-size-medium);
                    font-weight: var(--font-weight-bold);
                }

                >.content {
                    display: flex;

                    .font-size-input {
                        margin: var(--spacing-extra-small) var(--spacing-small);
                    }

                    .width-input {
                        margin: var(--spacing-extra-small) var(--spacing-small);
                    }

                    .height-input {
                        margin: var(--spacing-extra-small) var(--spacing-small);
                    }

                    .orientation-input {
                        margin: var(--spacing-extra-small) var(--spacing-small);
                    }

                    .checkbox-input {
                        margin: var(--spacing-extra-small) var(--spacing-small);
                    }
                }

            }

            .title-row-inputs {
                @extend %input-group;
            }

            .title-column-inputs {
                @extend %input-group;
            }

            .sub-title-column-inputs {
                @extend %input-group;
            }

            .enable-setting-inputs {
                @extend %input-group;

                .content {
                    flex-direction: column;
                }
            }
        }

        .children-inputs {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .tabs {
                flex-shrink: 0;
            }

            .tab-content {
                flex-grow: 1;
                overflow: auto;
            }
        }
    }

    .edit-content {
        flex-grow: 1;
    }
}
