.matrix-two-d-edit-widget {
    display: flex;
    flex-direction: column;
    border-right: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: var(--spacing-small) 0;

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
        }

        .actions {
            flex-shrink: 0;

            .button {
                margin-right: var(--spacing-medium);
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .non-field-errors {
            flex-shrink: 0;
        }

        .title-input {
            flex-shrink: 0;
            margin: var(--spacing-medium);
        }

        .meta-inputs {
            display: flex;
            flex-shrink: 0;
            padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));

            .title-column-width-input {
                margin: 0 var(--spacing-small);
            }

            .sub-title-column-width-input {
                margin: 0 var(--spacing-small);
            }

            .title-row-height-input {
                margin: 0 var(--spacing-small);
            }
        }

        .tabs {
            flex-shrink: 0;
        }

        .tab-content {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
