@import '~base-scss/base';

.edit-field-modal {
    width: 720px;

    .edit-field-modal-body {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 60vh;

        .tabs {
            flex-shrink: 0;
        }

        .sheet {
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}
