.subdimension-row {
    display: flex;
    align-items: center;

    .inputs {
        flex-grow: 1;

        .top {
            display: flex;
            padding: var(--spacing-small) 0;

            .title-input {
                flex-grow: 1;
                margin: 0 var(--spacing-small);
            }

            .font-size-input {
                flex-shrink: 0;
                margin: 0 var(--spacing-small);
                width: 42px; // TODO: use vars
            }
        }

        .bottom {
            padding: var(--spacing-small);
        }
    }

    .delete-button {
        flex-shrink: 0;
        margin: 0 var(--spacing-small);
    }
}
