@import '~base-scss/utils';

.user-profile-edit-form {
    display: flex;
    position: relative;
    flex-direction: column;

    .gallery-image {
        margin: var(--spacing-medium) auto;
        width: 150px;
        height: 150px;
    }

    .gallery-image-select {
        margin: auto;
        width: auto;

        // FIXME: use component props for primary styling
        :global {
            label {
                @extend %button-like-link;
                background-color: var(--color-primary);
                color: var(--color-text-on-primary);
            }
        }
    }

    .display-picture {
        :global {
            .image-input-preview {
                height: 200px;
            }
        }
    }

    .list-selection {
        display: flex;
        flex-direction: column;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: var(--spacing-medium);
        }
    }
}
