@import '~base-scss/utils';

.lead-grouped-entries {
    .header {
        display: flex;
        align-items: center;
        z-index: 1;
        box-shadow: 0 0 var(--radius-blur-medium) var(--radius-spread-medium) var(--color-shadow-medium);
        background-color: var(--color-background-header);
        color: var(--color-text-on-background-header);

        .heading {
            display: flex;
            align-items: baseline;
            flex-grow: 1;
            overflow: hidden;

            .title {
                padding: var(--spacing-small-alt) var(--spacing-small-alt) var(--spacing-small-alt) var(--spacing-medium);
                overflow: hidden;
                text-transform: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: var(--font-size-large);
                font-weight: var(--font-weight-normal);
            }

            .date {
                flex-shrink: 0;
                padding: var(--spacing-small);
                color: var(--color-text-label);
                font-size: var(--font-size-medium);
            }
        }

        .number-of-entries {
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-medium);
            text-align: right;
        }

        .edit-entry-link {
            @include button-like-link(var(--color-primary));
            flex-shrink: 0;
            margin-right: var(--spacing-medium);
        }
    }

    .entry-list {
        display: inline-block;
        min-width: 100%;
    }
}
