@import '~base-scss/base';

.lead-grouped-entries {
    // border-bottom: $width-separator-thin solid $color-separator;

    .header {
        display: flex;
        align-items: center;
        z-index: 1;
        box-shadow: 0 0 $radius-blur-medium $radius-spread-medium $color-shadow-medium;
        background-color: $color-background-header;
        color: $color-text-on-background-header;

        .heading {
            display: flex;
            align-items: baseline;
            flex-grow: 1;
            overflow: hidden;

            .title {
                padding: $spacing-small-alt $spacing-small-alt $spacing-small-alt $spacing-medium;
                overflow: hidden;
                text-transform: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: $font-size-large;
                font-weight: $font-weight-normal;
            }

            .date {
                flex-shrink: 0;
                padding: $spacing-small;
                color: $color-text-label;
                font-size: $font-size-medium;
            }
        }

        .number-of-entries {
            flex-shrink: 0;
            padding: $spacing-small $spacing-medium;
            width: 5ch;
            text-align: right;
            font-family: $font-family-monospace;
        }

        .edit-entry-link {
            display: flex;
            align-items: center;
            align-self: stretch;
            flex-shrink: 0;
            justify-content: center;
            background-color: $color-primary;
            padding: $spacing-small $spacing-medium;
            color: $color-text-on-primary;
            font-size: $font-size-large;
        }
    }

    .entry-list {
        display: inline-block;
        min-width: 100%;
    }
}
