
.lead-grouped-entries {
    // border-bottom: var(--width-separator-thin) solid var(--color-separator);

    .header {
        display: flex;
        align-items: center;
        z-index: 1;
        box-shadow: 0 0 var(--radius-blur-medium) var(--radius-spread-medium) var(--color-shadow-medium);
        background-color: var(--color-background-header);
        color: var(--color-text-on-background-header);

        .heading {
            display: flex;
            align-items: baseline;
            flex-grow: 1;
            overflow: hidden;

            .title {
                padding: var(--spacing-small-alt) var(--spacing-small-alt) var(--spacing-small-alt) var(--spacing-medium);
                overflow: hidden;
                text-transform: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: var(--font-size-large);
                font-weight: var(--font-weight-normal);
            }

            .date {
                flex-shrink: 0;
                padding: var(--spacing-small);
                color: var(--color-text-label);
                font-size: var(--font-size-medium);
            }
        }

        .number-of-entries {
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-medium);
            width: 5ch;
            text-align: right;
            font-family: var(--font-family-monospace);
        }

        .edit-entry-link {
            display: flex;
            align-items: center;
            align-self: stretch;
            flex-shrink: 0;
            justify-content: center;
            background-color: var(--color-primary);
            padding: var(--spacing-small) var(--spacing-medium);
            color: var(--color-text-on-primary);
            font-size: var(--font-size-large);
        }
    }

    .entry-list {
        display: inline-block;
        min-width: 100%;
    }
}
