.full-page-header {
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--dui-color-foreground);
    padding: 0 var(--dui-spacing-super-large);

    .icons {
        flex-shrink: unset!important;
        overflow: auto;

        .description-container {
            flex-shrink: unset;
            overflow: auto;

            .description {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .content {
        display: flex;
        align-items: stretch;
        align-self: stretch;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    /*
    .icon-wrapper {
    display: flex;
    align-items: center;
    padding: var(--dui-spacing-small) var(--dui-spacing-medium);

    .icon {
    height: 2rem;
    color: var(--dui-color-brand);
    }
    }
     */
}
