.full-page-header {
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--dui-color-foreground);
    padding: 0 var(--dui-spacing-super-large);
    overflow: auto;
    --gap: var(--dui-spacing-large);
    gap: var(--gap);

    .heading-section {
        display: flex;
        align-items: center;
        padding: var(--dui-spacing-medium) 0;
        overflow: auto;
        gap: var(--gap);

        .app-brand {
            flex-shrink: 0;
            overflow: auto;
            color: var(--dui-color-brand);

            .logo {
                height: var(--dui-font-size-super-large);
            }
        }

        .heading-container {
            flex-grow: 1;
            overflow: auto;

            .heading {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .description-container {
            flex-grow: 0.5;
            overflow: auto;

            .description {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .menu-section {
        display: flex;
        align-self: stretch;
        flex-grow: 1;
        justify-content: center;
    }

    .actions-section {
        display: flex;
        flex-shrink: 0;
    }
}
