
--width-region-detail-view: 280px;
--height-region-detail-max: 320px;

--position-top: 42px;
--position-right: var(--spacing-small-alt);

.region-detail-view {
    @include shadow-small;
    display: flex;
    position: absolute;
    top: var(--position-top);
    right: var(--position-right);
    flex-direction: column;
    z-index: var(--z-index-region-detail-view);
    background-color: var(--color-foreground);
    width: var(--width-region-detail-view);
    max-height: var(--height-region-detail-max);
    color: var(--color-text-on-foreground);

    .heading {
        flex-shrink: 0;
        padding: var(--spacing-small);
        color: var(--color-primary);
    }

    .content {
        display: table;
        flex-grow: 1;
        overflow-y: auto;

        .row {
            display: table-row;
            background-color: var(--color-background-row-alt);
            // color: var(--color-text-on-background-row-alt);

            .title {
                display: table-cell;
                padding: var(--spacing-small);
                text-transform: uppercase;
                color: var(--color-text-label);
                font-size: var(--font-size-small);

                &::after {
                    content: ':';
                }
            }

            .value {
                display: table-cell;
                padding: var(--spacing-extra-small) var(--spacing-medium);
                width: 100%;
                font-size: var(--font-size-medium-alt);
            }

            &:nth-child(odd) {
                background-color: var(--color-background-row);
                // color: var(--color-text-on-background-row)
            }
        }
    }

}
