.entry-card {
    display: flex;
    border-radius: var(--dui-border-radius-card);
    background-color: var(--dui-color-foreground);

    .source-details {
        flex-grow: 1;
        background-color: transparent;

        .meta-section {
            padding: var(--dui-spacing-medium) 0;
        }
    }

    &.expanded {
        position: relative;

        .source-details {
            flex-basis: 50%;
        }

        .vertical-separator {
            position: absolute;
            top: var(--dui-spacing-extra-large);
            left: 50%;
            background-color: var(--dui-color-separator);
            width: var(--dui-width-separator-thin);
            height: calc(100% - var(--dui-spacing-extra-large) * 2);
        }

        .tags-container {
            flex-basis: 50%;
            background-color: transparent;

            .entry-tags {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                --height-entry-item: unset;

                .section {
                    flex-basis: unset;
                    width: unset;
                }
            }
        }
    }
}
