.entry-card {
    display: flex;
    position: relative;
    border-radius: var(--dui-border-radius-card);
    background-color: var(--dui-color-foreground);

    .source-details {
        flex-grow: 1;
        background-color: transparent;

        .meta-section {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-small);
        }
    }

    &.expanded {
        .source-details {
            flex-basis: 50%;
            flex-grow: unset;
        }

        .vertical-separator {
            --top: var(--dui-spacing-extra-large);
            margin: var(--top) 0;
            background-color: var(--dui-color-separator);
            width: var(--dui-width-separator-thin);
            height: calc(100% - var(--top) * 2);
        }

        .entry {
            flex-basis: 50%;
            background-color: transparent;
        }
    }

    .close-button {
        position: absolute;
        top: var(--dui-spacing-medium);
        right: var(--dui-spacing-medium);
    }
}
