.lead-preview {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-foreground);
    overflow-y: auto;

    .bar {
        display: flex;
        flex-shrink: 0;
        border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        padding: var(--dui-spacing-medium);
        gap: var(--dui-spacing-medium);

        .url {
            flex-grow: 1;
        }

        .link,
        .button {
            flex-shrink: 0;
        }
    }

    .content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        outline: 0;
        border: none;
    }
}
