@import '~base-scss/utils';

.add-lead-sources {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .heading {
        margin: 0;
        padding: var(--spacing-medium) var(--spacing-large);
    }

    .file-input {
        padding: var(--spacing-extra-small) var(--spacing-small);
        font-size: var(--font-size-medium-alt);
        
        :global {
            label {
                @include button-like-link(var(--color-primary));
            }
        }
    }

    .add-button {
        padding: var(--spacing-extra-small) var(--spacing-small);
        font-size: var(--font-size-medium-alt);
    }
}
