.projects {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    grid-area: projects;

    >.header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
        padding: var(--spacing-small) var(--spacing-medium);
        height: var(--height-navbar);
    }

    .projects-table {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .table {
            flex-grow: 1;
            border-top: var(--width-separator-thin) solid var(--color-separator);
        }

        .link {
            padding: 0 var(--spacing-medium);
        }

        .badge {
            display: inline-flex;
            margin-left: var(--spacing-small);
        }

        :global {
            .status {
                text-transform: capitalize;
            }
        }
    }
}
