@import '~base-scss/base';

.date-widget {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-extra-small $spacing-small;
    width: 100%;
    height: 100%;
    overflow: auto;
}
