
.entries-list {
    .entries-list-item {
        position: relative;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        border-left: var(--width-separator-thick) solid transparent;
        // padding: var(--spacing-small);

        &.active {
            border-left: var(--width-separator-thick) solid var(--color-accent);
            background-color: var(--color-background-selected);
        }

        .add-entry-list-item {
            display: flex;
            justify-content: space-between;
            outline: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: var(--spacing-medium);
            width: 100%;
            text-align: left;
            font-family: inherit;
            font-size: inherit;

            .entry-excerpt {
                flex-grow: 1;
                padding-right: var(--spacing-large);
                text-align: justify;
            }

            .image {
                max-width: 100%;
                max-height: 128px;
                object-fit: contain;
                pointer-events: none;
            }

            .status-icons {
                display: flex;

                .pending,
                .error,
                .complete,
                .pristine {
                    flex-shrink: 0;
                    margin-left: var(--spacing-small);
                    padding: 0;
                    color: var(--color-text-label);
                    font-size: var(--font-size-medium-alt);
                }

                .pending {
                    animation: spin 1s linear infinite;
                }

                .warning {
                    color: var(--color-warning);
                }

                .error {
                    color: var(--color-danger);
                }

                .complete {
                    color: var(--color-success);
                }
            }

            &:disabled {
                .image {
                    opacity: .5;
                }
            }
        }

        .remove-button {
            display: none;
            position: absolute;
            top: var(--spacing-small);
            right: var(--spacing-small);
        }

        &:hover {
            .add-entry-list-item {
                .status-icons {
                    opacity: 0;
                }
            }

            .remove-button {
                display: initial;
                opacity: 1;
                animation: fade .5s linear;
            }
        }

        &:not(.marked-for-delete) {
            &:hover {
                background-color: var(--color-background-hover);
            }
        }
    }
}
