.source-details {
    display: flex;
    flex-grow: 1;
    padding: calc(var(--dui-spacing-super-large) - var(--dui-spacing-medium));
    --width-preview: 560px;

    .preview {
        flex-basis: var(--width-preview);
        flex-shrink: 0;
        margin: var(--dui-spacing-medium);
        border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    }

    .form-container {
        flex-grow: 1;
        margin: var(--dui-spacing-medium);
        border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        overflow-y: auto;
    }
}
