@import '~base-scss/utils';


%base {
    display: inline-block;
    padding: var(--spacing-extra-small) var(--spacing-small);
}

%link {
    @extend %base;
    color: var(--color-text-label);
}

.action-buttons {
    display: flex;

    .action-group {
        flex-shrink: 0;

        &:not(:last-child) {
            padding: 0 var(--spacing-small);
        }

        button {
            @extend %base;
        }

        .add-entry-link,
        .add-assessment-link {
            @extend %link;
        }

        .add-entry-link {
            color: var(--color-accent);
        }

        .add-assessment-link {
            color: var(--color-info);
        }
    }
}

