@import '~base-scss/base';

$width-notification: 520px;
$display-picture-size: 48px;

.link {
    margin: 0;
    color: $color-accent;
}

.project-join-item {
    display: flex;
    position: relative;
    margin: auto;
    border-bottom: $width-separator-thin solid $color-separator;
    padding: $spacing-extra-small $spacing-medium;
    width: $width-notification;

    .display-picture {
        flex-shrink: 0;
        margin: $spacing-medium 0;
        border: $width-separator-thin solid $color-accent;
        border-radius: 50%;
        width: $display-picture-size;
        height: $display-picture-size;
    }

    .details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: $spacing-medium;

        .description {
            padding: $spacing-extra-small $spacing-medium;
        }

        .date {
            padding: $spacing-extra-small $spacing-medium;
            color: $color-text-label;
            font-size: $font-size-small;

            .label {
                margin-right: $spacing-extra-small;
                text-transform: uppercase;

                &:after {
                    content: ':';
                }
            }
        }

        .action-buttons {
            display: flex;
            justify-content: flex-end;
            padding: $spacing-small $spacing-medium;

            .button {
                margin-left: $spacing-medium;
            }
        }
    }
}
