@import '~base-scss/base';

$display-picture-size: 42px;

.link {
    @extend %accent-color-link;
}

.project-join-item {
    border-bottom: $width-separator-thin solid $color-separator;
    padding: $spacing-small $spacing-medium;

    .top {
        display: flex;

        .display-picture {
            flex-shrink: 0;
            margin: $spacing-medium 0;
            border: $width-separator-thin solid $color-accent;
            border-radius: 50%;
            width: $display-picture-size;
            height: $display-picture-size;
        }

        .details {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: $spacing-medium;

            .description {
                padding: $spacing-extra-small $spacing-medium;
            }

            .date {
                padding: $spacing-extra-small $spacing-medium;
                color: $color-text-label;

                >span {
                    display: inline-block;
                    margin-right: $spacing-small;
                    color: $color-text;
                }
            }

            .action-buttons {
                display: flex;

                .button {
                    margin-left: $spacing-medium;
                }
            }
        }
    }

    .action-buttons {
        .button {
            margin-right: $spacing-medium;
            font-size: $font-size-medium;
        }
    }
}
