.toggle-entry-approval {
    display: flex;

    .icon {
        font-size: var(--dui-font-size-large);
    }

    &.approved {
        .icon {
            color: var(--color-success);
        }
    }
}

.comment-modal {
    width: 400px;
}
