@import '~base-scss/utils';


.form-container {
    .edit-admin-level-form {
        .admin-level-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .text-input {
                flex-basis: 100%;
                background-color: transparent;
            }

            .select-input {
                margin-bottom: var(--spacing-small);
            }

            .current-upload {
                display: flex;
                align-items: center;
                margin-bottom: var(--spacing-medium);
                text-transform: uppercase;
                color: var(--color-text-label);

                >p:after {
                    margin-right: var(--spacing-small);
                    content: ':';
                }
            }

            .no-file-upload {
                display: flex;
                align-items: center;
                margin-bottom: var(--spacing-medium);
                text-transform: uppercase;
                color: var(--color-text-label);
            }
        }
    }

    .action-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-container {
            display: flex;
            align-items: center;

            >* {
                margin-right: var(--spacing-medium-alt);
            }

            .geo-file {
                width: auto;

                :global {
                    label {
                        @include button-like-link(var(--color-accent));
                    }
                }

                .load {
                    padding: var(--spacing-small);
                }

                i {
                    margin-right: var(--spacing-small);
                }

                >p {
                    display: none;
                }

                a {
                    margin: 0 var(--spacing-small);
                    color: var(--color-primary);
                }
            }
        }

        .right-container {
            display: flex;
            align-items: center;

            >* {
                margin-left: var(--spacing-medium-alt);
            }
        }
    }
}
