.project-content {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-large);

    .tabs {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
        padding: 0 var(--dui-spacing-medium);

        .tab {
            display: flex;
            align-items: center;
            border-top: var(--dui-width-separator-medium) solid transparent;
            padding: var(--dui-spacing-medium);
            line-height: 0.6;
            font-size: var(--dui-font-size-extra-large);
        }
    }
}
