.project-content {
    display: flex;
    flex-direction: column;
    padding: var(--dui-spacing-medium);

    .tabs {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;

        .tab {
            border-bottom: none;
        }
    }

    .chart-container {
        flex-shrink: 0;

        .content {
            flex-shrink: 0;
            height: 25rem;
            overflow: unset;

            .responsive-container {
                height: 100%;
            }
        }
    }
}
