.arys {
    .header {
        .filters {
            display: flex;
            flex-grow: 1;

            :global {
                .arys-filter {
                    margin: var(--spacing-small);
                }

                .button {
                    align-self: flex-end;
                    flex-shrink: 0;
                    margin: var(--spacing-small);
                }
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        border-top: 0;
        overflow: auto;

        .table-container {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--color-foreground);
            overflow-y: auto;

            .arys-table {
                flex-grow: 1;

                :global {
                    .header {
                        position: sticky;
                        top: 0;
                    }

                    .capitalize {
                        text-transform: capitalize;
                    }

                    .icon-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: var(--font-size-large);

                        a {
                            color: var(--color-accent);
                        }
                    }

                    .title {
                        width: 30%;
                    }

                    .actions {
                        width: 150px;
                    }
                }
            }

            .empty-link-message {
                display: block;
                margin: var(--spacing-medium) 0;
                text-transform: none;
                color: var(--color-accent);
            }
        }
    }

    .footer {
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;

        .pager {
            display: flex;
            justify-content: center;
        }
    }
}


