.sector-title {
    display: flex;
    align-items: center;
    width: 100%;

    .title {
        flex-grow: 1;
        padding: var(--spacing-medium);
        text-transform: capitalize;

        &.has-error {
            color: var(--color-danger);
        }
    }

    .edit-button {
        flex-shrink: 0;
    }

    .delete-button {
        flex-shrink: 0;
    }
}
