.dashboard {
    background-color: var(--dui-color-foreground);
    padding-right: unset;
    padding-left: unset;
    overflow-y: auto;

    .header {
        padding-right: var(--dui-spacing-super-large);
        padding-left: var(--dui-spacing-super-large);

        .heading-description {
            display: flex;
            align-items: center;
            gap: var(--dui-spacing-small);

            .date-range-output {
                flex-grow: 1;
            }
        }

        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(359deg);
            }
        }

        .loading {
            animation: rotation 500ms infinite linear;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        padding-right: var(--dui-spacing-super-large);
        padding-left: var(--dui-spacing-super-large);
        gap: var(--dui-spacing-large);
        overflow: unset;
    }
}
