.widget-preview {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;

        .header {
            align-items: center;
            flex-grow: 1;
        }
        .actions {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: var(--spacing-small);

            &> * {
                margin: 0 var(--spacing-small);
            }
        }
    }
}
