.leads-table {
    .table {
        border-top: var(--width-separator-thin) solid var(--color-separator);
        overflow: auto;

        :global {
            .select {
                max-width: 56px;
                white-space: nowrap;
            }

            .createdAt {
                white-space: nowrap;
            }
        }

        .select-all-checkbox {
            max-width: 56px;
            white-space: nowrap;
        }
    }

    .pager {
        display: flex;
        justify-content: flex-end;
        border-top: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small);
    }
}
