.lead-edit-modal {
    width: 90vw;
    height: 90vh;
    --width-preview: 560px;

    .modal-body {
        display: flex;

        .preview-container {
            display: flex;
            flex-basis: var(--width-preview);
            flex-direction: column;
            flex-shrink: 0;
            margin: var(--dui-spacing-medium);
            border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            padding: 0;
            overflow-y: auto;

            .preview {
                flex-grow: 1;
            }
        }

        .form-container {
            flex-grow: 1;
            margin: var(--dui-spacing-medium);
            border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            overflow-y: auto;
        }
    }
}
