@import '~base-scss/base';

$width-min-inputs-container: 320px;

.general {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow-y: auto;

    .inputs-container {
        flex-basis: 40%;
        min-width: $width-min-inputs-container;

        .header {
            display: flex;
            flex-shrink: 0;
            padding: $spacing-large;

            .non-field-errors {
                flex-grow: 1;
            }

            .action-buttons {
                flex-shrink: 0;

                .button {
                    margin-left: $spacing-medium;
                }
            }
        }

        .content {
            flex-shrink: 0;
            padding: $spacing-large;

            .start-date,
            .end-date,
            .name {
                margin-bottom: $spacing-medium;
            }

            .description {
                :global .input {
                    resize: none;
                }
            }
        }
    }

    .visualizations {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        background-color: $color-foreground;
    }
}
