@import '~base-scss/base';

$width-min-inputs-container: 320px;
$width-dashboard: 760px;
$width-min-dashboard: 480px;
$width-delete-button: 196px;

.general {
    display: flex;
    position: relative;
    flex-grow: 1;
    background-color: $color-foreground-light;
    overflow-y: auto;

    .form {
        display: flex;
        flex-basis: calc(calc(100% - #{$width-dashboard}) / 2);
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        .inputs-container {
            min-width: $width-min-inputs-container;

            .header {
                display: flex;
                flex-shrink: 0;
                padding: $spacing-large;

                .non-field-errors {
                    flex-grow: 1;
                }

                .action-buttons {
                    flex-shrink: 0;

                    .button {
                        margin-left: $spacing-medium;
                    }
                }
            }

            .content {
                flex-shrink: 0;
                padding: $spacing-large;

                .start-date,
                .end-date,
                .name {
                    margin-bottom: $spacing-medium;
                }

                .description {
                    :global .input {
                        resize: none;
                    }
                }
            }
        }

        .bottom-container {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            padding: $spacing-medium;
            background-color: $color-foreground-alt;
            border-top: $width-separator-thin solid $color-separator;

            .info {
                color: $color-primary;
            }

            .info-text {
                color: $color-text-disabled;
                padding: 0 $spacing-medium 0 $spacing-small;
            }

            .delete-button {
                width: $width-delete-button;
            }
        }
    }

    .dashboard {
        display: flex;
        width: $width-dashboard;
        border-right: $width-separator-thin solid $color-separator;
        border-left: $width-separator-thin solid $color-separator;
        min-width: $width-min-dashboard;
    }

    .activity-log {
        display: flex;
        flex-basis: calc(calc(100% - #{$width-dashboard}) / 2);
    }
}
