@import '~base-scss/base';

$width-min-inputs-container: 320px;
$width-dashboard: 760px;
$width-min-dashboard: 480px;

.general {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow-y: auto;

    .form {
        flex-basis: calc(calc(100% - #{$width-dashboard}) / 2);

        .inputs-container {
            min-width: $width-min-inputs-container;

            .header {
                display: flex;
                flex-shrink: 0;
                padding: $spacing-large;

                .non-field-errors {
                    flex-grow: 1;
                }

                .action-buttons {
                    flex-shrink: 0;

                    .button {
                        margin-left: $spacing-medium;
                    }
                }
            }

            .content {
                flex-shrink: 0;
                padding: $spacing-large;

                .start-date,
                .end-date,
                .name {
                    margin-bottom: $spacing-medium;
                }

                .description {
                    :global .input {
                        resize: none;
                    }
                }
            }
        }
    }

    .dashboard {
        display: flex;
        flex-basis: $width-dashboard;
        min-width: $width-min-dashboard;
    }

    .activity-log {
        display: flex;
        flex-basis: calc(calc(100% - #{$width-dashboard}) / 2);
    }
}
