@import '~base-scss/base';

$width-inputs-container: 280px;
$width-activity-log: 320px;
$width-dashboard-min: 480px;

.general {
    display: flex;
    position: relative;
    flex-grow: 1;
    background-color: $color-foreground;
    overflow: auto;

    .form {
        display: flex;
        flex-basis: $width-inputs-container;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: space-between;
        overflow: auto;

        .inputs-container {
            .header {
                display: flex;
                flex-shrink: 0;
                padding: $spacing-large;

                .non-field-errors {
                    flex-grow: 1;
                }

                .action-buttons {
                    flex-shrink: 0;

                    .button {
                        margin-left: $spacing-medium;
                    }
                }
            }

            .content {
                flex-shrink: 0;
                padding: $spacing-large;

                .start-date,
                .end-date,
                .name {
                    margin-bottom: $spacing-medium;
                }

                .description {
                    :global .input {
                        resize: none;
                    }
                }
            }
        }
    }

    .dashboard {
        display: flex;
        flex-grow: 1;
        border-right: $width-separator-thin solid $color-separator;
        border-left: $width-separator-thin solid $color-separator;
        min-width: $width-dashboard-min;
        overflow: auto;
    }

    .activity-log {
        display: flex;
        flex-basis: $width-activity-log;
        flex-grow: 0;
        flex-shrink: 0;
    }
}
