.base {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .navbar {
        flex-shrink: 0;
        height: 3.4rem;
    }

    .view,
    .init {
        flex-grow: 1;
        overflow: auto;
    }

    .alert-container {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        width: 20rem;
    }
}
