.base {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: var(--dui-font-size-medium);

    --color-background-mapbox-controls: rgba(255, 255, 255, 0.6);
    --color-nlp-tag: #5f54ab;

    .navbar {
        flex-shrink: 0;
        height: 64px;

        &:not(.hidden) {
            display: flex;
        }

        &.hidden {
            display: none;
        }
    }

    .init {
        flex-grow: 1;
        overflow: auto;
    }

    .view {
        flex-grow: 1;
        overflow: auto;
    }

    .alert-container {
        position: fixed;
        right: var(--dui-spacing-large);
        bottom: var(--dui-spacing-large);
        z-index: 1;
        width: 24rem;
    }

    .zendesk-help-button {
        position: fixed;
        bottom: var(--dui-spacing-extra-large);
        left: 0;
        transform: rotate(90deg) translateX(-100%);
        transform-origin: 0 100%;
        border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        border-bottom: 0;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        background-color: var(--dui-color-surface-information);
        padding: 0 var(--dui-spacing-small);
        font-size: var(--dui-font-size-extra-small);
        font-weight: var(--dui-font-weight-regular);
    }
}
