:root {
    --width-word-category-list: 240px;
}

.word-categories {
    display: flex;
    position: relative;
    flex-grow: 1;

    .word-category-list {
        flex-basis: var(--width-word-category-list);
        flex-shrink: 0;
        border-right: var(--width-separator-thin) solid var(--color-separator);
    }

    .details {
        position: relative;
        flex-grow: 1;
        overflow: auto;
    }

    .no-word-category-message {
        flex-grow: 1;
        height: auto;
    }
}
