:root {
    --color-text-on-primary: get-text-color(var(--color-primary));
    --width-message-max: 540px;
}

.four-hundred-three {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 2;

    .deep-logo {
        margin-bottom: var(--spacing-large);
        width: 256px;
        height: 256px;
        color: var(--color-text-disabled);
    }

    .heading {
        color: var(--color-danger);
        font-size: var(--font-size-super-large-alt);
        font-weight: var(--font-weight-bold);
    }

    .message {
        margin: var(--spacing-large) 0;
        max-width: var(--width-message-max);
        text-align: center;
        font-size: var(--font-size-large-alt);
    }
}
