
.time-range {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;

    .inputs {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-wrap: wrap;

        .time-input {
            padding: var(--spacing-extra-small) var(--spacing-small);
        }
    }

    .actions {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }
}
