.framework {
    display: flex;
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    --width-left-container: 320px;

    .left-container {
        flex-shrink: 0;
        background-color: var(--dui-color-background-information);
        padding-left: var(--dui-spacing-super-large);
        width: var(--width-left-container);
        height: 100%;
        overflow-y: auto;

        .filters {
            display: flex;
            flex-direction: column;
            padding: var(--dui-spacing-medium) 0;
            padding-right: var(--dui-spacing-medium);
            overflow-y: auto;
            gap: var(--dui-spacing-medium);
        }

        .framework-list {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            padding: var(--dui-spacing-medium) 0;
            overflow-x: unset;
            overflow-y: auto;

            .item {
                display: flex;
                flex-direction: column;
                border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                background-color: var(--dui-color-background-information);
                padding: var(--dui-spacing-small) var(--dui-spacing-medium);
                gap: var(--dui-spacing-small);
                width: 100%;
                text-align: left;

                .title {
                    font-weight: var(--dui-font-weight-bold);
                }

                .created-on {
                    color: var(--dui-color-text-description);
                    font-size: var(--dui-font-size-small);
                }

                &.selected {
                    background-color: var(--dui-color-surface-information);
                }
            }

            .show-more-button {
                align-self: flex-start;
                padding: var(--dui-spacing-small) var(--dui-spacing-medium);
                color: var(--dui-color-accent);
            }

            .empty-container {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: clamp(320px, 70vh, 720px);
            }
        }
    }

    .main-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--dui-color-background);
        padding: var(--dui-spacing-medium) var(--dui-spacing-large);
        padding-right: var(--dui-spacing-super-large);
        overflow-y: auto;

        .main-container-content {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }

        .selected-framework-details {
            flex-grow: 1;
            overflow-y: auto;
        }

        .no-framework-selected {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            padding: var(--dui-spacing-large) var(--dui-spacing-super-large);
            color: var(--dui-color-text-message);
        }
    }
}
