:root {
    --width-connectors-list: 240px;
}

.modal {
    width: 80vw;
    height: 80vh;

    .right-buttons {
        display: flex;

        .settings-link {
            display: block;
            padding: var(--spacing-small);
            font-size: var(--font-size-large);
        }
    }

    .modal-body {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0;
        overflow-y: auto;

        .main {
            display: flex;
            flex-grow: 1;
            overflow-y: auto;

            .sidebar {
                display: flex;
                flex-basis: var(--width-connectors-list);
                flex-direction: column;
                flex-shrink: 0;
                border-right: var(--width-separator-thin) solid var(--color-separator);
                overflow-y: auto;

                .header {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    flex-wrap: wrap;
                    border-bottom: var(--width-separator-thin) solid var(--color-separator);
                    background-color: var(--color-background-header);
                    padding: var(--spacing-small);
                    color: var(--color-text-on-background-header);

                    .search-input {
                        flex-basis: 100%;
                    }
                }

                .connectors-list {
                    flex-grow: 1;
                    overflow-y: auto;

                    .group {
                        margin-top: var(--spacing-small-alt);
                        border-left: var(--width-separator-thick) solid transparent;
                        padding: var(--spacing-extra-small-alt) var(--spacing-medium);
                    }
                }
            }

            .content {
                flex-grow: 1;
            }

            .empty {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: auto;

                .settings-link {
                    margin-top: var(--spacing-medium);
                    font-size: var(--font-size-super-large-alt);
                }
            }
        }

        .footer {
            display: flex;
            flex-shrink: 0;
            justify-content: flex-end;
            border-top: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-small) var(--spacing-medium-alt);

            button {
                margin-left: var(--spacing-small);
            }
        }
    }
}
