.framework-list-item {
    display: flex;
    align-items: center;

    .title {
        flex-grow: 1;
    }

    .badge {
        display: inline-flex;
        flex-shrink: 0;
    }

    .check {
        flex-shrink: 0;
        padding-left: var(--spacing-small);
        color: var(--color-success);
    }
}
