.input-container {
    display: flex;
    align-items: center;
    background-color: var(--color-foreground);
    padding: var(--spacing-small);
    width: 100%;

    .title {
        flex-grow: 1;
        padding: 0 var(--spacing-extra-small);
    }

    .delete-button {
        flex-shrink: 0;
    }
}
