.entry-item-container {
    display: flex;
    flex-grow: 1;
    background-color: var(--dui-color-white);

    .header {
        display: flex;
        align-items: flex-start;

        .actions {
            display: flex;

            .verification-action {
                margin-right: var(--dui-spacing-small);
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .entry {
            display: flex;
        }
    }
}
