@import '~base-scss/base';

.add-lead {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-container {
            display: flex;
            align-items: center;
        }
    }

    .main-content {
        display: flex;

        .left {
            display: flex;
            flex-basis: 30%;
            flex-direction: column;
            flex-shrink: 0;
            border-right: $width-separator-thin solid $color-separator;
            background-color: $color-foreground-alt;
            overflow-y: hidden;
        }
    }
}
