.add-lead {
    .header {
        display: flex;
        align-items: center;

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
            overflow: hidden;
            text-transform: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .actions {
            flex-shrink: 0;
        }
    }

    .main-content {
        display: flex;
        overflow: auto;

        .sources {
            display: flex;
            flex-shrink: 0;
            border-right: var(--width-separator-thin) solid var(--color-separator);
            width: 15%;

            .lead-buttons {
                flex-grow: 1;
            }
        }

        .main {
            display: flex;
            flex-shrink: 0;
            background-color: var(--color-foreground);
            width: 85%;

            .lead-list {
                flex-direction: column;
                flex-shrink: 0;
                border-right: var(--width-separator-thin) solid var(--color-separator);
                width: 30%;

                .filter {
                    display: flex;
                    flex-shrink: 0;
                    flex-wrap: wrap;
                    border-bottom: var(--width-separator-thin) solid var(--color-separator);
                    background-color: var(--color-foreground-alt);
                    padding: var(--spacing-small);
                }

                .list {
                    flex-grow: 1;
                }
            }

            .lead-detail {
                display: flex;
                position: relative;
                flex-basis: 70%;
                flex-direction: column;
                flex-shrink: 0;
                background-color: var(--color-foreground-alt);
                overflow: auto;

                .top {
                    background-color: var(--color-foreground);
                    height: 40%;
                    min-height: 108px;
                    overflow: auto;
                }

                .bottom {
                    display: flex;
                    flex-direction: column;
                    height: 60%;
                    min-height: 196px;

                    &:empty {
                        display: none;
                    }

                    .lead-preview {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        border-top: var(--width-separator-thin) solid var(--color-separator);
                        overflow: auto;

                    }
                }

                &.text-lead {
                    .top {
                        height: 100%;
                    }

                    .bottom {
                        display: none;
                    }
                }
            }
        }
    }
}
