.matrix-row {
    display: flex;
    align-items: stretch;

    .title {
        display: flex;
        align-items: center;
        flex-basis: var(--width-matrix-1d-title);
        flex-shrink: 0;
        justify-content: center;
        margin: calc(2 * var(--spacing-extra-small)) var(--spacing-extra-small);
        padding: var(--spacing-extra-small) var(--spacing-small);
        font-weight: var(--font-weight-bold);
    }

    .cells {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: var(--spacing-extra-small) 0;
    }

    &.vertical-row {
        align-items: stretch;
        flex-direction: column;
        text-align: center;

        .cells {
            flex-direction: column;
        }
    }


    &.pivoted-row {
        display: flex;
        align-items: stretch;

        .title {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: center;
            transform: rotate(180deg);
            writing-mode: vertical-rl;
        }

        .cells {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-wrap: unset;

            .cell {
                display: flex;
                align-items: stretch;
                flex-basis: 0;
                flex-grow: 1;
                justify-content: center;

                .cell-value {
                    transform: rotate(180deg);
                    writing-mode: vertical-rl;
                }
            }
        }
    }
}
