
.matrix-row {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
    }

    .title {
        flex-basis: var(--width-matrix-1d-title);
        flex-shrink: 0;
        padding: var(--spacing-extra-small) var(--spacing-small);
        font-weight: var(--font-weight-bold);
    }

    .cells {
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: var(--spacing-extra-small) 0;
    }
}
