%tabular-input-base {
    padding: var(--spacing-medium);

    %cell {
        padding: var(--spacing-medium-alt);
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

        .head {
            .row {
                .header {
                    border-bottom: var(--width-separator-thin) solid var(--color-separator);
                    padding: var(--spacing-medium-alt);
                    text-align: left;
                }
            }
        }

        .body {
            .row {
                .section-title-cell {
                    @extend %cell;

                    .section-title-wrapper {
                        display: flex;

                        .section-title {
                            flex-shrink: 0;
                            text-transform: capitalize;
                            color: var(--color-accent);
                            font-weight: var(--font-weight-bold);
                        }

                        .section-non-field-errors {
                            align-items: center;
                            flex-grow: 1;
                            justify-content: flex-start;
                            padding: 0;
                            text-align: initial;
                            font-size: var(--font-size-small);

                            >div {
                                padding: 0 var(--spacing-medium);
                            }
                        }
                    }
                }

                .cell {
                    @extend %cell;
                }
            }
        }
    }
}
