%tabular-input-base {
    padding: $spacing-medium;

    %cell {
        padding: $spacing-medium-alt;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

        .head {
            .row {
                .header {
                    padding: $spacing-medium-alt;
                    &:not(:first-child){
                        border-bottom: $width-separator-thin solid $color-separator;
                    }
                }
            }
        }

        .body {
            .row {
                .section-title {
                    @extend %cell;
                    text-transform: capitalize;
                    color: $color-accent;
                    font-weight: $font-weight-bold;
                }

                .cell {
                    @extend %cell;
                }
            }
        }
    }
}
