%tabular-input-base {
    padding: $spacing-medium;

    %cell {
        padding: $spacing-medium-alt;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

        .head {
            .row {
                .header {
                    border-bottom: $width-separator-thin solid $color-separator;
                    padding: $spacing-medium-alt;
                    text-align: left;
                }
            }
        }

        .body {
            .row {
                .section-title-cell {
                    @extend %cell;

                    .section-title-wrapper {
                        display: flex;

                        .section-title {
                            flex-shrink: 0;
                            text-transform: capitalize;
                            color: $color-accent;
                            font-weight: $font-weight-bold;
                        }

                        .section-non-field-errors {
                            align-items: center;
                            flex-grow: 1;
                            justify-content: flex-start;
                            padding: 0;
                            text-align: initial;
                            font-size: $font-size-small;

                            >div {
                                padding: 0 $spacing-medium;
                            }
                        }
                    }
                }

                .cell {
                    @extend %cell;
                }
            }
        }
    }
}
