@import '~base-scss/base';

.summary {
    display: flex;
    background-color: $color-foreground;
    height: 100%;

    .view {
        flex-grow: 1;
    }

    .tabs {
        flex-basis: 20%;
        flex-shrink: 0;
        border-right: $width-separator-thin solid $color-separator;
    }
}
