
.summary {
    display: flex;
    background-color: var(--color-foreground);
    height: 100%;

    .view {
        flex-grow: 1;
    }

    .tabs {
        flex-basis: 20%;
        flex-shrink: 0;
        border-right: var(--width-separator-thin) solid var(--color-separator);
    }
}
