.assignments {
    background-color: var(--dui-color-white);
    padding: 0;

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: var(--dui-color-background-information);
        height: calc(10em + 25vh);
        overflow-y: auto;
        gap: var(--dui-spacing-medium);
    }
}
