.upload-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: var(--dui-spacing-small);
        padding-left: var(--dui-spacing-medium);
        .icon {
            color: var(--dui-color-accent);
            font-size: var(--dui-font-size-extra-large);
        }
    }

    .actions {
        display: flex;
        padding: 0;
    }
    .content {
        display: flex;
    }
}
