:root {
    --width-dropdown-min: 128px;
}

.community-dropdown {
    min-width: var(--width-dropdown-min);

    .button {
        outline: none;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        text-transform: uppercase;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    .join-link {
        display: flex;
        align-items: center;
        padding: var(--spacing-small);

        .image {
            flex-shrink: 0;
            margin: var(--spacing-small);
            width: 16px;
            height: auto;
        }

        .title {
            flex-grow: 1;
            padding: var(--spacing-small);
            text-align: left;
        }

        &:hover {
            background-color: var(--color-background-hover);
        }
    }
}

.icon {
    font-size: var(--font-size-super-large);
}
