
:root {
    --width-dropdown-min: 120px;
}

.community-dropdown {
    min-width: var(--width-dropdown-min);

    .button {
        @extend %button-base;
        text-transform: uppercase;
    }

    .join-link {
        @include transition-medium();
        display: flex;
        align-items: center;
        padding: var(--spacing-small);

        .image {
            margin: var(--spacing-small) var(--spacing-medium);
        }

        .title {
            padding: var(--spacing-small) var(--spacing-medium);
        }

        &:hover {
            background-color: var(--color-background-hover);
        }
    }
}

.icon {
    font-size: var(--font-size-super-large);
}
