
.ngram {
    flex-grow: 1;
    overflow-y: auto;

    .keyword {
        display: flex;
        align-items: center;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: var(--spacing-small) var(--spacing-medium);

        .title {
            flex-grow: 1;
        }

        .action-buttons {
            flex-shrink: 0;
        }
    }
}
