.metadata-edit {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-medium);

    .expanded-body {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);
    }
}
