.body {
    .report-options {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);

        .container {
            background-color: var(--dui-color-background-information);

            .heading-description {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-small);
            }

            .container-content {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-medium);
            }
        }

        .note {
            margin: 0;
            font-size: var(--dui-font-size-medium);
        }

        .options-container {
            display: flex;
            gap: var(--dui-spacing-large);

            .left {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-large);
            }
        }
    }
}
