.additional-documents {
    display: flex;
    position: relative;
    flex-grow: 1;
    background-color: var(--color-foreground);
    overflow: auto;

    .container {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        width: 100%;

        .baksa {
            flex-grow: 0;
            flex-shrink: 0;
            padding: var(--spacing-medium);
            width: 25%;
            height: 100%;
        }
    }
}

