.project-item {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--dui-border-color-card);
    border-radius: var(--dui-border-radius-card);
    background-color: var(--color-foreground);

    .content {
        display: flex;
        padding: calc(var(--dui-spacing-large) - var(--dui-spacing-small))!important;

        .info {
            flex-basis: 0;
            flex-grow: 0.55;

            .basic-details {
                display: flex;

                .description {
                    flex-basis: 50%;
                    flex-grow: 0;
                    padding: var(--dui-spacing-small) 0;
                    line-height: 1.8;
                }
            }

            .metadata {
                display: flex;

                .column {
                    flex-basis: 0;
                    flex-grow: 1;

                    >* {
                        margin: var(--dui-spacing-medium) 0;
                    }
                }

                .recently-active-list {
                    padding-top: calc(var(--dui-spacing-small) - var(--dui-spacing-super-small));
                    padding-bottom: calc(var(--dui-spacing-small) - var(--dui-spacing-super-small));
                    font-weight: var(--dui-font-weight-medium);

                    .recently-active-item {
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0 calc(-1 * var(--dui-spacing-medium));
                        padding-top: var(--dui-spacing-super-small);
                        padding-bottom: var(--dui-spacing-super-small);

                        .recently-active-user-name {
                            font-weight: var(--dui-font-weight-bold);
                        }

                        .recent-activity-date {
                            color: var(--dui-color-text-label);
                            font-size: var(--dui-font-size-small);
                            font-weight: var(--dui-font-weight-medium);
                        }
                    }
                }
            }
        }

        .charts {
            display: flex;
            flex-basis: 0;
            flex-grow: 0.45;
            flex-wrap: wrap;
            overflow: auto;

            .total-sources {
                align-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                margin: var(--dui-spacing-small);
                background-color: var(--dui-color-background-information);
                width: 7.8rem;

                .bookmark-icon {
                    margin-left: 0;
                }
            }

            .progress-lines {
                flex-grow: 1;
                margin: var(--dui-spacing-small);
                background-color: var(--dui-color-background-information);
                padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small)) calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
            }

            .project-activity-container {
                flex-basis: 100%;
                margin: var(--dui-spacing-small);
                border: var(--dui-width-separator-thin) solid var(--dui-color-separator);

                .chart-header {
                    border: none;
                }

                .chart-container {
                    display: flex;
                    flex-direction: column;
                    height: 240px;

                    .responsive-container {
                        flex-grow: 1;
                    }
                }
            }
        }
    }

    .privacy-badge {
        display: flex;
        padding: calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small)) calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
        text-transform: uppercase;
        color: var(--dui-color-text-label);
        font-size: var(--dui-font-size-small);
        font-weight: var(--font-weight-bold);
    }
}
