.project-item {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--dui-border-color-card);
    border-radius: var(--dui-border-radius-card);
    background-color: var(--color-foreground);

    .content {
        display: flex;
        padding: calc(var(--dui-spacing-large) - var(--dui-spacing-small))!important;

        .info {
            flex-basis: 0;
            flex-grow: 0.55;

            .basic-details {
                display: flex;

                .description {
                    padding: var(--dui-spacing-small) 0;
                    flex-basis: 50%;
                    flex-grow: 0;
                    line-height: 1.8;
                }
            }

            .metadata {
                display: flex;

                .column {
                    flex-basis: 0;
                    flex-grow: 1;

                    >* {
                        margin: var(--dui-spacing-medium) 0;
                    }
                }

                .recently-active-user {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 0 calc(-1 * var(--dui-spacing-small));

                    .name {
                        flex-shrink: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: var(--dui-color-text-dark);
                        font-size: var(--font-size-medium-alt);
                        font-weight: var(--font-weight-bold);
                        padding: var(--dui-spacing-extra-small) var(--dui-spacing-small)
                    }

                    .date {
                        flex-shrink: 0;
                        color: var(--dui-color-label);
                        padding: var(--dui-spacing-extra-small) var(--dui-spacing-small)
                    }
                }
            }
        }

        .charts {
            display: flex;
            flex-basis: 0;
            flex-grow: 0.45;
            flex-wrap: wrap;
            overflow: auto;

            .total-sources {
                align-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                background-color: var(--dui-color-background-information);
                width: 7.8rem;
                margin: var(--dui-spacing-small);

                .bookmark-icon {
                    margin-left: 0;
                }
            }

            .progress-lines {
                flex-grow: 1;
                margin: var(--dui-spacing-small);
                background-color: var(--dui-color-background-information);
                padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small)) calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
            }

            .project-activity-container {
                flex-basis: 100%;
                margin: var(--dui-spacing-small);

                .chart-container {
                    display: flex;
                    flex-direction: column;
                    height: 240px;

                    .responsive-container {
                        flex-grow: 1;
                    }
                }
            }
        }
    }

    .privacy-badge {
        padding: calc(var(--dui-spacing-small) - var(--dui-spacing-extra-small)) calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
        display: flex;
        text-transform: uppercase;
        color: var(--dui-color-text-label);
        font-weight: var(--font-weight-bold);
        font-size: var(--dui-font-size-small);
    }
}
