@import '../../../../stylesheets/base';

$height-edit-modal: 72vh;

.edit-modal {
    width: $width-modal-medium;
    height: $height-edit-modal;

    .body {
        display: flex;
        flex-direction: column;
        padding: 0;

        .title-input-container {
            background-color: $color-foreground-alt;
            padding: $spacing-medium;
        }
    }

    .scale-units {
        display: flex;
        flex-grow: 1;
        padding: 0;

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: space-between;
            // border-top: $width-separator-thin solid $color-separator;
            border-bottom: $width-separator-thin solid $color-separator;
            // background-color: $color-background-header;
            padding: $spacing-small;
        }

        .edit-scale-unit-list {
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}

.edit-scale-unit {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    background-color: $color-foreground;
    padding: $spacing-medium 0;

    .check-button {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        flex-shrink: 0;
        cursor: pointer;

        .label {
            flex-shrink: 0;
            cursor: pointer;
            text-transform: uppercase;
            color: $color-text-label;
            font-size: $font-size-extra-small;
        }
    }
}

.draggable-item {
    z-index: 11111;
}
