
.title-bar {
    display: flex;
    align-items: center;

    .back-button {
        flex-shrink: 0;
    }

    .heading {
        flex-grow: 1;
        padding: 0 var(--spacing-medium);
        overflow: hidden;
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .action-buttons {
        flex-shrink: 0;
        padding-left: var(--spacing-medium);
    }
}
