@import '~base-scss/base';

.title-bar {
    display: flex;
    background-color: $color-background-header;

    .back-button {
        flex-shrink: 0;
        padding: 0 $spacing-medium;
    }

    .heading {
        flex-grow: 1;
        padding: 0 $spacing-medium;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .action-buttons {
        padding: 0 $spacing-medium;
    }
}
