.add-item {
    background-color: var(--dui-color-background-information);
    color: var(--dui-color-accent);

    .title {
        display: flex;
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-extra-small));
        font-weight: var(--dui-font-weight-bold);
    }

    .add-icon {
        color: var(--dui-color-accent);
        font-size: var(--dui-font-size-extra-large);
    }
}

.widget-list {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-extra-small);
    overflow-y: auto;

    .widgets {
        .children {
            border: none;
            padding: 0;

            .more-widgets-list {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-extra-small);
            }
        }
    }
}

