.add-item {
    margin: var(--dui-spacing-small);
    background-color: var(--dui-color-background-information);
    color: var(--dui-color-accent);

    .title {
        display: flex;
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-extra-small));
        font-weight: var(--dui-font-weight-bold);
    }

    .add-icon {
        color: var(--dui-color-accent);
        font-size: var(--dui-font-size-extra-large);
    }
}

.widget-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .widgets {
        margin: var(--dui-spacing-small) 0;

        .children {
            border: none;

            .add-item {
                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

