.add-item {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-small);
    background-color: var(--dui-color-background-information);
    padding: var(--dui-spacing-medium);

    .title {
        font-weight: var(--dui-font-weight-bold);
    }

    .add-icon {
        font-size: var(--dui-font-size-extra-large);
    }

    &.accented {
        .title {
            color: var(--dui-color-accent);
        }

        .add-icon {
            color: var(--dui-color-accent);
        }
    }

}

.widget-list {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-small);
    overflow-y: auto;

    .widgets {
        .header {
            border: none;
            padding: var(--dui-spacing-medium);
        }

        .more-widget-list {
            display: flex;
            flex-direction: column;
            border: none;
            padding: 0;
            gap: var(--dui-spacing-small);
        }
    }
}

