.bulk-actions-bar {
    display: flex;
    position: absolute;
    bottom: var(--dui-spacing-extra-small);
    left: 50%;
    align-items: center;
    transform: translate(-50%, 0%);
    z-index: 1;
    border-radius: 5px;
    background-color: var(--dui-color-accent);
    padding: var(--dui-spacing-medium) var(--dui-spacing-large);
    min-width: 40rem;
    color: var(--dui-color-text-on-accent);
    gap: var(--dui-spacing-small);

    .text {
        flex-grow: 1;
    }

    .button {
        flex-shrink: 0;
    }
}
