.edit-assessment {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;

    .header {
        flex-shrink: 0;
    }

    .container {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        .left-pane {
            flex-shrink: 0;
            width: calc(16rem + 16vw);
        }

        .form {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border-left: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            overflow: auto;
        }
    }
}
