.edit-assessment {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;

    .header {
        flex-shrink: 0;
    }

    .container {
        display: flex;
        flex-grow: 1;

        .left-pane {
            flex-shrink: 0;
            width: calc(16rem + 16vw);
        }
        .form {
            flex-grow: 1;
        }
    }
}
