:root {
    --width-search-list: 240px;
}

%list-base {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;

    .empty-search,
    .empty-list {
        color: var(--color-text-disabled);

        .image {
            opacity: .3;
            width: var(--width-icon-super-large);
            height: var(--width-icon-super-large);
        }
    }
}

.users {
    display: flex;
    position: relative;
    background-color: var(--color-foreground);
    overflow: auto;

    .search-list {
        border-right: var(--width-separator-thin) solid var(--color-separator);
        width: var(--width-search-list);
    }

    .details {
        display: flex;
        flex-direction: column;
        width: calc(100% - var(--width-search-list));
        overflow: auto;

        .user-list {
            @extend %list-base;
            overflow: auto;
        }

        .usergroup-list {
            @extend %list-base;
            border-top: var(--width-separator-thin) solid var(--color-separator);
            overflow: auto;
        }
    }
}

