@import '~base-scss/base';

$width-search-list: 240px;

.users {
    display: flex;
    flex-grow: 1;

    .search-list {
        flex-basis: $width-search-list;
        flex-shrink: 0;
        border-right: $width-separator-thin solid $color-separator;
    }

    .user-details-container {
        position: relative;
        flex-grow: 1;
        overflow: auto;

        .other-users,
        .other-user-groups {
            margin-bottom: $spacing-small;
            background-color: $color-foreground;

            >.heading {
                padding: $spacing-medium;
            }

            .content {
                flex-basis: 100%;
                flex-grow: 1;
                background-color: $color-background-row;
                overflow-y: auto;
            }
        }
    }
}

