.string-panel {
    overflow: auto;

    .sidebar {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}



