.user-dropdown {
    min-width: 196px;
}

.dropdown-menu {
    display: flex;
    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

    .display-picture {
        flex-shrink: 0;
        --size: var(--width-navbar-avatar);
    }

    :global {
        .title {
            flex-grow: 1;
            padding: var(--spacing-small);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.dropdown-item {
    display: flex;
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-medium-alt) var(--spacing-large);
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-family: inherit;
    font-size: inherit;

    .icon {
        flex-basis: var(--width-icon-extra-large);
        flex-shrink: 0;
    }

    .label {
        flex-basis: calc(100% - var(--width-icon-extra-large));
        color: var(--color-text);
    }

    &:hover {
        background-color: var(--color-background-hover);
    }

    &.disabled {
        pointer-events: none;
    }
}


