:root {
    --color-text-on-primary: get-text-color(var(--color-primary));
    --width-message-max: 540px;
    --width-deep-logo: 256px;
    --height-deep-logo: 256px;
}

.project-denied {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .deep-logo {
        margin-bottom: var(--spacing-large);
        width: var(--width-deep-logo);
        height: var(--height-deep-logo);

        path {
            fill: var(--color-text-disabled);
        }
    }

    .heading {
        color: var(--color-danger);
        font-size: var(--font-size-super-large-alt);
        font-weight: var(--font-weight-bold);
    }

    .message {
        margin: var(--spacing-large) 0;
        max-width: var(--width-message-max);
        text-align: center;
        line-height: 2;
        font-size: var(--font-size-large-alt);
    }
}
