@import '~base-scss/base';

$color-text-on-primary: get-text-color($color-primary);
$width-message-max: 540px;
$width-deep-logo: 256px;
$height-deep-logo: 256px;

.project-denied {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .deep-logo {
        margin-bottom: $spacing-large;
        width: $width-deep-logo;
        height: $height-deep-logo;

        path {
            fill: $color-text-disabled;
        }
    }

    .heading {
        color: $color-danger;
        font-size: $font-size-super-large-alt;
        font-weight: $font-weight-bold;
    }

    .message {
        margin: $spacing-large 0;
        max-width: $width-message-max;
        text-align: center;
        line-height: 2;
        font-size: $font-size-large-alt;
    }
}
