@import '~base-scss/base';

.log-item {
    display: flex;
    flex-direction: column;
    border-bottom: $width-separator-thin solid $color-separator;
    padding: $spacing-medium;

    .log {
        color: $color-text-label;

        .value {
            text-transform: capitalize;
            font-weight: $font-weight-bold;
        }
    }

    .meta-data {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        padding-top: $spacing-medium;
        color: $color-text-label;

        .user {
            margin-right: $spacing-large;

            .icon {
                display: inline-block;
                margin-right: $spacing-small;
            }

            .link {
                display: inline-block;
                text-transform: capitalize;
                color: $color-accent;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .date {
            .icon {
                display: inline-block;
                margin-right: $spacing-small;
            }

            .formatted-date {
                display: inline-block;
            }
        }
    }
}
