@import '~base-scss/utils';

:root {
    --color-text-on-navbar: get-text-color(var(--color-navbar));
    --color-text-on-primary: get-text-color(var(--color-primary));
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;

    .menu-item {
        @include transition-medium;
        display: inline-flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        border-top: var(--width-separator-thick) solid transparent;
        border-bottom: var(--width-separator-thick) solid transparent;
        padding: 0 var(--spacing-medium-alt);
        font-weight: var(--font-weight-bold);

        &:hover {
            background-color: var(--color-background-hover);
            color: var(--color-accent);
        }

        &.active {
            border-bottom-color: var(--color-accent);
            background-color: var(--color-background-accent-hint);
            color: var(--color-accent);
            // color: var(--color-text-on-navbar);
        }

        &.disabled {
            pointer-events: none;
            color: var(--color-text-disabled);
        }
    }

    .overflow-menu {
        display: none;
        flex-shrink: 0;

        >button {
            padding: var(--spacing-small);
        }

        &.disabled {
            pointer-events: none;
        }
    }
}

.overflow-menu-item {
    display: block;
    padding: var(--spacing-medium) var(--spacing-medium-alt);

    &:hover {
        background-color: var(--color-background-hover);
    }

    &.active {
        background-color: var(--color-accent);
        color: var(--color-text-on-accent);
    }
}

.navbar-overflow-dropdown {
    min-width: 156px;
}
