
--font-size-help-icon: var(--font-size-super-large);
--width-help-link: var(--font-size-help-icon) + var(--spacing-small-alt);

--width-link-container-max: 240px;

.help-link-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: var(--duration-transition-medium) width ease-in-out;
    width: var(--width-help-link);

    .help-link {
        display: flex;
        align-items: center;
        overflow: hidden;
        text-align: right;

        .icon {
            flex-shrink: 0;
            width: var(--width-help-link);
            text-align: center;
            font-size: var(--font-size-help-icon);
        }

        .text {
            display: none;
            overflow: hidden;
            text-transform: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:hover {
            color: var(--color-accent);
        }
    }

    .add-or-edit-help-link {
        display: none;
        flex-shrink: 0;
        padding: var(--spacing-small-alt);
        font-size: var(--font-size-medium);

        &:hover {
            color: var(--color-accent);
        }
    }

    &:hover {
        width: var(--width-link-container-max);

        .help-link {
            .text {
                display: initial;
            }
        }

        .add-or-edit-help-link {
            display: initial;
        }
    }
}

