.document-preview {
    display: flex;
    flex-grow: 1;
    background-color: unset;
    gap: unset;

    .content {
        display: flex;

        .preview-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .preview {
                display: flex;
                flex-grow: 1;
                padding: 0 var(--dui-spacing-large);
            }
        }
        .side-pane {
            flex-shrink: 0;
            border-left: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            background-color: unset;
            width: 20vw;
        }
    }
}
