
%ngram-selects {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-top: var(--width-separator-medium) solid var(--color-separator);
    background-color: var(--color-foreground);

    .heading {
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .ngram-select-list {
        padding: var(--spacing-small) var(--spacing-medium);

        .ngram-select {
            outline: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            padding: var(--spacing-small) var(--spacing-medium);
            font-family: inherit;

            &.active {
                background-color: var(--color-accent);
                color: var(--color-text-on-accent);
            }
        }
    }
}

.ngrams-tab {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-foreground-alt);

    .ngram-selects {
        @extend %ngram-selects;
    }

    .ngram-list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .ngram {
            display: flex;
            flex-shrink: 0;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-medium);

            .title {
                flex-grow: 1;
            }

            .strength {
                flex-shrink: 0;
            }
        }
    }
}
