@import '~base-scss/utils';

.table {
    display: flex;
    flex-grow: 1;

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;

        .file-error {
            color: var(--color-danger);
        }

        .loading-animation {
            display: flex;
            position: relative;
            align-items: center;
            flex-shrink: 0;
            border: var(--width-separator-thin) solid var(--color-separator);
            border-radius: var(--font-size-large);
            background-color: var(--color-background-disabled);
            padding: var(--spacing-small) var(--spacing-medium);

            .label {
                padding: 0 var(--spacing-extra-small);
            }
        }

        .download-button {
            border: var(--width-separator-thin) solid var(--color-separator);
            border-radius: var(--radius-button-border);
            padding: var(--spacing-small) var(--spacing-small-alt);
            text-transform: uppercase;
            font-family: inherit;
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-bold);

            .icon {
                margin: 0 var(--spacing-extra-small);
            }
        }
    }

    :global {
        .table {
            .thead {
                .mime-type {
                    width: 96px;
                }

                .file {
                    width: 240px;
                }
            }

            .body {
                cursor: pointer;

                .row {
                    &.highlighted {
                        color: var(--color-text-on-accent);

                        .file-download {
                            color: var(--color-text-on-accent);
                        }
                    }

                    &:hover {
                        background-color: var(--color-background-accent-hint);
                        color: var(--color-text);

                        .file-download {
                            color: var(--color-accent);
                        }
                    }
                }

                .cell {
                    position: relative;
                }
            }
        }

        .icon-wrapper {
            display: flex;
            justify-content: center;
        }

        .to-be-started {
            display: flex;
            justify-content: center;
        }
    }
}
