.connector-details-form {
    display: flex;
    position: relative;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-background-header);
        padding: var(--spacing-small);

        .heading {
            display: flex;
            align-items: center;
            flex-grow: 1;
            margin: 0;
            text-transform: capitalize;

            .badge {
                display: inline-block;
                margin-left: var(--spacing-small);
            }
        }

        .action-buttons {
            flex-shrink: 0;

            button {
                margin-left: var(--spacing-medium);
            }
        }
    }

    .content {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 0 var(--spacing-small);
        overflow-y: auto;

        .errors {
            width: 100%;
        }

        .normal-inputs {
            padding: var(--spacing-small);
            width: 40%;
        }

        .tabular-select-inputs {
            padding: var(--spacing-small);
            width: 60%;

            :global {
                .raw-table {
                    border-right: var(--width-separator-thin) solid var(--color-separator);
                    border-bottom: var(--width-separator-thin) solid var(--color-separator);
                    border-left: var(--width-separator-thin) solid var(--color-separator);
                }

                .headers {
                    .header {
                        &.role {
                            width: 160px;
                        }

                        &.actions {
                            width: 72px;
                        }
                    }
                }

                .row {
                    &:last-child {
                        border-bottom: var(--width-separator-thin) solid var(--color-separator);
                    }
                }
            }

            .users {
                :global {
                    .headers {
                        .header {
                            &.role {
                                width: 92px;
                            }

                            &.actions {
                                width: 72px;
                            }

                            &.addedAt {
                                width: 160px;
                            }
                        }
                    }
                }
            }
        }
    }

    .feed-url-container {
        display: flex;
        align-items: center;

        .feed-url {
            flex-grow: 1;
        }

        .loading-animation-container {
            position: relative;

            .loading-animation {
                position: initial;
                flex-shrink: 0;
                background-color: transparent;
                padding-left: var(--spacing-small);
                width: auto;
            }
        }
    }
}
