@import '~base-scss/base';

.connector-details-form {
    display: flex;
    position: relative;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;
        padding: $spacing-small;

        .heading {
            flex-grow: 1;
            margin: 0;
        }

        .action-buttons {
            flex-shrink: 0;

            button {
                margin-left: $spacing-medium;
            }
        }
    }

    .content {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 0 $spacing-small;
        overflow-y: auto;

        .errors {
            width: 100%;
        }

        .normal-inputs {
            padding: $spacing-small;
            width: 40%;
        }

        .tabular-select-inputs {
            padding: $spacing-small;
            width: 60%;

            :global {
                .raw-table {
                    border-right: $width-separator-thin solid $color-separator;
                    border-left: $width-separator-thin solid $color-separator;
                }

                .headers {
                    .header {
                        &.role {
                            width: 160px;
                        }

                        &.actions {
                            width: 72px;
                        }
                    }
                }

                .row {
                    border-bottom: $width-separator-thin solid $color-separator;
                    background-color: $color-foreground;
                }
            }

            .users {
                :global {
                    .headers {
                        .header {
                            &.role {
                                width: 92px;
                            }

                            &.actions {
                                width: 72px;
                            }

                            &.addedAt {
                                width: 160px;
                            }
                        }
                    }
                }
            }
        }
    }

    .feed-url-container {
        display: flex;
        align-items: center;

        .feed-url {
            flex-grow: 1;
        }

        .loading-animation-container {
            position: relative;

            .loading-animation {
                position: initial;
                flex-shrink: 0;
                background-color: transparent;
                padding-left: $spacing-small;
                width: auto;
            }
        }
    }
}
