.summary {
    --gap: var(--dui-spacing-extra-large);

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--gap);

        >* {
            flex-basis: calc(50% - var(--gap) / 2);
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}
