.tagging {
    .sub-navbar {
        display: flex;
        position: relative;
        justify-content: center;

        .nav-links {
            display: flex;

            .link {
                padding: var(--dui-spacing-medium) var(--dui-spacing-extra-large);
                text-transform: capitalize;
                font-size: var(--dui-font-size-medium);
            }
        }
    }
}
