
.subsector-row {
    display: flex;
    align-items: center;
    padding: var(--spacing-small);
    width: 100%;

    .input {
        flex-grow: 1;
        margin-right: var(--spacing-small);
    }

    .delete-button {
        flex-shrink: 0;
    }
}
