@import '~base-scss/base';

.sortable-unit {
    border-top: $width-separator-thin solid $color-separator;
    border-bottom: $width-separator-thin solid $color-separator;

    .drag-handle {
        display: flex;
        align-items: center;
        align-self: stretch;
        background-color: $color-foreground;
        padding: $spacing-small;
    }
}

.condition-edit-modal {
    width: 960px;

    .modal-body {
        display: flex;
        padding: 0;

        .header {
            flex-shrink: 0;
            border-bottom: $width-separator-thin solid $color-separator;
            padding: $spacing-small;
            text-transform: uppercase;
            font-size: $font-size-large;
            font-weight: $font-weight-light;
        }

        .left-container {
            display: flex;
            flex-basis: 30%;
            flex-direction: column;
            border-right: $spacing-extra-small solid $color-separator;

            .widget-list {
                overflow-y: auto;
            }
        }

        .right-container {
            flex-direction: column;
            flex-grow: 1;

            .edit-list {
                overflow-y: auto;

                .sortable-unit {
                    border-top-color: transparent;
                }
            }
        }
    }
}
