:root {
    --spacing-drag-handle: 14px;
    --height-modal-body: 720px;
}

.sortable-unit {
    border-top: var(--width-separator-thin) solid var(--color-separator);
    border-bottom: var(--width-separator-thin) solid var(--color-separator);

    .drag-handle {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        background-color: var(--color-foreground);
        padding: var(--spacing-drag-handle) var(--spacing-small-alt);
    }
}

.condition-edit-modal {
    width: 960px;

    .modal-body {
        display: flex;
        flex-grow: 1;
        padding: 0;
        height: var(--height-modal-body);
        max-height: 80vh;

        .left-container {
            display: flex;
            flex-basis: 30%;
            flex-direction: column;
            flex-shrink: 0;
            border-right: var(--spacing-extra-small) solid var(--color-separator);
            height: 100%;

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: space-between;
                border-bottom: var(--width-separator-thin) solid var(--color-separator);
                padding: var(--spacing-small);
                text-transform: uppercase;
                font-size: var(--font-size-large);
                font-weight: var(--font-weight-light);

                .header-info {
                    cursor: pointer;
                    color: var(--color-info);
                }
            }

            .widget-list {
                flex-grow: 1;
                overflow-y: auto;

                .group {
                    background-color: var(--color-background-row-alt);
                    padding: var(--spacing-small) var(--spacing-medium);
                    font-size: var(--font-size-medium-alt);

                    &:not(:first-child) {
                        margin-top: var(--spacing-medium);
                    }
                }

                .item {
                    border-top: var(--width-separator-thin) solid var(--color-separator);
                }

                .group + .item {
                    border-top: 0;
                }
            }
        }

        .right-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: space-between;
                border-bottom: var(--width-separator-thin) solid var(--color-separator);
                padding: var(--spacing-small);

                .heading {
                    text-transform: uppercase;
                    font-size: var(--font-size-large);
                    font-weight: var(--font-weight-light);
                }
            }

            .edit-list {
                flex-grow: 1;
                overflow-y: auto;

                .sortable-unit {
                    border-top-color: transparent;
                }
            }
        }
    }
}
