.files-uploaded-details {
    display: flex;

    .files-container {
        display: flex;
        flex-basis: 40%;
        border-right: var(--dui-width-separator-thick) solid var(--dui-color-surface-information);
        background-color: var(--dui-color-foreground);
        padding: var(--dui-spacing-medium) 0;

        .header {
            padding: 0 var(--dui-spacing-medium);
        }

        .files {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow-y: auto;
            }
        }
    }

    .right-pane {
        display: flex;
        flex-basis: 60%;
        flex-direction: column;
        padding: var(--dui-spacing-medium) 0;
        overflow-y: auto;

        .lead-preview {
            flex-basis: 50%;
            flex-grow: 1;
            min-height: 240px;
        }
    }
}
