.files-uploaded-details {
    display: flex;

    .files-container {
        display: flex;
        flex-basis: 40%;
        margin-right: var(--dui-spacing-small);
        border-right: var(--dui-width-separator-thick) solid var(--dui-color-surface-information);
        background-color: var(--dui-color-white);

        .files {
            display: flex;
            flex-direction: column;

            .search {
                display: flex;
                flex-direction: column;
                padding-bottom: var(--dui-spacing-large);

                .icon {
                    font-size: var(--dui-font-size-large);
                }
            }

            .list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow-y: auto;
            }
        }
    }

    .right-pane {
        display: flex;
        flex-basis: 60%;
        flex-direction: column;
        overflow-y: auto;

        .lead-preview {
            flex-basis: 50%;
        }
    }
}
