.compact-section {
    background-color: var(--dui-color-foreground);

    .widget-list {
        display: flex;
        flex-direction: column;
        padding: var(--dui-spacing-small);
        gap: var(--dui-spacing-large);
    }

    &.no-padding {
        &:first-child {
            padding-top: unset;
        }
        padding-left: unset;
        .widget-list {
            padding: unset;
        }
    }
}
