.entry-list-container {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-white);

    .content {
        display: flex;

        .entry-list {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .entry-item {
                display: flex;
            }
        }
    }
}
