.minute-second-input {
    width: auto;

    .input-container {
        display: flex;
        align-items: center;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);

        .input {
            margin-right: var(--spacing-extra-small);
            width: 24px;
            text-align: right;

            &.minute {
                width: 36px;
            }

        }
        :global {
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance: textfield;
            }
        }

        &.invalid {
            border-bottom-color: var(--color-warning);
        }
    }

    &:focus-within {
        .label {
            color: var(--color-accent);
        }
    }
}
