.minute-second-input {
    .input-container {
        display: flex;
        align-items: center;

        .input {
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            width: 48px;
            text-align: right;

            &.minute {
                margin-right: var(--spacing-small);

                &:after {
                    content: ':';
                }
            }
        }

        &.invalid {
            .input {
                border-bottom-color: var(--color-warning);
            }
        }

    }

    &:focus-within {
        .date-input {
            border-bottom-color: var(--color-accent);
        }

        .label {
            color: var(--color-accent);
        }
    }
}
