@import '~base-scss/utils';


.apply-input {
    position: relative;

    .apply-buttons {
        @include transition-medium;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;

        .apply-button {
            margin-right: var(--spacing-extra-small);
            padding: var(--spacing-extra-small);
        }
    }

    &:hover {
        .apply-buttons {
            opacity: 1;
        }
    }
}
