:root {
    --height-orgchart-modal: 86vh;
    --width-orgchart-modal: 80%;
    --width-left-container-min: 180px;
}

.organigram-input {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .action {
        padding: var(--spacing-extra-small) var(--spacing-small);
    }

    .select-input {
        flex-grow: 1;
        overflow-y: auto;
    }

    .no-list-selection {
        display: flex;
    }
}

.orgchart-modal {
    width: var(--width-orgchart-modal);
    height: var(--height-orgchart-modal);

    .body {
        display: flex;
        padding: 0;
        overflow: auto;

        .left {
            display: flex;
            flex-basis: 24%;
            flex-direction: column;
            border-right: var(--width-separator-thin) solid var(--color-separator);
            min-width: var(--width-left-container-min);
        }

        .orgchart {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
