.questionnaire {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .summary {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-medium);
        overflow-y: auto;

        .details {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-between;

            .item {
                margin-right: var(--spacing-extra-small);
            }

            .left {
                display: flex;
                flex-grow: 1;
            }

            .right {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                flex-shrink: 0;
                margin-top: var(--spacing-extra-small);
                overflow-y: auto;

                .right-score-items {
                    display: flex;

                    .right-item {
                        border: var(--width-separator-thin) solid var(--color-foreground);
                        box-shadow: 0 0 var(--radius-blur-small) var(--color-shadow-light);
                    }
                }
            }
        }
    }

    .questions {
        flex-grow: 1;
        overflow-y: auto;
    }
}
