.home {
    display: flex;
    background-color: var(--dui-color-background);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .main-content {
        flex-grow: 1;

        .top-section {
            display: flex;
            padding: calc(var(--dui-spacing-extra-large) - var(--dui-spacing-medium));

            .summary-container {
                width: 480px;
            }

            .tagging-activity-container {
                flex-grow: 1;
                overflow: auto;
            }
        }

        .bottom-section {
            padding: calc(var(--dui-spacing-extra-large) - var(--dui-spacing-medium));

            .bottom-section-content {
                position: relative;
                padding: 0 var(--dui-spacing-medium);

                .project-item {
                    margin: var(--dui-spacing-medium) 0;
                }
            }
        }
    }

    .side-content {
        align-self: flex-start;
        flex-basis: calc(200px + 10vw);
        flex-grow: 0;
        flex-shrink: 0;
        background-color: var(--dui-color-white);
        padding: calc(var(--spacing-extra-large) - var(--spacing-medium));
        overflow: auto;
    }
}

.select-option {
    display: flex;
    justify-content: space-between;

    .badge {
        padding-right: 0;

        &.active {
            color: var(--color-text-on-accent);
        }
    }
}
