.home {
    background-color: #f6f6f6;

    .main-content {
        display: flex;
        overflow: auto;

        .header {
            display: flex;
            align-items: center;
            padding: var(--spacing-medium) 0;

            .heading {
                text-transform: unset;
            }
        }

        .content {
            border-radius: 5px;
            background-color: var(--color-background);
            min-height: 320px;
        }

        .recent-projects {
            border-radius: 5px;
            background-color: var(--color-foreground);
            min-height: 320px;
        }

        .left-container {
            flex-basis: 80%;

            .left-top-container {
                display: flex;

                .summary-container {
                    flex-basis: 50%;
                    margin: var(--spacing-large);
                }

                .project-tagging-activity {
                    flex-basis: 50%;
                    margin: var(--spacing-large);
                }
            }

            .left-bottom-container {
                margin: var(--spacing-large);

                .header {
                    .heading {
                        flex-grow: 1;
                    }
                }

                .project-select-input {
                    margin: 0 var(--spacing-medium);
                }
            }
        }

        .right-container {
            flex-basis: 20%;
            background-color: var(--color-foreground);
        }
    }
}

.select-option {
    display: flex;
    justify-content: space-between;

    .badge {
        padding-right: 0;

        &.active {
            color: var(--color-text-on-accent);
        }
    }
}
