:root {
    --color-text-on-primary: get-text-color(var(--color-primary));
    --width-deep-logo: 256px;
    --height-deep-logo: 256px;
}

.login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .deep-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: var(--spacing-extra-large);

        .logo {
            margin-bottom: var(--spacing-extra-large);
            width: var(--width-deep-logo);
            height: var(--height-deep-logo);
            color: var(--color-accent);
        }

        .heading {
            color: inherit;

            small {
                text-transform: none;
            }
        }
    }

    .login-form-container {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: var(--spacing-extra-large);
        width: var(--width-login-form);

        .hid-link-container {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            flex-direction: column;
            background-color: var(--color-foreground);
            padding: var(--spacing-large);
            color: var(--color-text-on-foreground);

            .hid-link {
                display: flex;
                align-items: center;
                flex-basis: 100%;
                margin-bottom: var(--spacing-large);
                border: var(--width-separator-thin) solid var(--color-separator-alt);
                border-radius: 3px;
                padding: var(--spacing-small) var(--spacing-large);
                font-size: var(--font-size-medium-alt);

                .logo {
                    margin-right: var(--spacing-small);
                    height: var(--font-size-medium-alt);
                }
            }

            .or-container {
                position: relative;
                width: 100%;
                vertical-align: baseline;

                hr {
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: var(--width-separator-thin) solid var(--color-separator);
                    width: 100%;
                }

                .or {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%);
                    background-color: var(--color-foreground);
                    padding: 0 var(--spacing-extra-small);
                    text-transform: uppercase;
                    color: var(--color-text-on-foreground);
                    font-size: var(--font-size-small);
                }
            }
        }

        .login-form {
            background-color: var(--color-foreground);
            padding: var(--spacing-small) var(--spacing-large) var(--spacing-large);
            width: 100%;
            color: var(--color-text-on-foreground);

            .action-buttons {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .forgot-password-link {
                    // color: var(--color-text-label);
                    font-size: var(--font-size-extra-small);
                }
            }
        }

        .register-link-container {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            justify-content: center;
            margin-top: var(--spacing-extra-small);
            background-color: var(--color-foreground);
            padding: var(--spacing-large);
            color: var(--color-text-on-foreground);

            p {
                margin: var(--spacing-small);
            }

            .register-link {
                color: var(--color-accent);
            }
        }
    }
}
