.new-export-modal {
    width: 96vw;
    height: 96vh;

    .body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .export-selection {
            flex-grow: 1;
        }
    }
}
