@import '../../../../../stylesheets/base';
@import '../../../../../vendor/react-store/stylesheets/button-base';

.row-title {
    display: flex;
    align-items: center;
    border-right: $width-separator-thick solid transparent;
    background-color: $color-foreground;
    width: 100%;

    .title {
        @extend %button-base;
        flex-grow: 1;
        text-align: left;
        text-transform: capitalize;
        font-size: $font-size-medium;
        font-weight: $font-weight-normal;

        &:focus {
            outline: none;
        }

        &:active {
            transform: none;
            box-shadow: 0;
        }

        &.has-error {
            color: $color-danger;
        }
    }

    .delete-button {
        flex-shrink: 0;
    }

    &.active {
        border-right-color: $color-accent;
        background-color: $color-background-selected;
    }
}
