@import '~base-scss/base';

.properties {
    display: table;
    margin-bottom: $spacing-small;
    width: 100%;

    .property {
        @extend %background-alternating-row;
        display: table-row;

        .label {
            display: table-cell;
            padding: $spacing-small;
            text-transform: uppercase;
            white-space: nowrap;
            color: $color-text-label;
            font-size: $font-size-small;
        }

        .value {
            display: table-cell;
            padding: $spacing-small;
            width: 100%;
        }
    }
}
