.navbar {
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--dui-color-foreground);
    overflow: auto;
    color: var(--dui-color-text);

    .app-brand {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0 var(--dui-spacing-large);
        font-size: var(--dui-font-size-extra-large);
    }

    .main {
        display: flex;
        align-self: stretch;
        flex-grow: 1;
        overflow: auto;

        .nav-links {
            display: flex;
            flex-grow: 1;
            justify-content: flex-start;
            padding: 0 calc(var(--dui-spacing-large) - var(--dui-spacing-medium));
            overflow: hidden;
            font-size: var(--dui-font-size-medium);

            .link {
                margin: 0 var(--dui-spacing-medium);
            }
        }
    }

    .actions {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0 calc(var(--dui-spacing-large) - var(--dui-spacing-small));

        >* {
            margin: 0 var(--dui-spacing-small);
        }
    }

    .user-menu {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0 var(--dui-spacing-large);

        .user-display-name {
            color: var(--dui-color-text-message);
            font-weight: var(--dui-font-weight-bold);
        }
    }
}

.notification-content {
    padding: var(--dui-spacing-large);
}
