.user-group {
    display: flex;
    flex-direction: column;
    border: none;
    padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
    height: 100%;
    overflow-y: auto;

    .content {
        background-color: var(--dui-color-foreground);
        padding: var(--dui-spacing-large);

        .user-group-list {
            min-height: 100%;

            .user-group-item {
                gap: 0;

                .user-group-header {
                    border: none;
                    background-color: var(--dui-color-background);

                    .heading-container {
                        .heading {
                            width: auto;
                            color: var(--dui-color-text);
                        }
                    }
                }

                .heading-description-container {
                    display: flex;
                    align-items: center;
                    gap: var(--dui-spacing-large);

                    .members-value {
                        order: 1;
                    }
                    .members-label {
                        order: 2;
                    }
                }

                .user-group-content {
                    border: none;
                    padding: 0;
                }
            }
        }
    }
}
