.user-group {
    display: flex;
    flex-direction: column;
    border: none;
    padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
    height: 100%;
    overflow-y: auto;

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--dui-color-foreground);
        padding: var(--dui-spacing-large);
        overflow-y: auto;

        .user-group-list {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: var(--dui-spacing-small);
            overflow-y: auto;

            .user-group-item {
                flex-shrink: 0;
            }
        }
    }
}
