.users {
    .header-actions {
        gap: var(--dui-spacing-medium);
    }

    .content {
        display: flex;
        flex-direction: column;
        overflow-x: auto;

        .table {
            flex-grow: 1;
            overflow-y: auto;
        }

        .table-row {
            background-color: var(--dui-color-foreground);
        }

        .badge-container {
            display: flex;
            gap: var(--dui-spacing-extra-small);

            .tag {
                padding: var(--dui-spacing-small) var(--dui-spacing-medium);
            }
        }

        .pager {
            align-self: flex-end;
            flex-shrink: 0;
        }
    }
}


