.analysis-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: var(--width-separator-thin) solid var(--dui-border-color-card);
    border-radius: var(--dui-border-radius-card);
    background-color: var(--color-foreground);

    .pillar-content {
        position: relative;
        padding: 0;

        .content {
            .content-item {
                .sub-heading {
                    display: flex;
                    padding: var(--spacing-extra-small) 0;
                    color: var(--dui-color-text-dark);
                    font-size: var(--font-size-medium-alt);
                }

                .pillar-list-content {
                    display: flex;

                    .analyst {
                        flex-basis: 1;
                        margin-right: var(--spacing-small);
                        font-weight: var(--font-weight-bold);
                    }

                    .analysis-pillar {
                        flex-basis: 1;
                        margin-left: var(--spacing-small);
                    }
                }
            }
        }
    }

    .text-output {
        align-items: flex-start;
        flex-direction: column;
        font-size: var(--font-size-medium);

        .value {
            font-weight: var(--font-weight-bold);
        }
    }
}
