.analysis-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: var(--width-separator-thin) solid var(--dui-border-color-card);
    border-radius: var(--dui-border-radius-card);
    background-color: var(--color-foreground);
    overflow: auto;

    .analysis-details {
        display: flex;
        height: 15rem;
        overflow: auto;

        .meta-section {
            display: flex;
            flex-basis: 30%;
            flex-direction: column;
            flex-grow: 1;
            padding: calc(var(--dui-spacing-large) - var(--dui-spacing-medium)) 0;
            overflow: auto;

            .team-lead-name {
                flex-shrink: 0;
                margin: calc(var(--spacing-medium) - var(--spacing-small)) 0;
            }

            .pillar-assignments {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                margin: calc(var(--spacing-extra-large) - var(--spacing-small)) 0;
                overflow: auto;

                .overflow-wrapper {
                    flex-grow: 1;
                    overflow: auto;
                    font-weight: var(--dui-font-weight-medium);

                    .pillar-assignment-list {
                        display: table;
                        margin: 0 calc(-1 * var(--dui-spacing-medium));
                        width: calc(100% + var(--dui-spacing-medium));
                        table-layout: fixed;
                    }
                }
            }
        }

        .chart-section {
            display: flex;
            align-items: center;
            flex-basis: 60%;
            flex-grow: 1;
            justify-content: center;
            background-color: var(--dui-color-background-information);
        }
    }

    .pillar-analyses {
        border-left: 0.4rem solid var(--dui-color-surface-information);

        .pillar-analyses-header {
            border-top: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            padding-top: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
            padding-bottom: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
        }

        .pillar-list {
            .pillar {
                border-bottom: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                background-color: transparent;
            }
        }
    }
}
