.section {
    &:not(.empty) {
        display: flex;
        flex-wrap: wrap;
        padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
        gap: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));

        .widget-container {
            flex-basis: 100%;
            background-color: var(--dui-color-foreground);
            padding: var(--dui-spacing-small);

            &.half-widget {
                flex-basis: calc(50% - (var(--dui-spacing-medium) - var(--dui-spacing-small)));
            }

            &.conditional {
                background-color: var(--dui-color-background-information);
            }
        }
    }
}
