@import '~base-scss/base';

.field {
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
    cursor: pointer;
    padding: $spacing-medium;
    user-select: none;

    &:hover {
        background-color: $color-background-hover;
    }

    .health-bar {
        margin-top: $spacing-small;
        height: 6px;
    }
}
