@import '~base-scss/base';

.field {
    border-bottom: $width-separator-thin solid $color-separator;
    background-color: $color-foreground;
    cursor: pointer;
    padding: $spacing-medium;
    user-select: none;

    &:hover {
        background-color: $color-background-hover;
    }

    .data-items {
        display: flex;
        flex-direction: row;
        margin-top: $spacing-small;

        .data-item {
            margin-right: $spacing-medium;
        }
    }
}
