
.field {
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    cursor: pointer;
    padding: var(--spacing-medium);
    user-select: none;

    .series {
        height: 120px;
    }

    &:hover {
        background-color: var(--color-background-hover);
    }

    .health-bar {
        margin-top: var(--spacing-small);
        height: 6px;
    }
}
