:root {
    --radius-button-border: 2px;
}

%button-basic {
    align-self: stretch;
    flex-shrink: 0;
    margin-left: var(--spacing-extra-small-alt);
    border-radius: var(--radius-button-border);
}

.action-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .movement-buttons {
        flex-shrink: 0;
        margin: 0 var(--spacing-medium);

        >button:first-child {
            margin-right: var(--spacing-extra-small-alt);
        }
    }

    .export-buttons {
        @extend %button-basic;
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        color: var(--color-text);
    }

    .save-buttons {
        @extend %button-basic;
        border: var(--width-separator-thin) solid var(--color-success);
        background-color: var(--color-foreground);
        color: var(--color-success);
    }

    .remove-buttons {
        @extend %button-basic;
        border: var(--width-separator-thin) solid var(--color-warning);
        background-color: var(--color-foreground);
        color: var(--color-warning);
    }
}

.dropdown-button {
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-medium);
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    color: var(--color-text);
    font-family: inherit;
    font-size: var(--font-size-medium);

    &:hover {
        background-color: var(--color-background-hover);
    }

    &:disabled {
        cursor: default;
        color: var(--color-text-disabled);
    }
}
