@import '~base-scss/base';

$radius-button-border: 2px;

.action-buttons {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .movement-buttons {
        flex-shrink: 0;
        margin: 0 $spacing-medium;

        >button:first-child {
            margin-right: $spacing-extra-small-alt;
        }
    }

    %button-basic {
        align-self: stretch;
        flex-shrink: 0;
        margin-left: $spacing-extra-small-alt;
        border-radius: $radius-button-border;
    }

    .save-buttons {
        @extend %button-basic;
        background-color: $color-success;
        color: $color-text-on-success;
    }

    .remove-buttons {
        @extend %button-basic;
        background-color: $color-warning;
        color: $color-text-on-warning;
    }
}

.dropdown-button {
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: $spacing-small $spacing-medium;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    color: $color-text;
    font-family: inherit;
    font-size: $font-size-medium;

    &:hover {
        background-color: $color-background-hover;
    }

    &:disabled {
        cursor: default;
        color: $color-text-disabled;
    }
}
