

.google-picker-btn {
    flex-basis: 20%;
    font-family: inherit;
    font-size: inherit;

    span {
        font-size: var(--font-size-extra-large);
    }

    p {
        margin: var(--spacing-medium) 0 0;
        font-size: var(--font-size-extra-small);
    }
}
