@import '~base-scss/base';

.container {
    padding: $spacing-medium;

    .top {
        display: flex;

        .non-field-errors {
            flex-grow: 1;
        }

        .remove-column-button {
            flex-shrink: 0;
        }
    }

    .info-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info-icon {
            cursor: pointer;
            color: $color-primary;
            font-size: $font-size-large;
        }
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;

        >button {
            margin-left: $spacing-small;
        }
    }
}
