.framework-list {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .header {
        flex-shrink: 0;
        background-color: var(--color-background-header);

        .top {
            display: flex;

            .heading {
                flex-grow: 1;
                padding: var(--spacing-small);
            }

            .add-framework-button {
                flex-shrink: 0;
            }
        }

        .bottom {
            .framework-search-input {
                flex-basis: 100%;
                margin: var(--spacing-small);
            }

            .filters {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .framework-activity-input {
                    margin: var(--spacing-small);
                }

                .related-to-me {
                    margin: var(--spacing-small);
                }
            }
        }
    }

    .list-container {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .content {
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}
