@import '~base-scss/base';

.header {
    position: relative;
    user-select: none;

    .title {
        padding: $spacing-small;
        word-break: break-all;
    }

    .icon {
        padding-left: $spacing-small;
        color: $color-accent;
    }

    .search-box {
        padding: $spacing-small;
    }

    .health-bar {
        height: 6px;
    }

    .loading-container {
        position: relative;
        margin-left: $spacing-small;
    }
}
