@import '~base-scss/base';

.header {
    position: relative;
    user-select: none;

    .title {
        padding: $spacing-small;
        word-break: break-all;

        .icon {
            padding-right: $spacing-small;
        }
    }

    .health-bar {
        height: 6px;
    }

    .loading-container {
        position: relative;
        margin-left: $spacing-small;
    }
}
