@import '~base-scss/base';
@import '~base-scss/grid-item';

$height-grid-layout: 50vh;

.list {
    display: flex;
    flex-direction: column;
    height: 100%;

    .widget-list {
        overflow: auto;

        :global {
            .widget-list-item {
                display: inline-flex;
                margin: $spacing-extra-small;
                border: $width-separator-thin solid $color-separator;
            }

            .widget-list-group + .widget-list-item {
                margin-left: $spacing-medium;
                border: $width-separator-thin solid $color-separator;
            }

            .widget-list-group {
                background-color: transparent;
            }
        }
    }

    .grid-layout-wrapper {
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-alt;
        height: $height-grid-layout;
        overflow: auto;

        // .grid-layout {
        //     background-color: $color-foreground-alt;
        //     min-width: 100%;
        //     min-height: 100%;
        // }
    }
}
