:root {
    --height-grid-layout: 50vh;
}

.list {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;

    .widget-list {
        overflow: auto;

        :global {
            .widget-list-item {
                display: inline-flex;
                margin: var(--spacing-extra-small);
                border: var(--width-separator-thin) solid var(--color-separator);
            }

            .widget-list-group + .widget-list-item {
                margin-left: var(--spacing-medium);
                border: var(--width-separator-thin) solid var(--color-separator);
            }

            .widget-list-group {
                background-color: transparent;
            }
        }
    }

    .grid-layout-wrapper {
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-background-alt);
        height: var(--height-grid-layout);
        overflow: auto;

        // .grid-layout {
        //     background-color: var(--color-foreground-alt);
        //     min-width: 100%;
        //     min-height: 100%;
        // }
    }
}
