.padding-edit {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-small);

    .inputs {
        display: flex;
        gap: var(--dui-spacing-small);

        .input {
            width: 6rem;

            .icon {
                font-size: var(--dui-font-size-extra-large);
            }
        }
    }
}
