.canvas {
    display: flex;
    flex-wrap: wrap;

    .widget {
        flex-basis: 100%;
        padding: var(--dui-spacing-medium);

        &.half-widget {
            flex-basis: 50%;
        }
    }
}
