.search-stakeholder {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .search-input {
        flex-shrink: 0;
    }

    .items {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
    }
}
