.recent-activity {
    background-color: var(--dui-color-white);
    padding: 0;

    .content {
        border-radius: var(--dui-border-radius-card);
        background-color: var(--dui-color-background-information);
        padding: var(--dui-spacing-medium);
        max-height: calc(10em + 25vh);

        .activities {
            display: flex;
            position: relative;
            flex-direction: column;
            background-color: var(--dui-color-background-information);
            gap: var(--dui-spacing-medium);
        }
    }
}
