.add-organization-modal {
    .modal-body {
        display: flex;
        flex-direction: column;
        padding: calc(var(--spacing-large) - var(--spacing-medium));

        .input {
            margin: var(--spacing-medium);
        }
    }
}
