.notifications {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-foreground);

    .tab-title {
        display: flex;
        align-items: center;

        .count {
            flex-shrink: 0;
            margin-right: var(--spacing-small);
            border-radius: 50%;
            width: var(--spacing-medium);
            height: var(--spacing-medium);
        }

        .notifications-count {
            background-color: var(--color-danger);
        }

        .requests-count {
            background-color: var(--color-primary);
        }
    }

    .content {
        flex-grow: 1;
        overflow-y: auto;

        .status-group-header {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            background-color: var(--color-foreground);
            padding: var(--spacing-small) var(--spacing-medium);
            color: var(--color-primary);
            font-size: var(--font-size-large);
        }
    }

    .date-range {
        margin-right: var(--spacing-small);
    }

    :global {
        .list-view-empty {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
