.notifications {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--color-foreground);

    .tab-title {
        display: flex;
        align-items: center;

        .count {
            flex-shrink: 0;
            margin-right: var(--spacing-small);
            border-radius: 50%;
            width: var(--spacing-medium);
            height: var(--spacing-medium);
        }

        .notifications-count {
            background-color: var(--color-danger);
        }

        .requests-count {
            background-color: var(--color-primary);
        }
    }

    .content {
        flex-grow: 1;
        overflow-y: auto;
    }

    .seen-status {
        margin-right: var(--spacing-small);
    }

    .date-range {
        margin-right: var(--spacing-small);
    }

    :global {
        .list-view-empty {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
