@import '~base-scss/base';

.non-duplicates {
    margin-top: $spacing-large;
}

.duplicate-items {
    font-weight: $font-weight-bold;
}

.disable-modal {
    filter: brightness(50%);
    pointer-events: none;
}
