.orientation-input {
    min-width: 64px;

    .rotated-text {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    :global {
        .segment-option {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 var(--spacing-small);

            &:nth-child(3) {
                padding: 0;
            }
        }
    }
}
