@import '~base-scss/base';

.workshop {
    @extend %main-content;
    padding: $spacing-small;
    overflow-y: auto;

    .faram {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        > * {
            padding: $spacing-small;
        }
    }
}
