.diagnostics {
    position: relative;

    .header {
        padding: var(--spacing-medium);

        .meta-output-container {
            padding: var(--spacing-extra-small-alt) 0;
        }
    }

    .content {
        padding: 0 var(--spacing-medium);

        .section {
            padding: var(--spacing-small-alt) 0;

            .sub-content {
                padding: var(--spacing-small) var(--spacing-small);

                .line-item {
                    padding: var(--spacing-extra-small-alt) 0;
                    font-size: var(--font-size-normal);
                }
            }
        }
    }
}
