.widget-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-foreground);
    padding: var(--spacing-small) var(--spacing-medium);

    .title {
        text-transform: capitalize;
        color: inherit;
    }
}
