@import '~base-scss/base';

.widget-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-foreground;
    padding: $spacing-small $spacing-medium;

    .title {
        color: inherit;
    }
}
