@import '~base-scss/utils';


.multi-document-uploader {
    display: flex;
    position: relative;
    flex-direction: column;

    .label {
        flex-shrink: 0;
    }

    .top {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .file-input {
            padding: 0;

            label {
                padding: 0;
                text-transform: none;
                font-size: var(--font-size-large);
            }
        }

        &.with-url-input {
            justify-content: space-between;

            .url-container {
                display: flex;
                padding: var(--spacing-small) 0;

                .url-input {
                    flex-grow: 1;
                }

                .add-button {
                    position: relative;
                    flex-shrink: 0;
                    margin-left: var(--spacing-small);
                }
            }

            .file-input {
                @include button-like-link(var(--color-primary));
                margin-left: var(--spacing-medium);
                padding: var(--spacing-extra-small) var(--spacing-small);
                width: auto;
                text-transform: none;
            }
        }

        &:not(.with-url-input) {
            justify-content: flex-end;

            .file-input {
                @include button-like-link(var(--color-primary));
                margin-bottom: var(--spacing-small);
                margin-left: var(--spacing-medium);
                padding: var(--spacing-extra-small) var(--spacing-small);
                width: auto;
                text-transform: none;

                label {
                    color: var(--color-primary);
                }
            }
        }
    }

    .pending-message {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .loading-animation-wrapper {
            position: relative;
            width: var(--font-size-medium);
            height: var(--font-size-medium);

            .loading-animation {
                padding: 0 !important;
                font-size: var(--font-size-medium) !important;
            }
        }

        .pending-message {
            padding: 0 var(--spacing-small);
        }
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .drop-zone {
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--color-foreground);
            width: 100%;
            height: 100%;
        }

        .selection-items {
            flex-grow: 1;
            overflow: auto;

            .selection-item {
                margin-bottom: var(--spacing-small);
                // background-color: var(--color-background-input);
            }
        }
    }

    .hint-and-error {
        flex-shrink: 0;
    }
}
