.widget-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-medium);

    .header {
        display: flex;
        align-items: flex-end;
        text-transform: capitalize;
        color: var(--dui-color-brand);
        font-weight: var(--dui-font-weight-bold);
    }

    .children {
        &.read-only {
            >* {
                color: var(--dui-color-accent);
                font-weight: var(--dui-font-weight-bold);
            }
        }
    }
}
