.add-stakeholder-modal {
    width: 96vw;
    height: 96vh;

    .modal-body {
        display: flex;
        padding: var(--dui-spacing-medium);
        --width-left-container: 20rem;

        .left {
            padding: calc(var(--dui-spacing-medium) - var(--dui-spacing-small));
            width: var(--width-left-container);
            overflow-y: auto;
        }

        .right {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--dui-color-surface-information);
            padding: calc(var(--dui-spacing-extra-large) - var(--dui-spacing-large));
            width: calc(100% - var(--width-left-container));
            overflow: auto;
        }
    }

    .footer {
        display: flex;
    }
}
