.container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: var(--entry-comment-modal-width);
    max-height: var(--entry-comment-modal-max-height);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        cursor: move;
        padding: var(--spacing-small) var(--spacing-medium);
        user-select: none;
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: var(--color-foreground-alt);
        padding: calc(var(--spacing-medium) - var(--spacing-small));
        height: 420px;
        max-height: 96vh;
        overflow-y: auto;

        .review {
            margin: var(--spacing-small);
        }

        .comment {
            margin: var(--spacing-small);
        }
    }

    .footer {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-top: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-small) var(--spacing-medium);

        .approved-by {
            padding-left: var(--spacing-small);
        }
    }
}

.confirm {
    z-index: 2;
}
