.container {
    display: flex;
    flex-direction: column;
    width: var(--entry-comment-modal-width);
    max-height: var(--entry-comment-modal-max-height);

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-foreground);
        cursor: move;
        user-select: none;
        padding: 0 var(--spacing-small);
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 0 var(--spacing-small);

        .review {
            flex: 1 0 auto;
        }

        .comments {
            flex: 1 0 auto;
            max-height: 25vh;
            overflow-y: auto;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--color-foreground);
        padding: var(--spacing-small);
    }
}

.confirm {
    display: flex;
}
