
.log-item {
    display: flex;
    flex-direction: column;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-medium);

    .log {
        color: var(--color-text-label);

        .fields {
            text-transform: capitalize;
            font-weight: var(--font-weight-bold);
        }
    }

    .meta-data {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        padding-top: var(--spacing-medium);
        color: var(--color-text-label);

        .user {
            margin-right: var(--spacing-large);

            .icon {
                display: inline-block;
                margin-right: var(--spacing-small);
            }

            .link {
                display: inline-block;
                text-transform: capitalize;
                color: var(--color-accent);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .date {
            .icon {
                display: inline-block;
                margin-right: var(--spacing-small);
            }

            .formatted-date {
                display: inline-block;
            }
        }
    }
}
