.connector-edit-form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-width: 720px;
    height: 90vh;
    overflow: auto;

    .modal-header {
        flex-shrink: 0;
    }

    .form {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .modal-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;
            overflow-y: auto;

            .title-input {
                flex-shrink: 0;
                margin: var(--spacing-medium) var(--spacing-large);
                margin-top: var(--spacing-large);
            }

            .sources {
                display: flex;
                flex-grow: 1;
                overflow: auto;

                .source-list {
                    flex-basis: 40%;
                    flex-grow: 0;
                    flex-shrink: 0;
                    border-right: var(--width-separator-thin) solid var(--color-separator);
                    padding: 0 calc(var(--spacing-large) - var(--spacing-medium));

                    .header {
                        flex-shrink: 0;

                        .heading {
                            padding: var(--spacing-medium);
                        }
                    }

                    .content {
                        display: flex;
                        align-content: flex-start;
                        flex-grow: 1;
                        flex-wrap: wrap;
                        overflow: auto;
                        --margin: calc(var(--spacing-large) - var(--spacing-medium));


                        .source-button {
                            display: flex;
                            position: relative;
                            align-items: stretch;
                            flex-basis: calc(100% / 3 - 2 * var(--margin));
                            flex-direction: column;
                            justify-content: stretch;
                            opacity: 0.77;
                            margin: var(--margin);
                            outline: none;
                            border: 0;
                            padding: calc(var(--spacing-medium) - var(--spacing-extra-small));

                            .img-container {
                                display: flex;
                                align-items: center;
                                flex-shrink: 0;
                                justify-content: center;
                                padding: var(--spacing-extra-small);

                                .img {
                                    width: 56px;
                                    height: 56px;
                                    object-fit: contain;
                                    object-position: center center;
                                }

                                .icon {
                                    font-size: 56px;
                                }
                            }

                            .title {
                                display: flex;
                                align-items: flex-end;
                                flex-grow: 1;
                                justify-content: center;
                                padding: var(--spacing-extra-small);
                                text-align: center;
                                text-transform: none;
                                font-weight: var(--font-weight-medium);
                            }

                            .check-icon {
                                position: absolute;
                                top: var(--spacing-small);
                                right: var(--spacing-medium);
                                color: var(--color-accent);
                                font-size: var(--font-size-extra-large);
                            }

                            &.active {
                                opacity: 1;
                                background-color: var(--color-background-accent-hint);
                            }
                        }
                    }
                }

                .source-option-list {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    overflow: auto;

                    .header {
                        flex-shrink: 0;

                        .heading {
                            padding: var(--spacing-medium) var(--spacing-large);
                        }
                    }

                    .content {
                        flex-grow: 1;
                        overflow: auto;
                    }
                }
            }
        }

        .modal-footer {
            flex-shrink: 0;
        }
    }
}
