@import '~base-scss/base';

.framework-details {
    display: flex;
    flex-direction: column;

    // required to fix overflow of preview
    // No idea why this works though
    width: 1px;

    .header {
        flex-shrink: 0;
        border-bottom: $width-separator-thin solid $color-separator;
        background-color: $color-background-header;

        .top {
            display: flex;
            align-items: center;

            .heading {
                flex-grow: 1;
                padding: $spacing-small $spacing-medium;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .tabs {
                flex-shrink: 0;
            }

            .action-buttons {
                flex-shrink: 0;
                padding: $spacing-small $spacing-medium;

                button {
                    margin-left: $spacing-small;
                }

                .edit-framework-link {
                    @include button-like-link($color-warning);
                    margin-left: $spacing-small;
                }
            }
        }

        .description {
            flex-basis: 100%;
            padding: 0 $spacing-medium $spacing-medium $spacing-medium;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $color-text-label;
            font-size: $font-size-large;
        }
    }

    .preview {
        flex-grow: 1;
    }
}
