.dimension {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;

    .expandable-container {
        .header-actions {
            display: flex;
        }

        .sub-dimension-item {
            display: grid;
            grid-auto-flow: column;
            gap: var(--dui-spacing-large);
        }
    }

    .input-metadata {
        background: var(--dui-color-background);
        padding: var(--dui-spacing-small);
        /* Fixme: later remove absolut */
        height: 50px;

        .input-section {
            height: 100%;
        }
    }
}
