.entity-creation-line-chart {
    flex-shrink: 0;
    margin: var(--dui-spacing-large);
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);

    .content {
        flex-shrink: 0;
        padding: var(--dui-spacing-large);
        height: 20rem;
        overflow: unset;

        .responsive-container {
            height: 100%;
        }
    }
}
