@import '~base-scss/base';

.organization-list {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .top {
        flex-shrink: 0;

        .header {
            display: flex;
            align-items: center;
            padding: 0 $spacing-medium;

            .heading {
                flex-grow: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .add-organization-button {
                flex-shrink: 0;
                margin: $spacing-small 0;
            }
        }

        .search-input {
            margin: $spacing-medium;
        }
    }

    .cap-warning {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon {
            flex-shrink: 0;
            padding: 0 $spacing-medium;
            color: $color-primary;
            font-size: $font-size-large;
        }

        .text {
            flex-grow: 1;
            padding: $spacing-medium;
            color: $color-text-label;
        }
    }

    .content {
        flex-grow: 1;
        border: $width-separator-thin solid $color-separator;
        overflow: auto;

        .empty-component {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            padding: $spacing-medium;
            text-align: center;
            color: $color-text-disabled;
            font-size: $font-size-large;
        }
    }
}
