.content {
    display: flex;
    padding: var(--dui-spacing-medium);
    gap: var(--dui-spacing-medium);

    .filters {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 0;
        flex-wrap: wrap;
        gap: var(--dui-spacing-medium);
    }

    .button-container {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: flex-end;
        gap: var(--dui-spacing-small);
    }
}
