.content {
    display: flex;

    .filters {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: var(--dui-spacing-medium);
        gap: var(--dui-spacing-medium);
    }

    .button-container {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: var(--dui-spacing-medium);
    }
}
