.method {
    .title {
        position: sticky;
        top: 0;
        z-index: 11;
        background-color: var(--color-foreground);
        padding: var(--spacing-small) var(--spacing-medium);
        font-size: var(--font-size-large);
    }

    .sub-method-list {
        position: relative;
    }
}
