:root {
    --height-header: 42px;
    --width-left-min: 390px;
    --width-right-min: 800px;
    --color-border-bottom-new: rgba(0, 0, 0, .1);
}

.edit-assessment {
    .header {
        display: flex;
        align-items: center;

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .action-buttons {
            flex-shrink: 0;
            padding: 0 var(--spacing-medium);

            >button {
                margin-left: var(--spacing-medium);
            }
        }
    }

    .main {
        overflow: auto;

        .assessments {
            display: flex;
            height: 100%;
            overflow: auto;

            .left {
                border-right: var(--width-separator-thin) solid var(--color-separator);
                width: 30%;
                min-width: var(--width-left-min);
                overflow: auto;

                .left-panel {
                    height: 100%;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                width: 70%;
                min-width: var(--width-right-min);
            }
        }
    }
}

