@import '~base-scss/base';

$height-header: 42px;

$width-left-min: 390px;
$width-right-min: 800px;

$color-border-bottom-new: rgba(0, 0, 0, .1);

.edit-assessment {
    margin: -$spacing-small;
    padding: 0;
    height: 100%;

    .header {
        display: flex;
        align-items: center;
        border-bottom: $width-separator-thin solid $color-separator-alt;
        background-color: $color-background-header;
        height: $height-header;

        .heading {
            flex-grow: 1;
            padding: 0 $spacing-medium;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .action-buttons {
            flex-shrink: 0;
            padding: 0 $spacing-medium;

            >button {
                margin-left: $spacing-medium;
            }
        }
    }

    .content {
        @extend %main-content;
        margin: $spacing-small;
        height: calc(100% - #{$height-header});
        overflow: auto;

        &.active {
            display: block;
        }

        .assessments {
            display: flex;
            height: 100%;

            .left {
                border-right: $width-separator-thin solid $color-separator;
                width: 30%;
                min-width: $width-left-min;
                height: 100%;
            }

            .right {
                display: flex;
                flex-direction: column;
                width: 70%;
                min-width: $width-right-min;
            }
        }

    }

    :global {
        .text-area {
            .input {
                margin: $spacing-extra-small 0;
                background-color: $color-background-input;
                padding: 0;
            }
        }

        .date-input,
        .multi-select-input,
        .select-input {
            .input-and-actions {
                border-bottom-width: $width-separator-thin;
                border-bottom-color: $color-border-bottom-new;

            }

            &:not(.input-in-focus):not(.disabled) {
                .input-and-actions {
                    &:hover {
                        border-bottom-color: $color-separator-hover;
                    }
                }
            }
        }

        .number-input,
        .text-input,
        .text-area {
            .input {
                border-bottom-width: $width-separator-thin;
            }

            .input:not(:disabled) {
                border-bottom-color: $color-border-bottom-new;

                &:hover {
                    border-bottom-color: $color-separator-hover;
                }

                &:focus {
                    border-bottom-color: $color-accent;
                }
            }
        }

        .drop-zone {
            border-width: $width-separator-thin;
            border-color: $color-border-bottom-new;
        }
    }
}

