@import '~base-scss/base';

$width-left-min: 390px;
$width-right-min: 800px;

$color-border-bottom-new: rgba(0, 0, 0, .1);

.edit-assessment {
    .header {
        display: flex;
        align-items: center;

        .heading {
            flex-grow: 1;
            padding: 0 $spacing-medium;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .action-buttons {
            flex-shrink: 0;
            padding-right: $spacing-medium;

            >button {
                margin-left: $spacing-medium;
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;

        .assessments {
            display: flex;
            flex-grow: 1;
            overflow: auto;

            .left {
                border-right: $width-separator-thin solid $color-separator;
                width: 30%;
                min-width: $width-left-min;
            }

            .right {
                display: flex;
                flex-direction: column;
                width: 70%;
                min-width: $width-right-min;
            }
        }

    }

    :global {
        .text-area {
            .input {
                margin: $spacing-extra-small 0;
                background-color: $color-background-input;
                padding: 0;
            }
        }

        .date-input,
        .multi-select-input,
        .select-input {
            .input-and-actions {
                border-bottom-width: $width-separator-thin;
                border-bottom-color: $color-border-bottom-new;

            }

            &:not(.input-in-focus):not(.disabled) {
                .input-and-actions {
                    &:hover {
                        border-bottom-color: $color-separator-hover;
                    }
                }
            }

            &.error {
                .label {
                    color: $color-danger;
                }
            }
        }

        .number-input,
        .text-input,
        .text-area {
            .input {
                border-bottom-width: $width-separator-thin;
            }

            .input:not(:disabled) {
                border-bottom-color: $color-border-bottom-new;

                &:hover {
                    border-bottom-color: $color-separator-hover;
                }

                &:focus {
                    border-bottom-color: $color-accent;
                }
            }
            
            &.error {
                .input:not(:disabled) {
                    border-bottom-color: $color-danger;
                }
            }
        }

        .drop-zone {
            border-width: $width-separator-thin;
            border-color: $color-border-bottom-new;
        }
    }
}

