@import '~base-scss/base';
@import '~rs-scss/button-base';

$width-dropdown-min: 120px;

.community-dropdown {
    min-width: $width-dropdown-min;

    .button {
        @extend %button-base;
        text-transform: uppercase;
    }

    .join-link {
        @include transition-medium();
        display: flex;
        align-items: center;
        padding: $spacing-small;

        .image {
            margin: $spacing-small $spacing-medium;
            width: $font-size-medium-alt;
            height: $font-size-medium-alt;
        }

        .title {
            padding: $spacing-small $spacing-medium;
        }

        &:hover {
            background-color: $color-background-hover;
        }
    }
}

.icon {
    font-size: $font-size-super-large;
}
