.analysis-edit-modal {
    display: flex;

    .input {
        padding: var(--dui-spacing-medium);
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
