.info-box-with-donut {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
    background-color: var(--color-foreground);
    padding: var(--spacing-medium) 0 var(--spacing-medium) var(--spacing-medium);

    &:first-child {
        margin-right: var(--spacing-large);
    }

    .chart {
        display: flex;
        flex-shrink: 0;

        .accent {
            fill: var(--dui-color-accent);
        }

        .complement {
            fill: var(--dui-color-complement1);
        }
    }

    .content {
        display: flex;
        flex: 1 0 30%;
        flex-direction: column;
        padding: 0 0 var(--spacing-medium) var(--spacing-large);

        .value {
            font-size: var(--font-size-extreme-large);
            font-weight: var(--font-weight-bold);

            &.accent {
                color: var(--dui-color-accent);
            }

            &.complement {
                color: var(--dui-color-complement1);
            }
        }

        .label {
            text-transform: capitalize;
            font-size: var(--font-size-medium-alt);
        }
    }
}
