.matrix-1d-widget-form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: var(--dui-spacing-medium);

    .editor-content {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-medium);
        overflow-y: auto;
    }

    .container-content {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-small);
    }
}
