.raw-button {
    position: relative;
    outline: var(--dui-width-separator-thin) dashed transparent;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    &:focus {
        outline-color: var(--dui-color-outline);
    }
}

