
.row {
    padding: var(--spacing-small);

    &:not(:last-child) {
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
    }

    .title {
        margin-bottom: var(--spacing-extra-small-alt);
        color: var(--color-accent);
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);
    }
}
