.analysis-module {
    display: flex;
    flex-direction: column;
    background-color: var(--dui-color-background);
    overflow-y: auto;

    .sub-navbar {
        flex-shrink: 0;
        background-color: var(--dui-color-foreground);
    }

    .child {
        flex-grow: 1;
        overflow: auto;
        scrollbar-gutter: stable;
    }

}

.legend {
    margin: auto;
}
